Repository SAP/fundamental-ngx, pull requests merged in 2018-10, with the labels that each got.

#249 #248 add 'tabindex' to elements that expect to get focus
  docs/modules/documentation/containers/breadcrumb/breadcrumb-docs.component.html
  docs/modules/documentation/containers/breadcrumb/breadcrumb-docs.component.ts
  docs/modules/documentation/containers/button/button-docs.component.html
  projects/fundamental-ngx/src/lib/alert/alert.component.html
  projects/fundamental-ngx/src/lib/breadcrumb/breadcrumb-item.component.html
  projects/fundamental-ngx/src/lib/calendar/calendar.component.html
  projects/fundamental-ngx/src/lib/date-picker/date-picker.component.html
  projects/fundamental-ngx/src/lib/inline-help/inline-help.component.html
  projects/fundamental-ngx/src/lib/input-group/input-group-number.component.html
  projects/fundamental-ngx/src/lib/input-group/input-group-search.component.html
  projects/fundamental-ngx/src/lib/input-group/input-group.component.html
  projects/fundamental-ngx/src/lib/list/list-checkbox.component.html
  projects/fundamental-ngx/src/lib/mega-menu/mega-menu-item.component.html
  projects/fundamental-ngx/src/lib/mega-menu/mega-menu-link.component.html
  projects/fundamental-ngx/src/lib/mega-menu/mega-menu-subitem.component.html
  projects/fundamental-ngx/src/lib/modal/modal-header.component.html
  projects/fundamental-ngx/src/lib/pagination/pagination.component.html
  projects/fundamental-ngx/src/lib/panel/panel-body.component.html
  projects/fundamental-ngx/src/lib/popover/popover.component.html
  projects/fundamental-ngx/src/lib/tabs/tab-list.component.html
  projects/fundamental-ngx/src/lib/time-picker/time-picker.component.html
  projects/fundamental-ngx/src/lib/time/time.component.html
  projects/fundamental-ngx/src/lib/tree/tree-child.component.html
  projects/fundamental-ngx/src/lib/tree/tree.component.html
Labels: enhancement

#246 Feature/#241 add component search
  docs/modules/documentation/components/documentation/documentation.component.html
  docs/modules/documentation/components/documentation/documentation.component.ts
Labels: documentation, enhancement

#250 #241 fix a bug with component search
  docs/modules/documentation/components/documentation/documentation.component.html
Labels: bug

#251 #248 bring breadcrumb url example back
  docs/modules/documentation/containers/breadcrumb/breadcrumb-docs.component.html
  docs/modules/documentation/containers/breadcrumb/breadcrumb-docs.component.ts
Labels: documentation

#255 #241 search components by name or url params
  docs/modules/documentation/components/documentation/documentation.component.html
Labels: documentation

#254 #248 fix typos and update markup
  docs/modules/documentation/containers/breadcrumb/breadcrumb-docs.component.html
  docs/modules/documentation/containers/breadcrumb/breadcrumb-docs.component.ts
Labels: documentation

#258 #257 fix an issue in input group with a missing handler
  projects/fundamental-ngx/src/lib/input-group/input-group.component.html
Labels: bug

#264 docs: add links to live demo to README.md(#263)
  README.md
Labels: documentation
