Repository SAP/fundamental-ngx, pull requests merged in 2019-11, with the labels that each got.

#1528 docs: update the package name in the documentation
  apps/docs/src/app/core/component-docs/action-bar/action-bar-header/action-bar-header.component.html
  apps/docs/src/app/core/component-docs/alert/alert-header/alert-header.component.html
  apps/docs/src/app/core/component-docs/badge-label/badge-label-header/badge-label-header.component.html
  apps/docs/src/app/core/component-docs/breadcrumb/breadcrumb-header/breadcrumb-header.component.html
  apps/docs/src/app/core/component-docs/button-group/button-group-header/button-group-header.component.html
  apps/docs/src/app/core/component-docs/button/button-header/button-header.component.html
  apps/docs/src/app/core/component-docs/calendar/calendar-header/calendar-header.component.html
  apps/docs/src/app/core/component-docs/checkbox/checkbox-header/checkbox-header.component.html
  apps/docs/src/app/core/component-docs/combobox/combobox-header/combobox-header.component.html
  apps/docs/src/app/core/component-docs/date-picker/date-picker-header/date-picker-header.component.html
  apps/docs/src/app/core/component-docs/datetime-picker/datetime-picker-header/datetime-picker-header.component.html
  apps/docs/src/app/core/component-docs/file-input/file-input-header/file-input-header.component.html
  apps/docs/src/app/core/component-docs/icon/icon-header/icon-header.component.html
  apps/docs/src/app/core/component-docs/identifier/identifier-header/identifier-header.component.html
  apps/docs/src/app/core/component-docs/image/image-header/image-header.component.html
  apps/docs/src/app/core/component-docs/infinite-scroll/infinite-scroll-header/infinite-scroll-header.component.html
  apps/docs/src/app/core/component-docs/inline-help/inline-help-header/inline-help-header.component.html
  apps/docs/src/app/core/component-docs/input-group/input-group-header/input-group-header.component.html
  apps/docs/src/app/core/component-docs/input/input-header/input-header.component.html
  apps/docs/src/app/core/component-docs/layout-grid/layout-grid-docs-header/layout-grid-docs-header.component.html
  apps/docs/src/app/core/component-docs/list/list-header/list-header.component.html
  apps/docs/src/app/core/component-docs/loading-spinner-docs/loading-spinner-header/loading-spinner-header.component.html
  apps/docs/src/app/core/component-docs/localization-editor/localization-editor-header/localization-editor-header.component.html
  apps/docs/src/app/core/component-docs/mega-menu/mega-menu-header/mega-menu-header.component.html
  apps/docs/src/app/core/component-docs/menu/menu-header/menu-header.component.html
  apps/docs/src/app/core/component-docs/modal/modal-docs-header/modal-docs-header.component.html
  apps/docs/src/app/core/component-docs/multi-input/multi-input-header/multi-input-header.component.html
  apps/docs/src/app/core/component-docs/notification/notification-docs-header/notification-docs-header.component.html
  apps/docs/src/app/core/component-docs/pagination/pagination-header/pagination-header.component.html
  apps/docs/src/app/core/component-docs/panel/panel-docs-header/panel-docs-header.component.html
  apps/docs/src/app/core/component-docs/popover-directive/popover-directive-header/popover-directive-header.component.html
  apps/docs/src/app/core/component-docs/popover/popover-header/popover-header.component.html
  apps/docs/src/app/core/component-docs/product-switch/product-switch-docs-header/product-switch-docs-header.component.html
  apps/docs/src/app/core/component-docs/radio/radio-header/radio-header.component.html
  apps/docs/src/app/core/component-docs/scroll-spy/scroll-spy-header/scroll-spy-header.component.html
  apps/docs/src/app/core/component-docs/select-native/select-native-header/select-native-header.component.html
  apps/docs/src/app/core/component-docs/select/select-header/select-header.component.html
  apps/docs/src/app/core/component-docs/shellbar/shellbar-docs-header/shellbar-docs-header.component.html
  apps/docs/src/app/core/component-docs/side-navigation/side-navigation-header/side-navigation-header.component.html
  apps/docs/src/app/core/component-docs/split-button/split-button-header/split-button-header.component.html
  apps/docs/src/app/core/component-docs/table/table-docs-header/table-docs-header.component.html
  apps/docs/src/app/core/component-docs/tabs/tabs-header/tabs-header.component.html
  apps/docs/src/app/core/component-docs/textarea/textarea-header/textarea-header.component.html
  apps/docs/src/app/core/component-docs/tile/tile-docs-header/tile-docs-header.component.html
  apps/docs/src/app/core/component-docs/time-picker/time-picker-header/time-picker-header.component.html
  apps/docs/src/app/core/component-docs/time/time-header/time-header.component.html
  apps/docs/src/app/core/component-docs/toggle/toggle-header/toggle-header.component.html
  apps/docs/src/app/core/component-docs/token/token-header/token-header.component.html
  apps/docs/src/app/core/component-docs/tree/tree-header/tree-header.component.html
Labels: documentation

#1529 fix: export grid-layout public api
  libs/core/src/index.ts
Labels: bug

#1520 docs: (core) added videos to md files
  NEW_COMPONENT.md
  libs/core/README.md
Labels: documentation

#1531 fix: make @angular/cdk as a peer dependancy
  libs/core/ng-package.json
  libs/core/package.json
Labels: bug

#1511 fix: fix playground, mark deprecated @size.
  apps/docs/src/app/core/component-docs/alert/alert-docs.component.html
  apps/docs/src/app/core/component-docs/alert/alert-docs.component.ts
  apps/docs/src/app/core/component-docs/alert/examples/alert-inline-example.component.html
  apps/docs/src/app/core/component-docs/alert/examples/alert-inline-example.component.ts
  apps/docs/src/app/core/component-docs/badge-label/badge-label-docs.component.ts
  apps/docs/src/app/core/component-docs/button-group/button-group-docs.component.html
  apps/docs/src/app/core/component-docs/button-group/button-group-docs.component.ts
  apps/docs/src/app/core/component-docs/button/button-docs.component.ts
  apps/docs/src/app/core/component-docs/icon/examples/icon-example.component.ts
  apps/docs/src/app/core/component-docs/icon/icon-docs.component.ts
  apps/docs/src/app/core/component-docs/identifier/identifier-docs.component.ts
  apps/docs/src/app/core/component-docs/input-group/input-group-docs.component.ts
  apps/docs/src/app/core/component-docs/list/list-docs.component.ts
  apps/docs/src/app/core/component-docs/tile/tile-docs.component.ts
  apps/docs/src/app/documentation/utilities/icons.ts
  apps/docs/src/app/platform/component-docs/platform-button/platform-button-docs.component.ts
  libs/core/src/lib/alert/alert.component.scss
  libs/core/src/lib/button-group/button-grouped.directive.spec.ts
  libs/core/src/lib/button-group/button-grouped.directive.ts
Labels: core

#1552 fix: stackblitz for badge label
  apps/docs/src/app/core/component-docs/badge-label/badge-label-docs.component.ts
  apps/docs/src/app/core/component-docs/badge-label/examples/badge-label-examples.component.scss
Labels: documentation

#1550 fix: calendar not working in stackblitz
  apps/docs/src/app/core/component-docs/calendar/calendar-docs.component.ts
  libs/core/src/lib/calendar/i18n/calendar-i18n-labels.ts
  libs/core/src/lib/calendar/i18n/calendar-i18n.ts
Labels: documentation

#1476 fix(platform:search-input): Supress emit or "searchSubmit" event when input text is empty
  libs/platform/src/lib/components/search-input/search-input.component.spec.ts
  libs/platform/src/lib/components/search-input/search-input.component.ts
Labels: platform

#1556 fix: Move angular-devkit to dev-dependency
  package-lock.json
  package.json
Labels: dependencies

#1566 fix: navigation mode for tab
  apps/docs/src/app/core/component-docs/tabs/examples/tabs-navigation-mode-example.component.html
Labels: core

#1565 fix: Add menu option to button
  apps/docs/src/app/core/component-docs/button/button-docs.component.html
  apps/docs/src/app/core/component-docs/button/button-docs.component.ts
  apps/docs/src/app/core/component-docs/button/examples/button-options-example.component.html
  libs/core/src/lib/button/button.component.ts
Labels: core

#1567 chore: bump package version number
  package.json
Labels: tooling

#1504 docs: Change way how we recognize library, change switch library button
  apps/docs/src/app/core/core-documentation.module.ts
  apps/docs/src/app/documentation/core-helpers/docs-section-title/docs-section-title.component.ts
  apps/docs/src/app/documentation/core-helpers/toolbar/toolbar.component.html
  apps/docs/src/app/documentation/core-helpers/toolbar/toolbar.component.scss
  apps/docs/src/app/documentation/core-helpers/toolbar/toolbar.component.ts
  apps/docs/src/app/documentation/shared-documentation.module.ts
  apps/docs/src/app/documentation/utilities/libraries.ts
  apps/docs/src/app/platform/platform-documentation.module.ts
  libs/core/src/lib/shellbar/product-menu/product-menu.component.scss
  libs/core/src/lib/shellbar/product-menu/product-menu.component.ts
Labels: documentation

#1557 docs: IE11 navigation in the doc app
  apps/docs/browserslist
  apps/docs/src/index.html
Labels: IE11, documentation

#1607 fix:(core) Add DynamicComponentService to alert module
  libs/core/src/lib/alert/alert.module.ts
Labels: core

#1608 fix: ng7 - Change localization button type
  libs/core/src/lib/localizator-editor/localization-editor-main/localization-editor-main.component.html
  libs/core/src/lib/localizator-editor/localization-editor-main/localization-editor-main.component.ts
  scripts/archive-publish-release.sh
Labels: bug

#1543 fix: (core) added selected button with group
  apps/docs/src/app/core/component-docs/button-group/button-group-docs.component.html
  apps/docs/src/app/core/component-docs/button-group/button-group-docs.component.ts
  apps/docs/src/app/core/component-docs/button-group/examples/button-group-compact-example.component.html
  apps/docs/src/app/core/component-docs/button-group/examples/button-group-default-example.component.html
  apps/docs/src/app/core/component-docs/button-group/examples/button-group-default-example.component.ts
  apps/docs/src/app/core/component-docs/button-group/examples/button-group-examples.component.ts
  apps/docs/src/app/core/component-docs/button-group/examples/button-group-s-example.component.html
  apps/docs/src/app/core/component-docs/button-group/examples/button-group-toggle-example.component.html
  apps/docs/src/app/core/component-docs/button-group/examples/button-group-toggle-example.component.ts
  apps/docs/src/app/core/component-docs/button-group/examples/button-group-xs-example.component.html
  apps/docs/src/app/core/core-documentation.module.ts
  apps/docs/src/app/documentation/core-helpers/code-example/code-example.component.ts
  apps/docs/src/app/documentation/core-helpers/code-example/example-file.ts
  libs/core/src/lib/button-group/button-group.component.scss
  libs/core/src/lib/button-group/button-grouped.directive.ts
Labels: documentation

#1612 docs: Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#1605 fix: (core) Add unselectMissingOption to select component
  apps/docs/src/app/core/component-docs/select/examples/select-basic-example/select-basic-example.component.ts
  apps/docs/src/app/core/component-docs/select/select-docs.component.html
  libs/core/src/lib/select/select.component.spec.ts
  libs/core/src/lib/select/select.component.ts
Labels: bug, core

#1604 fix: (core) Add shellbar side navigation example and directive.
  apps/docs/src/app/core/component-docs/shellbar/examples/shellbar-advanced/shellbar-advanced-example.component.ts
  apps/docs/src/app/core/component-docs/shellbar/examples/shellbar-collapsible-example.component.ts
  apps/docs/src/app/core/component-docs/shellbar/examples/shellbar-side-nav/shellbar-side-nav-example.component.html
  apps/docs/src/app/core/component-docs/shellbar/examples/shellbar-side-nav/shellbar-side-nav-example.component.scss
  apps/docs/src/app/core/component-docs/shellbar/examples/shellbar-side-nav/shellbar-side-nav-example.component.ts
  apps/docs/src/app/core/component-docs/shellbar/shellbar-docs.component.html
  apps/docs/src/app/core/component-docs/shellbar/shellbar-docs.component.ts
  apps/docs/src/app/core/component-docs/side-navigation/examples/side-navigation-condensed-object-example/side-navigation-condensed-object-example.component.ts
  apps/docs/src/app/core/component-docs/side-navigation/examples/side-navigation-multiple-selected-example/side-navigation-multiple-selected-example.component.html
  apps/docs/src/app/core/component-docs/side-navigation/examples/side-navigation-object-example/side-navigation-object-example.component.ts
  apps/docs/src/app/core/component-docs/side-navigation/examples/side-navigation-three-levels-example/side-navigation-three-levels-example.component.html
  apps/docs/src/app/core/component-docs/side-navigation/side-navigation-docs.component.html
  apps/docs/src/app/core/core-documentation.module.ts
  apps/docs/src/app/documentation/core-helpers/toolbar/toolbar.component.html
  libs/core/src/lib/shellbar/shellbar-sidenav.directive.spec.ts
  libs/core/src/lib/shellbar/shellbar-sidenav.directive.ts
  libs/core/src/lib/shellbar/shellbar.component.html
  libs/core/src/lib/shellbar/shellbar.component.scss
  libs/core/src/lib/shellbar/shellbar.module.ts
  libs/core/src/lib/shellbar/user-menu/shellbar-user-menu.component.ts
Labels: core, enhancement

#1667 fix: Prevent from undefined error on ProductMenu
  libs/core/src/lib/shellbar/product-menu/product-menu.component.ts
Labels: core, shell-bar

#1653 fix: (core) Change event.code to event.key
  libs/core/src/lib/calendar/calendar-views/calendar-day-view/calendar-day-view.component.spec.ts
  libs/core/src/lib/calendar/calendar-views/calendar-day-view/calendar-day-view.component.ts
  libs/core/src/lib/calendar/calendar-views/calendar-month-view/calendar-month-view.component.spec.ts
  libs/core/src/lib/calendar/calendar-views/calendar-year-view/calendar-year-view.component.spec.ts
  libs/core/src/lib/calendar/calendar.service.spec.ts
  libs/core/src/lib/calendar/calendar.service.ts
  libs/core/src/lib/combobox/combobox.component.spec.ts
  libs/core/src/lib/combobox/combobox.component.ts
  libs/core/src/lib/mega-menu/mega-menu-item/mega-menu-item.component.spec.ts
  libs/core/src/lib/mega-menu/mega-menu-item/mega-menu-item.component.ts
  libs/core/src/lib/menu/menu-keyboard.service.ts
  libs/core/src/lib/menu/menu.component.spec.ts
  libs/core/src/lib/multi-input/multi-input.component.spec.ts
  libs/core/src/lib/multi-input/multi-input.component.ts
  libs/core/src/lib/nested-list/nested-list-keyboard.service.spec.ts
  libs/core/src/lib/nested-list/nested-list-keyboard.service.ts
  libs/core/src/lib/pagination/pagination.component.spec.ts
  libs/core/src/lib/pagination/pagination.component.ts
  libs/core/src/lib/popover/popover.component.spec.ts
  libs/core/src/lib/popover/popover.component.ts
  libs/core/src/lib/select/select.component.ts
  libs/core/src/lib/tabs/tabs.service.spec.ts
  libs/core/src/lib/tabs/tabs.service.ts
  libs/core/src/lib/time/time.component.ts
Labels: IE11, bug, core

#1634 fix: (core) Error while AOT compilation with `strictNullChecks: true`
  libs/core/src/lib/notification/notification-utils/default-notification/default-notification.component.html
  libs/core/src/lib/notification/notification-utils/default-notification/default-notification.component.ts
Labels: core

#1630 fix: (core) Add reset displayed values method
  libs/core/src/lib/combobox/combobox.component.spec.ts
  libs/core/src/lib/combobox/combobox.component.ts
Labels: core

#1656 chore: link versions between main package.json and core lib package.json
  ci-scripts/sync-version.sh
  libs/core/package.json
Labels: core, tooling

#1682 fix: add routerLink to sideNav Links, change example
  apps/docs/src/app/core/component-docs/side-navigation/examples/side-navigation-condensed-object-example/side-navigation-condensed-object-example.component.ts
  apps/docs/src/app/core/component-docs/side-navigation/examples/side-navigation-object-example/side-navigation-object-example.component.ts
  libs/core/package.json
  libs/core/src/lib/nested-list/nested-list-model.ts
  libs/core/src/lib/nested-list/nested-list.module.ts
  libs/core/src/lib/nested-list/prepared-nested-list/prepared-nested-list.component.html
Labels: enhancement

#1685 chore: (core) update read me
  libs/core/README.md
Labels: documentation

#1690 chore: fix rc versioning
  package.json
Labels: tooling
