Repository SAP/fundamental-ngx, pull requests merged in 2019-08, with the labels that each got.

#1082 docs: Rename all usages of Fiori Fundamentals to Fundamental-Styles
  README.md
  angular.json
  docs/app/documentation/component-docs/button/button-docs.component.html
  docs/app/documentation/component-docs/icon/icon-docs.component.html
  docs/app/documentation/component-docs/image/image-docs.component.html
  library/package.json
  package.json
Labels: documentation

#1058 fix: introduce menu built-in keyboard support
  docs/app/documentation/component-docs/combobox/examples/combobox-template-example.component.html
  docs/app/documentation/component-docs/dropdown/examples/dropdown-contextual-menu-example.component.html
  docs/app/documentation/component-docs/dropdown/examples/dropdown-default-example.component.html
  docs/app/documentation/component-docs/dropdown/examples/dropdown-icons-example.component.html
  docs/app/documentation/component-docs/dropdown/examples/dropdown-state-example.component.html
  docs/app/documentation/component-docs/dropdown/examples/dropdown-toolbar-example.component.html
  docs/app/documentation/component-docs/menu/examples/menu-group-example.component.html
  docs/app/documentation/component-docs/popover/examples/popover-placement/popover-placement-example.component.html
  docs/app/documentation/component-docs/popover/examples/popover-programmatic/popover-programmatic-open-example.component.html
  docs/app/documentation/component-docs/popover/examples/popover-simple/popover-example.component.html
  docs/app/documentation/component-docs/split-button/examples/split-button-icons-example.component.html
  docs/app/documentation/component-docs/split-button/examples/split-button-options-example.component.html
  docs/app/documentation/component-docs/split-button/examples/split-button-programmatical-example.component.html
  docs/app/documentation/component-docs/split-button/examples/split-button-template-example.component.html
  docs/app/documentation/component-docs/split-button/examples/split-button-types-example.component.html
  library/src/lib/combobox/combobox.component.html
  library/src/lib/combobox/combobox.component.spec.ts
  library/src/lib/combobox/combobox.component.ts
Labels: accessibility

#1101 chore: add initial mergeable.yml
  .github/mergeable.yml
Labels: tooling

#1123 docs: added long string title truncation code example.
  docs/app/documentation/component-docs/action-bar/action-bar-docs.component.html
  docs/app/documentation/component-docs/action-bar/action-bar-docs.component.ts
  docs/app/documentation/component-docs/action-bar/examples/action-bar-examples.component.ts
  docs/app/documentation/component-docs/action-bar/examples/action-bar-long-string-title-truncation-example.component.html
  docs/app/documentation/documentation.module.ts
Labels: documentation

#1135 docs: Add a fixed position popover
  docs/app/documentation/component-docs/popover/examples/popover-simple/popover-example.component.html
Labels: documentation

#1142 fix: datepicker update all fields after changing the locale
  docs/app/documentation/component-docs/date-picker/examples/date-picker-i18n-example.component.ts
  library/src/lib/calendar/calendar-views/calendar-day-view/calendar-day-view.component.ts
  library/src/lib/calendar/calendar-views/calendar-month-view/calendar-month-view.component.html
  library/src/lib/calendar/calendar-views/calendar-month-view/calendar-month-view.component.spec.ts
  library/src/lib/calendar/calendar-views/calendar-month-view/calendar-month-view.component.ts
  library/src/lib/calendar/i18n/calendar-i18n.ts
Labels: bug, datepicker

#1152 fix: first day issues
  docs/app/documentation/component-docs/date-picker/examples/date-picker-i18n-example.component.ts
  library/src/lib/calendar/calendar-views/calendar-day-view/calendar-day-view.component.spec.ts
  library/src/lib/calendar/calendar-views/calendar-day-view/calendar-day-view.component.ts
  library/src/lib/calendar/calendar.component.ts
  library/src/lib/date-picker/date-picker.component.ts
Labels: datepicker

#1161 fix: fix previous day method
  library/src/lib/calendar/models/fd-date.ts
Labels: bug, datepicker

#1162 fix: Add files to pagination and tile public api
  library/src/lib/pagination/public_api.ts
  library/src/lib/tile/public_api.ts
Labels: bug

#1159 docs: update inline help inside input
  docs/app/documentation/component-docs/input/examples/input-inline-help-example.component.html
Labels: documentation

#1150 fix: action bar fix for the responsiveness of menu list
  docs/app/documentation/component-docs/action-bar/examples/action-bar-contextual-menu-example.component.html
  docs/app/documentation/component-docs/action-bar/examples/action-bar-mobile-example.component.html
  library/src/lib/action-bar/action-bar-mobile/action-bar-mobile.directive.ts
Labels: bug, documentation

#1157 docs: dropdown add show code in each example
  docs/app/documentation/component-docs/dropdown/dropdown-docs.component.html
  docs/app/documentation/component-docs/dropdown/dropdown-docs.component.ts
  docs/app/documentation/component-docs/dropdown/examples/dropdown-default-example.component.html
Labels: documentation

#1173 fix: fixed issue with disabled combobox in Reactive Form
  docs/app/documentation/component-docs/combobox/combobox-docs.component.html
  docs/app/documentation/component-docs/combobox/combobox-docs.component.ts
  docs/app/documentation/component-docs/combobox/examples/combobox-disabled-example.component.html
  docs/app/documentation/component-docs/combobox/examples/combobox-disabled-example.component.ts
  docs/app/documentation/documentation.module.ts
  library/src/lib/combobox/combobox.component.ts
Labels: bug, documentation

#1177 change example to bottom-end
  docs/app/documentation/component-docs/inline-help/examples/inline-help-example.component.html
Labels: documentation

#1180 fix: added optional separator line to menu list items
  docs/app/documentation/component-docs/menu/examples/menu-examples.component.ts
  docs/app/documentation/component-docs/menu/examples/menu-separator-example.component.html
  docs/app/documentation/component-docs/menu/menu-docs.component.html
  docs/app/documentation/component-docs/menu/menu-docs.component.ts
  docs/app/documentation/documentation.module.ts
  library/src/lib/menu/menu.component.scss
  library/src/lib/menu/menu.component.ts
Labels: enhancement

#1183 feat: created directives for menu addon
  docs/app/documentation/component-docs/menu/examples/menu-addon-example.component.html
  docs/app/documentation/component-docs/menu/examples/menu-addon-examples.component.ts
  docs/app/documentation/component-docs/menu/menu-docs.component.html
  docs/app/documentation/component-docs/menu/menu-docs.component.ts
  docs/app/documentation/documentation.module.ts
  docs/app/documentation/utilities/api-files.ts
  library/src/lib/menu/menu-addon.directive.ts
  library/src/lib/menu/menu-item-addon.directive.ts
  library/src/lib/menu/menu.component.spec.ts
  library/src/lib/menu/menu.module.ts
Labels: documentation

#1194 fix: Protractor no longer waits for Alert timeout to be resolved
  library/src/lib/alert/alert.component.ts
Labels: testing

#1192 feat: Added maxHeight to select component
  docs/app/documentation/component-docs/select/examples/select-height/select-max-height-example.component.html
  docs/app/documentation/component-docs/select/examples/select-height/select-max-height-example.component.ts
  docs/app/documentation/component-docs/select/examples/select-nested-options/select-nested-options.component.html
  docs/app/documentation/component-docs/select/select-docs.component.html
  docs/app/documentation/component-docs/select/select-docs.component.ts
  docs/app/documentation/documentation.module.ts
  library/src/lib/select/select.component.html
  library/src/lib/select/select.component.scss
  library/src/lib/select/select.component.ts
Labels: enhancement
