Repository SAP/fundamental-ngx, pull requests merged in 2019-10, with the labels that each got.

#1327 chore: Add standard-version package
  package-lock.json
  package.json
Labels: tooling

#1336 fix: self-contained adoption issues
  apps/docs/src/app/documentation/component-docs/popover/examples/popover-placement/popover-placement-example.component.ts
  apps/docs/src/app/documentation/component-docs/popover/examples/popover-placement/popover-placement-example.scss
  apps/docs/src/app/documentation/core-helpers/component-example/component-example.component.scss
  apps/docs/src/app/documentation/core-helpers/documentation/documentation.component.ts
  libs/core/package.json
  libs/core/src/lib/breadcrumb/breadcrumb.component.scss
  libs/core/src/lib/identifier/identifier.component.scss
  libs/core/src/lib/input-group/input-group-number.component.html
  libs/core/src/lib/input-group/input-group-search.component.html
  libs/core/src/lib/input-group/input-group.component.scss
Labels: core

#1339 fix: Add tests, fix previous day issues
  libs/core/src/lib/calendar/models/fd-date.spec.ts
  libs/core/src/lib/calendar/models/fd-date.ts
Labels: core, datepicker

#1340 fix: Add disabled mode to multi input
  libs/core/src/lib/multi-input/multi-input.component.html
Labels: core

#1341 fix: Add valid detection on date change from calndar
  libs/core/src/lib/date-picker/date-picker.component.ts
Labels: core, datepicker

#1338 fix: complete rxjs subject when closing modal
  libs/core/src/lib/modal/modal-utils/modal-ref.ts
Labels: bug

#1354 fix: Add and change file list on api-files.ts
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/core-documentation.routes.ts
  apps/docs/src/app/core/documentation/core-documentation.component.ts
Labels: core, documentation

#1352 feat(platform: new): button as standalone component (instantiable)
  libs/platform/src/lib/components/button/button.component.html
  libs/platform/src/lib/components/button/button.component.scss
  libs/platform/src/lib/components/button/button.component.spec.ts
  libs/platform/src/lib/components/button/button.component.ts
  libs/platform/src/lib/components/button/button.module.ts
  libs/platform/src/lib/components/button/public_api.ts
  libs/platform/src/lib/platform.module.ts
Labels: platform

#1311 Fix: links not working
  apps/docs/src/app/app.module.ts
  apps/docs/src/app/core/core-documentation.routes.ts
  apps/docs/src/app/documentation/core-helpers/docs-section-title/docs-section-title.component.ts
  apps/docs/src/app/documentation/shared-documentation.module.ts
  apps/docs/src/index.html
Labels: core

#1335 docs: fixed read me and new component
  NEW_COMPONENT.md
  README.md
Labels: documentation

#1387 fix: fix typo meni -> menu
  apps/docs/src/app/core/component-docs/menu/menu-docs.component.html
Labels: documentation

#1398 feat(platform): Code changes to convert action bar as a component"
  libs/platform/src/index.ts
  libs/platform/src/lib/components/action-bar/action-bar-actions/action-bar-actions.component.html
  libs/platform/src/lib/components/action-bar/action-bar-actions/action-bar-actions.component.scss
  libs/platform/src/lib/components/action-bar/action-bar-actions/action-bar-actions.component.spec.ts
  libs/platform/src/lib/components/action-bar/action-bar-actions/action-bar-actions.component.ts
  libs/platform/src/lib/components/action-bar/action-bar.component.html
  libs/platform/src/lib/components/action-bar/action-bar.component.scss
  libs/platform/src/lib/components/action-bar/action-bar.component.spec.ts
  libs/platform/src/lib/components/action-bar/action-bar.component.ts
  libs/platform/src/lib/components/action-bar/action-bar.module.ts
  libs/platform/src/lib/components/action-bar/public_api.ts
  libs/platform/src/lib/platform.module.ts
Labels: platform

#1386 feat(platform): Creating search input component
  libs/core/src/lib/combobox/public_api.ts
  libs/platform/src/lib/components/action-bar/action-bar-actions/action-bar-actions.component.spec.ts
  libs/platform/src/lib/components/action-bar/action-bar.component.spec.ts
  libs/platform/src/lib/components/search-input/public_api.ts
  libs/platform/src/lib/components/search-input/search-input.component.html
  libs/platform/src/lib/components/search-input/search-input.component.scss
  libs/platform/src/lib/components/search-input/search-input.component.spec.ts
  libs/platform/src/lib/components/search-input/search-input.component.ts
  libs/platform/src/lib/components/search-input/search-input.module.ts
  libs/platform/src/lib/platform.module.ts
  package-lock.json
Labels: platform

#1357 fix: timepicker without minutes/seconds and add some tests
  libs/core/src/lib/calendar/calendar-views/calendar-day-view/calendar-day-view.component.ts
  libs/core/src/lib/time-picker/format/time-parser.ts
  libs/core/src/lib/time-picker/time-picker.component.scss
  libs/core/src/lib/time-picker/time-picker.component.spec.ts
  libs/core/src/lib/time-picker/time-picker.component.ts
  libs/core/src/lib/time/time.component.ts
Labels: core, timepicker

#1369 fix: calendar focusing issues
  apps/docs/src/app/core/component-docs/calendar/calendar-docs.component.html
  libs/core/src/lib/calendar/calendar-views/calendar-day-view/calendar-day-view.component.html
  libs/core/src/lib/calendar/calendar-views/calendar-day-view/calendar-day-view.component.spec.ts
  libs/core/src/lib/calendar/calendar-views/calendar-day-view/calendar-day-view.component.ts
  libs/core/src/lib/calendar/calendar-views/calendar-year-view/calendar-year-view.component.ts
  libs/core/src/lib/calendar/calendar.component.scss
Labels: core, datepicker

#1405 docs: Fix collapsing sidebar on platform and core
  apps/docs/src/app/core/documentation/core-documentation.component.html
  apps/docs/src/app/core/documentation/core-documentation.component.ts
  apps/docs/src/app/documentation/core-helpers/sections-toolbar/sections-toolbar.component.ts
  apps/docs/src/app/platform/documentation/platform-documentation.component.html
  apps/docs/src/app/platform/documentation/platform-documentation.component.ts
Labels: core, platform

#1407 docs: Add input group complex example
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-button-example.component.html
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-complex-example.component.html
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-examples.component.ts
  apps/docs/src/app/core/component-docs/input-group/input-group-docs.component.html
  apps/docs/src/app/core/component-docs/input-group/input-group-docs.component.ts
  apps/docs/src/app/core/core-documentation.module.ts
Labels: core

#1432 chore: Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#1433 chore: update core package.json
  libs/core/package.json
Labels: core, dependencies

#1409 docs(contribute): Added more details to contribution doc
  CONTRIBUTING.md
Labels: documentation

#1439 feat: Product Switch with Drag and Drop.
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/product-switch/examples/product-switch-dnd-example.component.html
  apps/docs/src/app/core/component-docs/product-switch/examples/product-switch-dnd-example.component.ts
  apps/docs/src/app/core/component-docs/product-switch/examples/product-switch-list/product-switch-list.component.html
  apps/docs/src/app/core/component-docs/product-switch/examples/product-switch-list/product-switch-list.component.ts
  apps/docs/src/app/core/component-docs/product-switch/examples/product-switch-small-example.component.html
  apps/docs/src/app/core/component-docs/product-switch/examples/product-switch-small-example.component.ts
  apps/docs/src/app/core/component-docs/product-switch/product-switch-docs-header/product-switch-docs-header.component.html
  apps/docs/src/app/core/component-docs/product-switch/product-switch-docs-header/product-switch-docs-header.component.scss
  apps/docs/src/app/core/component-docs/product-switch/product-switch-docs-header/product-switch-docs-header.component.ts
  apps/docs/src/app/core/component-docs/product-switch/product-switch-docs.component.html
  apps/docs/src/app/core/component-docs/product-switch/product-switch-docs.component.ts
  apps/docs/src/app/core/component-docs/shellbar/examples/shellbar-advanced/shellbar-advanced-example.component.html
  apps/docs/src/app/core/component-docs/shellbar/examples/shellbar-advanced/shellbar-advanced-example.component.ts
  apps/docs/src/app/core/component-docs/shellbar/examples/shellbar-collapsible-example.component.html
  apps/docs/src/app/core/component-docs/shellbar/examples/shellbar-collapsible-example.component.ts
  apps/docs/src/app/core/core-documentation.module.ts
  apps/docs/src/app/core/core-documentation.routes.ts
  apps/docs/src/app/core/documentation/core-documentation.component.ts
  libs/core/src/index.ts
  libs/core/src/lib/fundamental-ngx-core.module.ts
  libs/core/src/lib/product-switch/product-switch-body/product-switch-body.component.html
  libs/core/src/lib/product-switch/product-switch-body/product-switch-body.component.scss
  libs/core/src/lib/product-switch/product-switch-body/product-switch-body.component.spec.ts
  libs/core/src/lib/product-switch/product-switch-body/product-switch-body.component.ts
  libs/core/src/lib/product-switch/product-switch-body/product-switch.item.ts
  libs/core/src/lib/product-switch/product-switch.module.ts
  libs/core/src/lib/product-switch/product-switch/product-switch.component.html
  libs/core/src/lib/product-switch/product-switch/product-switch.component.scss
  libs/core/src/lib/product-switch/product-switch/product-switch.component.spec.ts
  libs/core/src/lib/product-switch/product-switch/product-switch.component.ts
  libs/core/src/lib/product-switch/public_api.ts
  libs/core/src/lib/shellbar/model/shellbar-product.ts
  libs/core/src/lib/shellbar/public_api.ts
  libs/core/src/lib/shellbar/shellbar-actions/shellbar-actions.component.html
  libs/core/src/lib/shellbar/shellbar-actions/shellbar-actions.component.spec.ts
  libs/core/src/lib/shellbar/shellbar-actions/shellbar-actions.component.ts
  libs/core/src/lib/shellbar/shellbar-product-switcher/shellbar-product-switcher.component.html
  libs/core/src/lib/shellbar/shellbar-product-switcher/shellbar-product-switcher.component.spec.ts
  libs/core/src/lib/shellbar/shellbar-product-switcher/shellbar-product-switcher.component.ts
  libs/core/src/lib/shellbar/shellbar.module.ts
  libs/core/src/lib/utils/drag-and-drop/dnd-container/dnd-container.directive.spec.ts
  libs/core/src/lib/utils/drag-and-drop/dnd-container/dnd-container.directive.ts
  libs/core/src/lib/utils/drag-and-drop/dnd-list/dnd-list.directive.spec.ts
  libs/core/src/lib/utils/drag-and-drop/dnd-list/dnd-list.directive.ts
  libs/core/src/lib/utils/drag-and-drop/drag-and-drop.module.ts
  libs/core/src/lib/utils/public_api.ts
Labels: core

#1441 fix(platform:search-input): Fix CSS border rules for "RTL" mode
  libs/platform/src/lib/components/search-input/search-input.component.scss
Labels: platform

#1469 fix: Add Offset in pixels to scroll spy
  apps/docs/src/app/core/component-docs/scroll-spy/examples/scroll-spy-custom-offset/scroll-spy-offset-example.component.html
  apps/docs/src/app/core/component-docs/scroll-spy/examples/scroll-spy-custom-offset/scroll-spy-offset-example.component.scss
  apps/docs/src/app/core/component-docs/scroll-spy/examples/scroll-spy-custom-offset/scroll-spy-offset-example.component.ts
  apps/docs/src/app/core/component-docs/scroll-spy/scroll-spy-docs.component.html
  apps/docs/src/app/core/core-documentation.module.ts
  apps/docs/src/app/documentation/documentation.module.ts
  libs/core/src/lib/scroll-spy/scroll-spy.directive.ts
Labels: enhancement

#1457 fix: Add @angular/cdk to peer dependency, add button module to calendar
  ci-scripts/sync-version.sh
  libs/core/package.json
  libs/core/src/lib/calendar/calendar-header/calendar-header.component.html
  libs/core/src/lib/calendar/calendar-header/calendar-header.component.spec.ts
  libs/core/src/lib/calendar/calendar.module.ts
  libs/core/src/lib/notification/notification/notification.component.ts
Labels: core

#1449 fix: Add open control for combobox
  apps/docs/src/app/core/component-docs/combobox/combobox-docs.component.html
  apps/docs/src/app/core/component-docs/combobox/combobox-docs.component.ts
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-open-control-example.component.html
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-open-control-example.component.ts
  apps/docs/src/app/core/core-documentation.module.ts
  libs/core/src/lib/combobox/combobox.component.html
  libs/core/src/lib/combobox/combobox.component.ts
  libs/platform/src/lib/components/search-input/search-input.component.ts
Labels: core

#1447 docs: Update NEW_COMPONENT.md
  NEW_COMPONENT.md
Labels: documentation

#1484 fix: Fix docs fragment links
  apps/docs/src/app/core/documentation/core-documentation.component.html
  apps/docs/src/app/documentation/core-helpers/docs-section-title/docs-section-title.component.ts
  apps/docs/src/app/platform/documentation/platform-documentation.component.html
Labels: documentation

#1483 fix: Modal height example issues. Close icon fix.
  apps/docs/src/app/core/component-docs/modal/examples/component-as-content/modal-component-as-content-example.component.ts
  apps/docs/src/app/core/component-docs/modal/examples/component-as-content/modal-content.component.ts
  libs/core/src/lib/modal/modal-utils/modal-directives.ts
  libs/core/src/lib/modal/modal.component.scss
  libs/core/src/lib/modal/modal.component.ts
Labels: enhancement

#1490 fix: add DnD styling improvements to Product Switch
  apps/docs/src/app/core/component-docs/product-switch/examples/product-switch-dnd-example.component.ts
  libs/core/src/lib/product-switch/product-switch-body/product-switch-body.component.scss
Labels: enhancement

#1487 docs: changed glyph for stackblitz
  apps/docs/src/app/documentation/core-helpers/code-example/code-example.component.html
Labels: documentation

#1486 fix: stackblitz for product-switch
  apps/docs/src/app/core/component-docs/product-switch/examples/product-switch-dnd-example.component.ts
  apps/docs/src/app/core/component-docs/product-switch/examples/product-switch-list/product-switch-list-example.component.html
  apps/docs/src/app/core/component-docs/product-switch/examples/product-switch-list/product-switch-list-example.component.ts
  apps/docs/src/app/core/component-docs/product-switch/examples/product-switch-small-example.component.html
  apps/docs/src/app/core/component-docs/product-switch/product-switch-docs.component.html
  apps/docs/src/app/core/component-docs/product-switch/product-switch-docs.component.ts
  apps/docs/src/app/core/core-documentation.module.ts
Labels: documentation

#1493 fix: (core) Add stick to position option
  apps/docs/src/app/core/component-docs/product-switch/examples/product-switch-dnd-example.component.ts
  apps/docs/src/app/core/component-docs/product-switch/examples/product-switch-list/product-switch-list-example.component.ts
  apps/docs/src/app/core/component-docs/product-switch/examples/product-switch-small-example.component.ts
  apps/docs/src/app/core/component-docs/product-switch/product-switch-docs.component.html
  libs/core/src/lib/product-switch/product-switch-body/product-switch-body.component.html
  libs/core/src/lib/product-switch/product-switch-body/product-switch.item.ts
  libs/core/src/lib/product-switch/product-switch/product-switch.component.ts
  libs/core/src/lib/utils/drag-and-drop/dnd-container/dnd-container.directive.ts
  libs/core/src/lib/utils/drag-and-drop/dnd-list/dnd-list.directive.spec.ts
  libs/core/src/lib/utils/drag-and-drop/dnd-list/dnd-list.directive.ts
Labels: core

#1502 chore: Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#1390 feat(platform): Menu as a standalone component
  libs/platform/src/index.ts
  libs/platform/src/lib/components/menu/menu-component/menu-item.component.html
  libs/platform/src/lib/components/menu/menu-component/menu-item.component.scss
  libs/platform/src/lib/components/menu/menu-component/menu-item.component.spec.ts
  libs/platform/src/lib/components/menu/menu-component/menu-item.component.ts
  libs/platform/src/lib/components/menu/menu-component/menu.component.html
  libs/platform/src/lib/components/menu/menu-component/menu.component.scss
  libs/platform/src/lib/components/menu/menu-component/menu.component.spec.ts
  libs/platform/src/lib/components/menu/menu-component/menu.component.ts
  libs/platform/src/lib/components/menu/menu.module.ts
  libs/platform/src/lib/components/menu/public_api.ts
  libs/platform/src/lib/platform.module.ts
Labels: platform

#1506 fix: seconds regexp, trigger timepicker on enter/focusout
  libs/core/src/lib/time-picker/format/time-parser.ts
  libs/core/src/lib/time-picker/time-picker.component.html
Labels: core

#1501 chore: Change FundamentalNgxModule to FundamentalNgxCoreModule in readme
  apps/docs/src/assets/README.md
  libs/core/README.md
Labels: documentation
