Repository SAP/fundamental-ngx, pull requests merged in 2019-12, with the labels that each got.

#1563 docs:(platform:menu) Documentation for Menu component
  apps/docs/src/app/platform/api-files.ts
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-basic-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-basic-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-basic-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-click-close-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-click-close-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-click-close-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-complex-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-complex-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-complex-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-group-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-group-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-group-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-icons-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-icons-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-icons-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-separator-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-separator-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-separator-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-header/platform-menu-header.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-header/platform-menu-header.component.scss
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-header/platform-menu-header.component.ts
  apps/docs/src/app/platform/documentation/platform-documentation.component.ts
  apps/docs/src/app/platform/platform-documentation.module.ts
  apps/docs/src/app/platform/platform-documentation.routes.ts
  libs/platform/src/lib/components/menu/menu-component/menu-item.component.html
  libs/platform/src/lib/components/menu/menu-component/menu-item.component.scss
  libs/platform/src/lib/components/menu/menu-component/menu-item.component.ts
  libs/platform/src/lib/components/menu/menu-component/menu.component.html
  libs/platform/src/lib/components/menu/menu-component/menu.component.scss
  libs/platform/src/lib/components/menu/menu-component/menu.component.ts
Labels: platform

#1647 feat(platform:search-input): Adding disabled state to search input component
  libs/platform/src/lib/components/search-input/search-input.component.html
  libs/platform/src/lib/components/search-input/search-input.component.spec.ts
  libs/platform/src/lib/components/search-input/search-input.component.ts
Labels: platform

#1640 fix(platform:search-input): Closing category dropdown after category item is selected
  libs/core/src/lib/popover/public_api.ts
  libs/platform/src/lib/components/search-input/search-input.component.html
  libs/platform/src/lib/components/search-input/search-input.component.ts
Labels: platform

#1658 fix(platform:search-input): Fixing SCSS after fundamental-styles upgrade
  libs/platform/src/lib/components/search-input/search-input.component.scss
Labels: platform

#1711 fix(platform): menu component library review fixes
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-basic-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-basic-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-click-close-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-click-close-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-complex-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-group-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-icons-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-icons-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-separator-example.component.ts
  libs/platform/src/lib/components/menu/menu-component/menu-item.component.html
  libs/platform/src/lib/components/menu/menu-component/menu-item.component.scss
  libs/platform/src/lib/components/menu/menu-component/menu-item.component.ts
  libs/platform/src/lib/components/menu/menu-component/menu.component.ts
Labels: platform

#1731 chore(platform): Menu folder restructure
  libs/platform/src/lib/components/menu/menu-item.component.html
  libs/platform/src/lib/components/menu/menu-item.component.scss
  libs/platform/src/lib/components/menu/menu-item.component.spec.ts
  libs/platform/src/lib/components/menu/menu-item.component.ts
  libs/platform/src/lib/components/menu/menu.component.html
  libs/platform/src/lib/components/menu/menu.component.scss
  libs/platform/src/lib/components/menu/menu.component.spec.ts
  libs/platform/src/lib/components/menu/menu.component.ts
  libs/platform/src/lib/components/menu/menu.module.ts
  libs/platform/src/lib/components/menu/public_api.ts
Labels: code refactoring, platform

#1734 chore: bump the version in package.json
  package.json
Labels: tooling

#1760 chore: revert mergeable.yml changes
  .github/mergeable.yml
Labels: tooling

#1649 fix: (core) Calendar A11y - change ul/li to table with grid
  libs/core/src/lib/calendar/calendar-header/calendar-header.component.html
  libs/core/src/lib/calendar/calendar-views/calendar-day-view/calendar-day-view.component.html
  libs/core/src/lib/calendar/calendar-views/calendar-month-view/calendar-month-view.component.html
  libs/core/src/lib/calendar/calendar-views/calendar-month-view/calendar-month-view.component.spec.ts
  libs/core/src/lib/calendar/calendar-views/calendar-month-view/calendar-month-view.component.ts
  libs/core/src/lib/calendar/calendar-views/calendar-year-view/calendar-year-view.component.html
  libs/core/src/lib/calendar/calendar-views/calendar-year-view/calendar-year-view.component.spec.ts
  libs/core/src/lib/calendar/calendar-views/calendar-year-view/calendar-year-view.component.ts
Labels: core, v.0.13.0
