Repository SAP/fundamental-ngx, pull requests merged in 2020-08, with the labels that each got.

#2942 fix: Change focusing strategy on multi input list
  libs/core/src/lib/list/list-item.directive.ts
  libs/core/src/lib/multi-input/multi-input.component.html
  libs/core/src/lib/multi-input/multi-input.component.scss
Labels: IE11, core, v.0.21.0

#2949 fix: ie11 mute mouse click on indeterminate state
  libs/core/src/lib/checkbox/checkbox/checkbox.component.html
  libs/core/src/lib/checkbox/checkbox/checkbox.component.ts
Labels: IE11, v.0.21.0

#2973 fix: (core) Add Checkbox label class input | Simplify Multi Input
  libs/core/src/lib/checkbox/checkbox/checkbox.component.html
  libs/core/src/lib/checkbox/checkbox/checkbox.component.ts
  libs/core/src/lib/list/list-item.directive.ts
  libs/core/src/lib/multi-input/multi-input.component.html
  libs/core/src/lib/multi-input/multi-input.component.ts
Labels: bug, core, v.0.21.0

#2969 fix: Remove Multi Input toggle button space
  libs/core/src/lib/multi-input/multi-input.component.scss
Labels: bug, core, v.0.21.0

#2970 fix: Combobox keep full width
  libs/core/src/lib/combobox/combobox.component.html
  libs/core/src/lib/combobox/combobox.component.scss
Labels: bug, core, v.0.21.0

#2974 fix: Update value on combobox pick
  libs/core/src/lib/combobox/combobox.component.ts
Labels: bug, core, v.0.21.0

#2907 fix:(platform) Introduce platform panel
  apps/docs/src/app/platform/api-files.ts
  apps/docs/src/app/platform/component-docs/platform-panel/platform-panel-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-panel/platform-panel-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-panel/platform-panel-examples/platform-panel-actions-example.component.html
  apps/docs/src/app/platform/component-docs/platform-panel/platform-panel-examples/platform-panel-actions-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-panel/platform-panel-examples/platform-panel-compact-example.component.html
  apps/docs/src/app/platform/component-docs/platform-panel/platform-panel-examples/platform-panel-compact-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-panel/platform-panel-examples/platform-panel-config-example.component.html
  apps/docs/src/app/platform/component-docs/platform-panel/platform-panel-examples/platform-panel-config-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-panel/platform-panel-examples/platform-panel-expandable-example.component.html
  apps/docs/src/app/platform/component-docs/platform-panel/platform-panel-examples/platform-panel-expandable-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-panel/platform-panel-examples/platform-panel-fixed-example.component.html
  apps/docs/src/app/platform/component-docs/platform-panel/platform-panel-examples/platform-panel-fixed-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-panel/platform-panel-examples/platform-panel-fixed-height-example.component.html
  apps/docs/src/app/platform/component-docs/platform-panel/platform-panel-examples/platform-panel-fixed-height-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-panel/platform-panel-header/platform-panel-header.component.html
  apps/docs/src/app/platform/component-docs/platform-panel/platform-panel-header/platform-panel-header.component.ts
  apps/docs/src/app/platform/component-docs/platform-panel/platform-panel.module.ts
  apps/docs/src/app/platform/documentation/platform-documentation.component.ts
  apps/docs/src/app/platform/platform-documentation.routes.ts
  libs/core/src/lib/panel/panel.component.html
  libs/platform/src/index.ts
  libs/platform/src/lib/components/panel/panel-actions/panel-actions.component.html
  libs/platform/src/lib/components/panel/panel-actions/panel-actions.component.ts
  libs/platform/src/lib/components/panel/panel-content/panel-content.component.html
  libs/platform/src/lib/components/panel/panel-content/panel-content.component.scss
  libs/platform/src/lib/components/panel/panel-content/panel-content.component.ts
  libs/platform/src/lib/components/panel/panel.component.html
  libs/platform/src/lib/components/panel/panel.component.spec.ts
  libs/platform/src/lib/components/panel/panel.component.ts
  libs/platform/src/lib/components/panel/panel.config.ts
  libs/platform/src/lib/components/panel/panel.module.ts
  libs/platform/src/lib/components/panel/public_api.ts
  libs/platform/src/lib/platform.config.ts
  libs/platform/src/lib/platform.module.ts
Labels: enhancement, platform

#2971 fix: Apply disabled state on multi input textbox, prevent from open change state
  libs/core/src/lib/multi-input/multi-input.component.html
  libs/core/src/lib/multi-input/multi-input.component.ts
Labels: bug, core, v.0.21.0

#2975 fix: Date-picker disabled state
  libs/core/src/lib/date-picker/date-picker.component.html
Labels: bug, core, v.0.21.0

#2937 fix: Update class builder
  libs/core/src/lib/avatar/avatar.component.ts
  libs/core/src/lib/bar/bar.component.ts
  libs/core/src/lib/button/button.component.spec.ts
  libs/core/src/lib/button/button.component.ts
  libs/core/src/lib/dialog/dialog-container/dialog-container.component.ts
  libs/core/src/lib/dialog/dialog.component.ts
  libs/core/src/lib/form/form-control/form-control.directive.ts
  libs/core/src/lib/form/form-group/form-group.component.ts
  libs/core/src/lib/info-label/info-label.component.ts
  libs/core/src/lib/input-group/input-group-directives.ts
  libs/core/src/lib/link/link.component.ts
  libs/core/src/lib/list/list-message.directive.ts
  libs/core/src/lib/list/list.directives.ts
  libs/core/src/lib/message-strip/message-strip.component.ts
  libs/core/src/lib/multi-input/multi-input.component.ts
  libs/core/src/lib/nested-list/nested-list-directives.ts
  libs/core/src/lib/object-status/object-status.component.ts
  libs/core/src/lib/panel/panel.component.ts
  libs/core/src/lib/radio/radio-button/radio-button.component.ts
  libs/core/src/lib/table/directives/table-icon.directive.ts
  libs/core/src/lib/tabs/tab-item/tab-item.directive.ts
  libs/core/src/lib/tabs/tab-nav/tab-nav.component.ts
  libs/core/src/lib/tabs/tab-utils/tab-directives.ts
  libs/core/src/lib/token/token-input.directive.ts
  libs/core/src/lib/token/tokenizer.component.ts
  libs/core/src/lib/toolbar/toolbar.component.ts
  libs/core/src/lib/utils/decorators/apply-css-class.decorator.ts
  libs/core/src/lib/utils/decorators/apply-css-class.spec.ts
  libs/core/src/lib/utils/functions/get-string-from-hashmap.ts
  libs/core/src/lib/utils/interfaces/css-class-builder.interface.ts
  libs/core/src/lib/utils/public_api.ts
Labels: bug, core, v.0.21.0

#2961 docs: fix a minor localization error
  apps/docs/src/polyfills.ts
  package-lock.json
  package.json
Labels: angular 10, bug, documentation, platform

#2978 fix: set max-width for multi-input ul
  libs/core/src/lib/multi-input/multi-input.component.scss
Labels: bug

#2986 fix: multi input button space
  libs/core/src/lib/multi-input/multi-input.component.html
  libs/core/src/lib/multi-input/multi-input.component.scss
Labels: bug

#2963 fix: fix product switch arrow
  apps/docs/src/app/core/component-docs/product-switch/examples/product-switch-dnd-example.component.html
  libs/core/src/lib/product-switch/product-switch/product-switch.component.html
Labels: bug

#2988 fix: remove deprecated spinner
  apps/docs/src/app/core/component-docs/loading-spinner-docs/examples/loading-spinner-container-example.component.html
  apps/docs/src/app/core/component-docs/loading-spinner-docs/examples/loading-spinner-container-example.component.scss
  apps/docs/src/app/core/component-docs/loading-spinner-docs/examples/loading-spinner-container-example.component.ts
  apps/docs/src/app/core/component-docs/loading-spinner-docs/examples/loading-spinner-example.component.html
  apps/docs/src/app/core/component-docs/loading-spinner-docs/examples/loading-spinner-example.component.ts
  apps/docs/src/app/core/component-docs/loading-spinner-docs/loading-spinner-docs.component.html
  apps/docs/src/app/core/component-docs/loading-spinner-docs/loading-spinner-docs.component.scss
  apps/docs/src/app/core/component-docs/loading-spinner-docs/loading-spinner-docs.component.ts
  apps/docs/src/app/core/component-docs/loading-spinner-docs/loading-spinner-docs.module.ts
  apps/docs/src/app/core/component-docs/loading-spinner-docs/loading-spinner-header/loading-spinner-header.component.html
  apps/docs/src/app/core/component-docs/loading-spinner-docs/loading-spinner-header/loading-spinner-header.component.scss
  apps/docs/src/app/core/component-docs/loading-spinner-docs/loading-spinner-header/loading-spinner-header.component.ts
  apps/docs/src/app/core/core-documentation.routes.ts
  libs/core/src/index.ts
  libs/core/src/lib/fundamental-ngx-core.module.ts
  libs/core/src/lib/loading-spinner/loading-spinner.component.html
  libs/core/src/lib/loading-spinner/loading-spinner.component.scss
  libs/core/src/lib/loading-spinner/loading-spinner.component.spec.ts
  libs/core/src/lib/loading-spinner/loading-spinner.component.ts
  libs/core/src/lib/loading-spinner/loading-spinner.module.ts
  libs/core/src/lib/loading-spinner/public_api.ts
Labels: core, v.0.21.0

#2902 fix: (platform) schematics for ngx/platform
  angular.json
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-docs.component.html
  apps/docs/src/app/platform/locale/ar/messages.ar.xlf
  apps/docs/src/app/platform/locale/fr/messages.fr.xlf
  apps/docs/src/app/platform/locale/messages.xlf
  libs/platform/package.json
  libs/platform/schematics/collection.json
  libs/platform/schematics/migration-collection.json
  libs/platform/schematics/ng-add/index.ts
  libs/platform/schematics/ng-add/schema.json
  libs/platform/schematics/ng-update/index.ts
  libs/platform/schematics/ng-update/schema.json
  libs/platform/schematics/utils/package-utils.ts
  libs/platform/schematics/utils/supported-languages.ts
  libs/platform/schematics/utils/translation-utils.ts
  libs/platform/src/lib/components/form/text-area/text-area.component.html
  libs/platform/src/lib/components/form/text-area/text-area.component.spec.ts
  libs/platform/tsconfig.schematics.json
  package.json
Labels: platform

#2966 fix: combobox IE11 focus/blur crashing
  libs/core/src/lib/combobox/combobox.component.html
  libs/core/src/lib/combobox/combobox.component.spec.ts
  libs/core/src/lib/combobox/combobox.component.ts
Labels: IE11, v.0.21.0

#2918 fix: (platform) add switch component
  apps/docs/src/app/platform/api-files.ts
  apps/docs/src/app/platform/component-docs/platform-forms/switch/platform-switch-docs.module.ts
  apps/docs/src/app/platform/component-docs/platform-forms/switch/switch-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/switch/switch-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/switch/switch-examples/disabled-switch-example/disabled-switch-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/switch/switch-examples/disabled-switch-example/disabled-switch-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/switch/switch-examples/semantic-switch-example/semantic-switch-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/switch/switch-examples/semantic-switch-example/semantic-switch-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/switch/switch-examples/switch-config-example/switch-config-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/switch/switch-examples/switch-config-example/switch-config-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/switch/switch-examples/switch-form-example/switch-forms-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/switch/switch-examples/switch-form-example/switch-forms-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/switch/switch-examples/switch-sizes-example/switch-sizes-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/switch/switch-examples/switch-sizes-example/switch-sizes-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/switch/switch-header/switch-header.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/switch/switch-header/switch-header.component.ts
  apps/docs/src/app/platform/documentation/platform-documentation.component.ts
  apps/docs/src/app/platform/platform-documentation.routes.ts
  libs/platform/src/lib/components/form/public_api.ts
  libs/platform/src/lib/components/form/switch/switch.module.ts
  libs/platform/src/lib/components/form/switch/switch/index.ts
  libs/platform/src/lib/components/form/switch/switch/switch.component.html
  libs/platform/src/lib/components/form/switch/switch/switch.component.spec.ts
  libs/platform/src/lib/components/form/switch/switch/switch.component.ts
  libs/platform/src/lib/components/form/switch/switch/switch.config.ts
  libs/platform/src/lib/platform.module.ts
  package.json
Labels: platform

#2998 chore: Remove Loading Spinner docs references
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/documentation/core-documentation.component.ts
Labels: core, documentation, v.0.21.0

#2822 fix: (platform) Updating Documentation and Example for Radio Group
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-content-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-content-examples.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-disabled-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-disabled-examples.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-list-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-list-examples.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-list-items-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-list-items-examples.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-header/platform-radio-group-header.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group.module.ts
  libs/platform/src/lib/components/form/radio-group/radio-group.component.html
  libs/platform/src/lib/components/form/radio-group/radio-group.component.spec.ts
  libs/platform/src/lib/components/form/radio-group/radio-group.component.ts
  libs/platform/src/lib/components/form/radio-group/radio/radio.component.spec.ts
  libs/platform/src/lib/platform.module.ts
Labels: platform

#2615 fix: (platform) Input Component and documentation code changes
  apps/docs/src/app/platform/api-files.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-input/platform-input-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-input/platform-input-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-input/platform-input-docs.module.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-input/platform-input-example/platform-input-auto-complete-validation-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-input/platform-input-example/platform-input-auto-complete-validation-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-forms/platform-input/platform-input-example/platform-input-auto-complete-validation-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-input/platform-input-example/platform-input-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-input/platform-input-example/platform-input-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-input/platform-input-example/platform-input-reactive-validation-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-input/platform-input-example/platform-input-reactive-validation-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-input/platform-input-header/platform-input-header.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-input/platform-input-header/platform-input-header.component.ts
  apps/docs/src/app/platform/documentation/platform-documentation.component.ts
  apps/docs/src/app/platform/platform-documentation.module.ts
  apps/docs/src/app/platform/platform-documentation.routes.ts
  libs/platform/src/lib/components/form/base.input.ts
  libs/platform/src/lib/components/form/form-control.ts
  libs/platform/src/lib/components/form/form-group/fdp-form.module.ts
  libs/platform/src/lib/components/form/form.spec.ts
  libs/platform/src/lib/components/form/input/fdp-input.module.ts
  libs/platform/src/lib/components/form/input/input.component.html
  libs/platform/src/lib/components/form/input/input.component.ts
Labels: platform

#2993 fix: remove input group number
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-form-example.component.html
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-number-example.component.html
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-number-example/input-group-number-example.component.html
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-number-example/input-group-number-example.component.scss
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-number-example/input-group-number-example.component.ts
  apps/docs/src/app/core/component-docs/input-group/input-group-docs.component.html
  apps/docs/src/app/core/component-docs/input-group/input-group-docs.component.ts
  apps/docs/src/app/core/component-docs/input-group/input-group-docs.module.ts
  libs/core/src/lib/input-group/input-group-number.component.html
  libs/core/src/lib/input-group/input-group-number.component.spec.ts
  libs/core/src/lib/input-group/input-group-number.component.ts
  libs/core/src/lib/input-group/input-group.module.ts
  libs/core/src/lib/input-group/public_api.ts
  src/stories/input-group/input-group.stories.ts
Labels: core

#2722 fix: (platform) Bug fix for multiple menu triggers with same menu
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-basic-example.component.html
  libs/platform/src/lib/components/button/button.component.scss
  libs/platform/src/lib/components/button/button.component.ts
  libs/platform/src/lib/components/menu-button/menu-button.component.spec.ts
  libs/platform/src/lib/components/menu/menu-item.component.html
  libs/platform/src/lib/components/menu/menu-item.component.scss
  libs/platform/src/lib/components/menu/menu-item.component.ts
  libs/platform/src/lib/components/menu/menu-trigger.directive.ts
  libs/platform/src/lib/components/menu/menu.spec.ts
  libs/platform/src/lib/components/search-field/search-field.component.html
  libs/platform/src/lib/components/search-field/search-field.component.spec.ts
  libs/platform/src/lib/components/split-menu-button/split-menu-button.component.spec.ts
Labels: platform

#2992 chore: fix tests
  libs/core/src/lib/radio/radio-button/radio-button-reactive-form.component.spec.ts
  libs/core/src/lib/tabs/tab-list.component.spec.ts
Labels: testing

#2925 fix: add time picker with locale example
  apps/docs/src/app/core/component-docs/time-picker/examples/time-picker-locale-example/time-picker-locale-example.component.html
  apps/docs/src/app/core/component-docs/time-picker/examples/time-picker-locale-example/time-picker-locale-example.component.scss
  apps/docs/src/app/core/component-docs/time-picker/examples/time-picker-locale-example/time-picker-locale-example.component.ts
  apps/docs/src/app/core/component-docs/time-picker/time-picker-docs.component.html
  apps/docs/src/app/core/component-docs/time-picker/time-picker-docs.component.ts
  apps/docs/src/app/core/component-docs/time-picker/time-picker-docs.module.ts
  libs/core/src/lib/time-picker/time-picker.component.ts
  libs/core/src/lib/time/time-column/time-column.component.ts
  libs/core/src/lib/time/time.component.ts
Labels: documentation

#3025 fix: remove time disabled example, fix combobox in shellbar
  apps/docs/src/app/core/component-docs/time/examples/time-form-example.component.html
  apps/docs/src/app/core/component-docs/time/examples/time-form-example.component.ts
  libs/core/src/lib/shellbar/shellbar.component.scss
Labels: v.0.21.0

#2923 fix: add locale to i18n example of datetime picker
  apps/docs/src/app/core/component-docs/date-picker/examples/date-picker-complex-i18n-example/date-picker-complex-i18n-example.component.ts
  apps/docs/src/app/core/component-docs/datetime-picker/datetime-picker-docs.module.ts
  apps/docs/src/app/core/component-docs/datetime-picker/examples/datetime-picker-complex-i18n-example/datetime-picker-complex-i18n-example.component.html
  apps/docs/src/app/core/component-docs/datetime-picker/examples/datetime-picker-complex-i18n-example/datetime-picker-complex-i18n-example.component.scss
  apps/docs/src/app/core/component-docs/datetime-picker/examples/datetime-picker-complex-i18n-example/datetime-picker-complex-i18n-example.component.ts
  libs/core/src/lib/datetime-picker/datetime-picker.component.spec.ts
  libs/core/src/lib/datetime-picker/datetime-picker.component.ts
  tsconfig.json
Labels: documentation

#2996 feat: refactor DND directive
  libs/core/src/lib/product-switch/product-switch-body/product-switch-body.component.html
  libs/core/src/lib/product-switch/product-switch-body/product-switch-body.component.scss
  libs/core/src/lib/product-switch/product-switch-body/product-switch-body.component.ts
  libs/core/src/lib/product-switch/public_api.ts
  libs/core/src/lib/utils/drag-and-drop/dnd-container/dnd-container.directive.ts
  libs/core/src/lib/utils/drag-and-drop/dnd-item/dnd-item.directive.spec.ts
  libs/core/src/lib/utils/drag-and-drop/dnd-item/dnd-item.directive.ts
  libs/core/src/lib/utils/drag-and-drop/dnd-list/dnd-list.directive.spec.ts
  libs/core/src/lib/utils/drag-and-drop/dnd-list/dnd-list.directive.ts
  libs/core/src/lib/utils/drag-and-drop/drag-and-drop.module.ts
  libs/core/src/lib/utils/public_api.ts
Labels: core, enhancement

#3026 test: table icon test
  libs/core/src/lib/table/directives/table-icon.directive.spec.ts
Labels: testing

#3016 test: fix random failing radio button test
  libs/core/src/lib/radio/radio-button/radio-button-reactive-form.component.spec.ts
Labels: testing

#2946 feat: introduce generic tile
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/schemas.ts
  apps/docs/src/app/core/component-docs/tile/examples/action-tile-example.component.html
  apps/docs/src/app/core/component-docs/tile/examples/badge-tile-example.component.html
  apps/docs/src/app/core/component-docs/tile/examples/feed-tile-example.component.html
  apps/docs/src/app/core/component-docs/tile/examples/kpi-tile-example.component.html
  apps/docs/src/app/core/component-docs/tile/examples/launch-tile-example.component.html
  apps/docs/src/app/core/component-docs/tile/examples/line-tile-example.component.html
  apps/docs/src/app/core/component-docs/tile/examples/slide-tile-example.component.html
  apps/docs/src/app/core/component-docs/tile/examples/tile-actions-example.component.html
  apps/docs/src/app/core/component-docs/tile/examples/tile-button-example.component.html
  apps/docs/src/app/core/component-docs/tile/examples/tile-columns-example.component.html
  apps/docs/src/app/core/component-docs/tile/examples/tile-disabled-example.component.html
  apps/docs/src/app/core/component-docs/tile/examples/tile-example.component.html
  apps/docs/src/app/core/component-docs/tile/examples/tile-examples.component.ts
  apps/docs/src/app/core/component-docs/tile/examples/tile-generic-example.component.html
  apps/docs/src/app/core/component-docs/tile/examples/tile-media-example.component.html
  apps/docs/src/app/core/component-docs/tile/examples/tile-product-example.component.html
  apps/docs/src/app/core/component-docs/tile/tile-docs-header/tile-docs-header.component.html
  apps/docs/src/app/core/component-docs/tile/tile-docs.component.html
  apps/docs/src/app/core/component-docs/tile/tile-docs.component.ts
  apps/docs/src/app/core/component-docs/tile/tile-docs.module.ts
  libs/core/src/index.ts
  libs/core/src/lib/badge/badge.component.scss
  libs/core/src/lib/badge/badge.component.ts
  libs/core/src/lib/badge/badge.module.ts
  libs/core/src/lib/badge/public_api.ts
  libs/core/src/lib/fundamental-ngx-core.module.ts
  libs/core/src/lib/tile/directives/numeric-content.directives.spec.ts
  libs/core/src/lib/tile/directives/numeric-content.directives.ts
  libs/core/src/lib/tile/directives/tile.directives.spec.ts
  libs/core/src/lib/tile/directives/tile.directives.ts
  libs/core/src/lib/tile/product-tile-content/product-tile-content.directive.spec.ts
  libs/core/src/lib/tile/product-tile-content/product-tile-content.directive.ts
  libs/core/src/lib/tile/product-tile-media/product-tile-media.directive.spec.ts
  libs/core/src/lib/tile/product-tile-media/product-tile-media.directive.ts
  libs/core/src/lib/tile/product-tile-text/product-tile-text.directive.spec.ts
  libs/core/src/lib/tile/product-tile-text/product-tile-text.directive.ts
  libs/core/src/lib/tile/product-tile-title/product-tile-title.directive.spec.ts
  libs/core/src/lib/tile/product-tile-title/product-tile-title.directive.ts
  libs/core/src/lib/tile/product-tile.component.html
  libs/core/src/lib/tile/product-tile.component.scss
  libs/core/src/lib/tile/product-tile.component.spec.ts
  libs/core/src/lib/tile/product-tile.component.ts
  libs/core/src/lib/tile/public_api.ts
  libs/core/src/lib/tile/tile-actions/tile-actions.directive.spec.ts
  libs/core/src/lib/tile/tile-actions/tile-actions.directive.ts
  libs/core/src/lib/tile/tile-content/tile-content.directive.spec.ts
  libs/core/src/lib/tile/tile-content/tile-content.directive.ts
  libs/core/src/lib/tile/tile-media/tile-media.directive.spec.ts
  libs/core/src/lib/tile/tile-media/tile-media.directive.ts
  libs/core/src/lib/tile/tile-text/tile-text.directive.spec.ts
  libs/core/src/lib/tile/tile-text/tile-text.directive.ts
  libs/core/src/lib/tile/tile-title/tile-title.directive.spec.ts
  libs/core/src/lib/tile/tile-title/tile-title.directive.ts
  libs/core/src/lib/tile/tile.component.html
  libs/core/src/lib/tile/tile.component.scss
  libs/core/src/lib/tile/tile.component.spec.ts
  libs/core/src/lib/tile/tile.component.ts
  libs/core/src/lib/tile/tile.module.ts
Labels: enhancement

#3005 feat: (platform) introduce step-input
  apps/docs/src/app/platform/api-files.ts
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-docs.component.scss
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-examples/platform-number-step-input-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-examples/platform-number-step-input-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-examples/platform-number-step-input-reactive-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-examples/platform-number-step-input-reactive-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-examples/platform-number-step-input-template-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-examples/platform-number-step-input-template-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-header/platform-step-input-header.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-header/platform-step-input-header.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input.module.ts
  apps/docs/src/app/platform/documentation/platform-documentation.component.ts
  apps/docs/src/app/platform/platform-documentation.routes.ts
  libs/core/src/lib/utils/functions/key-util.ts
  libs/platform/src/lib/components/form/public_api.ts
  libs/platform/src/lib/components/form/step-input/base.step-input.ts
  libs/platform/src/lib/components/form/step-input/number/number-step-input.component.html
  libs/platform/src/lib/components/form/step-input/number/number-step-input.component.scss
  libs/platform/src/lib/components/form/step-input/number/number-step-input.component.spec.ts
  libs/platform/src/lib/components/form/step-input/number/number-step-input.component.ts
  libs/platform/src/lib/components/form/step-input/public_api.ts
  libs/platform/src/lib/components/form/step-input/step-input-control.directive.ts
  libs/platform/src/lib/components/form/step-input/step-input-decrement.directive.ts
  libs/platform/src/lib/components/form/step-input/step-input-increment.directive.ts
  libs/platform/src/lib/components/form/step-input/step-input.config.ts
  libs/platform/src/lib/components/form/step-input/step-input.module.ts
  libs/platform/src/lib/components/form/step-input/step-input.scss
  libs/platform/src/lib/components/form/step-input/step-input.util.ts
Labels: platform

#3003 fix: (platform) fix for textarea styles breaking
  libs/platform/src/lib/components/form/text-area/text-area.component.html
  libs/platform/src/lib/components/form/text-area/text-area.component.scss
  libs/platform/src/lib/components/form/text-area/text-area.component.ts
  libs/platform/src/lib/components/form/text-area/text-area.config.ts
  package.json
Labels: bug, platform

#2932 fix: highlight on combobox
  libs/core/src/lib/combobox/combobox.component.html
  libs/core/src/lib/combobox/combobox.component.ts
Labels: bug

#2947 feat: introduce File Uploader component
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-compact-example/file-uploader-compact-example.component.html
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-compact-example/file-uploader-compact-example.component.scss
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-compact-example/file-uploader-compact-example.component.ts
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-drag-disabled-example/file-uploader-drag-disabled-example.component.html
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-drag-disabled-example/file-uploader-drag-disabled-example.component.scss
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-drag-disabled-example/file-uploader-drag-disabled-example.component.ts
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-example/file-uploader-example.component.html
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-example/file-uploader-example.component.scss
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-example/file-uploader-example.component.ts
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-max-example/file-uploader-max-example.component.html
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-max-example/file-uploader-max-example.component.scss
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-max-example/file-uploader-max-example.component.ts
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-min-and-max-size-example/file-uploader-min-and-max-size-example.component.html
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-min-and-max-size-example/file-uploader-min-and-max-size-example.component.scss
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-min-and-max-size-example/file-uploader-min-and-max-size-example.component.ts
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-min-example/file-uploader-min-example.component.html
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-min-example/file-uploader-min-example.component.scss
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-min-example/file-uploader-min-example.component.ts
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-truncation-example/file-uploader-truncation-example.component.html
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-truncation-example/file-uploader-truncation-example.component.scss
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-truncation-example/file-uploader-truncation-example.component.ts
  apps/docs/src/app/core/component-docs/file-uploader/file-uploader-docs.component.html
  apps/docs/src/app/core/component-docs/file-uploader/file-uploader-docs.component.scss
  apps/docs/src/app/core/component-docs/file-uploader/file-uploader-docs.component.ts
  apps/docs/src/app/core/component-docs/file-uploader/file-uploader-docs.module.ts
  apps/docs/src/app/core/component-docs/file-uploader/file-uploader-header/file-uploader-header.component.html
  apps/docs/src/app/core/component-docs/file-uploader/file-uploader-header/file-uploader-header.component.scss
  apps/docs/src/app/core/component-docs/file-uploader/file-uploader-header/file-uploader-header.component.ts
  apps/docs/src/app/core/core-documentation.routes.ts
  apps/docs/src/app/core/documentation/core-documentation.component.ts
  libs/core/src/index.ts
  libs/core/src/lib/file-uploader/directives/file-uploader-dragndrop.directive.ts
  libs/core/src/lib/file-uploader/directives/file-uploader-select.directive.ts
  libs/core/src/lib/file-uploader/file-uploader.component.html
  libs/core/src/lib/file-uploader/file-uploader.component.scss
  libs/core/src/lib/file-uploader/file-uploader.component.spec.ts
  libs/core/src/lib/file-uploader/file-uploader.component.ts
  libs/core/src/lib/file-uploader/file-uploader.module.ts
  libs/core/src/lib/file-uploader/public_api.ts
  libs/core/src/lib/form/form-input-message-group/form-input-message-group.component.scss
  libs/core/src/lib/fundamental-ngx-core.module.ts
  libs/core/src/lib/identifier/identifier.component.scss
  libs/core/src/lib/image/image.component.scss
  libs/core/src/lib/loading-spinner/loading-spinner.component.scss
  libs/platform/src/lib/components/form/input-message-group-with-template/input-message-group-with-template.component.scss
  package-lock.json
  package.json
Labels: Fiori 3 component, blocked, core

#3041 docs: (platform) encapsulation from button documentation removed
  apps/docs/src/app/platform/component-docs/platform-button/platform-button-examples/platform-button-examples.component.ts
  apps/docs/src/app/platform/component-docs/platform-button/platform-button-examples/platform-button-examples.scss
Labels: ariba, documentation, platform

#3050 fix: (core) fix class binding for input-group
  libs/core/src/lib/input-group/input-group.component.html
Labels: core

#2764 fix: Platform wrapper component for object status with document changes
  apps/docs/src/app/platform/api-files.ts
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-docs.module.ts
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-clickable-and-icon-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-generic-text-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-icon-text-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-inverted-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-inverted-generic-text-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-large-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-text-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-header/platform-object-status-header.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-header/platform-object-status-header.component.ts
  apps/docs/src/app/platform/documentation/platform-documentation.component.ts
  apps/docs/src/app/platform/platform-documentation.routes.ts
  libs/core/src/lib/object-status/object-status.component.ts
  libs/platform/src/index.ts
  libs/platform/src/lib/components/object-status/object-status.component.html
  libs/platform/src/lib/components/object-status/object-status.component.spec.ts
  libs/platform/src/lib/components/object-status/object-status.component.ts
  libs/platform/src/lib/components/object-status/object-status.module.ts
  libs/platform/src/lib/components/object-status/public_api.ts
  libs/platform/src/lib/platform.module.ts
Labels: platform

#3055 fix: export toolbar module
  libs/core/src/lib/fundamental-ngx-core.module.ts
Labels: bug

#3040 fix: (platform) add types to contentDensity to fix build error
  libs/platform/src/lib/components/form/switch/switch/switch.component.ts
  libs/platform/src/lib/components/form/text-area/text-area.component.ts
Labels: bug, platform

#3056 fix: revert including fundamental styles version 0.11
  libs/core/src/lib/file-uploader/file-uploader.component.scss
  package-lock.json
  package.json
Labels: bug

#3019 fix: (core) toolbar enhancements
  apps/docs/src/app/core/component-docs/toolbar/examples/toolbar-example.component.ts
  apps/docs/src/app/core/component-docs/toolbar/examples/toolbar-overflow-grouping-example.component.html
  apps/docs/src/app/core/component-docs/toolbar/examples/toolbar-overflow-priority-example.component.html
  apps/docs/src/app/core/component-docs/toolbar/toolbar-docs.component.html
  apps/docs/src/app/core/component-docs/toolbar/toolbar-docs.component.ts
  apps/docs/src/app/core/component-docs/toolbar/toolbar-docs.module.ts
  libs/core/src/lib/toolbar/toolbar-overflow-group.directive.ts
  libs/core/src/lib/toolbar/toolbar-overflow-priority.directive.ts
  libs/core/src/lib/toolbar/toolbar.component.html
  libs/core/src/lib/toolbar/toolbar.component.spec.ts
  libs/core/src/lib/toolbar/toolbar.component.ts
  libs/core/src/lib/toolbar/toolbar.module.ts
  libs/core/src/lib/utils/consts/index.ts
  libs/core/src/lib/utils/consts/overflow-priority-score.ts
Labels: core, enhancement

#3035 chore: update storybook version to 6.0
  .storybook/main.js
  package-lock.json
  package.json
Labels: dependencies, storybook

#3061 fix: hardcoded table styles
  libs/core/src/lib/table/table.component.scss
Labels: bug, code refactoring, core

#3076 fix: remove hardcoded segmented button styling
  libs/core/src/lib/segmented-button/segmented-button.component.scss
Labels: code refactoring

#3075 chore: remove the hardcoded file uploader styling
  libs/core/src/lib/file-uploader/file-uploader.component.scss
Labels: code refactoring

#3062 fix: add flags to combobox and multiinput to hide addon button
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-example.component.html
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-example.component.ts
  apps/docs/src/app/core/component-docs/multi-input/examples/multi-input-example/multi-input-example.component.html
  apps/docs/src/app/core/component-docs/multi-input/examples/multi-input-example/multi-input-example.component.ts
  libs/core/src/lib/combobox/combobox.component.html
  libs/core/src/lib/combobox/combobox.component.ts
  libs/core/src/lib/multi-input/multi-input.component.html
  libs/core/src/lib/multi-input/multi-input.component.ts
Labels: enhancement

#3052 fix: append datepicker and datetime picker popovers to body
  libs/core/src/lib/date-picker/date-picker.component.html
  libs/core/src/lib/date-picker/date-picker.component.ts
  libs/core/src/lib/datetime-picker/datetime-picker.component.html
  libs/core/src/lib/datetime-picker/datetime-picker.component.ts
Labels: bug, core

#3064 fix(platform): Addressing stackblitz error and Input error
  apps/docs/src/app/platform/component-docs/platform-forms/platform-input/platform-input-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-input/platform-input-example/platform-input-reactive-validation-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-panel/platform-panel-docs.component.ts
  libs/platform/src/lib/components/form/input/input.component.html
  libs/platform/src/lib/components/form/input/input.component.scss
  libs/platform/src/lib/components/form/input/input.component.ts
  libs/platform/src/lib/platform.module.ts
Labels: bug

#3083 fix: (platform) form refactoring
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-examples/platform-tristate-checkbox.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-checkbox-group/platform-checkbox-group-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/switch/switch-examples/switch-config-example/switch-config-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/switch/switch-examples/switch-config-example/switch-config-example.component.ts
  libs/platform/src/lib/components/form/base.input.ts
  libs/platform/src/lib/components/form/checkbox-group/checkbox-group.component.html
  libs/platform/src/lib/components/form/checkbox-group/checkbox-group.component.ts
  libs/platform/src/lib/components/form/checkbox/checkbox.component.ts
  libs/platform/src/lib/components/form/combo-box/combo-box.component.ts
  libs/platform/src/lib/components/form/form-control.ts
  libs/platform/src/lib/components/form/form-field.ts
  libs/platform/src/lib/components/form/form-group.ts
  libs/platform/src/lib/components/form/form-group/fdp-form.module.ts
  libs/platform/src/lib/components/form/form-group/form-field/form-field.component.html
  libs/platform/src/lib/components/form/form-group/form-field/form-field.component.ts
  libs/platform/src/lib/components/form/form-group/form-group.component.html
  libs/platform/src/lib/components/form/form-group/form-group.component.ts
  libs/platform/src/lib/components/form/form-options.ts
  libs/platform/src/lib/components/form/form.spec.ts
  libs/platform/src/lib/components/form/input/input.component.ts
  libs/platform/src/lib/components/form/public_api.ts
  libs/platform/src/lib/components/form/radio-group/radio-group.component.html
  libs/platform/src/lib/components/form/radio-group/radio-group.component.ts
  libs/platform/src/lib/components/form/radio-group/radio/radio.component.ts
  libs/platform/src/lib/components/form/step-input/base.step-input.ts
  libs/platform/src/lib/components/form/step-input/number/number-step-input.component.spec.ts
  libs/platform/src/lib/components/form/step-input/number/number-step-input.component.ts
  libs/platform/src/lib/components/form/switch/switch/switch.component.ts
  libs/platform/src/lib/components/form/text-area/text-area.component.ts
  libs/platform/src/lib/platform.module.ts
Labels: platform

#2945 feat: add keyboard support with shift and control
  libs/core/src/lib/multi-input/multi-input.component.html
  libs/core/src/lib/multi-input/multi-input.component.ts
  libs/core/src/lib/token/token.component.html
  libs/core/src/lib/token/token.component.scss
  libs/core/src/lib/token/token.component.ts
  libs/core/src/lib/token/tokenizer.component.spec.ts
  libs/core/src/lib/token/tokenizer.component.ts
Labels: core, enhancement

#3110 fix: datetime picker not rendering correctly
  libs/core/src/lib/datetime-picker/datetime-picker.component.scss
  libs/core/src/lib/datetime-picker/datetime-picker.component.ts
  libs/core/src/lib/popover/popover-body/popover-body.component.ts
Labels: bug

#3108 fix: add shellbar button user menu class
  libs/core/src/lib/shellbar/user-menu/shellbar-user-menu.component.html
Labels: bug
