Repository SAP/fundamental-ngx, pull requests merged in 2020-07, with the labels that each got.

#2751 fix: (platform) Link documentation changes and Extending from Base class.
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-docs.component.scss
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-examples/platform-link-disabled-emphasized-example.component.html
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-examples/platform-link-emphasized-example.component.html
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-examples/platform-link-standard-example.component.html
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-header/platform-link-header.component.html
  libs/platform/src/lib/components/link/link.component.html
  libs/platform/src/lib/components/link/link.component.spec.ts
  libs/platform/src/lib/components/link/link.component.ts
Labels: documentation, platform

#2778 docs: add depreciation alert for Mega Menu and Select Native
  apps/docs/src/app/core/component-docs/mega-menu/mega-menu-docs.module.ts
  apps/docs/src/app/core/component-docs/mega-menu/mega-menu-header/mega-menu-header.component.html
  apps/docs/src/app/core/component-docs/select-native/select-native-docs.module.ts
  apps/docs/src/app/core/component-docs/select-native/select-native-header/select-native-header.component.html
Labels: documentation, v.0.20.0

#2793 fix: Shellbar positioning items on Ie11
  libs/core/src/lib/shellbar/shellbar.component.html
Labels: v.0.20.0

#2792 fix: checkbox ie11 too fast click fix
  libs/core/src/lib/checkbox/checkbox/checkbox.component.ts
Labels: v.0.20.0

#2791 fix: change remove method in toolbar
  libs/core/src/lib/toolbar/toolbar.component.ts
Labels: v.0.20.0

#2784 fix: Correct ActionBar example StackBlitz configuration
  apps/docs/src/app/core/component-docs/action-bar/action-bar-docs.component.ts
Labels: Defect Hunting, core, documentation, v.0.20.0

#2785 fix: Add cross browser key support to tabs component
  libs/core/src/lib/tabs/tab-list.component.ts
  libs/core/src/lib/tabs/tabs.service.spec.ts
  libs/core/src/lib/tabs/tabs.service.ts
Labels: Defect Hunting, bug, core, v.0.20.0

#2790 fix: Breadcrumb '/' after last item
  libs/core/src/lib/breadcrumb/breadcrumb.component.html
Labels: Defect Hunting, bug, core, v.0.20.0

#2798 docs: code example button margin
  apps/docs/src/app/documentation/core-helpers/code-example/code-example.component.html
Labels: documentation

#2799 fix: Ignore failing radio-button test
  libs/core/src/lib/radio/radio-button/radio-button-reactive-form.component.spec.ts
Labels: core, testing

#2711 docs: use side navigation instead of sections toolbar #2709
  apps/docs/src/app/core/documentation/core-documentation.component.ts
  apps/docs/src/app/documentation/core-helpers/sections-toolbar/section.interface.ts
  apps/docs/src/app/documentation/core-helpers/sections-toolbar/sections-toolbar.component.html
  apps/docs/src/app/documentation/core-helpers/sections-toolbar/sections-toolbar.component.scss
  apps/docs/src/app/documentation/shared-core-modules.ts
Labels: core, documentation, v.0.20.0

#2779 fix: remove rounded corners for the first element of Select component
  libs/core/src/lib/select/select.component.scss
Labels: Defect Hunting, bug, v.0.20.0

#2752 fix: fiori 3 table sort col
  apps/docs/src/app/core/component-docs/table/examples/table-custom-columns-example/table-custom-columns-example.component.html
  apps/docs/src/app/core/component-docs/table/examples/table-custom-columns-example/table-custom-columns-example.component.ts
  apps/docs/src/app/core/component-docs/table/examples/table-custom-columns-example/table-custom-dialog.component.ts
  apps/docs/src/app/core/component-docs/table/examples/table-custom-columns-example/table-filter.pipe.ts
  apps/docs/src/app/core/component-docs/table/table-docs.component.html
  apps/docs/src/app/core/component-docs/table/table-docs.component.ts
  apps/docs/src/app/core/component-docs/table/table-docs.module.ts
  apps/docs/src/app/documentation/core-helpers/code-example/example-file.ts
  apps/docs/src/app/documentation/core-helpers/stackblitz/stackblitz.service.ts
  libs/core/src/lib/table/directives/table-cell.directive.spec.ts
  libs/core/src/lib/table/directives/table-cell.directive.ts
  libs/core/src/lib/table/directives/table-row.directive.spec.ts
  libs/core/src/lib/table/directives/table-row.directive.ts
  libs/core/src/lib/table/table.component.scss
  libs/core/src/lib/table/table.component.spec.ts
  libs/core/src/lib/table/table.component.ts
  libs/core/src/lib/table/table.module.ts
  libs/core/src/lib/table/table.service.spec.ts
  libs/core/src/lib/table/table.service.ts
Labels: core

#2800 fix: add fix for lists in popovers (IE11 related issues)
  libs/core/src/lib/list/list.component.scss
  libs/core/src/lib/select/select.component.scss
Labels: Defect Hunting, core, v.0.20.0

#2771 docs: demonstrate toolbar with table
  apps/docs/src/app/core/component-docs/table/examples/table-toolbar-example.component.html
  apps/docs/src/app/core/component-docs/table/examples/table-toolbar-example.component.ts
  apps/docs/src/app/core/component-docs/table/table-docs.component.html
  apps/docs/src/app/core/component-docs/table/table-docs.component.ts
  apps/docs/src/app/core/component-docs/table/table-docs.module.ts
  libs/core/src/lib/table/directives/table-row.directive.ts
Labels: core, documentation, table

#2789 docs: add checkbox and radio issue description
  apps/docs/src/app/core/component-docs/checkbox/checkbox-docs.module.ts
  apps/docs/src/app/core/component-docs/checkbox/checkbox-header/checkbox-header.component.html
  apps/docs/src/app/core/component-docs/radio/radio-docs.module.ts
  apps/docs/src/app/core/component-docs/radio/radio-header/radio-header.component.html
Labels: documentation, v.0.20.0

#2817 fix: add correct colour for Inverted Link, improve doc example
  apps/docs/src/app/core/component-docs/link/examples/link-example.component.html
  libs/core/src/lib/link/link.component.scss
Labels: Defect Hunting

#2820 chore: bump npm cli version
  package-lock.json
  package.json
Labels: dependencies, security

#2828 fix: pagination ... issue when there are 5 pages
  libs/core/src/lib/pagination/pagination.service.spec.ts
  libs/core/src/lib/pagination/pagination.service.ts
Labels: bug

#2787 fix: multi-input keyboard support, bug fixes, performance enhancements
  libs/core/src/lib/checkbox/checkbox/checkbox.component.ts
  libs/core/src/lib/multi-input/multi-input.component.html
  libs/core/src/lib/multi-input/multi-input.component.ts
  libs/core/src/lib/token/token.component.ts
  libs/core/src/lib/token/tokenizer.component.spec.ts
  libs/core/src/lib/token/tokenizer.component.ts
  libs/core/src/lib/utils/functions/key-util.ts
Labels: accessibility, bug, performance

#2782 fix: Create Step Input component matching Fiori3
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/step-input/examples/step-inpt-default-example/step-input-default-example.component.ts
  apps/docs/src/app/core/component-docs/step-input/examples/step-input-configuration-example/step-input-configuration-example.component.ts
  apps/docs/src/app/core/component-docs/step-input/examples/step-input-currency-example/step-input-currency-example.component.ts
  apps/docs/src/app/core/component-docs/step-input/examples/step-input-form-example/step-input-form-example.component.ts
  apps/docs/src/app/core/component-docs/step-input/examples/step-input-label-example/step-input-label-example.component.ts
  apps/docs/src/app/core/component-docs/step-input/examples/step-input-locale-example/step-input-locale-example.component.ts
  apps/docs/src/app/core/component-docs/step-input/examples/step-input-state-example/step-input-state-example.component.ts
  apps/docs/src/app/core/component-docs/step-input/step-input-docs.component.html
  apps/docs/src/app/core/component-docs/step-input/step-input-docs.component.scss
  apps/docs/src/app/core/component-docs/step-input/step-input-docs.component.ts
  apps/docs/src/app/core/component-docs/step-input/step-input-docs.module.ts
  apps/docs/src/app/core/component-docs/step-input/step-input-header/step-input-header.component.html
  apps/docs/src/app/core/component-docs/step-input/step-input-header/step-input-header.component.ts
  apps/docs/src/app/core/core-documentation.routes.ts
  apps/docs/src/app/core/documentation/core-documentation.component.ts
  libs/core/src/index.ts
  libs/core/src/lib/fundamental-ngx-core.module.ts
  libs/core/src/lib/step-input/public_api.ts
  libs/core/src/lib/step-input/step-input.component.html
  libs/core/src/lib/step-input/step-input.component.scss
  libs/core/src/lib/step-input/step-input.component.spec.ts
  libs/core/src/lib/step-input/step-input.component.ts
  libs/core/src/lib/step-input/step-input.module.ts
Labels: core, enhancement, v.0.21.0

#2720 feat:(platform) button is updated with core changes
  PLATFORM_README.md
  apps/docs/src/app/platform/api-files.ts
  apps/docs/src/app/platform/component-docs/platform-action-bar/platform-action-bar-examples/platform-action-bar-cozy-mode-example.component.html
  apps/docs/src/app/platform/component-docs/platform-action-bar/platform-action-bar-examples/platform-action-bar-positive-and-negative-action-example.component.html
  apps/docs/src/app/platform/component-docs/platform-action-bar/platform-action-bar-examples/platform-action-bar-simple-example.component.html
  apps/docs/src/app/platform/component-docs/platform-action-bar/platform-action-bar-examples/platform-action-bar-with-back-button-example.component.html
  apps/docs/src/app/platform/component-docs/platform-action-bar/platform-action-bar-examples/platform-action-bar-with-description-example.component.html
  apps/docs/src/app/platform/component-docs/platform-action-bar/platform-action-bar-examples/platform-action-bar-with-long-title-example.component.html
  apps/docs/src/app/platform/component-docs/platform-button/platform-button-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-button/platform-button-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-button/platform-button-examples/platform-button-icons-example.component.html
  apps/docs/src/app/platform/component-docs/platform-button/platform-button-examples/platform-button-sizes-example.component.html
  apps/docs/src/app/platform/component-docs/platform-button/platform-button-examples/platform-button-state-example.component.html
  apps/docs/src/app/platform/component-docs/platform-button/platform-button-examples/platform-button-types-example.component.html
  apps/docs/src/app/platform/component-docs/platform-button/platform-button-header/platform-button-header.component.html
  apps/docs/src/app/platform/component-docs/platform-button/platform-button.module.ts
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-examples/platform-checkbox-error-handling.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-basic-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-cascade-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-x-position-example.component.html
  libs/platform/src/lib/components/base.ts
  libs/platform/src/lib/components/button/button.component.html
  libs/platform/src/lib/components/button/button.component.scss
  libs/platform/src/lib/components/button/button.component.spec.ts
  libs/platform/src/lib/components/button/button.component.ts
Labels: platform

#2691 fix: (platform) Introduce textarea as a component
  apps/docs/src/app/platform/api-files.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-docs.module.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-examples/platform-textarea-autogrow-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-examples/platform-textarea-autogrow-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-examples/platform-textarea-basic-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-examples/platform-textarea-basic-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-examples/platform-textarea-basic-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-examples/platform-textarea-counter-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-examples/platform-textarea-counter-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-examples/platform-textarea-counter-template-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-examples/platform-textarea-counter-template-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-examples/platform-textarea-i18n-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-examples/platform-textarea-i18n-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-header/platform-textarea-header.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-header/platform-textarea-header.component.scss
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-header/platform-textarea-header.component.ts
  apps/docs/src/app/platform/documentation/platform-documentation.component.ts
  apps/docs/src/app/platform/platform-documentation.routes.ts
  libs/platform/src/lib/components/form/input-message-group-with-template/input-message-group-with-template.component.html
  libs/platform/src/lib/components/form/input-message-group-with-template/input-message-group-with-template.component.scss
  libs/platform/src/lib/components/form/public_api.ts
  libs/platform/src/lib/components/form/text-area/text-area.component.html
  libs/platform/src/lib/components/form/text-area/text-area.component.scss
  libs/platform/src/lib/components/form/text-area/text-area.component.spec.ts
  libs/platform/src/lib/components/form/text-area/text-area.component.ts
  libs/platform/src/lib/components/form/text-area/text-area.module.ts
  libs/platform/src/lib/platform.module.ts
Labels: platform

#2832 chore: create storybook for StepInput component
  src/stories/checkbox/fd-checkbox.stories.ts
  src/stories/fd-form-control/fd-form-control.stories.ts
  src/stories/input-group/input-group.stories.ts
  src/stories/message-strip/fd-message-strip.stories.ts
  src/stories/notification/notification.stories.ts
  src/stories/radio/fd-radio-button.stories.ts
  src/stories/sidenav/fd-side-nav.stories.ts
  src/stories/step-input/fd-step-input.stories.ts
  src/stories/textarea/fd-textarea.stories.ts
  src/utils/icons.ts
  src/utils/index.ts
  src/utils/semantic-states.ts
  src/utils/text-align.ts
Labels: core, storybook

#2829 fix: add fix for tokenizer input overlapping tokenizer border
  libs/core/src/lib/token/tokenizer.component.scss
Labels: bug, core

#2788 fix: add disabled state to tabs
  libs/core/src/lib/tabs/tab-item/tab-item.directive.ts
  libs/core/src/lib/tabs/tab-link/tab-link.directive.ts
  libs/core/src/lib/tabs/tab-list.component.html
  libs/core/src/lib/tabs/tab-list.component.scss
  libs/core/src/lib/tabs/tab-list.component.ts
  libs/core/src/lib/tabs/tab-nav/tab-nav.component.spec.ts
  libs/core/src/lib/tabs/tab-nav/tab-nav.component.ts
  libs/core/src/lib/tabs/tab/tab-panel.component.ts
Labels: core, v.0.20.0

#2823 fix: create initial focus directive
  apps/docs/src/app/core/component-docs/dialog/dialog-docs.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/component-based/dialog-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-backdrop-container/dialog-backdrop-container-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-complex/dialog-complex-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-configuration/dialog-configuration-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-mobile/dialog-mobile-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-position/dialog-position-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-state/dialog-state-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/stacked-dialogs/first-dialog-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/stacked-dialogs/second-dialog-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/template-based/template-based-dialog-example.component.html
  libs/core/src/lib/dialog/dialog.component.ts
  libs/core/src/lib/dialog/dialog.module.ts
  libs/core/src/lib/utils/directives/initial-focus/initial-focus.directive.spec.ts
  libs/core/src/lib/utils/directives/initial-focus/initial-focus.directive.ts
  libs/core/src/lib/utils/public_api.ts
  libs/core/src/lib/utils/tests/element-ref-mock.class.ts
Labels: core, enhancement

#2858 fix: add placeholder to StepInput
  libs/core/src/lib/step-input/step-input.component.html
  libs/core/src/lib/step-input/step-input.component.ts
Labels: core, enhancement

#2857 fix: Datetime Picker null detection
  libs/core/src/lib/datetime-picker/datetime-picker.component.ts
Labels: datepicker

#2855 fix: update table wrapper component to apply classes to thead/tbody/tfoot
  apps/docs/src/app/core/component-docs/table/examples/table-cdk-example.component.scss
  apps/docs/src/app/core/component-docs/table/table-docs.component.html
  libs/core/src/lib/table/table-wrapper.component.ts
Labels: enhancement, table

#2802 feat: adapt time
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/button/button-docs.module.ts
  apps/docs/src/app/core/component-docs/time-picker/examples/time-picker-12-example.component.html
  apps/docs/src/app/core/component-docs/time-picker/examples/time-picker-form-example.component.html
  apps/docs/src/app/core/component-docs/time-picker/examples/time-picker-form-example.component.ts
  apps/docs/src/app/core/component-docs/time/examples/time-12-example.component.html
  apps/docs/src/app/core/component-docs/time/examples/time-disabled-example.component.html
  apps/docs/src/app/core/component-docs/time/examples/time-disabled-example.component.ts
  apps/docs/src/app/core/component-docs/time/examples/time-example.component.ts
  apps/docs/src/app/core/component-docs/time/examples/time-i18n-example.component.ts
  apps/docs/src/app/core/component-docs/time/examples/time-no-spinners-example.component.html
  apps/docs/src/app/core/component-docs/time/examples/time-no-spinners-example/time-no-spinners-example.component.html
  apps/docs/src/app/core/component-docs/time/examples/time-no-spinners-example/time-no-spinners-example.component.ts
  apps/docs/src/app/core/component-docs/time/examples/time-programmatically-example.component.html
  apps/docs/src/app/core/component-docs/time/examples/time-programmatically-example.component.ts
  apps/docs/src/app/core/component-docs/time/examples/time-sizes-example.component.html
  apps/docs/src/app/core/component-docs/time/examples/time-sizes-example.component.ts
  apps/docs/src/app/core/component-docs/time/time-docs.component.html
  apps/docs/src/app/core/component-docs/time/time-docs.component.ts
  apps/docs/src/app/core/component-docs/time/time-docs.module.ts
  libs/core/src/lib/date-picker/date-picker.component.html
  libs/core/src/lib/date-picker/date-picker.component.ts
  libs/core/src/lib/datetime-picker/datetime-picker.component.html
  libs/core/src/lib/datetime-picker/datetime-picker.component.ts
  libs/core/src/lib/fundamental-ngx-core.module.ts
  libs/core/src/lib/time-picker/time-picker.component.html
  libs/core/src/lib/time-picker/time-picker.component.scss
  libs/core/src/lib/time-picker/time-picker.component.spec.ts
  libs/core/src/lib/time-picker/time-picker.component.ts
  libs/core/src/lib/time/i18n/time-i18n-labels.ts
  libs/core/src/lib/time/i18n/time-i18n.ts
  libs/core/src/lib/time/public_api.ts
  libs/core/src/lib/time/time-column/time-column-config.ts
  libs/core/src/lib/time/time-column/time-column.component.html
  libs/core/src/lib/time/time-column/time-column.component.scss
  libs/core/src/lib/time/time-column/time-column.component.spec.ts
  libs/core/src/lib/time/time-column/time-column.component.ts
  libs/core/src/lib/time/time.component.html
  libs/core/src/lib/time/time.component.scss
  libs/core/src/lib/time/time.component.spec.ts
  libs/core/src/lib/time/time.component.ts
  libs/core/src/lib/time/time.module.ts
  libs/core/src/lib/utils/directives/carousel/carousel-item.directive.ts
  libs/core/src/lib/utils/directives/carousel/carousel.directive.spec.ts
  libs/core/src/lib/utils/directives/carousel/carousel.directive.ts
  libs/core/src/lib/utils/directives/carousel/carousel.module.ts
  libs/core/src/lib/utils/public_api.ts
  package-lock.json
  package.json
Labels: core

#2875 fix: bug where error occasionally thrown due to missing check
  libs/core/src/lib/combobox/combobox.component.html
Labels: bug

#2870 fix: bug where initial hidden token count was wrong on cozy multi-input
  libs/core/src/lib/multi-input/multi-input.component.html
  libs/core/src/lib/multi-input/multi-input.component.spec.ts
  libs/core/src/lib/multi-input/multi-input.component.ts
  libs/core/src/lib/token/token.component.html
  libs/core/src/lib/token/token.component.ts
  libs/core/src/lib/token/tokenizer.component.html
  libs/core/src/lib/token/tokenizer.component.spec.ts
  libs/core/src/lib/token/tokenizer.component.ts
Labels: bug

#2889 docs: stop showing side bar on resize
  apps/docs/src/app/documentation/documentation-base.component.ts
Labels: bug, documentation

#2862 fix: Combobox Mobile
  apps/docs/src/app/core/component-docs/combobox/combobox-docs.component.html
  apps/docs/src/app/core/component-docs/combobox/combobox-docs.component.ts
  apps/docs/src/app/core/component-docs/combobox/combobox-docs.module.ts
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-mobile/combobox-mobile-example.component.html
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-mobile/combobox-mobile-example.component.ts
  libs/core/src/lib/combobox/combobox-mobile/combobox-mobile.component.html
  libs/core/src/lib/combobox/combobox-mobile/combobox-mobile.component.spec.ts
  libs/core/src/lib/combobox/combobox-mobile/combobox-mobile.component.ts
  libs/core/src/lib/combobox/combobox-mobile/combobox-mobile.module.ts
  libs/core/src/lib/combobox/combobox.component.html
  libs/core/src/lib/combobox/combobox.component.spec.ts
  libs/core/src/lib/combobox/combobox.component.ts
  libs/core/src/lib/combobox/combobox.interface.ts
  libs/core/src/lib/combobox/public_api.ts
  libs/core/src/lib/fundamental-ngx-core.module.ts
  libs/core/src/lib/multi-input/multi-input.component.html
Labels: v.0.21.0

#2884 chore: Migration to Angular 10
  angular.json
  apps/docs/src/app/documentation/documentation-base.component.ts
  apps/docs/src/styles.scss
  apps/docs/tsconfig.json
  libs/core/schematics/ng-add/index.ts
  libs/core/schematics/ng-add/styles.ts
  libs/core/schematics/utils/ng-module-utils.ts
  libs/core/tsconfig.schematics.json
  libs/platform/src/lib/components/base.ts
  libs/platform/src/lib/components/form/base.input.ts
  package-lock.json
  package.json
Labels: angular 10

#2886 feat: Create base interfaces and typing for control mobile mode
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/dialog/dialog-docs.component.html
  apps/docs/src/app/core/component-docs/global-config/examples/dialog-global-config-example/dialog-global-config-example.module.ts
  apps/docs/src/app/core/component-docs/global-config/examples/mobile-mode-global-config-example/mobile-mode-global-config-example.module.ts
  apps/docs/src/app/core/component-docs/global-config/global-config-docs.component.html
  apps/docs/src/app/core/component-docs/global-config/global-config-docs.component.ts
  apps/docs/src/app/core/component-docs/global-config/global-config-docs.module.ts
  apps/docs/src/app/core/component-docs/global-config/global-config-header/global-config-header.component.html
  apps/docs/src/app/core/component-docs/global-config/global-config-header/global-config-header.component.ts
  apps/docs/src/app/core/component-docs/menu/menu-docs.component.html
  apps/docs/src/app/core/component-docs/multi-input/examples/multi-input-mobile-example/multi-input-mobile-example.component.html
  apps/docs/src/app/core/component-docs/multi-input/examples/multi-input-mobile-example/multi-input-mobile-example.component.ts
  apps/docs/src/app/core/component-docs/multi-input/multi-input-docs.component.html
  apps/docs/src/app/core/component-docs/select/select-docs.component.html
  apps/docs/src/app/core/core-documentation.module.ts
  apps/docs/src/app/core/core-documentation.routes.ts
  apps/docs/src/app/core/documentation/core-documentation.component.ts
  apps/docs/src/app/documentation/core-helpers/code-example/code-example.component.html
  apps/docs/src/app/documentation/core-helpers/code-example/code-example.component.ts
  apps/docs/src/app/documentation/core-helpers/code-snippet/code-snippet.component.ts
  apps/docs/src/app/documentation/shared-documentation.module.ts
  apps/docs/src/app/documentation/utilities/consts/index.ts
  apps/docs/src/app/documentation/utilities/consts/mobile-dialog.consts.ts
  apps/docs/src/app/documentation/utilities/consts/mobile-mode-configuration-tokens.ts
  libs/core/src/lib/menu/menu-mobile/menu-mobile.component.spec.ts
  libs/core/src/lib/menu/menu-mobile/menu-mobile.component.ts
  libs/core/src/lib/menu/menu.component.ts
  libs/core/src/lib/menu/menu.interface.ts
  libs/core/src/lib/multi-input/multi-input-mobile/multi-input-mobile.component.html
  libs/core/src/lib/multi-input/multi-input-mobile/multi-input-mobile.component.spec.ts
  libs/core/src/lib/multi-input/multi-input-mobile/multi-input-mobile.component.ts
  libs/core/src/lib/multi-input/multi-input-mobile/multi-input-mobile.module.ts
  libs/core/src/lib/multi-input/multi-input.component.ts
  libs/core/src/lib/multi-input/multi-input.interface.ts
  libs/core/src/lib/select/select-mobile/select-mobile.component.html
  libs/core/src/lib/select/select-mobile/select-mobile.component.spec.ts
  libs/core/src/lib/select/select-mobile/select-mobile.component.ts
  libs/core/src/lib/select/select-mobile/select-mobile.module.ts
  libs/core/src/lib/select/select-mobile/select-mobile/select-mobile.component.ts
  libs/core/src/lib/select/select.component.ts
  libs/core/src/lib/select/select.interface.ts
  libs/core/src/lib/utils/base-class/mobile-mode.class.ts
  libs/core/src/lib/utils/consts/error-messages.ts
  libs/core/src/lib/utils/consts/index.ts
  libs/core/src/lib/utils/interfaces/mobile-control.interface.ts
  libs/core/src/lib/utils/interfaces/mobile-mode-config.ts
  libs/core/src/lib/utils/public_api.ts
  libs/core/src/lib/utils/tests/index.ts
  libs/core/src/lib/utils/tests/injection-tokens.ts
  libs/core/src/lib/utils/tests/mobile-mode-view-elements.ts
Labels: core, enhancement

#2903 fix(core) Implement MobileModeBase into mobile Combobox
  apps/docs/src/app/core/component-docs/combobox/combobox-docs.component.html
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-mobile/combobox-mobile-example.component.html
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-mobile/combobox-mobile-example.component.ts
  libs/core/src/lib/calendar/calendar-views/calendar-aggregated-year-view/calendar-aggregated-year-view.component.spec.ts
  libs/core/src/lib/combobox/combobox-mobile/combobox-mobile.component.html
  libs/core/src/lib/combobox/combobox-mobile/combobox-mobile.component.spec.ts
  libs/core/src/lib/combobox/combobox-mobile/combobox-mobile.component.ts
  libs/core/src/lib/combobox/combobox.component.ts
  libs/core/src/lib/combobox/combobox.interface.ts
  libs/core/src/lib/menu/menu-mobile/menu-mobile.component.ts
  libs/core/src/lib/multi-input/multi-input-mobile/multi-input-mobile.component.html
  libs/core/src/lib/multi-input/multi-input-mobile/multi-input-mobile.component.ts
  libs/core/src/lib/select/select-mobile/select-mobile.component.ts
  libs/core/src/lib/utils/base-class/mobile-mode.class.ts
Labels: enhancement, v.0.21.0

#2864 fix: form message group example
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/form-message/examples/form-message-example.component.html
  apps/docs/src/app/core/component-docs/form-message/examples/form-message-example.component.ts
  apps/docs/src/app/core/component-docs/form-message/form-message-docs.component.html
  apps/docs/src/app/core/component-docs/form-message/form-message-docs.component.ts
  apps/docs/src/app/core/component-docs/form-message/form-message-docs.module.ts
  apps/docs/src/app/core/component-docs/form-message/form-message-header/form-message-header.component.html
  apps/docs/src/app/core/component-docs/form-message/form-message-header/form-message-header.component.ts
  apps/docs/src/app/core/component-docs/input/examples/input-state-example.component.html
  apps/docs/src/app/core/core-documentation.routes.ts
  apps/docs/src/app/core/documentation/core-documentation.component.ts
  libs/core/src/lib/form/form-input-message-group/form-input-message-group.component.html
  libs/core/src/lib/form/form-input-message-group/form-input-message-group.component.ts
  libs/platform/src/lib/components/form/input-message-group-with-template/input-message-group-with-template.component.html
  libs/platform/src/lib/components/form/input-message-group-with-template/input-message-group-with-template.component.ts
Labels: core, platform, v.0.21.0

#2874 fix: Add null value handler for time picker, fix latest time picker bugs
  apps/docs/src/app/core/component-docs/time-picker/examples/time-picker-12-example.component.html
  apps/docs/src/app/core/component-docs/time-picker/examples/time-picker-allow-null-example.component.html
  apps/docs/src/app/core/component-docs/time-picker/examples/time-picker-allow-null-example.component.ts
  apps/docs/src/app/core/component-docs/time-picker/examples/time-picker-compact-example.component.html
  apps/docs/src/app/core/component-docs/time-picker/examples/time-picker-disabled-example.component.html
  apps/docs/src/app/core/component-docs/time-picker/examples/time-picker-example.component.html
  apps/docs/src/app/core/component-docs/time-picker/examples/time-picker-no-seconds-example.component.html
  apps/docs/src/app/core/component-docs/time-picker/examples/time-picker-only-hours-example.component.html
  apps/docs/src/app/core/component-docs/time-picker/examples/time-picker-other-delimiter-example.component.html
  apps/docs/src/app/core/component-docs/time-picker/time-picker-docs.module.ts
  libs/core/src/lib/datetime-picker/datetime-picker.component.ts
  libs/core/src/lib/time-picker/time-picker.component.html
  libs/core/src/lib/time-picker/time-picker.component.spec.ts
  libs/core/src/lib/time-picker/time-picker.component.ts
  libs/core/src/lib/time/time-column/time-column.component.html
  libs/core/src/lib/time/time-column/time-column.component.ts
  libs/core/src/lib/time/time.component.html
  libs/core/src/lib/time/time.component.ts
Labels: v.0.21.0

#2869 fix: change placeholder to input on time picker
  apps/docs/src/app/core/component-docs/datetime-picker/examples/datetime-picker-complex-i18n-example/datetime-picker-complex-i18n-example.component.html
  apps/docs/src/app/core/component-docs/datetime-picker/examples/datetime-picker-complex-i18n-example/datetime-picker-complex-i18n-example.component.ts
  libs/core/src/lib/time-picker/time-picker.component.ts
  report.20200727.103939.65846.0.001.json
Labels: bug, v.0.21.0

#2915 chore: bump library versions
  package-lock.json
  package.json
Labels: dependencies

#2919 fix: Remove circular dependency from library
  libs/core/src/lib/toolbar/toolbar.component.ts
  libs/core/src/lib/utils/directives/carousel/carousel.directive.spec.ts
  libs/core/src/lib/utils/directives/carousel/carousel.directive.ts
  libs/core/src/lib/utils/directives/carousel/carousel.module.ts
  libs/core/src/lib/utils/directives/carousel/hammer.config.ts
  libs/core/src/lib/utils/public_api.ts
Labels: v.0.21.0

#2871 fix: fixed order of component
  apps/docs/src/app/core/component-docs/toolbar/examples/toolbar-overflow-example.component.html
  apps/docs/src/app/core/component-docs/toolbar/toolbar-docs.module.ts
  libs/core/src/lib/toolbar/toolbar.component.ts
  src/stories/toolbar/fd-toolbar.stories.ts
Labels: bug, documentation, v.0.21.0

#2906 fix: Bring button styling to Panel and aria-controls attribute value
  libs/core/src/lib/panel/panel.component.html
  libs/core/src/lib/panel/panel.component.ts
  libs/core/src/lib/panel/panel.module.ts
Labels: bug, core, v.0.21.0

#2914 fix: Add difference between invalid dates
  libs/core/src/lib/calendar/calendar-views/calendar-day-view/calendar-day-view.component.ts
  libs/core/src/lib/calendar/calendar.service.ts
  libs/core/src/lib/date-picker/date-picker.component.spec.ts
  libs/core/src/lib/date-picker/date-picker.component.ts
Labels: datepicker, v.0.21.0

#2774 fix: (platform) Introduce checkbox group as component
  apps/docs/src/app/platform/api-files.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-checkbox-group/platform-checkbox-group-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-checkbox-group/platform-checkbox-group-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-checkbox-group/platform-checkbox-group-docs.module.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-checkbox-group/platform-checkbox-group-examples/platform-checkbox-group-content-checkbox.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-checkbox-group/platform-checkbox-group-examples/platform-checkbox-group-content-checkbox.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-checkbox-group/platform-checkbox-group-examples/platform-checkbox-group-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-checkbox-group/platform-checkbox-group-examples/platform-checkbox-group-examples.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-checkbox-group/platform-checkbox-group-examples/platform-checkbox-group-list-object.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-checkbox-group/platform-checkbox-group-examples/platform-checkbox-group-list-object.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-checkbox-group/platform-checkbox-group-examples/platform-checkbox-group-list.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-checkbox-group/platform-checkbox-group-examples/platform-checkbox-group-list.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-checkbox-group/platform-checkbox-group-header/platform-checkbox-group-header.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-checkbox-group/platform-checkbox-group-header/platform-checkbox-group-header.component.ts
  apps/docs/src/app/platform/documentation/platform-documentation.component.ts
  apps/docs/src/app/platform/platform-documentation.routes.ts
  libs/platform/src/lib/components/form/checkbox-group/checkbox-group.component.html
  libs/platform/src/lib/components/form/checkbox-group/checkbox-group.component.spec.ts
  libs/platform/src/lib/components/form/checkbox-group/checkbox-group.component.ts
  libs/platform/src/lib/components/form/checkbox-group/checkbox-group.module.ts
  libs/platform/src/lib/components/form/checkbox/checkbox.component.html
  libs/platform/src/lib/components/form/checkbox/checkbox.component.spec.ts
  libs/platform/src/lib/components/form/checkbox/checkbox.component.ts
  libs/platform/src/lib/components/form/form-group/form-field/form-field.component.ts
  libs/platform/src/lib/components/form/input-message-group-with-template/input-message-group-with-template.component.scss
  libs/platform/src/lib/components/form/public_api.ts
  libs/platform/src/lib/platform.module.ts
Labels: platform

#2905 fix: avatar enhancements
  apps/docs/src/app/core/component-docs/avatar/avatar-docs.component.html
  apps/docs/src/app/core/component-docs/avatar/examples/avatar-accent-colors-example.component.html
  apps/docs/src/app/core/component-docs/avatar/examples/avatar-background-image-example.component.html
  apps/docs/src/app/core/component-docs/avatar/examples/avatar-borders-example.component.html
  apps/docs/src/app/core/component-docs/avatar/examples/avatar-circle-example.component.html
  apps/docs/src/app/core/component-docs/avatar/examples/avatar-icon-example.component.html
  apps/docs/src/app/core/component-docs/avatar/examples/avatar-initials-example.component.html
  apps/docs/src/app/core/component-docs/avatar/examples/avatar-placeholder-example.component.html
  apps/docs/src/app/core/component-docs/avatar/examples/avatar-tile-example.component.html
  apps/docs/src/app/core/component-docs/avatar/examples/avatar-transparent-example.component.html
  apps/docs/src/app/core/component-docs/avatar/examples/avatar-zoom-icon-example.component.html
  libs/core/src/lib/avatar/avatar.component.html
  libs/core/src/lib/avatar/avatar.component.spec.ts
  libs/core/src/lib/avatar/avatar.component.ts
  libs/core/src/lib/utils/consts/any-language-letters.regex.ts
  libs/core/src/lib/utils/consts/index.ts
Labels: core

#2936 fix: Linter issues
  libs/core/src/lib/avatar/avatar.component.ts
  libs/platform/src/lib/components/form/checkbox-group/checkbox-group.component.ts
  libs/platform/src/lib/components/form/checkbox/checkbox.component.ts
  libs/platform/src/lib/components/form/form-group/form-field/form-field.component.ts
Labels: bug

#2943 docs: Change example of blur/focus on input state
  apps/docs/src/app/core/component-docs/input/examples/input-state-example.component.html
Labels: core, documentation, v.0.21.0

#2924 fix: multi cozy token count bug
  libs/core/src/lib/list/list.component.scss
  libs/core/src/lib/multi-input/multi-input.component.html
  libs/core/src/lib/multi-input/multi-input.component.scss
  libs/core/src/lib/multi-input/multi-input.component.ts
  libs/core/src/lib/token/tokenizer.component.html
  libs/core/src/lib/token/tokenizer.component.ts
Labels: bug
