Repository SAP/fundamental-ngx, pull requests merged in 2020-10, with the labels that each got.

#3469 docs: fix missing Floating footer from documentation
  apps/docs/src/app/core/component-docs/bar/bar-docs.component.html
Labels: 0.22.0, Defect Hunting, core

#3517 chore: update to node to current LTS - 12.18.4
  .nvmrc
  .travis.yml
  netlify.toml
Labels: tooling

#3506 fix: Firefox double triggered checkbox
  libs/core/src/lib/checkbox/checkbox/checkbox.component.html
  libs/core/src/lib/checkbox/checkbox/checkbox.component.ts
Labels: 0.22.0, Defect Hunting, core

#3505 docs: Update Table example
  apps/docs/src/app/core/component-docs/table/examples/table-custom-columns-example/table-custom-dialog.component.ts
Labels: 0.22.0, Defect Hunting, core, documentation

#3457 fix: (platform) addressed list header label issue
  apps/docs/src/app/platform/component-docs/platform-list/platform-list-examples/platform-list-with-selection-example.component.html
  apps/docs/src/app/platform/component-docs/platform-standard-list-item/platform-standard-list-item-examples/platform-standard-list-item-with-selection-example.component.html
  libs/platform/src/lib/components/list/base-list-item.ts
  libs/platform/src/lib/components/list/list.component.ts
Labels: 0.22.0, Defect Hunting, platform

#3513 fix: Shellbar Examples and Size added
  apps/docs/src/app/core/component-docs/shellbar/examples/shellbar-collapsible-example.component.html
  apps/docs/src/app/core/component-docs/shellbar/examples/shellbar-collapsible-example.component.ts
  apps/docs/src/app/core/component-docs/shellbar/examples/shellbar-side-nav/shellbar-side-nav-example.component.html
  apps/docs/src/app/core/component-docs/shellbar/examples/shellbar-side-nav/shellbar-side-nav-example.component.scss
  apps/docs/src/app/core/component-docs/shellbar/examples/shellbar-side-nav/shellbar-side-nav-example.component.ts
  apps/docs/src/app/core/component-docs/shellbar/shellbar-docs.component.html
  apps/docs/src/app/core/component-docs/shellbar/shellbar-docs.component.ts
  apps/docs/src/app/core/component-docs/shellbar/shellbar-docs.module.ts
  libs/core/src/lib/shellbar/shellbar-actions/shellbar-actions-mobile.component.html
  libs/core/src/lib/shellbar/shellbar-actions/shellbar-actions.component.html
  libs/core/src/lib/shellbar/shellbar-actions/shellbar-actions.component.spec.ts
  libs/core/src/lib/shellbar/shellbar-actions/shellbar-actions.component.ts
  libs/core/src/lib/shellbar/shellbar.component.html
  libs/core/src/lib/shellbar/shellbar.component.scss
  libs/core/src/lib/shellbar/shellbar.component.ts
Labels: 0.22.0, Defect Hunting, core

#3178 feat: (Core) component for object marker with document changes
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/object-marker/examples/object-marker-Icon-text-example.component.html
  apps/docs/src/app/core/component-docs/object-marker/examples/object-marker-clickable-example.component.html
  apps/docs/src/app/core/component-docs/object-marker/examples/object-marker-clickable-example.component.ts
  apps/docs/src/app/core/component-docs/object-marker/examples/object-marker-example.component.html
  apps/docs/src/app/core/component-docs/object-marker/examples/object-marker-example.component.ts
  apps/docs/src/app/core/component-docs/object-marker/examples/object-marker-text-example.component.html
  apps/docs/src/app/core/component-docs/object-marker/object-marker-docs.component.html
  apps/docs/src/app/core/component-docs/object-marker/object-marker-docs.component.ts
  apps/docs/src/app/core/component-docs/object-marker/object-marker-docs.module.ts
  apps/docs/src/app/core/component-docs/object-marker/object-marker-header/object-marker-header.component.html
  apps/docs/src/app/core/component-docs/object-marker/object-marker-header/object-marker-header.component.ts
  apps/docs/src/app/core/core-documentation.routes.ts
  apps/docs/src/app/core/documentation/core-documentation.component.ts
  libs/core/src/index.ts
  libs/core/src/lib/fundamental-ngx-core.module.ts
  libs/core/src/lib/object-marker/object-marker.component.scss
  libs/core/src/lib/object-marker/object-marker.component.spec.ts
  libs/core/src/lib/object-marker/object-marker.component.ts
  libs/core/src/lib/object-marker/object-marker.module.ts
  libs/core/src/lib/object-marker/public_api.ts
Labels: Fiori 3 component, core

#3362 fix: (platform) set max width to split menu button
  apps/docs/src/app/platform/component-docs/platform-split-menu-button/platform-split-menu-button-examples/platform-split-button-behaviors-example.component.html
  apps/docs/src/app/platform/component-docs/platform-split-menu-button/platform-split-menu-button-examples/platform-split-button-icons-example.component.html
  apps/docs/src/app/platform/component-docs/platform-split-menu-button/platform-split-menu-button-examples/platform-split-button-icons-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-split-menu-button/platform-split-menu-button-examples/platform-split-button-types-example.component.html
  libs/platform/src/lib/components/split-menu-button/split-menu-button.component.html
  libs/platform/src/lib/components/split-menu-button/split-menu-button.component.ts
Labels: Defect Hunting, platform

#3363 fix: (platform) Removed Invalid examples and compact menu button fix
  apps/docs/src/app/platform/component-docs/platform-menu-button/platform-menu-button-examples/platform-menu-button-compact-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu-button/platform-menu-button-examples/platform-menu-button-cozy-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu-button/platform-menu-button-examples/platform-menu-button-example.component.html
  libs/platform/src/lib/components/menu-button/menu-button.component.html
  libs/platform/src/lib/components/menu-button/menu-button.component.ts
  libs/platform/src/lib/components/menu/menu.component.html
  libs/platform/src/lib/components/menu/menu.component.ts
Labels: Defect Hunting, platform

#3468 fix: add fix for ShellBar user menu button using Avatar
  libs/core/src/lib/avatar/avatar.component.html
  libs/core/src/lib/avatar/avatar.component.ts
  libs/core/src/lib/shellbar/user-menu/shellbar-user-menu.component.html
Labels: 0.22.0, Defect Hunting, core

#3521 fix: Bring Layout Grid 0.11.0 styles
  libs/core/src/lib/layout-grid/layout-grid.component.scss
Labels: 0.22.0, Defect Hunting, core

#3519 fix: Remove circular dep between checkbox and list component
  libs/core/src/lib/checkbox/checkbox/checkbox.component.ts
  libs/core/src/lib/list/list-item/list-item-utils.ts
  libs/core/src/lib/list/list-item/list-item.component.ts
  libs/core/src/lib/list/public_api.ts
Labels: 0.22.0, core

#3556 fix: (Platform) add highlight.pipe and auto-complete.directive to exports
  libs/platform/src/lib/components/form/combobox/index.ts
Labels: bug, platform

#3526 feat: (Core) introduce new Object Identifier
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/object-identifier/examples/object-identifier-bold-example.component.html
  apps/docs/src/app/core/component-docs/object-identifier/examples/object-identifier-components.ts
  apps/docs/src/app/core/component-docs/object-identifier/examples/object-identifier-default-example.component.html
  apps/docs/src/app/core/component-docs/object-identifier/examples/object-identifier-descriptive-example.component.html
  apps/docs/src/app/core/component-docs/object-identifier/examples/object-identifier-link-example.component.html
  apps/docs/src/app/core/component-docs/object-identifier/examples/object-identifier-table-example.component.html
  apps/docs/src/app/core/component-docs/object-identifier/examples/object-identifier-table-example.component.ts
  apps/docs/src/app/core/component-docs/object-identifier/object-identifier-docs.component.html
  apps/docs/src/app/core/component-docs/object-identifier/object-identifier-docs.component.ts
  apps/docs/src/app/core/component-docs/object-identifier/object-identifier-docs.module.ts
  apps/docs/src/app/core/component-docs/object-identifier/object-identifier-header/object-identifier-header.component.html
  apps/docs/src/app/core/component-docs/object-identifier/object-identifier-header/object-identifier-header.component.scss
  apps/docs/src/app/core/component-docs/object-identifier/object-identifier-header/object-identifier-header.component.ts
  apps/docs/src/app/core/core-documentation.routes.ts
  apps/docs/src/app/core/documentation/core-documentation.component.ts
  libs/core/src/index.ts
  libs/core/src/lib/fundamental-ngx-core.module.ts
  libs/core/src/lib/object-identifier/object-identifier.component.scss
  libs/core/src/lib/object-identifier/object-identifier.component.spec.ts
  libs/core/src/lib/object-identifier/object-identifier.component.ts
  libs/core/src/lib/object-identifier/object-identifier.module.ts
  libs/core/src/lib/object-identifier/public_api.ts
Labels: core

#3561 fix: Performance on time and datetime pickers
  libs/core/src/lib/datetime-picker/datetime-picker.component.html
  libs/core/src/lib/datetime-picker/datetime-picker.component.ts
  libs/core/src/lib/time-picker/time-picker.component.html
  libs/core/src/lib/time-picker/time-picker.component.ts
  libs/core/src/lib/time/time-column/time-column.component.ts
  libs/core/src/lib/time/time.component.ts
Labels: core, timepicker

#3570 fix: remove deprecated input isDropdown from popover
  libs/core/src/lib/popover/popover.component.ts
Labels: 0.23.0, code refactoring

#3573 fix: remove deprecated input from input group - buttonType
  libs/core/src/lib/input-group/input-group.component.ts
Labels: 0.23.0

#3523 docs: (Core) add dropdown for switching to old docs versions
  apps/docs/src/app/documentation/core-helpers/toolbar/toolbar.component.html
  apps/docs/src/app/documentation/core-helpers/toolbar/toolbar.component.ts
Labels: documentation

#3516 feat: (Core) introduce new Wizard component
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-customizable-example.component.html
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-customizable-example.component.ts
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-example.component.html
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-example.component.ts
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-mobile-example.component.html
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-mobile-example.component.ts
  apps/docs/src/app/core/component-docs/wizard/wizard-docs.component.html
  apps/docs/src/app/core/component-docs/wizard/wizard-docs.component.ts
  apps/docs/src/app/core/component-docs/wizard/wizard-docs.module.ts
  apps/docs/src/app/core/component-docs/wizard/wizard-header/wizard-header.component.html
  apps/docs/src/app/core/component-docs/wizard/wizard-header/wizard-header.component.ts
  apps/docs/src/app/core/core-documentation.routes.ts
  apps/docs/src/app/core/documentation/core-documentation.component.ts
  apps/docs/src/assets/README.md
  libs/core/src/index.ts
  libs/core/src/lib/wizard/public_api.ts
  libs/core/src/lib/wizard/wizard-content/wizard-content.component.html
  libs/core/src/lib/wizard/wizard-content/wizard-content.component.spec.ts
  libs/core/src/lib/wizard/wizard-content/wizard-content.component.ts
  libs/core/src/lib/wizard/wizard-navigation/wizard-navigation.component.html
  libs/core/src/lib/wizard/wizard-navigation/wizard-navigation.component.spec.ts
  libs/core/src/lib/wizard/wizard-navigation/wizard-navigation.component.ts
  libs/core/src/lib/wizard/wizard-next-step/wizard-next-step.component.html
  libs/core/src/lib/wizard/wizard-next-step/wizard-next-step.component.spec.ts
  libs/core/src/lib/wizard/wizard-next-step/wizard-next-step.component.ts
  libs/core/src/lib/wizard/wizard-progress-bar/wizard-progress-bar.directive.ts
  libs/core/src/lib/wizard/wizard-step-indicator/wizard-step-indicator.component.html
  libs/core/src/lib/wizard/wizard-step-indicator/wizard-step-indicator.component.spec.ts
  libs/core/src/lib/wizard/wizard-step-indicator/wizard-step-indicator.component.ts
  libs/core/src/lib/wizard/wizard-step/wizard-step.component.html
  libs/core/src/lib/wizard/wizard-step/wizard-step.component.spec.ts
  libs/core/src/lib/wizard/wizard-step/wizard-step.component.ts
  libs/core/src/lib/wizard/wizard.component.html
  libs/core/src/lib/wizard/wizard.component.scss
  libs/core/src/lib/wizard/wizard.component.spec.ts
  libs/core/src/lib/wizard/wizard.component.ts
  libs/core/src/lib/wizard/wizard.module.ts
Labels: enhancement

#3579 fix: (Platform) add missing type definitions for ContentDensity
  libs/platform/src/lib/components/list/base-list-item.ts
  libs/platform/src/lib/components/list/list.component.ts
  libs/platform/src/lib/components/list/standard-list-item/standard-list-item.component.ts
Labels: bug, platform

#3572 feat: (Core) introduce new Message Toast component
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/message-toast/examples/message-toast-content-example.component.ts
  apps/docs/src/app/core/component-docs/message-toast/examples/message-toast-example.component.html
  apps/docs/src/app/core/component-docs/message-toast/examples/message-toast-example.component.scss
  apps/docs/src/app/core/component-docs/message-toast/examples/message-toast-example.component.ts
  apps/docs/src/app/core/component-docs/message-toast/message-toast-docs.component.html
  apps/docs/src/app/core/component-docs/message-toast/message-toast-docs.component.ts
  apps/docs/src/app/core/component-docs/message-toast/message-toast-docs.module.ts
  apps/docs/src/app/core/component-docs/message-toast/message-toast-header/message-toast-header.component.html
  apps/docs/src/app/core/component-docs/message-toast/message-toast-header/message-toast-header.component.ts
  apps/docs/src/app/core/core-documentation.routes.ts
  apps/docs/src/app/core/documentation/core-documentation.component.ts
  libs/core/src/index.ts
  libs/core/src/lib/fundamental-ngx-core.module.ts
  libs/core/src/lib/message-toast/message-toast-service/message-toast.service.spec.ts
  libs/core/src/lib/message-toast/message-toast-service/message-toast.service.ts
  libs/core/src/lib/message-toast/message-toast-utils/message-toast-config.ts
  libs/core/src/lib/message-toast/message-toast-utils/message-toast-container.component.ts
  libs/core/src/lib/message-toast/message-toast-utils/message-toast-ref.ts
  libs/core/src/lib/message-toast/message-toast.component.scss
  libs/core/src/lib/message-toast/message-toast.component.spec.ts
  libs/core/src/lib/message-toast/message-toast.component.ts
  libs/core/src/lib/message-toast/message-toast.module.ts
  libs/core/src/lib/message-toast/public_api.ts
Labels: core, denoland

#3587 docs: wizard branching docs
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-branching-example.component.html
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-branching-example.component.ts
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-customizable-example.component.html
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-summary-example.component.html
  apps/docs/src/app/core/component-docs/wizard/wizard-docs.component.html
  apps/docs/src/app/core/component-docs/wizard/wizard-docs.component.ts
  apps/docs/src/app/core/component-docs/wizard/wizard-docs.module.ts
Labels: documentation

#3567 feat: (Core) introduce Object number component
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/object-number/examples/object-number-basic-example.component.html
  apps/docs/src/app/core/component-docs/object-number/examples/object-number-bold-example.component.html
  apps/docs/src/app/core/component-docs/object-number/examples/object-number-decimal-example.component.html
  apps/docs/src/app/core/component-docs/object-number/examples/object-number-examples.component.scss
  apps/docs/src/app/core/component-docs/object-number/examples/object-number-examples.component.ts
  apps/docs/src/app/core/component-docs/object-number/examples/object-number-large-example.component.html
  apps/docs/src/app/core/component-docs/object-number/examples/object-number-status-example.component.html
  apps/docs/src/app/core/component-docs/object-number/examples/object-number-units-example.component.html
  apps/docs/src/app/core/component-docs/object-number/object-number-docs.component.html
  apps/docs/src/app/core/component-docs/object-number/object-number-docs.component.ts
  apps/docs/src/app/core/component-docs/object-number/object-number-docs.module.ts
  apps/docs/src/app/core/component-docs/object-number/object-number-header/object-number-header.component.html
  apps/docs/src/app/core/component-docs/object-number/object-number-header/object-number-header.component.ts
  apps/docs/src/app/core/core-documentation.routes.ts
  apps/docs/src/app/core/documentation/core-documentation.component.ts
  libs/core/src/index.ts
  libs/core/src/lib/object-number/object-number.component.html
  libs/core/src/lib/object-number/object-number.component.scss
  libs/core/src/lib/object-number/object-number.component.spec.ts
  libs/core/src/lib/object-number/object-number.component.ts
  libs/core/src/lib/object-number/object-number.module.ts
  libs/core/src/lib/object-number/public_api.ts
Labels: Fiori 3 component

#3598 chore: Limit travis only to build PRs
  .travis.yml
Labels: enhancement, performance

#3580 chore: bump package.json lib version
  package-lock.json
  package.json
Labels: dependencies

#3604 chore: Separate tests and lint on travis
  .travis.yml
  ci-scripts/test-lint.sh
  package.json
Labels: enhancement, performance

#3630 chore: Remove redundant build command from netlify
  package.json
Labels: performance

#3636 fix: (Core) Card - hide empty subtitle
  libs/core/src/lib/card/card-header.component.html
  libs/core/src/lib/card/card-header.component.ts
  libs/core/src/lib/card/public_api.ts
Labels: bug, core

#3639 fix: (platform) Input group - fix button usage
  apps/docs/src/app/platform/component-docs/platform-forms/input-group/platform-input-group-docs.module.ts
  apps/docs/src/app/platform/component-docs/platform-forms/input-group/platform-input-group-examples/platform-input-group-compact-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/input-group/platform-input-group-examples/platform-input-group-disabled-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/input-group/platform-input-group-examples/platform-input-group-form-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/input-group/platform-input-group-examples/platform-input-group-standard-example.component.html
  libs/platform/src/lib/components/form/input-group/input-group.component.spec.ts
  libs/platform/src/lib/components/form/input-group/input-group.module.ts
Labels: bug, platform

#3597 feat: (Platform) introduce new Table component
  apps/docs/src/app/platform/api-files.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-custom-column-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-custom-column-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-default-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-default-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-multiple-row-selection-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-multiple-row-selection-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-single-row-selection-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-single-row-selection-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-header/platform-table-header.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-header/platform-table-header.component.scss
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-header/platform-table-header.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table.module.ts
  apps/docs/src/app/platform/component-docs/schemas.ts
  apps/docs/src/app/platform/documentation/platform-documentation.component.ts
  apps/docs/src/app/platform/platform-documentation.routes.ts
  libs/platform/src/index.ts
  libs/platform/src/lib/components/table/directives/table-cell.directive.ts
  libs/platform/src/lib/components/table/directives/table-header.directive.ts
  libs/platform/src/lib/components/table/enums/column-align.type.ts
  libs/platform/src/lib/components/table/enums/content-density.type.ts
  libs/platform/src/lib/components/table/enums/index.ts
  libs/platform/src/lib/components/table/enums/selection-mode.type.ts
  libs/platform/src/lib/components/table/public_api.ts
  libs/platform/src/lib/components/table/table-column/table-column.component.spec.ts
  libs/platform/src/lib/components/table/table-column/table-column.component.ts
  libs/platform/src/lib/components/table/table-toolbar-actions/table-toolbar-actions.component.spec.ts
  libs/platform/src/lib/components/table/table-toolbar-actions/table-toolbar-actions.component.ts
  libs/platform/src/lib/components/table/table-toolbar/table-toolbar.component.html
  libs/platform/src/lib/components/table/table-toolbar/table-toolbar.component.spec.ts
  libs/platform/src/lib/components/table/table-toolbar/table-toolbar.component.ts
  libs/platform/src/lib/components/table/table.component.html
  libs/platform/src/lib/components/table/table.component.spec.ts
  libs/platform/src/lib/components/table/table.component.ts
  libs/platform/src/lib/components/table/table.module.ts
  libs/platform/src/lib/domain/array-data-source.ts
  libs/platform/src/lib/domain/data-source.ts
  libs/platform/src/lib/domain/observable-data-source.ts
  libs/platform/src/lib/platform.module.ts
Labels: enhancement, platform

#3515 feat: (Platform) introduce Dynamic Page Layout component
  apps/docs/src/app/platform/api-files.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-example.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-responsive-padding-example.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-responsive-padding-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-responsive-padding-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-snap-scroll-example.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-snap-scroll-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-snap-scroll-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-tabbed-example.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-tabbed-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-tabbed-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-header/platform-dynamic-page-header.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-header/platform-dynamic-page-header.component.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page.module.ts
  apps/docs/src/app/platform/documentation/platform-documentation.component.ts
  apps/docs/src/app/platform/platform-documentation.routes.ts
  libs/platform/src/index.ts
  libs/platform/src/lib/components/dynamic-page/constants.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page-content/dynamic-page-content.component.html
  libs/platform/src/lib/components/dynamic-page/dynamic-page-content/dynamic-page-content.component.scss
  libs/platform/src/lib/components/dynamic-page/dynamic-page-content/dynamic-page-content.component.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page-content/dynamic-page-tabbed-content.component.spec.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page-content/dynamic-page-tabbed-content.component.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page-footer/dynamic-page-footer.component.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page-header/actions/global-actions/dynamic-page-global-actions.component.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page-header/actions/layout-actions/dynamic-page-layout-actions.component.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page-header/header/dynamic-page-header.component.html
  libs/platform/src/lib/components/dynamic-page/dynamic-page-header/header/dynamic-page-header.component.spec.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page-header/header/dynamic-page-header.component.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page-header/key-info/dynamic-page-key-info.component.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page-header/title/dynamic-page-title.component.html
  libs/platform/src/lib/components/dynamic-page/dynamic-page-header/title/dynamic-page-title.component.spec.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page-header/title/dynamic-page-title.component.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page.component.html
  libs/platform/src/lib/components/dynamic-page/dynamic-page.component.scss
  libs/platform/src/lib/components/dynamic-page/dynamic-page.component.spec.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page.component.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page.config.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page.module.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page.service.ts
  libs/platform/src/lib/components/dynamic-page/public_api.ts
  libs/platform/src/lib/components/dynamic-page/utils.ts
Labels: ariba, platform

#3648 fix: (Core) Unify KeyUtil usages
  libs/core/src/lib/breadcrumb/breadcrumb.component.ts
  libs/core/src/lib/busy-indicator/busy-indicator.component.ts
  libs/core/src/lib/checkbox/checkbox/checkbox.component.ts
  libs/core/src/lib/combobox/auto-complete.directive.ts
  libs/core/src/lib/combobox/combobox.component.ts
  libs/core/src/lib/list/list-item/list-item.component.ts
  libs/core/src/lib/mega-menu/mega-menu-item/mega-menu-item.component.ts
  libs/core/src/lib/menu/menu-keyboard.service.ts
  libs/core/src/lib/menu/services/menu.service.ts
  libs/core/src/lib/multi-input/multi-input.component.ts
  libs/core/src/lib/nested-list/nested-list-keyboard.service.ts
  libs/core/src/lib/product-switch/product-switch-body/product-switch-body.component.ts
  libs/core/src/lib/select/option/option.component.ts
  libs/core/src/lib/select/select.component.ts
  libs/core/src/lib/step-input/step-input.component.ts
  libs/core/src/lib/tabs/tabs.service.ts
  libs/core/src/lib/time/time-column/time-column.component.ts
  libs/core/src/lib/time/time.component.ts
  libs/core/src/lib/token/tokenizer.component.ts
  libs/core/src/lib/utils/functions/index.ts
  libs/core/src/lib/utils/functions/key-util.spec.ts
  libs/core/src/lib/utils/functions/key-util.ts
  libs/core/src/lib/utils/functions/keyboard-unification.ts
  libs/core/src/lib/utils/public_api.ts
  libs/core/src/lib/utils/services/keyboard-support/keyboard-support.service.ts
  libs/core/src/lib/wizard/wizard-step/wizard-step.component.ts
  libs/platform/src/lib/components/form/step-input/step-input-control.directive.ts
Labels: code refactoring, core, platform

#3656 fix: (Platform) keyboard handling in table
  libs/platform/src/lib/components/table/table.component.ts
  libs/platform/src/lib/domain/data-source.ts
Labels: bug, platform

#3659 docs: (Core) remove console error on multi input custom filter
  apps/docs/src/app/core/component-docs/multi-input/examples/multi-input-filter-example/multi-input-filter-example.component.ts
Labels: 0.23.0, core

#3657 docs: (Core) improve file uploader docs
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-compact-example/file-uploader-compact-example.component.html
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-compact-example/file-uploader-compact-example.component.ts
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-drag-disabled-example/file-uploader-drag-disabled-example.component.html
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-drag-disabled-example/file-uploader-drag-disabled-example.component.ts
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-example/file-uploader-example.component.html
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-example/file-uploader-example.component.ts
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-max-example/file-uploader-max-example.component.html
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-max-example/file-uploader-max-example.component.ts
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-min-example/file-uploader-min-example.component.html
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-min-example/file-uploader-min-example.component.ts
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-truncation-example/file-uploader-truncation-example.component.html
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-truncation-example/file-uploader-truncation-example.component.ts
  apps/docs/src/app/core/component-docs/file-uploader/file-uploader-docs.component.html
Labels: 0.23.0

#3658 fix: (Core) add optional typing for class properties
  apps/docs/src/app/core/component-docs/message-toast/examples/message-toast-example.component.ts
  libs/core/src/lib/message-toast/message-toast-utils/message-toast-config.ts
Labels: 0.23.0

#3661 docs: (Core) add Table documentation improvements
  apps/docs/src/app/core/component-docs/table/examples/table-column-sorting-example.component.html
  apps/docs/src/app/core/component-docs/table/examples/table-toolbar-example.component.ts
Labels: 0.23.0, core

#3666 docs: (core|platform) replace lorem pixel images
  apps/docs/src/app/core/component-docs/avatar/examples/avatar-background-image-example.component.html
  apps/docs/src/app/core/component-docs/bar/examples/bar-default-example.component.html
  apps/docs/src/app/core/component-docs/bar/examples/bar-header-example.component.html
  apps/docs/src/app/core/component-docs/bar/examples/bar-page-example.component.html
  apps/docs/src/app/core/component-docs/bar/examples/bar-page-responsive-example.component.html
  apps/docs/src/app/core/component-docs/card/examples/card-example.component.html
  apps/docs/src/app/core/component-docs/fixed-card-layout/examples/default/fixed-card-layout-examples.component.html
  apps/docs/src/app/core/component-docs/fixed-card-layout/examples/disabled-drag-drop/fixed-card-layout-disabled-drag.component.html
  apps/docs/src/app/core/component-docs/fixed-card-layout/examples/mobile/fixed-card-layout-mobile-examples.component.html
  apps/docs/src/app/core/component-docs/popover/examples/popover-programmatic/popover-programmatic-open-example.component.html
  apps/docs/src/app/core/component-docs/popover/examples/popover-simple/popover-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-basic-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-x-position-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-list-item/platform-object-list-item-examples/platform-object-list-item-border-less-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-object-list-item/platform-object-list-item-examples/platform-object-list-item-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-list-item/platform-object-list-item-examples/platform-object-list-item-with-row-navigation-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-object-list-item/platform-object-list-item-examples/platform-object-list-item-with-row-selection-and-navigation-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-object-list-item/platform-object-list-item-examples/platform-object-list-item-with-row-selection-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-thumbnail/platform-thumbnail-examples/platform-thumbnail-basic-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-thumbnail/platform-thumbnail-examples/platform-thumbnail-horizontal-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-thumbnail/platform-thumbnail-examples/platform-thumbnail-video-media-example.component.ts
Labels: 0.23.0, Defect Hunting, core, documentation, platform

#3662 fix: (Core) unify the naming of the cozy property
  apps/docs/src/app/core/component-docs/bar/bar-docs.component.html
  apps/docs/src/app/core/component-docs/bar/bar-header/bar-header.component.html
  apps/docs/src/app/core/component-docs/popover/examples/popover-complex-example/popover-complex-example.component.html
  apps/docs/src/app/core/component-docs/popover/examples/popover-simple/popover-example.component.html
  libs/core/src/lib/bar/bar.component.ts
  libs/core/src/lib/datetime-picker/datetime-picker.component.html
  libs/core/src/lib/dialog/dialog-footer/dialog-footer.component.html
  libs/core/src/lib/dialog/dialog-header/dialog-header.component.html
  src/stories/bar/fd-bar.stories.ts
Labels: denoland

#3651 fix: (Core) bug fixes for fixed card layout
  apps/docs/src/app/core/component-docs/fixed-card-layout/examples/default/fixed-card-layout-examples.component.html
  apps/docs/src/app/core/component-docs/fixed-card-layout/examples/default/fixed-card-layout-examples.component.ts
  apps/docs/src/app/core/component-docs/fixed-card-layout/examples/disabled-drag-drop/fixed-card-layout-disabled-drag.component.html
  apps/docs/src/app/core/component-docs/fixed-card-layout/examples/disabled-drag-drop/fixed-card-layout-disabled-drag.component.ts
  apps/docs/src/app/core/component-docs/fixed-card-layout/examples/mobile/fixed-card-layout-mobile-examples.component.html
  apps/docs/src/app/core/component-docs/fixed-card-layout/examples/mobile/fixed-card-layout-mobile-examples.component.ts
  apps/docs/src/app/core/component-docs/fixed-card-layout/fixed-card-layout-docs-header/fixed-card-layout-docs-header.component.html
  apps/docs/src/app/core/component-docs/fixed-card-layout/fixed-card-layout-docs.module.ts
  libs/core/src/lib/fixed-card-layout/fixed-card-layout.component.html
  libs/core/src/lib/fixed-card-layout/fixed-card-layout.component.scss
  libs/core/src/lib/fixed-card-layout/fixed-card-layout.component.ts
  package-lock.json
  package.json
Labels: Defect Hunting, core

#3660 docs: (Core) add Documentation improvements
  apps/docs/src/app/core/component-docs/calendar/examples/calendar-mobile-example/calendar-mobile-example.component.html
  apps/docs/src/app/core/component-docs/datetime-picker/examples/datetime-allow-null-example/datetime-allow-null-example.component.ts
  apps/docs/src/app/core/component-docs/datetime-picker/examples/datetime-example/datetime-example.component.html
  apps/docs/src/app/core/component-docs/datetime-picker/examples/datetime-format-example/datetime-format-example.component.html
  apps/docs/src/app/core/component-docs/datetime-picker/examples/datetime-non-meridian-example/datetime-non-meridian-example.component.html
  apps/docs/src/app/core/component-docs/datetime-picker/examples/datetime-program-example/datetime-program-example.component.html
  apps/docs/src/app/core/component-docs/popover/examples/popover-dialog/popover-dialog-example.component.html
  apps/docs/src/app/core/component-docs/side-navigation/examples/side-navigation-programmatically-example/side-navigation-programmatically-example.component.html
  apps/docs/src/app/core/component-docs/split-button/examples/split-button-behaviors-example.component.html
  apps/docs/src/app/core/component-docs/split-button/examples/split-button-template-example.component.html
Labels: 0.23.0, core, documentation

#3677 fix: (platform) Fixing Table component compile errors
  libs/platform/src/lib/components/table/table-column/table-column.component.ts
Labels: bug, platform

#3667 fix: Remove console error on shellbar's input group
  libs/core/src/lib/input-group/input-group.component.ts
Labels: 0.23.0, Defect Hunting, core

#3670 docs: (core) update split button in toolbar example
  apps/docs/src/app/core/component-docs/toolbar/examples/toolbar-overflow-example.component.html
Labels: 0.23.0, Defect Hunting, core

#3663 fix: (Core) add Combobox improvements
  libs/core/src/lib/combobox/auto-complete.directive.spec.ts
  libs/core/src/lib/combobox/auto-complete.directive.ts
  libs/core/src/lib/combobox/combobox.component.html
  libs/core/src/lib/combobox/combobox.component.ts
  libs/core/src/lib/input-group/input-group.component.html
  libs/core/src/lib/input-group/input-group.component.ts
Labels: 0.23.0, Defect Hunting, core

#3675 docs: (core) Change formatted text example
  apps/docs/src/app/core/component-docs/formatted-text/examples/base/formatted-text-example.component.html
  apps/docs/src/app/core/component-docs/formatted-text/examples/base/formatted-text-example.component.ts
  apps/docs/src/app/core/component-docs/formatted-text/formatted-text-docs.component.html
  apps/docs/src/app/core/component-docs/formatted-text/formatted-text-header/formatted-text-header.component.html
Labels: 0.23.0, Defect Hunting, core, documentation

#3682 fix: (core) Apply changes to wizard styling for IE11
  libs/core/src/lib/wizard/wizard.component.scss
Labels: 0.23.0, Defect Hunting, core

#3680 fix: (Platform) resolve breaking button changes for all platform components
  PLATFORM_README.md
  apps/docs/src/app/platform/component-docs/platform-action-bar/platform-action-bar-examples/platform-action-bar-cozy-mode-example.component.html
  apps/docs/src/app/platform/component-docs/platform-action-bar/platform-action-bar-examples/platform-action-bar-positive-and-negative-action-example.component.html
  apps/docs/src/app/platform/component-docs/platform-action-bar/platform-action-bar-examples/platform-action-bar-simple-example.component.html
  apps/docs/src/app/platform/component-docs/platform-action-bar/platform-action-bar-examples/platform-action-bar-with-back-button-example.component.html
  apps/docs/src/app/platform/component-docs/platform-action-bar/platform-action-bar-examples/platform-action-bar-with-description-example.component.html
  apps/docs/src/app/platform/component-docs/platform-action-bar/platform-action-bar-examples/platform-action-bar-with-long-title-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-examples/platform-checkbox-error-handling.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-input/platform-input-example/platform-input-reactive-validation-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-examples/platform-textarea-counter-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-examples/platform-textarea-counter-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-examples/platform-textarea-i18n-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-content-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-list-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-list-items-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-basic-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-cascade-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-scrolling-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-x-position-example.component.html
  apps/docs/src/app/platform/component-docs/platform-panel/platform-panel-examples/platform-panel-actions-example.component.html
  apps/docs/src/app/platform/component-docs/platform-panel/platform-panel-examples/platform-panel-expandable-example.component.html
  libs/platform/src/lib/components/form/input-group/addon.component.ts
  libs/platform/src/lib/components/form/public_api.ts
  libs/platform/src/lib/components/form/text-area/text-area.component.spec.ts
  libs/platform/src/lib/components/panel/panel.component.spec.ts
Labels: bug, platform

#3625 feat: (Core) introduce dynamic side content
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/dynamic-side-content/dynamic-side-content-docs.component.html
  apps/docs/src/app/core/component-docs/dynamic-side-content/dynamic-side-content-docs.component.ts
  apps/docs/src/app/core/component-docs/dynamic-side-content/dynamic-side-content-docs.module.ts
  apps/docs/src/app/core/component-docs/dynamic-side-content/dynamic-side-content-header/dynamic-side-content-header.component.html
  apps/docs/src/app/core/component-docs/dynamic-side-content/dynamic-side-content-header/dynamic-side-content-header.component.ts
  apps/docs/src/app/core/component-docs/dynamic-side-content/examples/dynamic-side-content-basic-example.component.html
  apps/docs/src/app/core/component-docs/dynamic-side-content/examples/dynamic-side-content-basic-example.component.ts
  apps/docs/src/app/core/component-docs/dynamic-side-content/examples/dynamic-side-content-positioning-example.component.html
  apps/docs/src/app/core/component-docs/dynamic-side-content/examples/dynamic-side-content-positioning-example.component.ts
  apps/docs/src/app/core/component-docs/dynamic-side-content/examples/dynamic-side-content-size-example.component.html
  apps/docs/src/app/core/component-docs/dynamic-side-content/examples/dynamic-side-content-size-example.component.ts
  apps/docs/src/app/core/component-docs/dynamic-side-content/examples/dynamic-side-content.component.scss
  apps/docs/src/app/core/core-documentation.routes.ts
  apps/docs/src/app/core/documentation/core-documentation.component.ts
  libs/core/src/index.ts
  libs/core/src/lib/dynamic-side-content/constants.ts
  libs/core/src/lib/dynamic-side-content/dynamic-side-content-main.component.spec.ts
  libs/core/src/lib/dynamic-side-content/dynamic-side-content-main.component.ts
  libs/core/src/lib/dynamic-side-content/dynamic-side-content-side.component.spec.ts
  libs/core/src/lib/dynamic-side-content/dynamic-side-content-side.component.ts
  libs/core/src/lib/dynamic-side-content/dynamic-side-content.component.html
  libs/core/src/lib/dynamic-side-content/dynamic-side-content.component.scss
  libs/core/src/lib/dynamic-side-content/dynamic-side-content.component.spec.ts
  libs/core/src/lib/dynamic-side-content/dynamic-side-content.component.ts
  libs/core/src/lib/dynamic-side-content/dynamic-side-content.module.ts
  libs/core/src/lib/dynamic-side-content/public_api.ts
  libs/core/src/lib/dynamic-side-content/utils.ts
  libs/core/src/lib/fundamental-ngx-core.module.ts
Labels: Fiori 3 component, core

#3584 fix: (Platform) adding button pressed markup to panel documentation
  apps/docs/src/app/core/component-docs/panel/examples/panel-expandable-example.component.html
  apps/docs/src/app/platform/component-docs/platform-panel/platform-panel-examples/platform-panel-expandable-example.component.html
Labels: hacktoberfest-accepted

#3640 fix: (Core) refactor Layout Grid with latest changes from fundamental-styles
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/layout-grid/examples/example-layout-grid-block.component.ts
  apps/docs/src/app/core/component-docs/layout-grid/examples/index.ts
  apps/docs/src/app/core/component-docs/layout-grid/examples/layout-grid-basic-example.component.html
  apps/docs/src/app/core/component-docs/layout-grid/examples/layout-grid-column-span-example.component.html
  apps/docs/src/app/core/component-docs/layout-grid/examples/layout-grid-columns-example.component.html
  apps/docs/src/app/core/component-docs/layout-grid/examples/layout-grid-example.component.html
  apps/docs/src/app/core/component-docs/layout-grid/examples/layout-grid-examples.component.ts
  apps/docs/src/app/core/component-docs/layout-grid/examples/layout-grid-gap-size-example.component.html
  apps/docs/src/app/core/component-docs/layout-grid/examples/layout-grid-nesting-example.component.html
  apps/docs/src/app/core/component-docs/layout-grid/examples/layout-grid-no-gap-example.component.html
  apps/docs/src/app/core/component-docs/layout-grid/examples/layout-grid-nogap-example.component.html
  apps/docs/src/app/core/component-docs/layout-grid/examples/layout-grid-offset-example.component.html
  apps/docs/src/app/core/component-docs/layout-grid/examples/layout-grid-responsive-example.component.html
  apps/docs/src/app/core/component-docs/layout-grid/examples/layout-grid-responsive-offset-example.component.html
  apps/docs/src/app/core/component-docs/layout-grid/examples/layout-grid-row-example.component.html
  apps/docs/src/app/core/component-docs/layout-grid/layout-grid-docs-header/layout-grid-docs-header.component.html
  apps/docs/src/app/core/component-docs/layout-grid/layout-grid-docs-header/layout-grid-docs-header.component.scss
  apps/docs/src/app/core/component-docs/layout-grid/layout-grid-docs-header/layout-grid-docs-header.component.ts
  apps/docs/src/app/core/component-docs/layout-grid/layout-grid-docs.component.html
  apps/docs/src/app/core/component-docs/layout-grid/layout-grid-docs.component.ts
  apps/docs/src/app/core/component-docs/layout-grid/layout-grid-docs.module.ts
  libs/core/src/lib/layout-grid/constants.ts
  libs/core/src/lib/layout-grid/directives/layout-grid-col.directive.spec.ts
  libs/core/src/lib/layout-grid/directives/layout-grid-col.directive.ts
  libs/core/src/lib/layout-grid/directives/layout-grid-row.directive.ts
  libs/core/src/lib/layout-grid/layout-grid-span.directive.spec.ts
  libs/core/src/lib/layout-grid/layout-grid-span.directive.ts
  libs/core/src/lib/layout-grid/layout-grid.component.scss
  libs/core/src/lib/layout-grid/layout-grid.component.spec.ts
  libs/core/src/lib/layout-grid/layout-grid.component.ts
  libs/core/src/lib/layout-grid/layout-grid.module.ts
  libs/core/src/lib/layout-grid/public_api.ts
Labels: 0.24.0, code refactoring, core, denoland

#3678 feat: list with byline migration
  apps/docs/src/app/core/component-docs/list-byline/examples/list-byline-borderless-example/list-byline-borderless-example.component.html
  apps/docs/src/app/core/component-docs/list-byline/examples/list-byline-borderless-example/list-byline-borderless-example.component.ts
  apps/docs/src/app/core/component-docs/list-byline/examples/list-byline-navigation-example/list-byline-navigation-example.component.html
  apps/docs/src/app/core/component-docs/list-byline/examples/list-byline-navigation-example/list-byline-navigation-example.component.ts
  apps/docs/src/app/core/component-docs/list-byline/examples/list-byline-selection-example/list-byline-selection-example.component.html
  apps/docs/src/app/core/component-docs/list-byline/examples/list-byline-selection-example/list-byline-selection-example.component.ts
  apps/docs/src/app/core/component-docs/list-byline/examples/list-byline-standard-example/list-byline-standard-example.component.html
  apps/docs/src/app/core/component-docs/list-byline/examples/list-byline-standard-example/list-byline-standard-example.component.ts
  apps/docs/src/app/core/component-docs/list-byline/list-byline-docs.component.html
  apps/docs/src/app/core/component-docs/list-byline/list-byline-docs.component.ts
  apps/docs/src/app/core/component-docs/list-byline/list-byline-docs.module.ts
  apps/docs/src/app/core/component-docs/list-byline/list-byline-header/list-byline-header.component.html
  apps/docs/src/app/core/component-docs/list-byline/list-byline-header/list-byline-header.component.ts
  apps/docs/src/app/core/component-docs/list/list-docs.component.html
  apps/docs/src/app/core/core-documentation.routes.ts
  apps/docs/src/app/core/documentation/core-documentation.component.ts
  libs/core/src/lib/list/directives/byline/list-byline-left.directive.spec.ts
  libs/core/src/lib/list/directives/byline/list-byline-left.directive.ts
  libs/core/src/lib/list/directives/byline/list-byline-right.directive.spec.ts
  libs/core/src/lib/list/directives/byline/list-byline-right.directive.ts
  libs/core/src/lib/list/directives/byline/list-byline.directive.spec.ts
  libs/core/src/lib/list/directives/byline/list-byline.directive.ts
  libs/core/src/lib/list/directives/byline/list-content.directive.spec.ts
  libs/core/src/lib/list/directives/byline/list-content.directive.ts
  libs/core/src/lib/list/directives/byline/list-thumbnail.directive.spec.ts
  libs/core/src/lib/list/directives/byline/list-thumbnail.directive.ts
  libs/core/src/lib/list/list.component.ts
  libs/core/src/lib/list/list.module.ts
  libs/core/src/lib/list/public_api.ts
Labels: 0.24.0, core, denoland

#3704 fix: Calendar range date
  libs/core/src/lib/calendar/calendar-views/calendar-day-view/calendar-day-view.component.ts
Labels: 0.24.0, core, datepicker

#3551 feat: (Core) introduce new Carousel component
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/carousel/carousel-docs.component.html
  apps/docs/src/app/core/component-docs/carousel/carousel-docs.component.ts
  apps/docs/src/app/core/component-docs/carousel/carousel-docs.module.ts
  apps/docs/src/app/core/component-docs/carousel/carousel-header/carousel-header.component.html
  apps/docs/src/app/core/component-docs/carousel/carousel-header/carousel-header.component.ts
  apps/docs/src/app/core/component-docs/carousel/examples/carousel-content-navigation.component.html
  apps/docs/src/app/core/component-docs/carousel/examples/carousel-content-navigation.component.ts
  apps/docs/src/app/core/component-docs/carousel/examples/carousel-error-message.component.html
  apps/docs/src/app/core/component-docs/carousel/examples/carousel-error-message.component.ts
  apps/docs/src/app/core/component-docs/carousel/examples/carousel-hidden-navigation.component.html
  apps/docs/src/app/core/component-docs/carousel/examples/carousel-hidden-navigation.component.ts
  apps/docs/src/app/core/component-docs/carousel/examples/carousel-looped-navigation.component.html
  apps/docs/src/app/core/component-docs/carousel/examples/carousel-looped-navigation.component.ts
  apps/docs/src/app/core/component-docs/carousel/examples/carousel-multiple-active-item.component.html
  apps/docs/src/app/core/component-docs/carousel/examples/carousel-multiple-active-item.component.ts
  apps/docs/src/app/core/component-docs/carousel/examples/carousel-no-page-indicator.component.html
  apps/docs/src/app/core/component-docs/carousel/examples/carousel-no-page-indicator.component.ts
  apps/docs/src/app/core/component-docs/carousel/examples/carousel-one-active-item.component.html
  apps/docs/src/app/core/component-docs/carousel/examples/carousel-one-active-item.component.ts
  apps/docs/src/app/core/component-docs/carousel/examples/carousel-vertical-direction.component.html
  apps/docs/src/app/core/component-docs/carousel/examples/carousel-vertical-direction.component.ts
  apps/docs/src/app/core/core-documentation.routes.ts
  apps/docs/src/app/core/documentation/core-documentation.component.ts
  libs/core/src/lib/carousel/carousel-item/carousel-item.component.html
  libs/core/src/lib/carousel/carousel-item/carousel-item.component.scss
  libs/core/src/lib/carousel/carousel-item/carousel-item.component.ts
  libs/core/src/lib/carousel/carousel.component.html
  libs/core/src/lib/carousel/carousel.component.scss
  libs/core/src/lib/carousel/carousel.component.spec.ts
  libs/core/src/lib/carousel/carousel.component.ts
  libs/core/src/lib/carousel/i18n/carousel-resources.ts
  libs/core/src/lib/time/time-column/time-column.component.ts
  libs/core/src/lib/utils/directives/carousel/carousel.directive.spec.ts
  libs/core/src/lib/utils/directives/carousel/carousel.directive.ts
  libs/core/src/lib/utils/directives/carousel/carousel.module.ts
  libs/core/src/lib/utils/public_api.ts
  libs/core/src/lib/utils/services/carousel.service.ts
Labels: 1p, core

#3713 test: fix unit tests errors due to imports
  libs/core/src/lib/breadcrumb/breadcrumb.component.spec.ts
  libs/core/src/lib/calendar/calendar-views/calendar-aggregated-year-view/calendar-aggregated-year-view.component.spec.ts
  libs/core/src/lib/date-picker/date-picker.component.spec.ts
  libs/core/src/lib/dialog/dialog-body/dialog-body.component.spec.ts
  libs/core/src/lib/menu/menu-item/menu-item.component.spec.ts
  libs/core/src/lib/notification/directives/notification-actions.directive.spec.ts
  libs/core/src/lib/notification/directives/notification-avatar.directive.spec.ts
  libs/core/src/lib/notification/directives/notification-content.directive.spec.ts
  libs/core/src/lib/notification/directives/notification-description.directive.spec.ts
  libs/core/src/lib/notification/directives/notification-metadata.directive.spec.ts
  libs/core/src/lib/notification/directives/notification-text.directive.spec.ts
  libs/core/src/lib/notification/directives/notification-title.directive.spec.ts
  libs/core/src/lib/notification/notification-header/notification-header.component.spec.ts
  libs/core/src/lib/notification/notification-service/notification.service.spec.ts
  libs/core/src/lib/notification/notification/notification.component.spec.ts
  libs/core/src/lib/popover/popover.component.spec.ts
  libs/core/src/lib/product-switch/product-switch-body/product-switch-body.component.spec.ts
  libs/core/src/lib/select/select.component.spec.ts
  libs/core/src/lib/tile/tile.component.spec.ts
  libs/core/src/lib/token/tokenizer.component.spec.ts
Labels: testing, unit tests
