Repository SAP/fundamental-ngx, pull requests merged in 2020-09, with the labels that each got.

#2989 fix: Includes accessibility requirements for checkbox in core and platform
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-docs.module.ts
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-examples/platform-binary-checkbox-no-form.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-examples/platform-binary-checkbox-no-form.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-examples/platform-binary-checkbox.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-examples/platform-binary-checkbox.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-examples/platform-checkbox-a11y.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-examples/platform-checkbox-a11y.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-examples/platform-checkbox-error-handling.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-examples/platform-checkbox-error-handling.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-examples/platform-multiselect-checkbox.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-examples/platform-multiselect-checkbox.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-examples/platform-tristate-checkbox.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-examples/platform-tristate-checkbox.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-checkbox-group/platform-checkbox-group-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-checkbox-group/platform-checkbox-group-examples/platform-checkbox-group-content-checkbox.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-checkbox-group/platform-checkbox-group-examples/platform-checkbox-group-content-checkbox.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-checkbox-group/platform-checkbox-group-examples/platform-checkbox-group-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-checkbox-group/platform-checkbox-group-examples/platform-checkbox-group-examples.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-checkbox-group/platform-checkbox-group-examples/platform-checkbox-group-list-object.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-checkbox-group/platform-checkbox-group-examples/platform-checkbox-group-list.component.html
  libs/core/src/lib/checkbox/checkbox/checkbox.component.html
  libs/core/src/lib/checkbox/checkbox/checkbox.component.ts
  libs/platform/src/lib/components/base.ts
  libs/platform/src/lib/components/form/checkbox-group/checkbox-group.component.html
  libs/platform/src/lib/components/form/checkbox/checkbox.component.html
  libs/platform/src/lib/components/form/checkbox/checkbox.component.spec.ts
  libs/platform/src/lib/components/form/checkbox/checkbox.component.ts
  libs/platform/src/lib/components/form/input-message-group-with-template/input-message-group-with-template.component.html
Labels: core, platform

#3166 fix: Time performance
  libs/core/src/lib/utils/directives/carousel/carousel.directive.ts
Labels: bug, core, performance

#3162 chore: deprecate Localization Editor component
  apps/docs/src/app/core/component-docs/localization-editor/localization-editor-header/localization-editor-header.component.html
  libs/core/src/lib/localizator-editor/localization-editor-item/localization-editor-item.component.spec.ts
  libs/core/src/lib/localizator-editor/localization-editor-item/localization-editor-item.component.ts
  libs/core/src/lib/localizator-editor/localization-editor-main/localization-editor-main.component.spec.ts
  libs/core/src/lib/localizator-editor/localization-editor-main/localization-editor-main.component.ts
  libs/core/src/lib/localizator-editor/localization-editor.component.ts
  libs/core/src/lib/localizator-editor/localization-editor.directives.ts
  libs/core/src/lib/localizator-editor/localization-editor.module.ts
Labels: Fiori 3 component

#3135 fix: display popover arrow by default but also provide option to disable
  libs/core/src/lib/menu/menu.component.html
  libs/core/src/lib/menu/menu.component.ts
  libs/core/src/lib/shellbar/user-menu/shellbar-user-menu.component.html
  libs/core/src/lib/shellbar/user-menu/shellbar-user-menu.component.ts
Labels: bug, enhancement

#3183 fix: Transform form-control to component
  apps/docs/src/app/core/api-files.ts
  libs/core/src/lib/form/form-control/form-control.component.scss
  libs/core/src/lib/form/form-control/form-control.component.spec.ts
  libs/core/src/lib/form/form-control/form-control.component.ts
  libs/core/src/lib/form/form-control/form-control.module.ts
  libs/core/src/lib/form/form-input-message-group/form-input-message-group.component.scss
  libs/core/src/lib/form/form-item/form-item.component.scss
  libs/core/src/lib/form/public_api.ts
  libs/core/src/lib/token/tokenizer.component.spec.ts
  libs/core/src/lib/token/tokenizer.component.ts
  src/stories/fd-form-control/fd-form-control.stories.ts
  src/stories/textarea/fd-textarea.stories.ts
Labels: bug, core

#3191 docs: fix combobox and table docs
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-disabled-example.component.html
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-states-example/input-group-states-example.component.html
  apps/docs/src/app/core/component-docs/table/table-docs.module.ts
  apps/docs/src/app/core/documentation/core-documentation.component.ts
  libs/core/src/lib/combobox/combobox.component.html
Labels: bug, documentation

#3036 fix: Fix Radio Group Accessibility for core and platform and code improvement
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-content-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-content-examples.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-disabled-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-list-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-list-examples.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-list-items-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-list-items-examples.component.ts
  libs/core/src/lib/checkbox/checkbox/checkbox.component.html
  libs/core/src/lib/list/list-item/list-item.component.ts
  libs/core/src/lib/radio/radio-button/radio-button.component.html
  libs/core/src/lib/radio/radio-button/radio-button.component.ts
  libs/platform/src/lib/components/button/button.component.spec.ts
  libs/platform/src/lib/components/form/radio-group/radio-group.component.html
  libs/platform/src/lib/components/form/radio-group/radio-group.component.spec.ts
  libs/platform/src/lib/components/form/radio-group/radio-group.component.ts
  libs/platform/src/lib/components/form/radio-group/radio/radio.component.html
  libs/platform/src/lib/components/form/radio-group/radio/radio.component.spec.ts
  libs/platform/src/lib/components/form/radio-group/radio/radio.component.ts
Labels: accessibility, core, platform

#3198 fix: (core) fix combobox readonly mode
  libs/core/src/lib/combobox/combobox.component.ts
Labels: bug

#3190 fix: Stop emitting change events on ViewInit and OnChanges
  libs/core/src/lib/tabs/tab-list.component.spec.ts
  libs/core/src/lib/tabs/tab-list.component.ts
Labels: bug, core

#3196 fix: Bring support for shadow dom on Popover
  apps/docs/src/app/core/component-docs/popover/examples/popover-simple/popover-example.component.html
  apps/docs/src/app/core/component-docs/popover/examples/popover-simple/popover-example.component.ts
  libs/core/src/lib/popover/popover-directive/popover.directive.spec.ts
  libs/core/src/lib/popover/popover-directive/popover.directive.ts
Labels: bug

#3219 chore: Improve Dialog documentation
  apps/docs/src/app/core/component-docs/dialog/dialog-docs.component.html
  apps/docs/src/app/core/component-docs/dialog/dialog-docs.module.ts
  apps/docs/src/app/core/component-docs/dialog/examples/component-based/dialog-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-backdrop-container/dialog-backdrop-container-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-complex/dialog-complex-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-configuration/dialog-configuration-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-object-example/dialog-object-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-position/dialog-position-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-state/dialog-state-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/index.ts
  apps/docs/src/app/core/component-docs/dialog/examples/stacked-dialogs/first-dialog-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/template-based/template-based-dialog-example.component.html
Labels: 0.22.0, core, documentation

#3206 chore: Improve Input Group documentation
  apps/docs/src/app/core/component-docs/input-group/examples/index.ts
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-button-example.component.html
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-complex-example.component.html
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-examples.component.ts
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-form-example.component.html
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-form-example.component.scss
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-form-example/input-group-form-example.component.html
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-form-example/input-group-form-example.component.ts
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-icon-example.component.html
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-search-example.component.html
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-search-example/input-group-search-example.component.html
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-search-example/input-group-search-example.component.scss
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-states-example.component.html
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-states-example/input-group-states-example.component.scss
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-states-example/input-group-states-example.component.ts
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-text-compact-example.component.html
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-text-example.component.html
  apps/docs/src/app/core/component-docs/input-group/input-group-docs.component.html
  apps/docs/src/app/core/component-docs/input-group/input-group-docs.component.ts
  apps/docs/src/app/core/component-docs/input-group/input-group-docs.module.ts
  apps/docs/src/app/core/component-docs/input-group/input-group-header/input-group-header.component.html
  apps/docs/src/app/core/component-docs/input-group/input-group-header/input-group-header.component.scss
  apps/docs/src/app/core/component-docs/input-group/input-group-header/input-group-header.component.ts
Labels: 0.22.0, core, documentation

#3214 Fix: Improve Busy Indicator documentation and focus behavior
  apps/docs/src/app/core/component-docs/busy-indicator/busy-indicator-docs.component.html
  apps/docs/src/app/core/component-docs/busy-indicator/busy-indicator-docs.module.ts
  apps/docs/src/app/core/component-docs/busy-indicator/examples/busy-indicator-wrapper-example.component.html
  apps/docs/src/app/core/component-docs/busy-indicator/examples/index.ts
  libs/core/src/lib/busy-indicator/busy-indicator.component.scss
Labels: 0.22.0, bug, core, documentation

#3212 fix: add enter key support for list in combobox
  libs/core/src/lib/combobox/combobox.component.html
  libs/core/src/lib/combobox/combobox.component.ts
  libs/core/src/lib/utils/services/keyboard-support/keyboard-support.service.ts
Labels: 0.22.0, core

#3217 chore: Improve Combobox documentation
  apps/docs/src/app/core/component-docs/combobox/combobox-docs.component.html
  apps/docs/src/app/core/component-docs/combobox/combobox-docs.component.scss
  apps/docs/src/app/core/component-docs/combobox/combobox-docs.component.ts
  apps/docs/src/app/core/component-docs/combobox/combobox-docs.module.ts
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-async-example.component.html
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-columns-example.component.html
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-disabled-example.component.html
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-disabled-example.component.scss
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-disabled-example.component.ts
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-displaywith-example.component.html
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-dynamic-example.component.html
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-example.component.html
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-example.component.scss
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-example.component.ts
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-forms-example.component.html
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-forms-example.component.ts
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-group-example.component.html
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-height-example.component.html
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-mobile/combobox-mobile-example.component.html
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-open-control-example.component.html
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-search-function-example.component.html
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-template-example.component.html
  apps/docs/src/app/core/component-docs/combobox/examples/index.ts
Labels: 0.22.0, core, documentation

#3193 fix: multi input should attach to body
  libs/core/src/lib/multi-input/multi-input.component.html
  libs/core/src/lib/multi-input/multi-input.component.scss
Labels: bug

#3208 docs: fix links for images on bar component examples
  apps/docs/src/app/core/component-docs/bar/examples/bar-default-example.component.html
  apps/docs/src/app/core/component-docs/popover/examples/popover-simple/popover-example.component.html
Labels: 0.22.0, core

#3187 fix: programmatically click product menu item on space/enter and add keyboard arrow navigation
  libs/core/src/lib/product-switch/product-switch-body/product-switch-body.component.html
  libs/core/src/lib/product-switch/product-switch-body/product-switch-body.component.spec.ts
  libs/core/src/lib/product-switch/product-switch-body/product-switch-body.component.ts
  libs/core/src/lib/utils/tests/event-objects.ts
Labels: accessibility, bug, core

#3215 chore(core): minor docs examples improvements
  apps/docs/src/app/core/component-docs/checkbox/checkbox-docs.component.html
  apps/docs/src/app/core/component-docs/checkbox/checkbox-docs.module.ts
  apps/docs/src/app/core/component-docs/checkbox/examples/checkbox-custom-values-example.component.ts
  apps/docs/src/app/core/component-docs/checkbox/examples/checkbox-reactive-forms-example.component.ts
  apps/docs/src/app/core/component-docs/checkbox/examples/checkbox-states-example.component.ts
  apps/docs/src/app/core/component-docs/checkbox/examples/checkbox-tristate-example.component.ts
  apps/docs/src/app/core/component-docs/checkbox/examples/index.ts
  apps/docs/src/app/core/component-docs/radio/examples/index.ts
  apps/docs/src/app/core/component-docs/radio/examples/radio-example.component.html
  apps/docs/src/app/core/component-docs/radio/radio-docs.component.html
  apps/docs/src/app/core/component-docs/radio/radio-docs.module.ts
  apps/docs/src/app/core/component-docs/radio/radio-header/radio-header.component.html
Labels: 0.22.0, core, documentation

#3209 feat: Remove usage of segmented button in docs
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/calendar/examples/calendar--i18n-moment-example.component.ts
  apps/docs/src/app/core/component-docs/date-picker/examples/date-picker-complex-i18n-example/date-picker-complex-i18n-example.component.html
  apps/docs/src/app/core/component-docs/date-picker/examples/date-picker-complex-i18n-example/date-picker-complex-i18n-example.component.ts
  apps/docs/src/app/core/component-docs/date-picker/examples/date-picker-i18n-example.component.ts
  libs/core/src/lib/segmented-button/public_api.ts
  libs/core/src/lib/segmented-button/segmented-button.component.html~feat
  libs/core/src/lib/segmented-button/segmented-button.component.spec.ts~feat
  libs/core/src/lib/segmented-button/segmented-button.directive.spec.ts
  libs/core/src/lib/segmented-button/segmented-button.directive.ts
  libs/core/src/lib/segmented-button/segmented-button.module.ts
Labels: 0.22.0, core

#3182 fix: applyCssClass value initialization
  libs/core/src/lib/utils/decorators/apply-css-class.decorator.ts
Labels: bug, core

#3220 fix: Add missing styles to List
  libs/core/src/lib/list/list.component.scss
Labels: 0.22.0, bug, core

#3210 fix: stop opening pickers on input click
  libs/core/src/lib/date-picker/date-picker.component.html
  libs/core/src/lib/datetime-picker/datetime-picker.component.html
  libs/core/src/lib/datetime-picker/datetime-picker.component.ts
  libs/core/src/lib/time-picker/time-picker.component.html
  libs/core/src/lib/time-picker/time-picker.component.ts
Labels: 0.22.0, core

#3228 fix: product switch line wrap bug
  libs/core/src/lib/product-switch/product-switch-body/product-switch-body.component.html
Labels: bug

#3047 fix(File Input): Deprecate File Input component.
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/file-input/file-input-header/file-input-header.component.html
  libs/core/src/lib/file-input/file-input.component.ts
  libs/core/src/lib/file-input/file-input.module.ts
Labels: core

#3195 fix: (platform) Fix detached menu while scrolling
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu.module.ts
Labels: 0.22.0, bug, platform

#3226 fix: (platform) Defect fixes for platform link components
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-examples/platform-link-inverted-example.component.html
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-examples/platform-link-truncated-example.component.html
Labels: Defect Hunting, platform

#3222 fix: fix DND on IE11
  libs/core/src/lib/utils/drag-and-drop/dnd-item/dnd-item.directive.ts
Labels: 0.22.0, core

#3165 fix: (platform) add input group
  apps/docs/src/app/platform/api-files.ts
  apps/docs/src/app/platform/component-docs/platform-forms/input-group/platform-input-group-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/input-group/platform-input-group-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/input-group/platform-input-group-docs.module.ts
  apps/docs/src/app/platform/component-docs/platform-forms/input-group/platform-input-group-examples/platform-input-group-compact-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/input-group/platform-input-group-examples/platform-input-group-compact-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/input-group/platform-input-group-examples/platform-input-group-disabled-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/input-group/platform-input-group-examples/platform-input-group-disabled-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/input-group/platform-input-group-examples/platform-input-group-form-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/input-group/platform-input-group-examples/platform-input-group-form-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/input-group/platform-input-group-examples/platform-input-group-standard-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/input-group/platform-input-group-examples/platform-input-group-standard-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/input-group/platform-input-group-header/platform-input-group-header.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/input-group/platform-input-group-header/platform-input-group-header.component.ts
  apps/docs/src/app/platform/documentation/platform-documentation.component.ts
  apps/docs/src/app/platform/platform-documentation.routes.ts
  libs/platform/src/lib/components/base.ts
  libs/platform/src/lib/components/form/input-group/addon-body.component.spec.ts
  libs/platform/src/lib/components/form/input-group/addon-body.component.ts
  libs/platform/src/lib/components/form/input-group/addon.component.ts
  libs/platform/src/lib/components/form/input-group/constants.ts
  libs/platform/src/lib/components/form/input-group/input-group.component.html
  libs/platform/src/lib/components/form/input-group/input-group.component.scss
  libs/platform/src/lib/components/form/input-group/input-group.component.spec.ts
  libs/platform/src/lib/components/form/input-group/input-group.component.ts
  libs/platform/src/lib/components/form/input-group/input-group.config.ts
  libs/platform/src/lib/components/form/input-group/input-group.module.ts
  libs/platform/src/lib/components/form/input-group/input.component.ts
  libs/platform/src/lib/components/form/input-group/public_api.ts
  libs/platform/src/lib/components/form/input/input.component.html
  libs/platform/src/lib/components/form/input/input.component.ts
  libs/platform/src/lib/components/form/public_api.ts
  libs/platform/src/lib/platform.module.ts
Labels: platform

#3048 feat: (platform) add combobox component
  apps/docs/src/app/platform/api-files.ts
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-columns/combobox-columns-example.component.html
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-columns/combobox-columns-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-datasource/combobox-datasource-example.component.html
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-datasource/combobox-datasource-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-forms/combobox-forms-example.component.html
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-forms/combobox-forms-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-group/combobox-group-example.component.html
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-group/combobox-group-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-mobile/combobox-mobile-example.component.html
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-mobile/combobox-mobile-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-standard/combobox-standard.component.html
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-standard/combobox-standard.component.ts
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-templates/combobox-templates-example.component.html
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-templates/combobox-templates-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-combobox/platform-combobox-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-combobox/platform-combobox-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-combobox/platform-combobox-docs.module.ts
  apps/docs/src/app/platform/component-docs/platform-combobox/platform-combobox-header/platform-combobox-header.component.html
  apps/docs/src/app/platform/component-docs/platform-combobox/platform-combobox-header/platform-combobox-header.component.ts
  apps/docs/src/app/platform/documentation/platform-documentation.component.ts
  apps/docs/src/app/platform/platform-documentation.routes.ts
  libs/core/src/lib/utils/functions/key-util.ts
  libs/core/src/lib/utils/public_api.ts
  libs/platform/src/index.ts
  libs/platform/src/lib/components/form/collection-base.input.ts
  libs/platform/src/lib/components/form/combo-box/combo-box.component.html
  libs/platform/src/lib/components/form/combo-box/combo-box.component.ts
  libs/platform/src/lib/components/form/combo-box/fdp-combo-box.module.ts
  libs/platform/src/lib/components/form/combobox/combobox-mobile/combobox-mobile.module.ts
  libs/platform/src/lib/components/form/combobox/combobox-mobile/combobox/combobox-mobile.component.html
  libs/platform/src/lib/components/form/combobox/combobox-mobile/combobox/combobox-mobile.component.spec.ts
  libs/platform/src/lib/components/form/combobox/combobox-mobile/combobox/combobox-mobile.component.ts
  libs/platform/src/lib/components/form/combobox/combobox.config.ts
  libs/platform/src/lib/components/form/combobox/combobox.interface.ts
  libs/platform/src/lib/components/form/combobox/combobox.module.ts
  libs/platform/src/lib/components/form/combobox/combobox/combobox.component.html
  libs/platform/src/lib/components/form/combobox/combobox/combobox.component.scss
  libs/platform/src/lib/components/form/combobox/combobox/combobox.component.spec.ts
  libs/platform/src/lib/components/form/combobox/combobox/combobox.component.ts
  libs/platform/src/lib/components/form/combobox/commons/base-combobox.ts
  libs/platform/src/lib/components/form/combobox/directives/auto-complete.directive.spec.ts
  libs/platform/src/lib/components/form/combobox/directives/auto-complete.directive.ts
  libs/platform/src/lib/components/form/combobox/index.ts
  libs/platform/src/lib/components/form/combobox/pipes/highlight.pipe.spec.ts
  libs/platform/src/lib/components/form/combobox/pipes/highlight.pipe.ts
  libs/platform/src/lib/components/form/public_api.ts
  libs/platform/src/lib/domain/array-data-source.ts
  libs/platform/src/lib/domain/base-data-provider.ts
  libs/platform/src/lib/domain/data-model.ts
  libs/platform/src/lib/domain/data-source.ts
  libs/platform/src/lib/domain/index.ts
  libs/platform/src/lib/domain/observable-data-source.ts
  libs/platform/src/lib/domain/public_api.ts
  libs/platform/src/lib/platform.module.ts
Labels: Valor, ariba, platform

#3247 fix: (platform) defect fix for the input width reduced
  apps/docs/src/app/platform/component-docs/platform-forms/platform-input/platform-input-example/platform-input-auto-complete-validation-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-forms/platform-input/platform-input-example/platform-input-auto-complete-validation-example.component.ts
Labels: bug

#3236 fix: Change usages of static string bindings for boolean values
  apps/docs/src/app/core/component-docs/dialog/examples/component-based/dialog-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-backdrop-container/dialog-backdrop-container-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-complex/dialog-complex-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-configuration/dialog-configuration-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-object-example/dialog-object-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-position/dialog-position-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-state/dialog-state-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/stacked-dialogs/first-dialog-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/template-based/template-based-dialog-example.component.html
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-button-example.component.html
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-form-example/input-group-form-example.component.html
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-search-example/input-group-search-example.component.html
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-states-example.component.html
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-text-compact-example.component.html
  apps/docs/src/app/core/component-docs/list/examples/list-data-example/list-data-example.component.html
  libs/core/src/lib/dialog/dialog.component.html
  libs/core/src/lib/shellbar/product-menu/product-menu.component.html
Labels: 0.22.0, core

#3224 fix: (platform) panel - space between the actions & console error
  libs/core/src/lib/toolbar/toolbar.component.ts
  libs/platform/src/lib/components/panel/panel-actions/panel-actions.component.html
  libs/platform/src/lib/components/panel/panel-actions/panel-actions.component.ts
  libs/platform/src/lib/components/panel/panel.component.html
Labels: 0.22.0, bug, platform

#3221 fix: (platform) fix for textarea breaking
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-docs.module.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-examples/platform-textarea-basic-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-examples/platform-textarea-basic-example.component.scss
  libs/platform/src/lib/components/form/input-message-group-with-template/input-message-group-with-template.component.scss
  libs/platform/src/lib/components/form/text-area/text-area.component.ts
  libs/platform/src/lib/components/form/text-area/text-area.module.ts
Labels: 0.22.0, bug, platform

#3246 fix: (core) remove icon-only prop of Info Label and fix the vertical alignment
  apps/docs/src/app/core/component-docs/info-label/examples/info-label-icon-numeric-example.component.html
  apps/docs/src/app/core/component-docs/info-label/info-label-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-info-label/platform-info-label-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-info-label/platform-info-label-example/platform-info-label-numeric-example.component.html
  libs/core/src/lib/info-label/info-label.component.spec.ts
  libs/core/src/lib/info-label/info-label.component.ts
Labels: bug

#3231 fix: (platform) fix for menu position in menu button
  apps/docs/src/app/platform/component-docs/platform-menu-button/platform-menu-button-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-menu-button/platform-menu-button-examples/platform-menu-button-compact-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu-button/platform-menu-button-examples/platform-menu-button-cozy-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu-button/platform-menu-button-examples/platform-menu-button-example.component.html
  libs/platform/src/lib/components/menu-button/menu-button.component.html
  libs/platform/src/lib/components/menu-button/menu-button.component.ts
Labels: Defect Hunting, platform

#3234 fix: (platform) step input component defects
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-examples/platform-number-step-input-reactive-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-examples/platform-number-step-input-template-example.component.ts
  libs/platform/src/lib/components/form/form-group/form-field/form-field.component.html
  libs/platform/src/lib/components/form/step-input/base.step-input.ts
  libs/platform/src/lib/components/form/step-input/number/number-step-input.component.html
  libs/platform/src/lib/components/form/step-input/number/number-step-input.component.spec.ts
  libs/platform/src/lib/components/form/step-input/step-input-action-button.ts
  libs/platform/src/lib/components/form/step-input/step-input-control.directive.ts
  libs/platform/src/lib/components/form/step-input/step-input-decrement.directive.ts
  libs/platform/src/lib/components/form/step-input/step-input-increment.directive.ts
Labels: bug

#3227 fix: add flag for closing dialog on route change
  libs/core/src/lib/combobox/combobox-mobile/combobox-mobile.component.spec.ts
  libs/core/src/lib/dialog/dialog-utils/dialog-config.class.ts
  libs/core/src/lib/dialog/dialog.component.spec.ts
  libs/core/src/lib/dialog/dialog.component.ts
  libs/core/src/lib/menu/menu-mobile/menu-mobile.component.spec.ts
  libs/core/src/lib/select/select-mobile/select-mobile.component.spec.ts
Labels: bug, core, enhancement

#3305 fix: remove spacing between message and select
  libs/core/src/lib/select/select.component.html
Labels: 0.22.0, core

#3239 fix: split button title take 2
  apps/docs/src/app/core/component-docs/split-button/examples/split-button-behaviors-example.component.html
  apps/docs/src/app/core/component-docs/split-button/examples/split-button-behaviors-example.component.ts
  apps/docs/src/app/core/component-docs/split-button/examples/split-button-icons-example.component.html
  apps/docs/src/app/core/component-docs/split-button/examples/split-button-options-example.component.html
  apps/docs/src/app/core/component-docs/split-button/examples/split-button-programmatical-example.component.html
  apps/docs/src/app/core/component-docs/split-button/examples/split-button-programmatical-example.component.ts
  apps/docs/src/app/core/component-docs/split-button/examples/split-button-template-example.component.html
  apps/docs/src/app/core/component-docs/split-button/examples/split-button-types-example.component.html
  apps/docs/src/app/core/component-docs/split-button/examples/split-button-types-example.component.ts
  apps/docs/src/app/core/component-docs/split-button/split-button-docs.component.html
  apps/docs/src/app/core/component-docs/split-button/split-button-docs.component.ts
  apps/docs/src/app/core/component-docs/split-button/split-button-docs.module.ts
  libs/core/src/lib/menu/menu-item/menu-item.component.ts
  libs/core/src/lib/split-button/main-action.ts
  libs/core/src/lib/split-button/split-button.component.html
  libs/core/src/lib/split-button/split-button.component.spec.ts
  libs/core/src/lib/split-button/split-button.component.ts
Labels: bug

#3237 fix: (platform) fix of defects related to Search Field
  libs/core/src/lib/utils/pipes/search-highlight.pipe.ts
  libs/platform/src/lib/components/menu-button/menu-button.component.spec.ts
  libs/platform/src/lib/components/menu/menu-trigger.directive.ts
  libs/platform/src/lib/components/menu/menu.spec.ts
  libs/platform/src/lib/components/search-field/search-field.component.html
  libs/platform/src/lib/components/search-field/search-field.component.scss
  libs/platform/src/lib/components/search-field/search-field.component.spec.ts
  libs/platform/src/lib/components/search-field/search-field.component.ts
  libs/platform/src/lib/components/split-menu-button/split-menu-button.component.spec.ts
Labels: 0.22.0, bug, platform

#3192 fix: (platform) Fixing styles for input auto-complete example
  apps/docs/src/app/platform/component-docs/platform-forms/platform-input/platform-input-example/platform-input-auto-complete-validation-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-input/platform-input-example/platform-input-auto-complete-validation-example.component.ts
Labels: 0.22.0, bug, platform

#3307 fix: add partial keyword in DialogConfig
  libs/core/src/lib/dialog/dialog-service/dialog.service.ts
Labels: bug

#3330 docs: update theming colors for docs; update icon example
  apps/docs/src/app/core/component-docs/icon/examples/icon-example.component.html
  apps/docs/src/app/core/component-docs/icon/examples/icon-example.component.ts
  apps/docs/src/app/core/component-docs/icon/icon-docs.component.html
  apps/docs/src/app/core/component-docs/icon/icon-docs.component.ts
  apps/docs/src/app/core/component-docs/schemas.ts
  apps/docs/src/app/documentation/core-helpers/component-example/component-example.component.scss
  apps/docs/src/app/documentation/shared-core-modules.ts
  apps/docs/src/app/schema/containers/schema-group/schema-group.component.scss
Labels: documentation

#3213 fix: Bring valid selection into multi input component
  libs/core/src/lib/multi-input/multi-input.component.html
  libs/core/src/lib/multi-input/multi-input.component.scss
  libs/core/src/lib/multi-input/multi-input.component.ts
Labels: 0.22.0, core

#3230 fix: (platform) split menu button fix for label change on action selection from menu
  apps/docs/src/app/platform/component-docs/platform-split-menu-button/platform-split-menu-button-examples/platform-split-button-behaviors-example.component.html
  apps/docs/src/app/platform/component-docs/platform-split-menu-button/platform-split-menu-button-examples/platform-split-button-behaviors-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-split-menu-button/platform-split-menu-button-examples/platform-split-button-icons-example.component.html
  apps/docs/src/app/platform/component-docs/platform-split-menu-button/platform-split-menu-button-examples/platform-split-button-icons-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-split-menu-button/platform-split-menu-button-examples/platform-split-button-types-example.component.html
  apps/docs/src/app/platform/component-docs/platform-split-menu-button/platform-split-menu-button-examples/platform-split-button-types-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-split-menu-button/platform-split-menu-button-examples/platform-split-menu-button-examples.component.html
  apps/docs/src/app/platform/component-docs/platform-split-menu-button/platform-split-menu-button-examples/platform-split-menu-button-examples.component.ts
  apps/docs/src/app/platform/component-docs/platform-split-menu-button/platform-split-menu-button-examples/platform-split-menu-button-options.component.html
  apps/docs/src/app/platform/component-docs/platform-split-menu-button/platform-split-menu-button-examples/platform-split-menu-button-options.component.ts
  apps/docs/src/app/platform/component-docs/platform-split-menu-button/platform-split-menu-button.component.html
  apps/docs/src/app/platform/component-docs/platform-split-menu-button/platform-split-menu-button.component.ts
  apps/docs/src/app/platform/component-docs/platform-split-menu-button/platform-split-menu-button.module.ts
  libs/platform/src/lib/components/split-menu-button/split-menu-button.component.html
  libs/platform/src/lib/components/split-menu-button/split-menu-button.component.scss
  libs/platform/src/lib/components/split-menu-button/split-menu-button.component.ts
Labels: Defect Hunting, platform

#3332 fix: Remove hammer config
  libs/core/src/lib/utils/directives/carousel/carousel.directive.spec.ts
  libs/core/src/lib/utils/directives/carousel/carousel.directive.ts
  libs/core/src/lib/utils/directives/carousel/carousel.module.ts
  libs/core/src/lib/utils/directives/carousel/hammer.config.ts
  libs/core/src/lib/utils/public_api.ts
Labels: core

#3376 chore: update README.md with REUSE badge
  .reuse/dep5
  LICENSES/Apache-2.0.txt
  README.md
  libs/core/README.md
  libs/platform/README.md
Labels: tooling

#3360 fix: (core) make router in dialog optional
  libs/core/src/lib/dialog/dialog.component.spec.ts
  libs/core/src/lib/dialog/dialog.component.ts
Labels: core, enhancement

#3369 fix: Improve message group to work with controls with overlay
  libs/core/src/lib/form/form-input-message-group/form-input-message-group.component.html
  libs/core/src/lib/form/form-input-message-group/form-input-message-group.component.scss
Labels: core

#3331 chore: deprecate icon size
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-template-example.component.html
  apps/docs/src/app/core/component-docs/file-input/examples/file-input-custom-example/file-input-custom-example.component.html
  apps/docs/src/app/core/component-docs/icon/icon-docs.component.html
  apps/docs/src/app/core/component-docs/link/examples/link-example.component.html
  apps/docs/src/app/core/component-docs/popover/examples/popover-simple/popover-example.component.html
  apps/docs/src/app/core/component-docs/scroll-spy/examples/scroll-spy-custom-example/scroll-spy-custom-example.component.html
  apps/docs/src/app/core/component-docs/scroll-spy/examples/scroll-spy-custom-offset/scroll-spy-offset-example.component.html
  apps/docs/src/app/core/component-docs/scroll-spy/examples/scroll-spy-example/scroll-spy-example.component.html
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-templates/combobox-templates-example.component.html
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-examples/platform-link-disabled-emphasized-example.component.html
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-examples/platform-link-disabled-example.component.html
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-examples/platform-link-emphasized-example.component.html
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-examples/platform-link-icon-example.component.html
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-examples/platform-link-standard-example.component.html
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-examples/platform-link-truncated-example.component.html
  libs/core/src/lib/icon/icon.component.spec.ts
  libs/core/src/lib/icon/icon.component.ts
  libs/platform/src/lib/components/select/select.component.html
Labels: documentation

#3377 fix: Disable no-inferrable-types for DialogConfig
  apps/docs/src/app/core/component-docs/calendar/examples/calendar-mobile-example/calendar-mobile-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/component-based/component-based-dialog-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-backdrop-container/dialog-backdrop-container-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-complex/dialog-complex-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-configuration/dialog-configuration-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-mobile/dialog-mobile-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-position/dialog-position-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-state/dialog-state-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/stacked-dialogs/dialog-stacked-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/stacked-dialogs/first-dialog-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/template-based/template-based-dialog-example.component.ts
  apps/docs/src/app/core/component-docs/global-config/examples/dialog-global-config-example/dialog-global-config-example.module.ts
  apps/docs/src/app/core/component-docs/global-config/examples/mobile-mode-global-config-example/mobile-mode-global-config-example.module.ts
  apps/docs/src/app/core/component-docs/multi-input/examples/multi-input-mobile-example/multi-input-mobile-example.component.ts
  apps/docs/src/app/core/component-docs/popover/examples/popover-dialog/popover-dialog-example.component.ts
  apps/docs/src/app/core/component-docs/table/examples/table-custom-columns-example/table-custom-columns-example.component.ts
  apps/docs/src/app/core/component-docs/table/examples/table-toolbar-example.component.ts
  apps/docs/src/app/documentation/utilities/consts/mobile-dialog.consts.ts
  libs/core/src/lib/dialog/dialog-container/dialog-container.component.ts
  libs/core/src/lib/dialog/dialog-footer/dialog-footer.component.ts
  libs/core/src/lib/dialog/dialog-header/dialog-header.component.ts
  libs/core/src/lib/dialog/dialog-service/dialog.service.ts
  libs/core/src/lib/dialog/dialog-utils/dialog-config.class.ts
  libs/core/src/lib/dialog/dialog.component.ts
  libs/core/src/lib/menu/menu-mobile/menu-mobile.component.spec.ts
Labels: 0.22.0, core, enhancement

#3378 fix: migrate tabs to 0.12.0 styles
  apps/docs/src/app/core/api-files.ts
  libs/core/src/lib/tabs/tab-utils/tab-directives.ts
  libs/core/src/lib/tabs/tab-utils/tab-icon.component.spec.ts
  libs/core/src/lib/tabs/tabs.module.ts
  package-lock.json
  package.json
Labels: 0.22.0, icons

#3379 fix: migrate switch changes to 0.12.0 styles
  libs/core/src/lib/switch/switch.component.html
  package-lock.json
Labels: 0.22.0, icons

#3361 fix: (platform) Removed simple button use from Radio Group Documentation
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-content-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-list-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-list-items-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group.module.ts
Labels: Defect Hunting, platform

#3344 fix: (core) introduce Card component
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/card/card-docs.component.html
  apps/docs/src/app/core/component-docs/card/card-docs.component.ts
  apps/docs/src/app/core/component-docs/card/card-docs.module.ts
  apps/docs/src/app/core/component-docs/card/card-header/card-header.component.html
  apps/docs/src/app/core/component-docs/card/card-header/card-header.component.ts
  apps/docs/src/app/core/component-docs/card/examples/card-compact-example.component.html
  apps/docs/src/app/core/component-docs/card/examples/card-compact-example.component.ts
  apps/docs/src/app/core/component-docs/card/examples/card-example.component.html
  apps/docs/src/app/core/component-docs/card/examples/card-example.component.ts
  apps/docs/src/app/core/component-docs/card/examples/card-footer-example.component.html
  apps/docs/src/app/core/component-docs/card/examples/card-footer-example.component.ts
  apps/docs/src/app/core/component-docs/card/examples/card-kpi-example.component.html
  apps/docs/src/app/core/component-docs/card/examples/card-kpi-example.component.scss
  apps/docs/src/app/core/component-docs/card/examples/card-kpi-example.component.ts
  apps/docs/src/app/core/component-docs/card/examples/card-loader-example.component.html
  apps/docs/src/app/core/component-docs/card/examples/card-loader-example.component.ts
  apps/docs/src/app/core/component-docs/card/examples/card-table-example.component.html
  apps/docs/src/app/core/component-docs/card/examples/card-table-example.component.ts
  apps/docs/src/app/core/core-documentation.routes.ts
  apps/docs/src/app/core/documentation/core-documentation.component.ts
  libs/core/src/index.ts
  libs/core/src/lib/avatar/avatar.component.ts
  libs/core/src/lib/card/card-content.component.spec.ts
  libs/core/src/lib/card/card-content.component.ts
  libs/core/src/lib/card/card-counter.directive.spec.ts
  libs/core/src/lib/card/card-counter.directive.ts
  libs/core/src/lib/card/card-footer.component.spec.ts
  libs/core/src/lib/card/card-footer.component.ts
  libs/core/src/lib/card/card-header.component.html
  libs/core/src/lib/card/card-header.component.spec.ts
  libs/core/src/lib/card/card-header.component.ts
  libs/core/src/lib/card/card-loader.component.spec.ts
  libs/core/src/lib/card/card-loader.component.ts
  libs/core/src/lib/card/card-second-subtitle.directive.spec.ts
  libs/core/src/lib/card/card-second-subtitle.directive.ts
  libs/core/src/lib/card/card-subtitle.directive.spec.ts
  libs/core/src/lib/card/card-subtitle.directive.ts
  libs/core/src/lib/card/card-title.directive.spec.ts
  libs/core/src/lib/card/card-title.directive.ts
  libs/core/src/lib/card/card.component.html
  libs/core/src/lib/card/card.component.scss
  libs/core/src/lib/card/card.component.spec.ts
  libs/core/src/lib/card/card.component.ts
  libs/core/src/lib/card/card.module.ts
  libs/core/src/lib/card/constants.ts
  libs/core/src/lib/card/kpi/card-kpi-analytics-content.directive.ts
  libs/core/src/lib/card/kpi/card-kpi-analytics-label.directive.ts
  libs/core/src/lib/card/kpi/card-kpi-analytics.directive.ts
  libs/core/src/lib/card/kpi/card-kpi-header.component.html
  libs/core/src/lib/card/kpi/card-kpi-header.component.ts
  libs/core/src/lib/card/kpi/card-kpi-scale-icon.directive.ts
  libs/core/src/lib/card/kpi/card-kpi-scale-text.directive.ts
  libs/core/src/lib/card/kpi/card-kpi-value.directive.ts
  libs/core/src/lib/card/kpi/card-kpi.spec.ts
  libs/core/src/lib/card/public_api.ts
  libs/core/src/lib/card/utils.ts
  libs/core/src/lib/fundamental-ngx-core.module.ts
  libs/core/src/lib/object-status/object-status.component.ts
Labels: core

#3385 fix: table update A11y regarding to 0.12.0 styles
  apps/docs/src/app/core/component-docs/table/examples/table-popin-example/table-popin-example.component.html
Labels: 0.22.0, core, icons

#3397 docs: Adapt list icons to 0.12.0 styles
  apps/docs/src/app/core/component-docs/list/examples/list-complex-example.component.html
  apps/docs/src/app/core/component-docs/list/examples/list-icon-example.component.html
  apps/docs/src/app/core/component-docs/list/examples/list-nav-indicator-example/list-nav-indicator-example.component.html
  apps/docs/src/app/core/component-docs/list/examples/list-navigation-example/list-navigation-example.component.html
  apps/docs/src/app/core/component-docs/select/examples/select-nested-options/select-nested-options.component.html
  apps/docs/src/app/core/component-docs/table/examples/table-column-sorting-example.component.html
  libs/core/src/lib/list/directives/list-icon.directive.ts
Labels: 0.22.0, core, icons

#3384 fix: Migrate A11y changes from 0.12.0 to numeric content and tiles
  apps/docs/src/app/core/component-docs/tile/examples/action-tile-example.component.html
  apps/docs/src/app/core/component-docs/tile/examples/kpi-tile-example.component.html
  apps/docs/src/app/core/component-docs/tile/examples/launch-tile-example.component.html
Labels: 0.22.0, icons

#3390 fix: Migrate nested list icon due to 0.12.0 styles
  apps/docs/src/app/core/component-docs/shellbar/examples/shellbar-side-nav/shellbar-side-nav-example.component.html
  apps/docs/src/app/core/component-docs/side-navigation/examples/side-navigation-condensed-example/side-navigation-condensed-example.component.html
  apps/docs/src/app/core/component-docs/side-navigation/examples/side-navigation-icons-example.component.html
  libs/core/src/lib/nested-list/nested-list-directives.ts
  src/stories/sidenav/fd-side-nav.stories.ts
Labels: 0.22.0, core, icons

#3399 fix: Adapt Info Label to 0.12.0 Fundamental Styles
  apps/docs/src/app/core/component-docs/info-label/examples/info-label-default-example.component.html
  apps/docs/src/app/core/component-docs/info-label/examples/info-label-icon-numeric-example.component.html
  apps/docs/src/app/core/component-docs/info-label/examples/info-label-text-example.component.html
  apps/docs/src/app/core/component-docs/info-label/examples/info-label-text-icon-example.component.html
  libs/core/src/lib/info-label/info-label.component.html
  libs/core/src/lib/info-label/info-label.component.spec.ts
  libs/core/src/lib/info-label/info-label.component.ts
Labels: 0.22.0, core, icons

#3430 fix: bring temporary the old styling of Notifications
  libs/core/src/lib/notification/notification/notification.component.scss
Labels: 0.22.0, Defect Hunting

#3421 docs: update calendar internationalization examples with momentjs
  apps/docs/src/app/core/component-docs/calendar/examples/calendar--i18n-moment-example.component.ts
Labels: documentation

#3431 docs: remove message strip info message from radio and checkbox
  apps/docs/src/app/core/component-docs/checkbox/checkbox-header/checkbox-header.component.html
  apps/docs/src/app/core/component-docs/radio/radio-header/radio-header.component.html
Labels: 0.22.0, Defect Hunting

#3432 docs: align vertically the GitHub icon in documentation shellbar
  apps/docs/src/app/documentation/core-helpers/toolbar/toolbar.component.scss
Labels: 0.22.0, Defect Hunting, documentation

#3341 fix: (core) Introduce Fixed card layout as component in Core
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/fixed-card-layout/examples/default/fixed-card-layout-examples.component.html
  apps/docs/src/app/core/component-docs/fixed-card-layout/examples/default/fixed-card-layout-examples.component.ts
  apps/docs/src/app/core/component-docs/fixed-card-layout/examples/disabled-drag-drop/fixed-card-layout-disabled-drag.component.html
  apps/docs/src/app/core/component-docs/fixed-card-layout/examples/disabled-drag-drop/fixed-card-layout-disabled-drag.component.ts
  apps/docs/src/app/core/component-docs/fixed-card-layout/examples/mobile/fixed-card-layout-mobile-examples.component.html
  apps/docs/src/app/core/component-docs/fixed-card-layout/examples/mobile/fixed-card-layout-mobile-examples.component.ts
  apps/docs/src/app/core/component-docs/fixed-card-layout/fixed-card-layout-docs-header/fixed-card-layout-docs-header.component.html
  apps/docs/src/app/core/component-docs/fixed-card-layout/fixed-card-layout-docs-header/fixed-card-layout-docs-header.component.ts
  apps/docs/src/app/core/component-docs/fixed-card-layout/fixed-card-layout-docs.component.html
  apps/docs/src/app/core/component-docs/fixed-card-layout/fixed-card-layout-docs.component.ts
  apps/docs/src/app/core/component-docs/fixed-card-layout/fixed-card-layout-docs.module.ts
  apps/docs/src/app/core/core-documentation.routes.ts
  apps/docs/src/app/core/documentation/core-documentation.component.ts
  libs/core/src/index.ts
  libs/core/src/lib/fixed-card-layout/fixed-card-layout.component.html
  libs/core/src/lib/fixed-card-layout/fixed-card-layout.component.scss
  libs/core/src/lib/fixed-card-layout/fixed-card-layout.component.spec.ts
  libs/core/src/lib/fixed-card-layout/fixed-card-layout.component.ts
  libs/core/src/lib/fixed-card-layout/fixed-card-layout.module.ts
  libs/core/src/lib/fixed-card-layout/public_api.ts
  libs/core/src/lib/fundamental-ngx-core.module.ts
Labels: 1p, 1p-landing-page, core

#3434 fix: refactor Object Status to use an input property instead of content projection
  apps/docs/src/app/core/component-docs/object-status/examples/object-status-clickable-and-icon-example.component.html
  apps/docs/src/app/core/component-docs/object-status/examples/object-status-generic-text-example.component.html
  apps/docs/src/app/core/component-docs/object-status/examples/object-status-icon-text-example.component.html
  apps/docs/src/app/core/component-docs/object-status/examples/object-status-inverted-example.component.html
  apps/docs/src/app/core/component-docs/object-status/examples/object-status-inverted-generic-text-example.component.html
  apps/docs/src/app/core/component-docs/object-status/examples/object-status-large-example.component.html
  apps/docs/src/app/core/component-docs/object-status/examples/object-status-text-example.component.html
  libs/core/src/lib/object-status/object-status.component.spec.ts
  libs/core/src/lib/object-status/object-status.component.ts
Labels: 0.22.0, Defect Hunting

#3511 fix: Popover shadow dom for IE11
  apps/docs/src/app/core/component-docs/popover/examples/popover-dialog/popover-dialog-example.component.ts
  apps/docs/src/app/core/component-docs/popover/examples/popover-dropdown/popover-dropdown-example.component.ts
  apps/docs/src/app/core/component-docs/popover/examples/popover-simple/popover-example.component.ts
  libs/core/src/lib/popover/popover-directive/popover.directive.ts
Labels: 0.22.0, Defect Hunting, core

#3507 chore: Remove animation from select example
  apps/docs/src/app/core/component-docs/select/examples/select-custom-trigger/select-custom-trigger.component.scss
Labels: 0.22.0, Defect Hunting, core, documentation

#3462 fix: Breadcrumb expand collapsed items styling
  libs/core/src/lib/breadcrumb/breadcrumb.component.html
  libs/core/src/lib/breadcrumb/breadcrumb.component.scss
  libs/core/src/lib/breadcrumb/breadcrumb.component.ts
Labels: 0.22.0, Defect Hunting, core

#3512 docs: Combobox custom template
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-template-example.component.html
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-template-example.component.ts
Labels: 0.22.0, Defect Hunting, core, documentation

#3467 docs: fix Popover Placement documentation
  apps/docs/src/app/core/component-docs/popover/examples/popover-complex-example/popover-complex-example.component.scss
  apps/docs/src/app/core/component-docs/popover/examples/popover-placement/popover-placement-example.component.html
  apps/docs/src/app/core/component-docs/popover/examples/popover-placement/popover-placement-example.component.scss
  apps/docs/src/app/core/component-docs/popover/examples/popover-simple/popover-example.component.scss
Labels: 0.22.0, Defect Hunting, core

#3207 fix: fix files validation on file uploader, add unique ID
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-compact-example/file-uploader-compact-example.component.html
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-drag-disabled-example/file-uploader-drag-disabled-example.component.html
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-drag-disabled-example/file-uploader-drag-disabled-example.component.ts
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-example/file-uploader-example.component.html
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-example/file-uploader-example.component.ts
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-max-example/file-uploader-max-example.component.html
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-max-example/file-uploader-max-example.component.ts
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-min-and-max-size-example/file-uploader-min-and-max-size-example.component.html
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-min-and-max-size-example/file-uploader-min-and-max-size-example.component.scss
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-min-and-max-size-example/file-uploader-min-and-max-size-example.component.ts
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-min-example/file-uploader-min-example.component.html
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-min-example/file-uploader-min-example.component.ts
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-truncation-example/file-uploader-truncation-example.component.html
  apps/docs/src/app/core/component-docs/file-uploader/file-uploader-docs.component.html
  apps/docs/src/app/core/component-docs/file-uploader/file-uploader-docs.component.ts
  apps/docs/src/app/core/component-docs/file-uploader/file-uploader-docs.module.ts
  libs/core/src/lib/file-uploader/directives/file-uploader-dragndrop.directive.ts
  libs/core/src/lib/file-uploader/file-upload.service.spec.ts
  libs/core/src/lib/file-uploader/file-uploader.component.html
  libs/core/src/lib/file-uploader/file-uploader.component.spec.ts
  libs/core/src/lib/file-uploader/file-uploader.component.ts
  libs/core/src/lib/file-uploader/file-uploader.service.ts
  libs/core/src/lib/file-uploader/public_api.ts
Labels: 0.22.0, core

#3461 fix: (core) card RTL mode
  libs/core/src/lib/card/card.component.scss
Labels: Defect Hunting, RTL, bug

#3464 fix: Combobox navigate with tab
  libs/core/src/lib/combobox/combobox.component.ts
Labels: 0.22.0, Defect Hunting, core

#3510 fix: Show side navigation expand icon
  libs/core/src/lib/nested-list/nested-content/nested-list-content.directive.spec.ts
  libs/core/src/lib/nested-list/nested-content/nested-list-content.directive.ts
  libs/core/src/lib/nested-list/nested-item/nested-item.directive.spec.ts
  libs/core/src/lib/nested-list/nested-list-directives.spec.ts
  libs/core/src/lib/nested-list/nested-list-directives.ts
  libs/core/src/lib/nested-list/nested-list.module.ts
  libs/core/src/lib/side-navigation/side-navigation.component.scss
Labels: 0.22.0, Defect Hunting, core

#3472 docs: add missing icons to table examples
  apps/docs/src/app/core/component-docs/table/examples/table-checkboxes-example.component.ts
Labels: 0.22.0, Defect Hunting, core

#3466 fix: refactor Action Bar title to follow the latest fund-styles
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/action-bar/examples/action-bar-back-example.component.html
  apps/docs/src/app/core/component-docs/action-bar/examples/action-bar-contextual-menu-example.component.html
  apps/docs/src/app/core/component-docs/action-bar/examples/action-bar-long-string-title-truncation-example.component.html
  apps/docs/src/app/core/component-docs/action-bar/examples/action-bar-mobile-example.component.html
  apps/docs/src/app/core/component-docs/action-bar/examples/action-bar-no-back-example.component.html
  libs/core/src/lib/action-bar/action-bar-title/action-bar-title.component.spec.ts
  libs/core/src/lib/action-bar/action-bar-title/action-bar-title.component.ts
  libs/core/src/lib/action-bar/action-bar-title/action-bar-title.directive.ts
  libs/core/src/lib/action-bar/action-bar.component.scss
  libs/core/src/lib/action-bar/action-bar.component.ts
  libs/core/src/lib/action-bar/action-bar.module.ts
  libs/core/src/lib/action-bar/public_api.ts
Labels: 0.22.0, Defect Hunting, core

#3463 fix: Update Dialog title styling
  libs/core/src/lib/dialog/dialog-utils/dialog-directives.ts
  libs/core/src/lib/dialog/dialog.component.scss
Labels: 0.22.0, Defect Hunting, core
