Repository SAP/fundamental-ngx, pull requests merged in 2021-10, with the labels that each got.

#6796 chore: remove extra props from tsconfig.json
  apps/docs/tsconfig.json
Labels: documentation

#6744 fix(platform): table, fix column freezing issue
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-freezable-example.component.html
  libs/platform/src/lib/table/table.component.html
  libs/platform/src/lib/table/table.component.scss
Labels: documentation, platform, ready for merge, QA Approved, table

#6715 feat(core): implement vertical navigation
  angular.json
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/vertical-navigation/examples/vertical-navigation-condensed-example.component.html
  apps/docs/src/app/core/component-docs/vertical-navigation/examples/vertical-navigation-condensed-example.component.ts
  apps/docs/src/app/core/component-docs/vertical-navigation/examples/vertical-navigation-default-example.component.html
  apps/docs/src/app/core/component-docs/vertical-navigation/examples/vertical-navigation-default-example.component.ts
  apps/docs/src/app/core/component-docs/vertical-navigation/examples/vertical-navigation-grouping-example.component.html
  apps/docs/src/app/core/component-docs/vertical-navigation/examples/vertical-navigation-grouping-example.component.ts
  apps/docs/src/app/core/component-docs/vertical-navigation/examples/vertical-navigation-no-icons-example.component.html
  apps/docs/src/app/core/component-docs/vertical-navigation/examples/vertical-navigation-no-icons-example.component.ts
  apps/docs/src/app/core/component-docs/vertical-navigation/vertical-navigation-docs.component.html
  apps/docs/src/app/core/component-docs/vertical-navigation/vertical-navigation-docs.component.ts
  apps/docs/src/app/core/component-docs/vertical-navigation/vertical-navigation-docs.module.ts
  apps/docs/src/app/core/component-docs/vertical-navigation/vertical-navigation-header/vertical-navigation-header.component.html
  apps/docs/src/app/core/component-docs/vertical-navigation/vertical-navigation-header/vertical-navigation-header.component.ts
  apps/docs/src/app/core/core-documentation.routes.ts
  apps/docs/src/app/core/documentation/core-documentation.component.ts
  libs/core/src/lib/fundamental-ngx.module.ts
  libs/core/src/lib/icon/icon.component.ts
  libs/core/src/lib/list/directives/list-navigation-item-arrow.directive.ts
  libs/core/src/lib/list/directives/list-navigation-item-text.directive.ts
  libs/core/src/lib/list/list-navigation-item/list-navigation-item.component.html
  libs/core/src/lib/list/list-navigation-item/list-navigation-item.component.scss
  libs/core/src/lib/list/list-navigation-item/list-navigation-item.component.spec.ts
  libs/core/src/lib/list/list-navigation-item/list-navigation-item.component.ts
  libs/core/src/lib/list/list.component.scss
  libs/core/src/lib/list/list.component.ts
  libs/core/src/lib/list/list.module.ts
  libs/core/src/lib/list/public_api.ts
  libs/core/src/lib/public_api.ts
  libs/core/src/lib/vertical-navigation/README.md
  libs/core/src/lib/vertical-navigation/index.ts
  libs/core/src/lib/vertical-navigation/karma.conf.js
  libs/core/src/lib/vertical-navigation/ng-package.json
  libs/core/src/lib/vertical-navigation/package.json
  libs/core/src/lib/vertical-navigation/public_api.ts
  libs/core/src/lib/vertical-navigation/test.ts
  libs/core/src/lib/vertical-navigation/tsconfig.json
  libs/core/src/lib/vertical-navigation/tsconfig.lib.json
  libs/core/src/lib/vertical-navigation/tsconfig.lib.prod.json
  libs/core/src/lib/vertical-navigation/tsconfig.spec.json
  libs/core/src/lib/vertical-navigation/tslint.json
  libs/core/src/lib/vertical-navigation/vertical-navigation-group-header.directive.ts
  libs/core/src/lib/vertical-navigation/vertical-navigation-main-navigation.component.ts
  libs/core/src/lib/vertical-navigation/vertical-navigation.component.html
  libs/core/src/lib/vertical-navigation/vertical-navigation.component.scss
  libs/core/src/lib/vertical-navigation/vertical-navigation.component.spec.ts
  libs/core/src/lib/vertical-navigation/vertical-navigation.component.ts
  libs/core/src/lib/vertical-navigation/vertical-navigation.module.ts
  nx.json
  tsconfig.base.json
Labels: enhancement, core, stale

#6755 fix(core): pagination a11y
  libs/core/src/lib/pagination/pagination.component.ts
Labels: bug, accessibility, core

#6716 feat(platform): table semantic highlighting
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-data-items-example.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-semantic-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-semantic-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table.module.ts
  libs/platform/src/lib/table/constants/index.ts
  libs/platform/src/lib/table/table-column-resize.service.spec.ts
  libs/platform/src/lib/table/table-column-resize.service.ts
  libs/platform/src/lib/table/table.component.html
  libs/platform/src/lib/table/table.component.scss
  libs/platform/src/lib/table/table.component.ts
  package-lock.json
  package.json
Labels: enhancement, platform, QA Approved, table, stale

#6712 fix(platform): table, fix busy state issue
  libs/platform/src/lib/search-field/search-field.component.html
  libs/platform/src/lib/table/components/table-toolbar/table-toolbar.component.html
  libs/platform/src/lib/table/components/table-toolbar/table-toolbar.component.ts
  libs/platform/src/lib/table/table.component.ts
  libs/platform/src/lib/table/table.service.ts
Labels: platform, ready for merge, QA Approved, table, stale

#6787 docs(core): moment adapter
  apps/docs/src/app/core/component-docs/moment-datetime-adapter/moment-datetime-adapter-header/moment-datetime-adapter-header.component.html
  apps/docs/src/app/core/component-docs/moment-datetime-adapter/moment-datetime-adapter-header/moment-datetime-adapter-header.component.ts
Labels: documentation

#6797 fix(platform): use placeholder property for form generator
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-examples/platform-form-generator-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-examples/platform-form-generator-field-layout-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-examples/platform-form-generator-observable-example.component.ts
  libs/platform/src/lib/form/form-generator/dynamic-form-generator-datepicker/dynamic-form-generator-datepicker.component.html
  libs/platform/src/lib/form/form-generator/dynamic-form-generator-editor/dynamic-form-generator-editor.component.html
  libs/platform/src/lib/form/form-generator/dynamic-form-generator-select/dynamic-form-generator-select.component.html
Labels: dxp

#6472 fix(core): fix busy indicator accessibility bugs
  apps/docs/src/app/core/component-docs/busy-indicator/examples/busy-indicator-wrapper-example.component.html
  apps/docs/src/app/core/component-docs/busy-indicator/examples/index.ts
  libs/core/src/lib/busy-indicator/busy-indicator.component.ts
  libs/platform/src/lib/table/table.component.scss
Labels: bug, accessibility, core

#6564 fix(core): textarea, fix a11y issues
  apps/docs/src/app/core/component-docs/textarea/examples/textarea-example.component.html
  apps/docs/src/app/core/component-docs/textarea/examples/textarea-form-group-example.component.html
  apps/docs/src/app/core/component-docs/textarea/examples/textarea-inline-help-example.component.html
  apps/docs/src/app/core/component-docs/textarea/examples/textarea-state-example.component.html
  libs/core/src/lib/form/form-label/form-label.component.html
  libs/core/src/lib/form/form-label/form-label.component.scss
Labels: accessibility, core, rework required

#6594 fix(core): popover, fix a11y issues
  apps/docs/src/app/core/component-docs/popover/examples/popover-focus-example/popover-focus-example.component.html
  apps/docs/src/app/core/component-docs/popover/examples/popover-scroll-example/popover-scroll-example.component.html
  apps/docs/src/app/core/component-docs/popover/examples/popover-simple/popover-example.component.html
  apps/docs/src/app/core/component-docs/popover/popover-docs.component.html
  libs/core/src/lib/dialog/dialog.component.ts
  libs/core/src/lib/popover/popover-mobile/popover-mobile.component.html
  libs/core/src/lib/popover/popover-mobile/popover-mobile.component.ts
  libs/core/src/lib/popover/popover.component.ts
  libs/core/src/lib/segmented-button/segmented-button.component.ts
Labels: accessibility, core, ready for merge, QA Approved

#6727 fix(core): multi-input, disable browser native autocomplete
  libs/core/src/lib/multi-input/multi-input.component.html
Labels: core, ready for merge, QA Approved

#6740 fix(core): multi-input, fix rtl mode for mobile view
  libs/core/src/lib/multi-input/multi-input.component.ts
Labels: core, ready for merge, QA Approved

#6764 docs(platform): table no data custom message fix
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-no-items-template-example.component.ts
Labels: documentation, platform, QA Approved, table

#6745 test(e2e): update e2e tests for dialog component
  e2e/wdio/core/fixtures/appData/dialog-contents.ts
  e2e/wdio/core/pages/dialog.po.ts
  e2e/wdio/core/tests/dialog.e2e-spec.ts
  wdio-cron.conf.js
  wdio.conf.js
Labels: ready for merge, e2e, stale

#6771 docs(core,platform): fix stackblitz examples
  apps/docs/src/app/documentation/core-helpers/stackblitz/stackblitz-dependencies.ts
  apps/docs/src/app/documentation/core-helpers/stackblitz/utils/parse-version.spec.ts
  apps/docs/src/app/documentation/core-helpers/stackblitz/utils/parse-version.ts
  apps/docs/tsconfig.app.json
  apps/docs/tsconfig.json
  apps/docs/tsconfig.netlify.json
Labels: documentation, stackblitz

#6825 test(platform): fix table unit tests
  libs/platform/src/lib/table/components/table-toolbar/table-toolbar.component.spec.ts
  libs/platform/src/lib/table/components/table-toolbar/table-toolbar.component.ts
Labels: bug, platform, unit tests, QA Approved, table

#6709 docs(core): add tabindex in icon examples components
  apps/docs/src/app/core/component-docs/icon/examples/icon-businessSuiteInAppSymbols-example.component.html
  apps/docs/src/app/core/component-docs/icon/examples/icon-example.component.html
  apps/docs/src/app/core/component-docs/icon/examples/icon-tnt-example.component.html
Labels: accessibility, core, ready for merge, QA Approved, ATL

#6772 fix(platform): icon-tab-bar types & interfaces
  libs/platform/src/lib/icon-tab-bar/components/icon-tab-bar-base.class.ts
  libs/platform/src/lib/icon-tab-bar/components/icon-tab-bar-filter-type/icon-tab-bar-filter-type.component.ts
  libs/platform/src/lib/icon-tab-bar/components/icon-tab-bar-process-type/icon-tab-bar-process-type.component.ts
  libs/platform/src/lib/icon-tab-bar/components/icon-tab-bar-text-type/icon-tab-bar-text-type.component.ts
  libs/platform/src/lib/icon-tab-bar/components/popovers/icon-tab-bar-popover-base.class.ts
  libs/platform/src/lib/icon-tab-bar/components/popovers/text-type-popover/text-type-popover.component.ts
  libs/platform/src/lib/icon-tab-bar/directives/dnd/icon-bar-dnd-container.directive.ts
  libs/platform/src/lib/icon-tab-bar/directives/dnd/icon-bar-dnd-item.directive.ts
  libs/platform/src/lib/icon-tab-bar/icon-tab-bar.component.spec.ts
  libs/platform/src/lib/icon-tab-bar/icon-tab-bar.component.ts
  libs/platform/src/lib/icon-tab-bar/interfaces/icon-tab-bar-item.interface.ts
  libs/platform/src/lib/icon-tab-bar/interfaces/tab-config.interface.ts
  libs/platform/src/lib/icon-tab-bar/tests-helper.ts
  libs/platform/src/lib/icon-tab-bar/types.ts
  libs/platform/src/lib/icon-tab-bar/types/index.ts
Labels: bug, platform, unit tests, stale

#6728 fix(platform): input touched state
  libs/platform/src/lib/form/input-group/input-group.component.spec.ts
  libs/platform/src/lib/shared/form/base.input.ts
Labels: bug, platform, QA Approved, stale

#6695 fix(core,platform): table styles refactoring
  libs/core/src/lib/table/directives/table-row.directive.ts
  libs/core/src/lib/table/table.component.scss
  libs/platform/src/lib/table/table.component.html
  libs/platform/src/lib/table/table.component.scss
  libs/platform/src/lib/table/table.component.spec.ts
  libs/platform/src/lib/table/table.component.ts
Labels: code refactoring, platform, core, QA Approved, styling, table, stale

#6468 feat(core): splitter component
  angular.json
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/splitter/examples/api/splitter-api-example.component.html
  apps/docs/src/app/core/component-docs/splitter/examples/api/splitter-api-example.component.ts
  apps/docs/src/app/core/component-docs/splitter/examples/default/splitter-default-example.component.html
  apps/docs/src/app/core/component-docs/splitter/examples/default/splitter-default-example.component.ts
  apps/docs/src/app/core/component-docs/splitter/examples/index.ts
  apps/docs/src/app/core/component-docs/splitter/examples/required-parent-width/splitter-required-parent-width-example.component.html
  apps/docs/src/app/core/component-docs/splitter/examples/required-parent-width/splitter-required-parent-width-example.component.ts
  apps/docs/src/app/core/component-docs/splitter/splitter-docs.component.html
  apps/docs/src/app/core/component-docs/splitter/splitter-docs.component.ts
  apps/docs/src/app/core/component-docs/splitter/splitter-docs.module.ts
  apps/docs/src/app/core/component-docs/splitter/splitter-header/splitter-header.component.html
  apps/docs/src/app/core/component-docs/splitter/splitter-header/splitter-header.component.ts
  apps/docs/src/app/core/core-documentation.routes.ts
  apps/docs/src/app/core/documentation/core-documentation.component.ts
  libs/core/src/lib/fundamental-ngx.module.ts
  libs/core/src/lib/public_api.ts
  libs/core/src/lib/splitter/README.md
  libs/core/src/lib/splitter/constants.ts
  libs/core/src/lib/splitter/index.ts
  libs/core/src/lib/splitter/interfaces/splitter-pane-resize-event.interface.ts
  libs/core/src/lib/splitter/karma.conf.js
  libs/core/src/lib/splitter/ng-package.json
  libs/core/src/lib/splitter/package.json
  libs/core/src/lib/splitter/pipes.ts
  libs/core/src/lib/splitter/public_api.ts
  libs/core/src/lib/splitter/splitter-pagination/splitter-pagination.component.html
  libs/core/src/lib/splitter/splitter-pagination/splitter-pagination.component.spec.ts
  libs/core/src/lib/splitter/splitter-pagination/splitter-pagination.component.ts
  libs/core/src/lib/splitter/splitter-pane-container/splitter-pane-container.component.html
  libs/core/src/lib/splitter/splitter-pane-container/splitter-pane-container.component.spec.ts
  libs/core/src/lib/splitter/splitter-pane-container/splitter-pane-container.component.ts
  libs/core/src/lib/splitter/splitter-resizer/splitter-resizer.component.html
  libs/core/src/lib/splitter/splitter-resizer/splitter-resizer.component.spec.ts
  libs/core/src/lib/splitter/splitter-resizer/splitter-resizer.component.ts
  libs/core/src/lib/splitter/splitter-split-pane/splitter-split-pane.component.html
  libs/core/src/lib/splitter/splitter-split-pane/splitter-split-pane.component.spec.ts
  libs/core/src/lib/splitter/splitter-split-pane/splitter-split-pane.component.ts
  libs/core/src/lib/splitter/splitter.component.html
  libs/core/src/lib/splitter/splitter.component.scss
  libs/core/src/lib/splitter/splitter.component.spec.ts
  libs/core/src/lib/splitter/splitter.component.ts
  libs/core/src/lib/splitter/splitter.module.ts
  libs/core/src/lib/splitter/test.ts
  libs/core/src/lib/splitter/tsconfig.json
  libs/core/src/lib/splitter/tsconfig.lib.json
  libs/core/src/lib/splitter/tsconfig.lib.prod.json
  libs/core/src/lib/splitter/tsconfig.spec.json
  libs/core/src/lib/splitter/tslint.json
  nx.json
  tsconfig.base.json
Labels: core, Fiori 3 component, QA Approved

#6385 fix(core): adding accessability label and reading button type
  apps/docs/src/app/core/component-docs/button/button-header/button-header.component.html
  apps/docs/src/app/core/component-docs/button/examples/button-icons-example.component.html
  apps/docs/src/app/core/component-docs/button/examples/button-menu-example.component.html
  apps/docs/src/app/core/component-docs/button/examples/button-sizes-example.component.html
  apps/docs/src/app/core/component-docs/button/examples/button-split-example.component.html
  apps/docs/src/app/core/component-docs/button/examples/button-types-example.component.html
  apps/docs/src/app/core/component-docs/dynamic-page/dynamic-page-examples/dynamic-page-column-layout-example/dynamic-page-column-layout-example.component.html
  apps/docs/src/app/core/component-docs/dynamic-page/dynamic-page-examples/dynamic-page-example.component.html
  apps/docs/src/app/core/component-docs/dynamic-page/dynamic-page-examples/dynamic-page-responsive-example/dynamic-page-responsive-example.component.html
  apps/docs/src/app/core/component-docs/dynamic-page/dynamic-page-examples/dynamic-page-tabs-example/dynamic-page-tabs-example.component.html
  libs/core/src/lib/bar/button-bar/button-bar.component.ts
  libs/core/src/lib/button/base-button.ts
  libs/core/src/lib/button/button.component.ts
  libs/core/src/lib/dynamic-page/dynamic-page-header/subheader/dynamic-page-subheader.component.html
  libs/core/src/lib/input-group/input-group.component.html
  libs/core/src/lib/panel/panel.component.html
  libs/platform/src/lib/button/button.component.html
  libs/platform/src/lib/panel/panel.component.spec.ts
Labels: core, ready for merge, ariba, QA Approved, ATL

#6535 fix(core,platform): fix a11y issues for object marker component for core and platform lib
  apps/docs/src/app/core/component-docs/object-marker/examples/object-marker-clickable-example.component.html
  apps/docs/src/app/core/component-docs/object-marker/examples/object-marker-example.component.html
  apps/docs/src/app/core/component-docs/object-marker/examples/object-marker-text-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-marker/object-marker-example/object-marker-text-clickable/object-marker-text-clickable-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-marker/object-marker-example/object-marker-text-only-example/object-marker-text-only-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-marker/object-marker-example/object-marker/object-marker-example.component.html
  e2e/wdio/core/fixtures/appData/object-marker-content.ts
  libs/core/src/lib/object-marker/object-marker.component.ts
  libs/platform/src/lib/object-marker/object-marker.component.html
  libs/platform/src/lib/object-marker/object-marker.component.spec.ts
  libs/platform/src/lib/object-marker/object-marker.component.ts
  package-lock.json
  package.json
Labels: bug, platform, core, ready for merge, QA Approved, ATL

#6837 docs(core): calendar - use date instead of datetime in examples
  apps/docs/src/app/core/component-docs/calendar/calendar-docs.component.ts
  apps/docs/src/app/core/component-docs/calendar/calendar-docs.module.ts
  apps/docs/src/app/core/component-docs/calendar/examples/calendar-form-example/calendar-form-example.component.html
  apps/docs/src/app/core/component-docs/calendar/examples/calendar-form-example/calendar-form-example.component.scss
  apps/docs/src/app/core/component-docs/calendar/examples/calendar-form-example/calendar-form-example.component.ts
  apps/docs/src/app/core/component-docs/calendar/examples/calendar-mark-hover/calendar-mark-hover.component.html
  apps/docs/src/app/core/component-docs/calendar/examples/calendar-mobile-example/calendar-mobile-example.component.html
  apps/docs/src/app/core/component-docs/calendar/examples/calendar-programmatically-change-example.component.ts
  apps/docs/src/app/core/component-docs/calendar/examples/calendar-range-example.component.ts
  apps/docs/src/app/core/component-docs/calendar/examples/calendar-single-example.component.ts
Labels: core

#6713 fix(platform): table, fix content density and width issues
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-activable-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-custom-column-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-custom-width-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-default-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-filterable-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-freezable-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-groupable-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-initial-state-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-loading-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-multiple-row-selection-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-navigatable-row-indicator-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-no-items-template-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-p13-columns-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-p13-filter-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-p13-group-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-p13-sort-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-page-scrolling-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-single-row-selection-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-sortable-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-tree-example.component.html
  libs/platform/src/lib/table/components/table-column/table-column.component.ts
  libs/platform/src/lib/table/table-column-resize.service.ts
  libs/platform/src/lib/table/table.component.ts
Labels: platform, ready for merge, QA Approved, table

#6774 docs(platform): checkbox group pre-selected output label
  apps/docs/src/app/platform/component-docs/platform-forms/platform-checkbox-group/platform-checkbox-group-examples/platform-checkbox-group-list-object.component.html
Labels: bug, platform, ready for merge, QA Approved

#6724 fix(platform): table, preserve row selection on data changed
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-default-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-default-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-single-row-selection-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-single-row-selection-example.component.ts
  libs/platform/src/lib/table/components/table-column-resizer/table-column-resizer.component.spec.ts
  libs/platform/src/lib/table/components/table-column/table-column.component.spec.ts
  libs/platform/src/lib/table/mocks/table-column-resize-mock.service.ts
  libs/platform/src/lib/table/models/index.ts
  libs/platform/src/lib/table/models/row-comparator.model.ts
  libs/platform/src/lib/table/table.component.html
  libs/platform/src/lib/table/table.component.ts
Labels: platform, ready for merge, QA Approved, table

#6831 fix(platform): pass property from wizard to form
  libs/platform/src/lib/wizard-generator/components/wizard-body/wizard-body.component.html
  libs/platform/src/lib/wizard-generator/components/wizard-generator-step/wizard-generator-step.component.html
  libs/platform/src/lib/wizard-generator/components/wizard-generator-step/wizard-generator-step.component.ts
Labels: bug

#6790 fix(core): adding keyboard accessabitlity to the multi input component
  libs/core/src/lib/multi-input/multi-input.component.ts
Labels: bug, accessibility, core, ready for merge, QA Approved

#6849 fix(platform): add export for multi-input config
  libs/platform/src/lib/form/public_api.ts
Labels: platform, High priority

#6857 fix(platform): table, content density issues
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-docs.component.ts
  libs/platform/src/lib/table/constants/index.ts
  libs/platform/src/lib/table/table.component.scss
  libs/platform/src/lib/table/table.component.ts
Labels: platform, QA Approved, table
