Repository SAP/fundamental-ngx, pull requests merged in 2021-12, with the labels that each got.

#7299 test(e2e): fix failed tests on main branch
  e2e/wdio/core/fixtures/testData/date-picker-tags.ts
  e2e/wdio/core/pages/date-time-picker.po.ts
  e2e/wdio/core/pages/toolbar.po.ts
  e2e/wdio/core/tests/date-picker.e2e-spec.ts
  e2e/wdio/core/tests/date-time-picker.e2e-spec.ts
  e2e/wdio/core/tests/toolbar.e2e-spec.ts
Labels: ready for merge, e2e

#7271 docs(core): datetime-picker, fix view for ar language
  apps/docs/src/app/core/component-docs/datetime-picker/examples/datetime-picker-complex-i18n-example/datetime-picker-complex-i18n-example.component.html
Labels: core, ready for merge, QA Approved

#7233 feat(core): pagination layout & styles update
  apps/docs/src/app/core/component-docs/pagination/examples/pagination-mobile/pagination-mobile-example.component.html
  apps/docs/src/app/core/component-docs/pagination/examples/pagination-mobile/pagination-mobile-example.component.ts
  apps/docs/src/app/core/component-docs/pagination/examples/pagination-per-page/pagination-per-page-example.component.html
  apps/docs/src/app/core/component-docs/pagination/examples/pagination-per-page/pagination-per-page-example.component.ts
  apps/docs/src/app/core/component-docs/pagination/pagination-docs.component.html
  apps/docs/src/app/core/component-docs/pagination/pagination-docs.component.ts
  apps/docs/src/app/core/component-docs/pagination/pagination-docs.module.ts
  apps/docs/src/app/core/component-docs/pagination/pagination-header/pagination-header.component.html
  e2e/wdio/core/fixtures/appData/table-content.ts
  e2e/wdio/core/pages/pagination.po.ts
  e2e/wdio/core/pages/table.po.ts
  e2e/wdio/core/tests/pagination.e2e-spec.ts
  e2e/wdio/core/tests/table.e2e-spec.ts
  e2e/wdio/platform/pages/upload-collection.po.ts
  e2e/wdio/platform/tests/upload-collection.e2e-spec.ts
  libs/core/src/lib/pagination/pagination.component.html
  libs/core/src/lib/pagination/pagination.component.scss
  libs/core/src/lib/pagination/pagination.component.spec.ts
  libs/core/src/lib/pagination/pagination.component.ts
  libs/core/src/lib/pagination/pagination.module.ts
  libs/core/src/lib/pagination/pagination.service.ts
  package-lock.json
  package.json
Labels: enhancement, dxp, QA Approved

#7301 chore(ci): override github actions virtual machine node version
  .github/workflows/on-push-or-pull.yml
  .github/workflows/on-schedule.yml
  package-lock.json
Labels: ready for merge

#7223 feat(core): implement progress indicator
  angular.json
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/progress-indicator/example/progress-indicator-animation.component.html
  apps/docs/src/app/core/component-docs/progress-indicator/example/progress-indicator-animation.component.ts
  apps/docs/src/app/core/component-docs/progress-indicator/example/progress-indicator-default.component.html
  apps/docs/src/app/core/component-docs/progress-indicator/example/progress-indicator-default.component.ts
  apps/docs/src/app/core/component-docs/progress-indicator/example/progress-indicator-state.component.html
  apps/docs/src/app/core/component-docs/progress-indicator/example/progress-indicator-state.component.ts
  apps/docs/src/app/core/component-docs/progress-indicator/example/progress-indicator-truncation.component.html
  apps/docs/src/app/core/component-docs/progress-indicator/example/progress-indicator-truncation.component.ts
  apps/docs/src/app/core/component-docs/progress-indicator/progress-indicator-docs.component.html
  apps/docs/src/app/core/component-docs/progress-indicator/progress-indicator-docs.component.scss
  apps/docs/src/app/core/component-docs/progress-indicator/progress-indicator-docs.component.ts
  apps/docs/src/app/core/component-docs/progress-indicator/progress-indicator-docs.module.ts
  apps/docs/src/app/core/component-docs/progress-indicator/progress-indicator-header/progress-indicator-header.component.html
  apps/docs/src/app/core/component-docs/progress-indicator/progress-indicator-header/progress-indicator-header.component.ts
  apps/docs/src/app/core/core-documentation.routes.ts
  apps/docs/src/app/core/documentation/core-documentation.component.ts
  libs/core/src/lib/fundamental-ngx.module.ts
  libs/core/src/lib/progress-indicator/README.md
  libs/core/src/lib/progress-indicator/index.ts
  libs/core/src/lib/progress-indicator/karma.conf.js
  libs/core/src/lib/progress-indicator/ng-package.json
  libs/core/src/lib/progress-indicator/package.json
  libs/core/src/lib/progress-indicator/progress-indicator.component.html
  libs/core/src/lib/progress-indicator/progress-indicator.component.scss
  libs/core/src/lib/progress-indicator/progress-indicator.component.spec.ts
  libs/core/src/lib/progress-indicator/progress-indicator.component.ts
  libs/core/src/lib/progress-indicator/progress-indicator.module.ts
  libs/core/src/lib/progress-indicator/public_api.ts
  libs/core/src/lib/progress-indicator/test.ts
  libs/core/src/lib/progress-indicator/tsconfig.json
  libs/core/src/lib/progress-indicator/tsconfig.lib.json
  libs/core/src/lib/progress-indicator/tsconfig.lib.prod.json
  libs/core/src/lib/progress-indicator/tsconfig.spec.json
  libs/core/src/lib/progress-indicator/tslint.json
  libs/core/src/lib/public_api.ts
  nx.json
  tsconfig.base.json
Labels: enhancement, core

#7305 fix(core): fix progress indicator linter
  libs/core/src/lib/progress-indicator/progress-indicator.component.ts
  libs/core/src/lib/progress-indicator/tslint.json
Labels: bug

#7243 feat(platform): form generator group support
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-container/platform-form-container-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-container/platform-form-container-docs.module.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-container/platform-form-container-examples/platform-form-basic/platform-form-basic-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-container/platform-form-container-examples/platform-form-custom-layout.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-container/platform-form-container-examples/platform-form-custom-layout.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-container/platform-form-container-examples/platform-form-group/platform-form-group-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-docs.module.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-examples/platform-form-generator-custom-component-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-examples/platform-form-generator-custom-error-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-examples/platform-form-generator-custom-field-layout-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-examples/platform-form-generator-custom-field-layout-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-examples/platform-form-generator-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-examples/platform-form-generator-grouping-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-examples/platform-form-generator-grouping-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/examples/wizard-generator-onchange-example.component.ts
  e2e/wdio/core/tests/pagination.e2e-spec.ts
  e2e/wdio/core/tests/table.e2e-spec.ts
  e2e/wdio/platform/tests/upload-collection.e2e-spec.ts
  libs/platform/src/lib/form/form-generator/base-dynamic-form-generator-control.ts
  libs/platform/src/lib/form/form-generator/dynamic-form-control.directive.ts
  libs/platform/src/lib/form/form-generator/dynamic-form-control.ts
  libs/platform/src/lib/form/form-generator/dynamic-form-generator-checkbox/dynamic-form-generator-checkbox.component.html
  libs/platform/src/lib/form/form-generator/dynamic-form-generator-datepicker/dynamic-form-generator-datepicker.component.html
  libs/platform/src/lib/form/form-generator/dynamic-form-generator-editor/dynamic-form-generator-editor.component.html
  libs/platform/src/lib/form/form-generator/dynamic-form-generator-input/dynamic-form-generator-input.component.html
  libs/platform/src/lib/form/form-generator/dynamic-form-generator-radio/dynamic-form-generator-radio.component.html
  libs/platform/src/lib/form/form-generator/dynamic-form-generator-select/dynamic-form-generator-select.component.html
  libs/platform/src/lib/form/form-generator/dynamic-form-generator-switch/dynamic-form-generator-switch.component.html
  libs/platform/src/lib/form/form-generator/fdp-form-generator.module.ts
  libs/platform/src/lib/form/form-generator/form-generator-field/form-generator-field.component.html
  libs/platform/src/lib/form/form-generator/form-generator-field/form-generator-field.component.scss
  libs/platform/src/lib/form/form-generator/form-generator-field/form-generator-field.component.ts
  libs/platform/src/lib/form/form-generator/form-generator.service.spec.ts
  libs/platform/src/lib/form/form-generator/form-generator.service.ts
  libs/platform/src/lib/form/form-generator/form-generator/form-generator.component.html
  libs/platform/src/lib/form/form-generator/form-generator/form-generator.component.spec.ts
  libs/platform/src/lib/form/form-generator/form-generator/form-generator.component.ts
  libs/platform/src/lib/form/form-generator/interfaces/dynamic-abstract-control.ts
  libs/platform/src/lib/form/form-generator/interfaces/dynamic-form-group.ts
  libs/platform/src/lib/form/form-generator/interfaces/dynamic-form-item.ts
  libs/platform/src/lib/form/form-generator/public_api.ts
  libs/platform/src/lib/form/form-group/constants.ts
  libs/platform/src/lib/form/form-group/form-field-group/form-field-group.component.ts
  libs/platform/src/lib/form/form-group/form-field/form-field.component.html
  libs/platform/src/lib/form/form-group/form-field/form-field.component.scss
  libs/platform/src/lib/form/form-group/form-field/form-field.component.ts
  libs/platform/src/lib/form/form-group/form-group.component.ts
  libs/platform/src/lib/form/form-helpers.ts
  libs/platform/src/lib/form/public_api.ts
  libs/platform/src/lib/shared/form/form-field-group.ts
  libs/platform/src/lib/shared/form/form-field.ts
  libs/platform/src/lib/shared/form/form-group.ts
  libs/platform/src/lib/shared/form/form-options.ts
  libs/platform/src/lib/wizard-generator/components/wizard-generator-step/wizard-generator-step.component.ts
  libs/platform/src/lib/wizard-generator/components/wizard-summary-step/wizard-summary-step.component.ts
  libs/platform/src/lib/wizard-generator/wizard-generator.service.ts
  package.json
Labels: enhancement

#7306 test(core): fix eslint error
  libs/core/src/lib/progress-indicator/progress-indicator.component.spec.ts
Labels: core, unit tests

#7307 fix(platform): table cd
  libs/platform/src/lib/table/table.component.ts
Labels: platform, table

#7302 chore(core,platform): prohibit fit
  .eslintrc.json
Labels: platform, core

#7240 test(e2e): fix e2e for daily build
  e2e/wdio/core/pages/dialog.po.ts
  e2e/wdio/core/pages/toolbar.po.ts
  e2e/wdio/core/tests/dialog.e2e-spec.ts
  e2e/wdio/core/tests/notification.e2e-spec.ts
  e2e/wdio/core/tests/splitter.e2e-spec.ts
  e2e/wdio/core/tests/toolbar.e2e-spec.ts
  e2e/wdio/platform/pages/value-help-dialog.po.ts
  e2e/wdio/platform/tests/form-container.e2e-spec.ts
  e2e/wdio/platform/tests/upload-collection.e2e-spec.ts
  wdio-cron.conf.js
Labels: ready for merge, e2e

#7274 test(e2e): add additional test cases for components
  e2e/wdio/core/pages/calendar.po.ts
  e2e/wdio/core/pages/link.po.ts
  e2e/wdio/core/pages/standard-list.po.ts
  e2e/wdio/core/tests/calendar.e2e-spec.ts
  e2e/wdio/core/tests/dynamic-page.e2e-spec.ts
  e2e/wdio/core/tests/link.e2e-spec.ts
  e2e/wdio/core/tests/list-byline.e2e-spec.ts
  e2e/wdio/core/tests/notification.e2e-spec.ts
  e2e/wdio/core/tests/standard-list.e2e-spec.ts
  e2e/wdio/platform/pages/select.po.ts
  e2e/wdio/platform/pages/time-picker.po.ts
  e2e/wdio/platform/tests/object-attribute.e2e-spec.ts
  e2e/wdio/platform/tests/select.e2e-spec.ts
  e2e/wdio/platform/tests/split-menu-button.e2e-spec.ts
  e2e/wdio/platform/tests/time-picker.e2e-spec.ts
Labels: ready for merge, e2e

#7280 fix(core): time component accessibility
  e2e/wdio/core/pages/date-time-picker.po.ts
  e2e/wdio/core/pages/time.po.ts
  e2e/wdio/core/pages/toolbar.po.ts
  e2e/wdio/core/tests/date-time-picker.e2e-spec.ts
  e2e/wdio/core/tests/time.e2e-spec.ts
  e2e/wdio/core/tests/toolbar.e2e-spec.ts
  e2e/wdio/platform/pages/date-time-picker.po.ts
  e2e/wdio/platform/pages/time-picker.po.ts
  e2e/wdio/platform/tests/date-time-picker.e2e-spec.ts
  e2e/wdio/platform/tests/time-picker.e2e-spec.ts
  libs/core/src/lib/time-picker/time-picker.component.ts
  libs/core/src/lib/time/i18n/time-i18n.ts
  libs/core/src/lib/time/time-column/time-column-config.ts
  libs/core/src/lib/time/time-column/time-column.component.html
  libs/core/src/lib/time/time-column/time-column.component.scss
  libs/core/src/lib/time/time-column/time-column.component.ts
  libs/core/src/lib/time/time.component.html
  libs/core/src/lib/time/time.component.ts
Labels: core, ready for merge, QA Approved, stale, ATL verified

#7331 fix(platform): form generator typo
  libs/platform/src/lib/form/form-generator/form-generator/form-generator.component.html
Labels: bug, platform

#6951 fix(core): combobox a11y issues
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-mobile/combobox-mobile-example.component.ts
  e2e/wdio/core/pages/combobox.po.ts
  e2e/wdio/platform/pages/table.po.ts
  e2e/wdio/platform/tests/wizard-generator.e2e-spec.ts
  libs/core/src/lib/combobox/combobox-mobile/combobox-mobile.component.html
  libs/core/src/lib/combobox/combobox-mobile/combobox-mobile.component.ts
  libs/core/src/lib/combobox/combobox.component.html
  libs/core/src/lib/combobox/combobox.component.scss
  libs/core/src/lib/combobox/combobox.component.ts
  libs/core/src/lib/input-group/input-group.component.html
  libs/core/src/lib/input-group/input-group.component.ts
  libs/core/src/lib/list/directives/list-group-header.directive.spec.ts
  libs/core/src/lib/list/directives/list-group-header.directive.ts
  libs/core/src/lib/utils/directives/auto-complete/auto-complete.directive.ts
  libs/platform/src/lib/form/combobox/combobox/combobox.component.html
Labels: accessibility, core, ready for merge, QA Approved, ATL verified

#6997 fix(platform): icon tab bar a11y issues
  apps/docs/src/app/platform/component-docs/platform-icon-tab-bar/examples/platform-icon-tab-bar-text-type-example/platform-icon-tab-bar-text-type-example.component.ts
  libs/platform/src/lib/icon-tab-bar/components/icon-tab-bar-base.class.ts
  libs/platform/src/lib/icon-tab-bar/components/icon-tab-bar-filter-type/icon-tab-bar-filter-type.component.html
  libs/platform/src/lib/icon-tab-bar/components/icon-tab-bar-filter-type/icon-tab-bar-filter-type.component.ts
  libs/platform/src/lib/icon-tab-bar/components/icon-tab-bar-icon-type/icon-tab-bar-icon-type.component.html
  libs/platform/src/lib/icon-tab-bar/components/icon-tab-bar-icon-type/icon-tab-bar-icon-type.component.ts
  libs/platform/src/lib/icon-tab-bar/components/icon-tab-bar-process-type/icon-tab-bar-process-type.component.html
  libs/platform/src/lib/icon-tab-bar/components/icon-tab-bar-process-type/icon-tab-bar-process-type.component.spec.ts
  libs/platform/src/lib/icon-tab-bar/components/icon-tab-bar-process-type/icon-tab-bar-process-type.component.ts
  libs/platform/src/lib/icon-tab-bar/components/icon-tab-bar-text-type/icon-tab-bar-text-type.component.html
  libs/platform/src/lib/icon-tab-bar/components/icon-tab-bar-text-type/icon-tab-bar-text-type.component.spec.ts
  libs/platform/src/lib/icon-tab-bar/components/icon-tab-bar-text-type/icon-tab-bar-text-type.component.ts
  libs/platform/src/lib/icon-tab-bar/components/popovers/icon-tab-bar-popover-base.class.ts
  libs/platform/src/lib/icon-tab-bar/components/popovers/icon-tab-bar-popover/icon-tab-bar-popover.component.html
  libs/platform/src/lib/icon-tab-bar/components/popovers/icon-tab-bar-popover/icon-tab-bar-popover.component.ts
  libs/platform/src/lib/icon-tab-bar/components/popovers/text-type-popover/text-type-popover.component.html
  libs/platform/src/lib/icon-tab-bar/components/popovers/text-type-popover/text-type-popover.component.spec.ts
  libs/platform/src/lib/icon-tab-bar/components/popovers/text-type-popover/text-type-popover.component.ts
  libs/platform/src/lib/icon-tab-bar/icon-tab-bar.component.scss
  libs/platform/src/lib/icon-tab-bar/icon-tab-bar.component.ts
  libs/platform/src/lib/icon-tab-bar/interfaces/icon-tab-bar-item.interface.ts
  libs/platform/src/lib/icon-tab-bar/interfaces/tab-color-associations.interface.ts
  libs/platform/src/lib/icon-tab-bar/interfaces/tab-config.interface.ts
  libs/platform/src/lib/icon-tab-bar/public_api.ts
  libs/platform/src/lib/icon-tab-bar/tests-helper.ts
Labels: accessibility, platform, ready for merge, stale, ATL verified

#7334 feat(docs): stackblitz angular 12, rc versions support
  apps/docs/src/app/documentation/core-helpers/stackblitz/code-example-stack/polyfills.ts
  apps/docs/src/app/documentation/core-helpers/stackblitz/code-example-stack/tsconfig.txt
  apps/docs/src/app/documentation/core-helpers/stackblitz/stackblitz-dependencies.ts
  apps/docs/src/app/documentation/core-helpers/stackblitz/stackblitz-module-wrapper.ts
  apps/docs/src/app/documentation/core-helpers/stackblitz/stackblitz.service.ts
  apps/docs/src/app/documentation/core-helpers/stackblitz/utils/parse-version.spec.ts
  apps/docs/src/app/documentation/core-helpers/stackblitz/utils/parse-version.ts
Labels: enhancement, documentation

#7273 docs(core,platform): add important notest related to i18n, formats, validation to date time pickers components documentation
  apps/docs/src/app/core/component-docs/calendar/calendar-header/calendar-header.component.html
  apps/docs/src/app/core/component-docs/date-picker/date-picker-header/date-picker-header.component.html
  apps/docs/src/app/core/component-docs/datetime-picker/datetime-picker-docs.component.html
  apps/docs/src/app/core/component-docs/datetime-picker/datetime-picker-header/datetime-picker-header.component.html
  apps/docs/src/app/core/component-docs/time-picker/time-picker-header/time-picker-header.component.html
  apps/docs/src/app/core/component-docs/time/time-header/time-header.component.html
  apps/docs/src/app/documentation/common-components/datetime-important/datetime-important.component.html
  apps/docs/src/app/documentation/common-components/datetime-important/datetime-important.component.ts
  apps/docs/src/app/documentation/shared-documentation-page.module.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-date-picker/platform-date-picker-header/platform-date-picker-header.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-datetime-picker/platform-datetime-picker-header/platform-datetime-picker-header.component.html
Labels: documentation, platform, core, ready for merge, QA Approved

#7336 fix(platform): textarea clipboard api
  libs/platform/src/lib/form/text-area/text-area.component.ts
Labels: bug, platform, ready for qa

#7323 feat(platform): themeable scrollbar for table
  libs/platform/src/lib/table/table.component.html
  libs/platform/src/lib/table/table.component.scss
  libs/platform/src/lib/table/table.component.ts
  libs/platform/src/lib/table/table.module.ts
  libs/platform/src/lib/table/table.ts
Labels: enhancement, platform, ready for merge, dxp, QA Approved

#7249 fix(platform): fix thumbnail responsive
  libs/platform/src/lib/thumbnail/thumbnail-details/thumbnail-details.component.scss
  libs/platform/src/lib/thumbnail/thumbnail.component.scss
Labels: platform, ready for merge, QA Approved

#7269 fix(platform): menu, fix a11y issues
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-basic-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-basic-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-basic-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-cascade-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-cascade-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-cascade-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-scrolling-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-scrolling-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-with-icons-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-with-icons-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-x-position-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-x-position-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-x-position-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu.module.ts
  e2e/wdio/platform/pages/menu.po.ts
  libs/platform/src/lib/menu/menu-trigger.directive.ts
Labels: platform, ready for merge, QA Approved, ATL verified

#7310 feat(platform): refactor dynamic page on top of core
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-example.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-flexible-column-example.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-responsive-padding-example.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-tabbed-example.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-tabbed-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page.module.ts
  e2e/wdio/platform/pages/dynamic-page-layout.po.ts
  e2e/wdio/platform/tests/dynamic-page-layout.e2e-spec.ts
  libs/platform/src/lib/dynamic-page/dynamic-page-header/title/dynamic-page-title.component.html
  libs/platform/src/lib/dynamic-page/dynamic-page-header/title/dynamic-page-title.component.ts
  libs/platform/src/lib/dynamic-page/dynamic-page.component.html
  libs/platform/src/lib/dynamic-page/dynamic-page.component.spec.ts
  libs/platform/src/lib/dynamic-page/dynamic-page.component.ts
  libs/platform/src/lib/dynamic-page/dynamic-page.module.ts
Labels: enhancement, platform, ready for merge, QA Approved

#7344 chore(core,platform): bump styles
  package-lock.json
  package.json
Labels: platform, core

#7363 fix(core,platform): schematics
  libs/core/schematics/ng-add/index.ts
  libs/core/schematics/ng-add/schema.json
  libs/core/schematics/ng-add/schema.ts
  libs/fn/schematics/ng-add/schema.json
  libs/moment-adapter/schematics/ng-add/index.ts
  libs/moment-adapter/schematics/ng-add/schema.json
  libs/moment-adapter/schematics/utils/ng-module-utils.ts
  libs/moment-adapter/schematics/utils/package-utils.ts
  libs/platform/schematics/collection.json
  libs/platform/schematics/migration-collection.json
  libs/platform/schematics/ng-add/index.ts
  libs/platform/schematics/ng-add/schema.json
  libs/platform/schematics/ng-add/schema.ts
  libs/platform/schematics/ng-update/index.ts
  libs/platform/schematics/ng-update/schema.json
  libs/platform/schematics/utils/package-utils.ts
  libs/platform/schematics/utils/translation-utils.ts
Labels: bug, platform, core, High priority

#7366 fix(core,platform): use approximate npm versions
  package.json
Labels: bug

#7272 test(e2e): add additional test cases
  e2e/wdio/core/fixtures/appData/textarea-contents.ts
  e2e/wdio/core/pages/combobox.po.ts
  e2e/wdio/core/pages/multi-input.po.ts
  e2e/wdio/core/pages/table.po.ts
  e2e/wdio/core/pages/textarea.po.ts
  e2e/wdio/core/tests/combobox.e2e-spec.ts
  e2e/wdio/core/tests/multi-input.e2e-spec.ts
  e2e/wdio/core/tests/table.e2e-spec.ts
  e2e/wdio/core/tests/textarea.e2e-spec.ts
  e2e/wdio/platform/fixtures/appData/action-list-item-contents.ts
  e2e/wdio/platform/fixtures/appData/select-contents.ts
  e2e/wdio/platform/fixtures/appData/standard-list-item-contents.ts
  e2e/wdio/platform/fixtures/appData/textarea-page-content.ts
  e2e/wdio/platform/pages/action-list-item.po.ts
  e2e/wdio/platform/pages/icon-tab-bar.po.ts
  e2e/wdio/platform/pages/list.po.ts
  e2e/wdio/platform/pages/select.po.ts
  e2e/wdio/platform/pages/standard-list-item.po.ts
  e2e/wdio/platform/pages/textarea.po.ts
  e2e/wdio/platform/tests/action-list-item.e2e-spec.ts
  e2e/wdio/platform/tests/icon-tab-bar.e2e-spec.ts
  e2e/wdio/platform/tests/list.e2e-spec.ts
  e2e/wdio/platform/tests/select.e2e-spec.ts
  e2e/wdio/platform/tests/standard-list-item.e2e-spec.ts
  e2e/wdio/platform/tests/textarea.e2e-spec.ts
Labels: ready for merge, e2e

#7338 fix(platform): select - fix CVA behavior and remove extra methods
  libs/platform/src/lib/form/select/commons/base-select.ts
  libs/platform/src/lib/form/select/select/select.component.spec.ts
  libs/platform/src/lib/form/select/select/select.component.ts
Labels: platform, ready for merge, unit tests, QA Approved, stale

#7289 fix(platform): adding alt tags to the thumbnail component for accessibility
  apps/docs/src/app/platform/component-docs/platform-thumbnail/platform-thumbnail-examples/platform-thumbnail-basic-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-thumbnail/platform-thumbnail-examples/platform-thumbnail-horizontal-example.component.ts
  e2e/wdio/core/tests/date-picker.e2e-spec.ts
  e2e/wdio/platform/tests/upload-collection.e2e-spec.ts
  libs/platform/src/lib/thumbnail/thumbnail-image/thumbnail-image.component.html
  libs/platform/src/lib/thumbnail/thumbnail-image/thumbnail-image.component.ts
  libs/platform/src/lib/thumbnail/thumbnail.component.html
  libs/platform/src/lib/thumbnail/thumbnail.component.ts
Labels: platform, ready for merge, ATL, ATL verified

#7391 docs(core): calendar doc example update
  apps/docs/src/app/core/component-docs/calendar/examples/calendar-special-day-example/calendar-special-day-example.component.html
  e2e/wdio/core/tests/calendar.e2e-spec.ts
Labels: documentation

#7386 test(platform): skip/fix failing unit tests
  libs/platform/src/lib/form/step-input/number/number-step-input.component.spec.ts
  libs/platform/src/lib/form/text-area/text-area.component.spec.ts
  libs/platform/src/lib/icon-tab-bar/components/icon-tab-bar-base.class.ts
Labels: platform, ready for merge, flaky tests, stale

#7361 test(e2e): fix failed daily build & add additional test cases
  e2e/wdio/core/pages/calendar.po.ts
  e2e/wdio/core/pages/card.po.ts
  e2e/wdio/core/pages/date-picker.po.ts
  e2e/wdio/core/pages/popover.po.ts
  e2e/wdio/core/tests/calendar.e2e-spec.ts
  e2e/wdio/core/tests/card.e2e-spec.ts
  e2e/wdio/core/tests/date-picker.e2e-spec.ts
  e2e/wdio/core/tests/dialog.e2e-spec.ts
  e2e/wdio/core/tests/popover.e2e-spec.ts
  e2e/wdio/core/tests/split-button.e2e-spec.ts
  e2e/wdio/platform/pages/multi-input.po.ts
  e2e/wdio/platform/pages/time-picker.po.ts
  e2e/wdio/platform/tests/input.e2e-spec.ts
  e2e/wdio/platform/tests/multi-input.e2e-spec.ts
  e2e/wdio/platform/tests/time-picker.e2e-spec.ts
  e2e/wdio/platform/tests/upload-collection.e2e-spec.ts
  libs/platform/src/lib/form/step-input/number/number-step-input.component.spec.ts
  libs/platform/src/lib/form/text-area/text-area.component.spec.ts
  libs/platform/src/lib/icon-tab-bar/components/icon-tab-bar-base.class.ts
Labels: ready for merge, e2e

#7380 test(e2e): remake test cases for pagination component
  e2e/wdio/core/fixtures/appData/pagination-contents.ts
  e2e/wdio/core/fixtures/appData/table-content.ts
  e2e/wdio/core/pages/pagination.po.ts
  e2e/wdio/core/tests/pagination.e2e-spec.ts
  e2e/wdio/core/tests/table.e2e-spec.ts
  e2e/wdio/platform/tests/upload-collection.e2e-spec.ts
Labels: e2e, stale

#7411 fix(docs): provide correct tsconfig paths
  apps/docs/tsconfig.app.json
  apps/docs/tsconfig.netlify.json
  apps/docs/tsconfig.spec.json
Labels: bug

#7337 fix(platform): adjust control-value-accessor behavior for checkbox group and radio group
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-branching-example.component.html
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-branching-example.component.ts
  libs/core/src/lib/radio/radio-button/radio-button.component.ts
  libs/platform/src/lib/form/checkbox-group/checkbox-group.component.spec.ts
  libs/platform/src/lib/form/checkbox-group/checkbox-group.component.ts
  libs/platform/src/lib/form/radio-group/radio-group.component.html
  libs/platform/src/lib/form/radio-group/radio-group.component.spec.ts
  libs/platform/src/lib/form/radio-group/radio-group.component.ts
  libs/platform/src/lib/form/radio-group/radio/radio.component.html
  libs/platform/src/lib/form/radio-group/radio/radio.component.spec.ts
  libs/platform/src/lib/form/radio-group/radio/radio.component.ts
  libs/platform/src/lib/form/test.ts
  libs/platform/src/lib/shared/form/inline-layout-collection-base.input.ts
Labels: platform, ready for merge, unit tests, QA Approved, stale

#7340 test(platform,core): cva unit tests
  libs/core/src/lib/datetime-picker/datetime-picker.component.html
  libs/core/src/lib/datetime-picker/datetime-picker.component.spec.ts
  libs/core/src/lib/datetime-picker/datetime-picker.component.ts
  libs/platform/src/lib/form/datetime-picker/datetime-picker.component.html
  libs/platform/src/lib/form/datetime-picker/datetime-picker.component.spec.ts
  libs/platform/src/lib/form/step-input/number/number-step-input.component.spec.ts
  libs/platform/src/lib/form/switch/switch/switch.component.spec.ts
  libs/platform/src/lib/form/text-area/text-area.component.spec.ts
  libs/platform/src/lib/form/time-picker/time-picker.component.spec.ts
Labels: platform, core, ready for merge, unit tests, QA Approved, stale

#7367 chore(core,platform): readme & changelog update after ng13 migration
  CHANGELOG.md
  libs/core/src/lib/README.md
Labels: platform, core

#7389 fix(platform): schematics
  libs/platform/schematics/ng-add/index.ts
Labels: bug, platform, stale

#7339 fix(platform): table disallow nav column resize
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-navigatable-row-indicator-example.component.html
  libs/platform/src/lib/table/directives/table-cell-resizable.directive.ts
  libs/platform/src/lib/table/table.component.html
  libs/platform/src/lib/table/table.component.scss
  libs/platform/src/lib/table/table.component.ts
Labels: bug, platform, QA Approved

#7410 fix(core,platform): add ability to define stacked tabs property
  apps/docs/src/app/core/component-docs/dynamic-page/dynamic-page-examples/dynamic-page-tabs-example/dynamic-page-tabs-example.component.html
  apps/docs/src/app/core/component-docs/dynamic-page/dynamic-page-examples/dynamic-page-tabs-example/dynamic-page-tabs-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-tabbed-example.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-tabbed-example.component.ts
  e2e/wdio/core/tests/dynamic-page.e2e-spec.ts
  e2e/wdio/platform/tests/dynamic-page-layout.e2e-spec.ts
  libs/platform/src/lib/dynamic-page/dynamic-page.component.html
  libs/platform/src/lib/dynamic-page/dynamic-page.component.ts
Labels: bug, documentation

#6841 fix(core): fixing accessibility of datetime picker component
  .husky/pre-commit
  libs/core/src/lib/datetime-picker/datetime-picker.component.html
  libs/core/src/lib/time/time-column/time-column.component.html
Labels: accessibility, ready for merge

#7324 fix(core): date picker accessibility
  apps/docs/src/app/core/component-docs/date-picker/examples/date-picker-form-example.component.ts
  e2e/wdio/core/pages/date-picker.po.ts
  e2e/wdio/core/tests/date-picker.e2e-spec.ts
  libs/core/src/lib/calendar/calendar-header/calendar-header.component.html
  libs/core/src/lib/date-picker/date-picker.component.html
  libs/core/src/lib/date-picker/date-picker.component.spec.ts
  libs/core/src/lib/date-picker/date-picker.component.ts
  libs/platform/src/lib/form/date-picker/date-picker.component.spec.ts
Labels: accessibility, datepicker, stale, ATL verified

#7418 fix(core): close sub-menu
  apps/docs/src/app/core/component-docs/menu/examples/menu-with-submenu-example.component.html
  libs/core/src/lib/menu/menu-item/menu-item.component.spec.ts
  libs/core/src/lib/menu/menu-item/menu-item.component.ts
  libs/core/src/lib/menu/menu.component.ts
  libs/core/src/lib/menu/services/menu.service.ts
Labels: bug, core, ready for merge, QA Approved

#7198 fix(core): adding arialabel and roles to handle a11y for wizard component
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-branching-example.component.html
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-branching-example.component.ts
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-customizable-example.component.html
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-customizable-example.component.ts
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-dialog-example.component.html
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-dialog-example.component.ts
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-example.component.html
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-example.component.ts
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-mobile-example.component.html
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-mobile-example.component.ts
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-ngfor-example.component.html
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-ngfor-example.component.ts
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-visible-summary-example.component.html
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-visible-summary-example.component.ts
  apps/docs/src/app/core/component-docs/wizard/wizard-docs.module.ts
  e2e/wdio/core/tests/date-picker.e2e-spec.ts
  libs/core/src/lib/wizard/wizard-navigation/wizard-navigation.component.ts
  libs/core/src/lib/wizard/wizard-step/wizard-step.component.html
  libs/core/src/lib/wizard/wizard-step/wizard-step.component.ts
  libs/core/src/lib/wizard/wizard.component.ts
  libs/core/src/lib/wizard/wizard.service.spec.ts
  libs/core/src/lib/wizard/wizard.service.ts
Labels: core, ready for merge, ATL, ATL verified

#7235 fix(core): step-input, fix a11y issues
  apps/docs/src/app/core/component-docs/step-input/examples/step-inpt-default-example/step-input-default-example.component.ts
  apps/docs/src/app/core/component-docs/step-input/examples/step-input-configuration-example/step-input-configuration-example.component.ts
  apps/docs/src/app/core/component-docs/step-input/examples/step-input-currency-example/step-input-currency-example.component.ts
  apps/docs/src/app/core/component-docs/step-input/examples/step-input-form-example/step-input-form-example.component.ts
  apps/docs/src/app/core/component-docs/step-input/examples/step-input-label-example/step-input-label-example.component.ts
  apps/docs/src/app/core/component-docs/step-input/examples/step-input-locale-example/step-input-locale-example.component.ts
  apps/docs/src/app/core/component-docs/step-input/examples/step-input-state-example/step-input-state-example.component.ts
  libs/core/src/lib/step-input/step-input.component.html
  libs/core/src/lib/step-input/step-input.component.ts
  libs/core/src/lib/step-input/step-input.module.ts
Labels: bug, accessibility, core, ready for merge, ATL verified

#7304 fix(core): core time-picker accessibility
  apps/docs/src/app/core/component-docs/time-picker/examples/time-picker-example.component.html
  apps/docs/src/app/core/component-docs/time-picker/examples/time-picker-form-example.component.html
  libs/core/src/lib/shared/public_api.ts
  libs/core/src/lib/shared/services/value-state-message.service.ts
  libs/core/src/lib/time-picker/time-picker.component.html
  libs/core/src/lib/time-picker/time-picker.component.ts
Labels: ready for merge, ATL, stale, ATL verified

#7322 docs(platform): action-list-item, fix a11y issues
  apps/docs/src/app/platform/component-docs/platform-action-list-item/platform-action-list-item-examples/platform-action-list-item-border-less-example.component.html
  apps/docs/src/app/platform/component-docs/platform-action-list-item/platform-action-list-item-examples/platform-action-list-item-example.component.html
Labels: platform, ready for merge, stale, ATL verified

#7407 fix(core): remove obsolete utils
  apps/docs/src/app/documentation/core-helpers/stackblitz/stackblitz-dependencies.ts
  apps/docs/src/app/platform/component-docs/platform-icon-tab-bar/examples/platform-icon-tab-bar-configurable-paddings-example/platform-icon-tab-bar-configurable-paddings-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-icon-tab-bar/examples/platform-icon-tab-bar-filter-type-example/platform-icon-tab-bar-filter-type-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-icon-tab-bar/examples/platform-icon-tab-bar-icon-only-type-example/platform-icon-tab-bar-icon-only-type-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-icon-tab-bar/examples/platform-icon-tab-bar-icon-type-example/platform-icon-tab-bar-icon-type-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-icon-tab-bar/examples/platform-icon-tab-bar-process-type-example/platform-icon-tab-bar-process-type-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-icon-tab-bar/examples/platform-icon-tab-bar-text-type-example/platform-icon-tab-bar-text-type-example.component.ts
  ci-scripts/sync-version.sh
  libs/core/src/lib/calendar/calendar-views/calendar-day-view/calendar-day-view.component.ts
  libs/core/src/lib/checkbox/checkbox/checkbox.component.ts
  libs/core/src/lib/package.json
  libs/core/src/lib/quick-view/quick-view-group-item-content/quick-view-group-item-content.component.ts
  libs/core/src/lib/quick-view/quick-view-group-item-label/quick-view-group-item-label.component.ts
  libs/core/src/lib/utils/directives/resize/resize.directive.ts
  libs/core/src/lib/utils/functions/clone-deep.spec.ts
  libs/core/src/lib/utils/functions/clone-deep.ts
  libs/core/src/lib/utils/functions/closest-element.spec.ts
  libs/core/src/lib/utils/functions/closest-element.ts
  libs/core/src/lib/utils/functions/compare-objects.spec.ts
  libs/core/src/lib/utils/functions/compare-objects.ts
  libs/core/src/lib/utils/functions/index.ts
  libs/fn/src/lib/checkbox/checkbox/checkbox.component.ts
  libs/fn/src/lib/package.json
  libs/platform/src/lib/form/combobox/combobox/combobox.component.ts
  libs/platform/src/lib/form/multi-combobox/multi-combobox/multi-combobox.component.ts
  libs/platform/src/lib/icon-tab-bar/components/icon-tab-bar-base.class.ts
  libs/platform/src/lib/icon-tab-bar/components/icon-tab-bar-process-type/icon-tab-bar-process-type.component.ts
  libs/platform/src/lib/list/list.component.ts
  libs/platform/src/lib/package.json
  libs/platform/src/lib/shared/public_api.ts
  libs/platform/src/lib/shared/utils/object.ts
  libs/platform/src/lib/shared/utils/public_api.ts
  libs/platform/src/lib/table/pipes/value-by-path.pipe.ts
  libs/platform/src/lib/table/table.component.ts
  libs/platform/src/lib/table/utils.ts
  libs/platform/src/lib/upload-collection/directives/upload-collection-dragndrop.directive.ts
  libs/platform/src/lib/wizard-generator/wizard-generator.service.ts
  package-lock.json
  package.json
Labels: core, ready for merge, QA Approved

#7406 test(e2e): add additional test cases
  e2e/wdio/core/pages/avatar.po.ts
  e2e/wdio/core/pages/calendar.po.ts
  e2e/wdio/core/pages/feed-list-item.po.ts
  e2e/wdio/core/pages/rating-indicator.po.ts
  e2e/wdio/core/pages/tabs.po.ts
  e2e/wdio/core/tests/avatar.e2e-spec.ts
  e2e/wdio/core/tests/calendar.e2e-spec.ts
  e2e/wdio/core/tests/feed-list-item.e2e-spec.ts
  e2e/wdio/core/tests/rating-indicator.e2e-spec.ts
  e2e/wdio/core/tests/tabs.e2e-spec.ts
  e2e/wdio/platform/pages/textarea.po.ts
  e2e/wdio/platform/pages/value-help-dialog.po.ts
  e2e/wdio/platform/tests/textarea.e2e-spec.ts
  e2e/wdio/platform/tests/value-help-dialog.e2e-spec.ts
Labels: e2e

#7419 fix(core): multi-select doesn't work with objects
  apps/docs/src/app/core/component-docs/multi-input/examples/multi-input-async-example/multi-input-async-example.component.html
  apps/docs/src/app/core/component-docs/multi-input/examples/multi-input-compact-example/multi-input-compact-example.component.html
  apps/docs/src/app/core/component-docs/multi-input/examples/multi-input-custom-item-example/multi-input-custom-item-example.component.html
  apps/docs/src/app/core/component-docs/multi-input/examples/multi-input-custom-item-example/multi-input-custom-item-example.component.ts
  apps/docs/src/app/core/component-docs/multi-input/examples/multi-input-displaywith-example/multi-input-displaywith-example.component.html
  apps/docs/src/app/core/component-docs/multi-input/examples/multi-input-example/multi-input-example.component.html
  apps/docs/src/app/core/component-docs/multi-input/examples/multi-input-example/multi-input-example.component.ts
  apps/docs/src/app/core/component-docs/multi-input/examples/multi-input-filter-example/multi-input-filter-example.component.html
  apps/docs/src/app/core/component-docs/multi-input/examples/multi-input-includes-example/multi-input-includes-example.component.html
  e2e/wdio/core/tests/multi-input.e2e-spec.ts
  libs/core/src/lib/multi-input/multi-input.component.html
  libs/core/src/lib/multi-input/multi-input.component.spec.ts
  libs/core/src/lib/multi-input/multi-input.component.ts
  libs/core/src/lib/multi-input/multi-input.module.ts
Labels: core, ready for merge, QA Approved

#7448 fix(platform): vhd controls styles
  libs/platform/src/lib/value-help-dialog/components/define-tab/define-tab.component.html
  libs/platform/src/lib/value-help-dialog/components/define-tab/define-tab.component.scss
  libs/platform/src/lib/value-help-dialog/components/select-tab/select-tab.component.html
  libs/platform/src/lib/value-help-dialog/components/select-tab/select-tab.component.scss
  libs/platform/src/lib/value-help-dialog/value-help-dialog/value-help-dialog.component.scss
Labels: platform, ready for merge, QA Approved

#7453 fix(core): grid-list, not show indicator of new position on drag
  libs/core/src/lib/grid-list/components/grid-list-item/grid-list-item.component.scss
Labels: core, ready for merge, QA Approved

#7454 docs(core): dialog, fix example
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-inner-popover/dialog-inner-popover.component.ts
Labels: documentation, core, ready for merge, QA Approved

#7455 docs(core): add icons to feed list item actions
  apps/docs/src/app/core/component-docs/feed-list-item/examples/fli-action/fli-action-example.component.html
  e2e/wdio/core/pages/feed-list-item.po.ts
  e2e/wdio/core/tests/feed-list-item.e2e-spec.ts
Labels: documentation, ready for merge, QA Approved

#7412 test(e2e): add e2e tests for upload collection component
  e2e/wdio/core/fixtures/appData/upload-collection-contents.ts
  e2e/wdio/core/pages/upload-collection.po.ts
  e2e/wdio/core/tests/upload-collection.e2e-spec.ts
  wdio-cron.conf.js
Labels: ready for merge, e2e

#7430 test(e2e): add additional test cases
  e2e/wdio/core/fixtures/appData/input-page-contents.ts
  e2e/wdio/core/pages/file-uploader.po.ts
  e2e/wdio/core/pages/input.po.ts
  e2e/wdio/core/tests/alert.e2e-spec.ts
  e2e/wdio/core/tests/file-uploader.e2e-spec.ts
  e2e/wdio/core/tests/input.e2e-spec.ts
  e2e/wdio/platform/fixtures/appData/table-contents.ts
  e2e/wdio/platform/pages/search.po.ts
  e2e/wdio/platform/pages/table.po.ts
  e2e/wdio/platform/tests/button.e2e-spec.ts
  e2e/wdio/platform/tests/search.e2e-spec.ts
  e2e/wdio/platform/tests/table.e2e-spec.ts
Labels: ready for merge, e2e

#7449 fix(core): step-input - keyboard interaction
  libs/core/src/lib/step-input/step-input.component.spec.ts
  libs/core/src/lib/step-input/step-input.component.ts
Labels: core, ready for merge, QA Approved

#7447 test(e2e): fix e2e for daily build
  e2e/wdio/core/pages/wizard.po.ts
  e2e/wdio/core/tests/calendar.e2e-spec.ts
  e2e/wdio/core/tests/step-input.e2e-spec.ts
  e2e/wdio/core/tests/wizard.e2e-spec.ts
  e2e/wdio/platform/tests/list.e2e-spec.ts
Labels: ready for merge, e2e

#7452 fix(platform): upload collection fixes
  libs/platform/src/lib/table/table.component.ts
  libs/platform/src/lib/upload-collection/upload-collection/upload-collection.component.html
  libs/platform/src/lib/upload-collection/upload-collection/upload-collection.component.scss
  libs/platform/src/lib/upload-collection/upload-collection/upload-collection.component.ts
Labels: platform, ready for merge, QA Approved

#7477 test(e2e): add additional test case for value help dialog
  e2e/wdio/platform/tests/value-help-dialog.e2e-spec.ts
Labels: ready for merge, e2e

#7456 fix(core): rating-indicator, update styles
  libs/core/src/lib/rating-indicator/components/rating-indicator.component.html
  libs/core/src/lib/rating-indicator/components/rating-indicator.component.scss
  package-lock.json
  package.json
Labels: core, ready for merge, QA Approved
