Repository SAP/fundamental-ngx, pull requests merged in 2021-01, with the labels that each got.

#4176 fix: (core) accessibility changes for object status.
  apps/docs/src/app/core/component-docs/object-status/examples/object-status-clickable-and-icon-example.component.html
  apps/docs/src/app/core/component-docs/object-status/examples/object-status-generic-text-example.component.html
  apps/docs/src/app/core/component-docs/object-status/examples/object-status-icon-text-example.component.html
  apps/docs/src/app/core/component-docs/object-status/examples/object-status-inverted-example.component.html
  apps/docs/src/app/core/component-docs/object-status/examples/object-status-inverted-generic-text-example.component.html
  apps/docs/src/app/core/component-docs/object-status/examples/object-status-large-example.component.html
  apps/docs/src/app/core/component-docs/object-status/examples/object-status-text-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-clickable-and-icon-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-generic-text-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-icon-text-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-inverted-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-inverted-generic-text-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-large-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-text-example.component.html
  libs/core/src/lib/object-status/object-status.component.ts
Labels: accessibility, bug

#4182 feat: (Platform) Add state to step input component and base input.
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-examples/platform-number-step-input-state-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-examples/platform-number-step-input-state-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input.module.ts
  libs/core/src/lib/step-input/step-input.component.ts
  libs/platform/src/lib/components/form/base.input.ts
  libs/platform/src/lib/components/form/checkbox/checkbox.component.ts
  libs/platform/src/lib/components/form/date-picker/date-picker.component.ts
  libs/platform/src/lib/components/form/datetime-picker/datetime-picker.component.ts
  libs/platform/src/lib/components/form/input/input.component.ts
  libs/platform/src/lib/components/form/multi-input/multi-input.component.ts
  libs/platform/src/lib/components/form/platform-file-uploader/platform-file-uploader.component.ts
  libs/platform/src/lib/components/form/step-input/number/number-step-input.component.html
Labels: platform

#4204 fix: (Core) Accessibility: Combobox: No focus indication
  libs/core/src/lib/input-group/input-group.component.html
  libs/core/src/lib/input-group/input-group.component.scss
  libs/core/src/lib/input-group/input-group.component.ts
Labels: accessibility, bug, core, platform

#4212 feat: (platform) added time picker component with examples
  apps/docs/src/app/platform/api-files.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-time-picker/examples/platform-time-picker-basic-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-time-picker/examples/platform-time-picker-basic-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-time-picker/examples/platform-time-picker-reactive-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-time-picker/examples/platform-time-picker-reactive-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-time-picker/examples/platform-time-picker-template-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-time-picker/examples/platform-time-picker-template-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-time-picker/platform-time-picker-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-time-picker/platform-time-picker-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-time-picker/platform-time-picker-docs.module.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-time-picker/platform-time-picker-header/platform-time-picker-header.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-time-picker/platform-time-picker-header/platform-time-picker-header.component.ts
  apps/docs/src/app/platform/documentation/platform-documentation.component.ts
  apps/docs/src/app/platform/platform-documentation.routes.ts
  libs/platform/src/lib/components/form/public_api.ts
  libs/platform/src/lib/components/form/time-picker/time-picker.component.html
  libs/platform/src/lib/components/form/time-picker/time-picker.component.spec.ts
  libs/platform/src/lib/components/form/time-picker/time-picker.component.ts
  libs/platform/src/lib/components/form/time-picker/time-picker.module.ts
  libs/platform/src/lib/platform.module.ts
Labels: platform

#4189 docs: (doc-app) Removed unnecessary styles in docs-tile component
  apps/docs/src/styles.scss
Labels: documentation

#4220 fix: (Platform) add aria tags to Textarea to read counter messages
  libs/platform/src/lib/components/form/text-area/text-area.component.html
Labels: accessibility, bug, platform

#4215 fix: (Core|Platform) change image service
  apps/docs/src/app/core/component-docs/popover/examples/popover-simple/popover-example.component.html
  apps/docs/src/app/core/component-docs/tile/examples/badge-tile-example.component.html
  apps/docs/src/app/core/component-docs/tile/examples/launch-tile-example.component.html
  apps/docs/src/app/core/component-docs/tile/examples/slide-tile-example.component.html
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-mobile-example.component.html
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-examples/platform-link-standard-example.component.html
  apps/docs/src/assets/NEW_COMPONENT.md
  libs/core/src/lib/tile/directives/tile.directives.spec.ts
  libs/platform/src/lib/components/list/object-list-item/object-list-item.component.spec.ts
  libs/platform/src/lib/components/thumbnail/thumbnail-image/thumbnail-image.component.spec.ts
  libs/platform/src/lib/components/thumbnail/thumbnail.component.spec.ts
Labels: core, platform

#4239 docs: (Core) fix object status example
  apps/docs/src/app/core/component-docs/object-status/examples/object-status-text-example.component.html
Labels: Defect Hunting, bug, documentation

#4241 docs: (Core) fix rating indicator example
  apps/docs/src/app/core/component-docs/rating-indicator/rating-indicator-docs.component.html
Labels: Defect Hunting, core, documentation

#4205 fix: (platform) Menu position in split-menu-button and Sub-menu padding fix in cascading menu
  apps/docs/src/app/platform/component-docs/platform-split-menu-button/platform-split-menu-button-examples/platform-split-button-behaviors-example.component.html
  apps/docs/src/app/platform/component-docs/platform-split-menu-button/platform-split-menu-button-examples/platform-split-button-behaviors-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-split-menu-button/platform-split-menu-button-examples/platform-split-button-icons-example.component.html
  apps/docs/src/app/platform/component-docs/platform-split-menu-button/platform-split-menu-button-examples/platform-split-button-icons-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-split-menu-button/platform-split-menu-button-examples/platform-split-button-types-example.component.html
  apps/docs/src/app/platform/component-docs/platform-split-menu-button/platform-split-menu-button-examples/platform-split-button-types-example.component.ts
  libs/platform/src/lib/components/menu/menu-trigger.directive.ts
  libs/platform/src/lib/components/split-menu-button/split-menu-button.component.html
  libs/platform/src/lib/components/split-menu-button/split-menu-button.component.spec.ts
  libs/platform/src/lib/components/split-menu-button/split-menu-button.component.ts
Labels: Defect Hunting

#4256 docs: (Core) update object status icon to the latest version
  apps/docs/src/app/core/component-docs/object-status/examples/object-status-clickable-and-icon-example.component.html
  apps/docs/src/app/core/component-docs/object-status/examples/object-status-default-example.component.html
  apps/docs/src/app/core/component-docs/object-status/examples/object-status-icon-text-example.component.html
  apps/docs/src/app/core/component-docs/object-status/examples/object-status-inverted-example.component.html
  apps/docs/src/app/core/component-docs/object-status/examples/object-status-large-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-clickable-and-icon-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-icon-text-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-inverted-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-large-example.component.html
Labels: Defect Hunting, bug

#4257 chore: update mergeable.yaml
  .github/mergeable.yml
Labels: tooling

#4188 fix: (Core) Toolbar spacing elements, simplify code
  libs/core/src/lib/toolbar/toolbar.component.html
  libs/core/src/lib/toolbar/toolbar.component.scss
  libs/core/src/lib/toolbar/toolbar.component.ts
Labels: code refactoring, core

#4252 chore: fix Schematics for NG versions above 10.1
  libs/core/ng-package.json
  libs/core/package.json
  libs/core/schematics/ng-add/index.ts
  libs/core/schematics/ng-add/versions.ts
  libs/core/schematics/utils/ng-module-utils.ts
  libs/core/schematics/utils/package-utils.ts
Labels: tooling

#4291 fix: (Core) asterisk not in a proper place in IE11 for form field
  libs/core/src/lib/form/form-label/form-label.component.scss
Labels: Defect Hunting, bug

#4281 fix: (Platform) add screen reader detection for required form field
  libs/platform/src/lib/components/form/base.input.ts
  libs/platform/src/lib/components/form/checkbox-group/checkbox-group.component.html
  libs/platform/src/lib/components/form/form-control.ts
  libs/platform/src/lib/components/form/form-group/form-field/form-field.component.ts
Labels: Defect Hunting, platform

#4183 fix: (Core) Add missed controls into Pagination component and fix small issue
  apps/docs/src/app/core/component-docs/pagination/examples/pagination-example.component.ts
  apps/docs/src/app/core/component-docs/pagination/examples/pagination-per-page-example.component.html
  apps/docs/src/app/core/component-docs/pagination/examples/pagination-per-page-example.component.ts
  apps/docs/src/app/core/component-docs/pagination/examples/pagination-showing-example.component.ts
  apps/docs/src/app/core/component-docs/pagination/pagination-docs.component.html
  apps/docs/src/app/core/component-docs/pagination/pagination-docs.component.ts
  apps/docs/src/app/core/component-docs/pagination/pagination-docs.module.ts
  libs/core/src/lib/pagination/pagination.component.html
  libs/core/src/lib/pagination/pagination.component.scss
  libs/core/src/lib/pagination/pagination.component.spec.ts
  libs/core/src/lib/pagination/pagination.component.ts
  libs/core/src/lib/pagination/pagination.module.ts
  libs/core/src/lib/pagination/pagination.service.spec.ts
  libs/core/src/lib/pagination/pagination.service.ts
Labels: core, enhancement

#4287 fix: (Platform) add outline in search field, fix category contentDensity for compact case
  libs/platform/src/lib/components/search-field/search-field.component.html
  libs/platform/src/lib/components/search-field/search-field.component.ts
Labels: Defect Hunting, platform

#4307 fix: (Platform) Add outline on nodes, detects window change for Approval flow component
  libs/platform/src/lib/components/approval-flow/approval-flow.component.html
  libs/platform/src/lib/components/approval-flow/approval-flow.component.scss
  libs/platform/src/lib/components/approval-flow/approval-flow.component.ts
Labels: Defect Hunting, platform

#4214 fix: deprecate Popper.js and refactor Menu component
  apps/docs/src/app/core/component-docs/popover-directive/popover-directive-header/popover-directive-header.component.html
  libs/core/src/lib/menu/menu-mobile/menu-mobile.component.spec.ts
  libs/core/src/lib/menu/menu.component.html
  libs/core/src/lib/menu/menu.component.spec.ts
  libs/core/src/lib/menu/menu.component.ts
  libs/core/src/lib/menu/menu.module.ts
  libs/core/src/lib/menu/services/menu.service.ts
  libs/core/src/lib/popover/base/base-popover.class.ts
  libs/core/src/lib/popover/popover-body/popover-body.component.spec.ts
  libs/core/src/lib/popover/popover-body/popover-body.component.ts
  libs/core/src/lib/popover/popover-directive/popover.directive.ts
  libs/core/src/lib/popover/popover-position/popover-position.ts
  libs/core/src/lib/popover/popover-service/popover.service.ts
  libs/core/src/lib/time/time.module.ts
  libs/core/src/lib/utils/directives/initial-focus/initial-focus.directive.ts
Labels: code refactoring, core

#4258 fix: (Platform) add fix for selected state for opened sub-menu item in Menu component
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-basic-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-cascade-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-scrolling-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-with-icons-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-x-position-example.component.html
  e2e/wdio/platform/fixtures/appData/menu-contents.ts
  e2e/wdio/platform/tests/menu.e2e-spec.ts
  libs/platform/src/lib/components/menu/menu-item.component.ts
  libs/platform/src/lib/components/menu/menu-trigger.directive.ts
Labels: Defect Hunting

#4216 feat: (Core) introduce Quick View component
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/quick-view/examples/quick-view-base-example.component.html
  apps/docs/src/app/core/component-docs/quick-view/examples/quick-view-base-example.component.ts
  apps/docs/src/app/core/component-docs/quick-view/examples/quick-view-dialog-example.component.html
  apps/docs/src/app/core/component-docs/quick-view/examples/quick-view-dialog-example.component.ts
  apps/docs/src/app/core/component-docs/quick-view/examples/quick-view-popover-example.component.html
  apps/docs/src/app/core/component-docs/quick-view/examples/quick-view-popover-example.component.ts
  apps/docs/src/app/core/component-docs/quick-view/quick-view-docs-header/quick-view-docs-header.component.html
  apps/docs/src/app/core/component-docs/quick-view/quick-view-docs-header/quick-view-docs-header.component.scss
  apps/docs/src/app/core/component-docs/quick-view/quick-view-docs-header/quick-view-docs-header.component.ts
  apps/docs/src/app/core/component-docs/quick-view/quick-view-docs.component.html
  apps/docs/src/app/core/component-docs/quick-view/quick-view-docs.component.ts
  apps/docs/src/app/core/component-docs/quick-view/quick-view-docs.module.ts
  apps/docs/src/app/core/core-documentation.module.ts
  apps/docs/src/app/core/core-documentation.routes.ts
  apps/docs/src/app/core/documentation/core-documentation.component.ts
  libs/core/src/index.ts
  libs/core/src/lib/fundamental-ngx-core.module.ts
  libs/core/src/lib/quick-view/public_api.ts
  libs/core/src/lib/quick-view/quick-view-group-item-content/quick-view-group-item-content.component.html
  libs/core/src/lib/quick-view/quick-view-group-item-content/quick-view-group-item-content.component.spec.ts
  libs/core/src/lib/quick-view/quick-view-group-item-content/quick-view-group-item-content.component.ts
  libs/core/src/lib/quick-view/quick-view-group-item-label/quick-view-group-item-label.component.html
  libs/core/src/lib/quick-view/quick-view-group-item-label/quick-view-group-item-label.component.spec.ts
  libs/core/src/lib/quick-view/quick-view-group-item-label/quick-view-group-item-label.component.ts
  libs/core/src/lib/quick-view/quick-view-group-item/quick-view-group-item.component.html
  libs/core/src/lib/quick-view/quick-view-group-item/quick-view-group-item.component.spec.ts
  libs/core/src/lib/quick-view/quick-view-group-item/quick-view-group-item.component.ts
  libs/core/src/lib/quick-view/quick-view-group-title/quick-view-group-title.component.html
  libs/core/src/lib/quick-view/quick-view-group-title/quick-view-group-title.component.spec.ts
  libs/core/src/lib/quick-view/quick-view-group-title/quick-view-group-title.component.ts
  libs/core/src/lib/quick-view/quick-view-group/quick-view-group.component.html
  libs/core/src/lib/quick-view/quick-view-group/quick-view-group.component.spec.ts
  libs/core/src/lib/quick-view/quick-view-group/quick-view-group.component.ts
  libs/core/src/lib/quick-view/quick-view-subheader-subtitle/quick-view-subheader-subtitle.component.html
  libs/core/src/lib/quick-view/quick-view-subheader-subtitle/quick-view-subheader-subtitle.component.spec.ts
  libs/core/src/lib/quick-view/quick-view-subheader-subtitle/quick-view-subheader-subtitle.component.ts
  libs/core/src/lib/quick-view/quick-view-subheader-title/quick-view-subheader-title.component.html
  libs/core/src/lib/quick-view/quick-view-subheader-title/quick-view-subheader-title.component.spec.ts
  libs/core/src/lib/quick-view/quick-view-subheader-title/quick-view-subheader-title.component.ts
  libs/core/src/lib/quick-view/quick-view-subheader/quick-view-subheader.component.html
  libs/core/src/lib/quick-view/quick-view-subheader/quick-view-subheader.component.spec.ts
  libs/core/src/lib/quick-view/quick-view-subheader/quick-view-subheader.component.ts
  libs/core/src/lib/quick-view/quick-view-title/quick-view-title.component.html
  libs/core/src/lib/quick-view/quick-view-title/quick-view-title.component.spec.ts
  libs/core/src/lib/quick-view/quick-view-title/quick-view-title.component.ts
  libs/core/src/lib/quick-view/quick-view.module.ts
  libs/core/src/lib/quick-view/quick-view/quick-view.component.html
  libs/core/src/lib/quick-view/quick-view/quick-view.component.scss
  libs/core/src/lib/quick-view/quick-view/quick-view.component.spec.ts
  libs/core/src/lib/quick-view/quick-view/quick-view.component.ts
  package-lock.json
Labels: core

#4331 fix: (Core) fix Grid List IE11 issues
  libs/core/src/lib/grid-list/components/grid-list-item/grid-list-item.component.ts
  libs/core/src/lib/grid-list/components/grid-list/grid-list.component.scss
  libs/core/src/lib/grid-list/components/grid-list/grid-list.component.ts
  libs/core/src/lib/grid-list/helpers/parse-layout-pattern.ts
Labels: bug, core

#4288 fix: (Core) multi-input and combobox filtering should use startsWith
  apps/docs/src/app/core/component-docs/combobox/combobox-docs.component.html
  apps/docs/src/app/core/component-docs/combobox/combobox-docs.component.ts
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-dynamic-example.component.html
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-dynamic-example.component.ts
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-includes-example.component.html
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-includes-example.component.ts
  apps/docs/src/app/core/component-docs/combobox/examples/index.ts
  apps/docs/src/app/core/component-docs/multi-input/examples/multi-input-filter-example/multi-input-filter-example.component.ts
  apps/docs/src/app/core/component-docs/multi-input/examples/multi-input-includes-example/multi-input-includes-example.component.html
  apps/docs/src/app/core/component-docs/multi-input/examples/multi-input-includes-example/multi-input-includes-example.component.ts
  apps/docs/src/app/core/component-docs/multi-input/multi-input-docs.component.html
  apps/docs/src/app/core/component-docs/multi-input/multi-input-docs.component.ts
  apps/docs/src/app/core/component-docs/multi-input/multi-input-docs.module.ts
  libs/core/src/lib/combobox/combobox.component.ts
  libs/core/src/lib/multi-input/multi-input.component.ts
Labels: bug

#4328 fix: (Core) Popover add missing entry component
  libs/core/src/lib/popover/popover.module.ts
Labels: 0.26.0, core

#4318 fix: IE11 unit description center
  libs/core/src/lib/step-input/step-input.component.scss
  libs/core/src/lib/step-input/step-input.component.ts
Labels: 0.26.0, Defect Hunting

#4304 fix: (Core) Time Component stop scrolling on init
  libs/core/src/lib/time/time-column/time-column.component.spec.ts
  libs/core/src/lib/time/time-column/time-column.component.ts
Labels: core, timepicker

#4329 docs: (Core) add rating indicator example with display mode
  apps/docs/src/app/core/component-docs/rating-indicator/examples/index.ts
  apps/docs/src/app/core/component-docs/rating-indicator/examples/rating-indicator-examples.component.ts
  apps/docs/src/app/core/component-docs/rating-indicator/examples/rating-indicator-ratings.component.ts
  apps/docs/src/app/core/component-docs/rating-indicator/examples/rating-indicator-sizes.component.ts
  apps/docs/src/app/core/component-docs/rating-indicator/examples/rating-indicator-style.component.scss
  apps/docs/src/app/core/component-docs/rating-indicator/examples/ri-custom-icon-example.component.ts
  apps/docs/src/app/core/component-docs/rating-indicator/examples/ri-display-mode-example.component.html
  apps/docs/src/app/core/component-docs/rating-indicator/examples/ri-display-mode-example.component.ts
  apps/docs/src/app/core/component-docs/rating-indicator/examples/ri-dynamic-example.component.html
  apps/docs/src/app/core/component-docs/rating-indicator/examples/ri-dynamic-example.component.ts
  apps/docs/src/app/core/component-docs/rating-indicator/rating-indicator-docs.component.html
  apps/docs/src/app/core/component-docs/rating-indicator/rating-indicator-docs.component.ts
Labels: Defect Hunting, core, enhancement

#4292 fix: (Core) InputGroup editing text in disabled state
  libs/core/src/lib/input-group/input-group.component.html
Labels: Defect Hunting, core

#4323 fix: (Core) add fix for empty checkbox focus
  libs/core/src/lib/checkbox/checkbox/checkbox.component.scss
Labels: Defect Hunting, bug, core, denoland

#4324 fix: (Core) add fix for Inline Help icon-text misalignment
  libs/core/src/lib/form/form-label/form-label.component.scss
Labels: Defect Hunting, bug, core, denoland

#4336 fix: (Core) add nullcheck to menu component
  libs/core/src/lib/menu/menu-item/menu-item.component.ts
Labels: 0.26.0, core

#4339 docs: (Core) display scss files in code examples
  apps/docs/src/app/documentation/core-helpers/code-example/code-example.component.html
  apps/docs/src/app/documentation/core-helpers/code-example/code-example.component.ts
Labels: documentation

#4290 docs: (Platform) fix underlying documentation page scroll in Dynamic Page
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-non-collapsible-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-responsive-padding-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-snap-scroll-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-tabbed-example.component.ts
Labels: Defect Hunting, bug, platform

#4330 fix: (Core) fix Card accessibility issue
  apps/docs/src/app/core/component-docs/card/examples/bar-chart-list-card/bar-chart-list-card-example.component.html
  apps/docs/src/app/core/component-docs/card/examples/card-example.component.html
  apps/docs/src/app/core/component-docs/card/examples/card-kpi-example.component.html
  apps/docs/src/app/core/component-docs/card/examples/card-loader-example.component.html
  apps/docs/src/app/core/component-docs/card/examples/card-table-example.component.html
  apps/docs/src/app/core/component-docs/fixed-card-layout/examples/default/fixed-card-layout-examples.component.html
  apps/docs/src/app/core/component-docs/fixed-card-layout/examples/disabled-drag-drop/fixed-card-layout-disabled-drag.component.html
  apps/docs/src/app/core/component-docs/fixed-card-layout/examples/mobile/fixed-card-layout-mobile-examples.component.html
  libs/core/src/lib/card/card.component.html
  libs/core/src/lib/fixed-card-layout/fixed-card-layout.component.html
Labels: accessibility, core

#4184 feat: (Platform) Introduce Value Help Dialog
  apps/docs/src/app/platform/api-files.ts
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-docs.module.ts
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/index.ts
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-basic-example.component.html
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-basic-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-filters-example.component.html
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-filters-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-input-example.component.html
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-input-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-mobile-example.component.html
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-mobile-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-multi-input-example.component.html
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-multi-input-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-strategy-labels-example.component.html
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-strategy-labels-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-token-example.component.html
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-token-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-header/platform-vhd-header.component.html
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-header/platform-vhd-header.component.ts
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd.docs.component.html
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd.docs.component.ts
  apps/docs/src/app/platform/documentation/platform-documentation.component.ts
  apps/docs/src/app/platform/platform-documentation.routes.ts
  libs/core/src/lib/utils/pipes/displayFn.pipe.ts
  libs/platform/src/index.ts
  libs/platform/src/lib/components/value-help-dialog/components/base-tab/vhd-base-tab.component.ts
  libs/platform/src/lib/components/value-help-dialog/components/define-tab/define-tab.component.html
  libs/platform/src/lib/components/value-help-dialog/components/define-tab/define-tab.component.scss
  libs/platform/src/lib/components/value-help-dialog/components/define-tab/define-tab.component.spec.ts
  libs/platform/src/lib/components/value-help-dialog/components/define-tab/define-tab.component.ts
  libs/platform/src/lib/components/value-help-dialog/components/index.ts
  libs/platform/src/lib/components/value-help-dialog/components/select-tab/select-tab.component.html
  libs/platform/src/lib/components/value-help-dialog/components/select-tab/select-tab.component.scss
  libs/platform/src/lib/components/value-help-dialog/components/select-tab/select-tab.component.spec.ts
  libs/platform/src/lib/components/value-help-dialog/components/select-tab/select-tab.component.ts
  libs/platform/src/lib/components/value-help-dialog/components/value-help-dialog-filter/value-help-dialog-filter.component.spec.ts
  libs/platform/src/lib/components/value-help-dialog/components/value-help-dialog-filter/value-help-dialog-filter.component.ts
  libs/platform/src/lib/components/value-help-dialog/components/value-help-dialog-search/value-help-dialog-search.component.spec.ts
  libs/platform/src/lib/components/value-help-dialog/components/value-help-dialog-search/value-help-dialog-search.component.ts
  libs/platform/src/lib/components/value-help-dialog/constans/condition-display.function.ts
  libs/platform/src/lib/components/value-help-dialog/constans/index.ts
  libs/platform/src/lib/components/value-help-dialog/constans/variables.ts
  libs/platform/src/lib/components/value-help-dialog/directives/condition-count-message.directive.ts
  libs/platform/src/lib/components/value-help-dialog/models/index.ts
  libs/platform/src/lib/components/value-help-dialog/models/vhd-data.source.ts
  libs/platform/src/lib/components/value-help-dialog/models/vhd-filter-rule.model.ts
  libs/platform/src/lib/components/value-help-dialog/models/vhd-filter.model.ts
  libs/platform/src/lib/components/value-help-dialog/models/vhd-strategy.enum.ts
  libs/platform/src/lib/components/value-help-dialog/models/vhd-tab-type.enum.ts
  libs/platform/src/lib/components/value-help-dialog/models/vhd-table-selection.type.ts
  libs/platform/src/lib/components/value-help-dialog/models/vhd-type-condition.enum.ts
  libs/platform/src/lib/components/value-help-dialog/models/vhd-value.model.ts
  libs/platform/src/lib/components/value-help-dialog/public_api.ts
  libs/platform/src/lib/components/value-help-dialog/value-help-dialog.module.ts
  libs/platform/src/lib/components/value-help-dialog/value-help-dialog/value-help-dialog.component.html
  libs/platform/src/lib/components/value-help-dialog/value-help-dialog/value-help-dialog.component.scss
  libs/platform/src/lib/components/value-help-dialog/value-help-dialog/value-help-dialog.component.spec.ts
  libs/platform/src/lib/components/value-help-dialog/value-help-dialog/value-help-dialog.component.ts
Labels: platform

#4320 fix: (Core) add scrollTo IE11 alternative
  libs/core/src/lib/tabs/tab-list.component.ts
  libs/core/src/lib/utils/functions/index.ts
  libs/core/src/lib/utils/functions/scroll.ts
  libs/core/src/lib/wizard/wizard.component.ts
Labels: 0.26.0, Defect Hunting

#4277 fix: (Core) make Form's Input Message readable by screen readers
  e2e/wdio/platform/tests/checkbox.e2e-spec.ts
  libs/core/src/lib/form/form-input-message-group/form-input-message-group.component.ts
  libs/core/src/lib/form/form-message/form-message.component.ts
Labels: Defect Hunting, accessibility, bug, core

#4226 fix: (Core) fix reacheble group headers in combobox options
  e2e/wdio/platform/tests/combobox.e2e-spec.ts
  libs/core/src/lib/combobox/combobox.component.html
  libs/core/src/lib/list/directives/list-group-header.directive.spec.ts
  libs/core/src/lib/list/directives/list-group-header.directive.ts
  libs/core/src/lib/list/list-focus-item.model.ts
  libs/core/src/lib/list/list-item/list-item.component.ts
  libs/core/src/lib/list/list.component.ts
Labels: Defect Hunting, accessibility, bug, core, platform

#4347 test: add e2e test for date picker component
  e2e/wdio/platform/fixtures/testData/date-picker.ts
  e2e/wdio/platform/pages/date-picker.po.ts
  e2e/wdio/platform/tests/date-picker.e2e-spec.ts
Labels: testing

#4218 fix: (Core) implement and demonstrate wizard in a dialog
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-dialog-example.component.html
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-dialog-example.component.ts
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-example.component.scss
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-ngfor-example.component.ts
  apps/docs/src/app/core/component-docs/wizard/wizard-docs.component.html
  apps/docs/src/app/core/component-docs/wizard/wizard-docs.component.ts
  apps/docs/src/app/core/component-docs/wizard/wizard-docs.module.ts
  libs/core/src/lib/dialog/dialog-body/dialog-body.component.ts
  libs/core/src/lib/wizard/wizard.component.html
Labels: 0.25.0

#4416 fix: (Core) byline list content typo
  libs/core/src/lib/list/directives/byline/list-content.directive.ts
Labels: 0.26.0, bug

#4388 fix: (Core) Add another way to put resize boundaries
  libs/core/src/lib/dialog/dialog.component.html
  libs/core/src/lib/utils/directives/resize/resize.directive.ts
Labels: bug, core

#4417 fix: (Core) add null check for Rtl service
  libs/core/src/lib/fixed-card-layout/fixed-card-layout.component.ts
Labels: 0.26.0, core

#4354 feat: (Core) add Search Field functionality to Combobox component
  apps/docs/src/app/core/component-docs/combobox/combobox-docs.component.html
  apps/docs/src/app/core/component-docs/combobox/combobox-docs.component.ts
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-search-field-example.component.html
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-search-field-example.component.ts
  apps/docs/src/app/core/component-docs/combobox/examples/index.ts
  libs/core/src/lib/combobox/combobox.component.html
  libs/core/src/lib/combobox/combobox.component.scss
  libs/core/src/lib/combobox/combobox.component.spec.ts
  libs/core/src/lib/combobox/combobox.component.ts
  libs/core/src/lib/combobox/combobox.module.ts
Labels: enhancement

#4418 fix: (Core) Quick View title's corners and added ability to align title
  apps/docs/src/app/core/component-docs/quick-view/examples/quick-view-popover-example.component.html
  apps/docs/src/app/core/component-docs/quick-view/examples/quick-view-popover-example.component.ts
  libs/core/src/lib/quick-view/quick-view-title/quick-view-title.component.html
  libs/core/src/lib/quick-view/quick-view-title/quick-view-title.component.ts
  libs/core/src/lib/quick-view/quick-view.module.ts
Labels: bug, core

#4389 fix: (Platform) Value Help Dialog - updates, few minor issues in examples
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-basic-example.component.html
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-filters-example.component.html
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-input-example.component.html
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-mobile-example.component.html
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-multi-input-example.component.html
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-strategy-labels-example.component.html
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-token-example.component.html
  libs/platform/src/lib/components/value-help-dialog/value-help-dialog/value-help-dialog.component.html
  libs/platform/src/lib/components/value-help-dialog/value-help-dialog/value-help-dialog.component.scss
  libs/platform/src/lib/components/value-help-dialog/value-help-dialog/value-help-dialog.component.spec.ts
  libs/platform/src/lib/components/value-help-dialog/value-help-dialog/value-help-dialog.component.ts
Labels: Defect Hunting, platform

#4353 fix: (Core) Accessibility: Combobox - Few issues with reading due screen reader and minor issues
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-example.component.html
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-example.component.ts
  e2e/wdio/platform/pages/combobox.po.ts
  e2e/wdio/platform/tests/combobox.e2e-spec.ts
  libs/core/src/lib/combobox/combobox.component.html
  libs/core/src/lib/combobox/combobox.component.ts
  libs/platform/src/lib/components/form/combobox/combobox/combobox.component.html
  libs/platform/src/lib/components/form/combobox/commons/base-combobox.ts
Labels: Defect Hunting, Screen Reader, accessibility, bug, core, platform

#4361 feat: (Core) Custom Messages in pickers
  apps/docs/src/app/core/component-docs/date-picker/examples/date-picker-disable-func-example/date-picker-disable-func-example.component.html
  apps/docs/src/app/core/component-docs/date-picker/examples/date-picker-form-example.component.ts
  apps/docs/src/app/core/component-docs/date-picker/examples/date-picker-range-disabled-example/date-picker-range-disabled-example.component.html
  apps/docs/src/app/core/component-docs/date-picker/examples/date-picker-single-example.component.ts
  apps/docs/src/app/core/component-docs/datetime-picker/examples/datetime-form-example/datetime-form-example.component.html
  apps/docs/src/app/core/component-docs/time-picker/examples/time-picker-form-example.component.html
  libs/core/src/lib/date-picker/date-picker.component.html
  libs/core/src/lib/date-picker/date-picker.component.spec.ts
  libs/core/src/lib/date-picker/date-picker.component.ts
  libs/core/src/lib/date-picker/date-picker.module.ts
  libs/core/src/lib/datetime-picker/datetime-picker.component.html
  libs/core/src/lib/datetime-picker/datetime-picker.component.spec.ts
  libs/core/src/lib/datetime-picker/datetime-picker.component.ts
  libs/core/src/lib/datetime-picker/datetime-picker.module.ts
  libs/core/src/lib/form/form-message/popover-form-message.service.spec.ts
  libs/core/src/lib/form/form-message/popover-form-message.service.ts
  libs/core/src/lib/form/public_api.ts
  libs/core/src/lib/popover/popover-body/popover-body.component.scss
  libs/core/src/lib/popover/popover-service/popover.service.ts
  libs/core/src/lib/time-picker/time-picker.component.html
  libs/core/src/lib/time-picker/time-picker.component.spec.ts
  libs/core/src/lib/time-picker/time-picker.component.ts
  libs/core/src/lib/time-picker/time-picker.module.ts
  libs/platform/src/lib/components/form/date-picker/date-picker.component.spec.ts
  libs/platform/src/lib/components/form/date-picker/date-picker.component.ts
Labels: core, enhancement

#4479 fix: (Platform) Dynamic Content Page overflow
  libs/platform/src/lib/components/dynamic-page/dynamic-page.component.scss
Labels: platform

#4469 fix: (Platform) fix combobox examples for stackblitz
  apps/docs/src/app/core/component-docs/combobox/combobox-docs.component.ts
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-forms-example.component.scss
  apps/docs/src/app/core/component-docs/combobox/examples/combobox-forms-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-columns/combobox-columns-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-datasource/combobox-datasource-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-forms/combobox-forms-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-group/combobox-group-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-mobile/combobox-mobile-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-standard/combobox-standard.component.ts
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-states/combobox-states-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-templates/combobox-templates-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-combobox/platform-combobox-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-combobox/platform-combobox-docs.module.ts
  libs/platform/src/lib/components/form/combobox/combobox/combobox.component.ts
Labels: documentation, platform, stackblitz

#4471 fix: (Platform) fix StackBlitz examples
  apps/docs/src/app/platform/component-docs/platform-feed-input/platform-feed-input-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-feed-input/platform-feed-input-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-feed-input/platform-feed-input-examples/platform-feed-input-example/platform-feed-input-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-file-uploader/platform-file-uploader-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-file-uploader/platform-file-uploader-examples/platform-file-uploader-max-file-size-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-input/platform-input-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-input/platform-input-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-input/platform-input-example/platform-input-auto-complete-validation-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-forms/platform-input/platform-input-example/platform-input-auto-complete-validation-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-input/platform-input-example/platform-input-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-input/platform-input-example/platform-input-reactive-validation-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-examples/platform-textarea-basic-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-examples/platform-textarea-basic-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-examples/platform-number-step-input-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-examples/platform-number-step-input-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-examples/platform-number-step-input-reactive-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-examples/platform-number-step-input-reactive-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-examples/platform-number-step-input-state-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-examples/platform-number-step-input-state-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-examples/platform-number-step-input-template-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-examples/platform-number-step-input-template-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-examples/platform-step-input-example.scss
  apps/docs/src/app/platform/component-docs/platform-forms/switch/switch-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-object-attribute/platform-object-attribute-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-object-attribute/platform-object-attribute-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-object-attribute/platform-object-attribute-examples/platform-object-attribute-link-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-object-marker/object-marker-example/index.ts
  apps/docs/src/app/platform/component-docs/platform-object-marker/object-marker-example/object-marker-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-object-marker/object-marker-example/object-marker-example.scss
  apps/docs/src/app/platform/component-docs/platform-object-marker/object-marker-example/object-marker-text-and-icon/object-marker-text-and-icon-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-marker/object-marker-example/object-marker-text-and-icon/object-marker-text-and-icon-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-object-marker/object-marker-example/object-marker-text-and-icon/object-marker-text-and-icon-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-object-marker/object-marker-example/object-marker-text-clickable/object-marker-text-clickable-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-marker/object-marker-example/object-marker-text-clickable/object-marker-text-clickable-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-object-marker/object-marker-example/object-marker-text-clickable/object-marker-text-clickable-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-object-marker/object-marker-example/object-marker-text-only-example/object-marker-text-only-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-marker/object-marker-example/object-marker-text-only-example/object-marker-text-only-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-object-marker/object-marker-example/object-marker-text-only-example/object-marker-text-only-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-object-marker/object-marker-example/object-marker/object-marker-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-marker/object-marker-example/object-marker/object-marker-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-object-marker/object-marker-example/object-marker/object-marker-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-object-marker/platform-object-marker-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-object-marker/platform-object-marker-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-object-marker/platform-object-marker.module.ts
  apps/docs/src/app/platform/component-docs/platform-panel/platform-panel-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-panel/platform-panel-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-panel/platform-panel-examples/platform-panel-config-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-panel/platform-panel-examples/platform-panel-expandable-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-search-field/platform-search-field-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-search-field/platform-search-field-examples/platform-search-field-basic-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-search-field/platform-search-field-examples/platform-search-field-categories-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-search-field/platform-search-field-examples/platform-search-field-data-source-example.component.html
  apps/docs/src/app/platform/component-docs/platform-search-field/platform-search-field-examples/platform-search-field-data-source-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-search-field/platform-search-field-examples/platform-search-field-data-source-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-search-field/platform-search-field-examples/platform-search-field-data-source-example.service.ts
  apps/docs/src/app/platform/component-docs/platform-search-field/platform-search-field-examples/platform-search-field-example.component.scss
  e2e/wdio/platform/pages/input.po.ts
  libs/platform/src/lib/components/search-field/search-field.component.scss
Labels: documentation, platform, stackblitz

#4343 fix: (Platform) remove dependency on position: fixed for Dynamic Page
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-example.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-flexible-column-example.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-flexible-column-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-flexible-column-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-non-collapsible-example.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-non-collapsible-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-non-collapsible-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-responsive-padding-example.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-responsive-padding-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-responsive-padding-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-snap-scroll-example.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-snap-scroll-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-snap-scroll-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-tabbed-example.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-tabbed-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-tabbed-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page.module.ts
  libs/core/src/lib/flexible-column-layout/public_api.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page-content/dynamic-page-content.component.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page-content/dynamic-page-tabbed-content.component.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page.component.html
  libs/platform/src/lib/components/dynamic-page/dynamic-page.component.scss
  libs/platform/src/lib/components/dynamic-page/dynamic-page.component.spec.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page.component.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page.module.ts
  libs/platform/src/lib/platform.module.ts
Labels: bug, platform

#4480 fix: (Core) add temporary fixes to table component
  apps/docs/src/app/core/component-docs/table/examples/table-focusable-example/table-focusable-example.component.html
  apps/docs/src/app/core/component-docs/table/examples/table-focusable-example/table-focusable-example.component.ts
  apps/docs/src/app/core/component-docs/table/table-docs.component.html
  apps/docs/src/app/core/component-docs/table/table-docs.component.ts
  apps/docs/src/app/core/component-docs/table/table-docs.module.ts
  libs/core/src/lib/table/directives/table-cell.directive.ts
  libs/core/src/lib/table/directives/table-row.directive.ts
  libs/core/src/lib/table/table.component.scss
Labels: core

#4492 fix: (Core) remove double focus on Input Group with button
  libs/core/src/lib/input-group/input-group.component.ts
Labels: Defect Hunting

#4490 fix: (Core) add fix for Breadcrump overflow menu
  libs/core/src/lib/menu/menu.component.ts
Labels: Defect Hunting

#4494 fix: (Core) Popover Focus trap
  libs/core/src/lib/popover/popover-body/popover-body.component.html
  libs/core/src/lib/popover/popover-body/popover-body.component.ts
  libs/core/src/lib/popover/popover-service/popover.service.ts
Labels: Defect Hunting

#4278 fix: (Platform) fix combobox styles
  libs/platform/src/lib/components/form/combobox/combobox.module.ts
  libs/platform/src/lib/components/form/combobox/combobox/combobox.component.scss
Labels: bug, platform

#4496 fix: (Core) add fix for keeping the focus on the button for Carousel component
  libs/core/src/lib/carousel/carousel.component.html
  libs/core/src/lib/carousel/carousel.component.ts
Labels: Defect Hunting, core
