Repository SAP/fundamental-ngx, pull requests merged in 2021-06, with the labels that each got.

#5507 test: (e2e) skip dialog core e2e tests
  wdio.conf.js
Labels: e2e

#5534 test: (e2e) fix flaky calendar e2e tests
  e2e/wdio/core/fixtures/appData/calendar-contents.ts
  e2e/wdio/core/tests/calendar.e2e-spec.ts
Labels: e2e, flaky tests

#5544 chore(deps-dev): fix version release
  ci-scripts/publish.sh
  package.json
Labels: tooling

#5516 docs(platform): fix disabled scroll in other pages on back press from Dynamic Page examples
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-flexible-column-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-non-collapsible-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-page-overflow.service.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-responsive-padding-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-snap-scroll-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-tabbed-example.component.ts
Labels: QA Approved, platform

#5554 fix(core): fix typedoc generation
  libs/core/src/lib/shared/dialog/public_api.ts
  libs/core/src/lib/tsconfig.lib.json
  libs/platform/tsconfig.lib.json
  package.json
Labels: tooling

#4964 feat(core): introduce resizable-card-layout component
  angular.json
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/resizable-card-layout/examples/resizable-card-layout-example-itemconfig.component.html
  apps/docs/src/app/core/component-docs/resizable-card-layout/examples/resizable-card-layout-example-itemconfig.component.ts
  apps/docs/src/app/core/component-docs/resizable-card-layout/examples/resizable-card-layout-example-layoutconfig.component.html
  apps/docs/src/app/core/component-docs/resizable-card-layout/examples/resizable-card-layout-example-layoutconfig.component.ts
  apps/docs/src/app/core/component-docs/resizable-card-layout/examples/resizable-card-layout-example.component.html
  apps/docs/src/app/core/component-docs/resizable-card-layout/examples/resizable-card-layout-example.component.scss
  apps/docs/src/app/core/component-docs/resizable-card-layout/examples/resizable-card-layout-example.component.ts
  apps/docs/src/app/core/component-docs/resizable-card-layout/resizable-card-layout-docs-header/resizable-card-layout-docs-header.component.html
  apps/docs/src/app/core/component-docs/resizable-card-layout/resizable-card-layout-docs-header/resizable-card-layout-docs-header.component.ts
  apps/docs/src/app/core/component-docs/resizable-card-layout/resizable-card-layout-docs.component.html
  apps/docs/src/app/core/component-docs/resizable-card-layout/resizable-card-layout-docs.component.ts
  apps/docs/src/app/core/component-docs/resizable-card-layout/resizable-card-layout-docs.module.ts
  apps/docs/src/app/core/core-documentation.routes.ts
  apps/docs/src/app/core/documentation/core-documentation.component.ts
  libs/core/src/lib/fundamental-ngx.module.ts
  libs/core/src/lib/public_api.ts
  libs/core/src/lib/resizable-card-layout/README.md
  libs/core/src/lib/resizable-card-layout/index.ts
  libs/core/src/lib/resizable-card-layout/karma.conf.js
  libs/core/src/lib/resizable-card-layout/ng-package.json
  libs/core/src/lib/resizable-card-layout/package.json
  libs/core/src/lib/resizable-card-layout/public_api.ts
  libs/core/src/lib/resizable-card-layout/resizable-card-layout.module.ts
  libs/core/src/lib/resizable-card-layout/resizable-card-layout/resizable-card-item/resizable-card-item.component.html
  libs/core/src/lib/resizable-card-layout/resizable-card-layout/resizable-card-item/resizable-card-item.component.scss
  libs/core/src/lib/resizable-card-layout/resizable-card-layout/resizable-card-item/resizable-card-item.component.spec.ts
  libs/core/src/lib/resizable-card-layout/resizable-card-layout/resizable-card-item/resizable-card-item.component.ts
  libs/core/src/lib/resizable-card-layout/resizable-card-layout/resizable-card-layout.component.html
  libs/core/src/lib/resizable-card-layout/resizable-card-layout/resizable-card-layout.component.scss
  libs/core/src/lib/resizable-card-layout/resizable-card-layout/resizable-card-layout.component.spec.ts
  libs/core/src/lib/resizable-card-layout/resizable-card-layout/resizable-card-layout.component.ts
  libs/core/src/lib/resizable-card-layout/test.ts
  libs/core/src/lib/resizable-card-layout/tsconfig.json
  libs/core/src/lib/resizable-card-layout/tsconfig.lib.json
  libs/core/src/lib/resizable-card-layout/tsconfig.lib.prod.json
  libs/core/src/lib/resizable-card-layout/tsconfig.spec.json
  libs/core/src/lib/resizable-card-layout/tslint.json
  nx.json
  tsconfig.base.json
Labels: QA Approved, core

#5535 fix(platform): clickable object status handle Enter and Space button
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-clickable-and-icon-example.component.html
  libs/platform/src/lib/components/object-status/object-status.component.ts
Labels: QA Approved, platform

#5439 chore: (deps-dev) cleanup dependabot config
  .github/dependabot.yml
Labels: dependencies, tooling

#5605 chore(deps-dev): greeting message for commits
  .github/workflows/greetings.yml
Labels: tooling

#5606 chore(deps-dev): auto close old PRs
  .github/workflows/stale.yml
Labels: tooling

#5552 fix(core): fix compact items change to cozy after being clicked in Action Sheet
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_chrome/action-sheet-items-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_chrome/action-sheet-items-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_firefox/action-sheet-items-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_firefox/action-sheet-items-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_microsoftedge/action-sheet-items-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_microsoftedge/action-sheet-items-example-1-core-msedge-windows--1920x1080.png
  libs/core/src/lib/action-sheet/action-sheet-item/action-sheet-item.component.html
  libs/core/src/lib/action-sheet/action-sheet.component.ts
  libs/core/src/lib/button/button.component.ts
Labels: QA Approved, core

#5624 chore: update bump version
  ci-scripts/hotfix-publish.sh
  ci-scripts/publish.sh
  package-lock.json
  package.json
Labels: tooling

#5517 docs(core): adding fix to provide valid target url for breadcrumb component.
  apps/docs/src/app/core/component-docs/breadcrumb/examples/breadcrumb-href-example.component.html
  apps/docs/src/app/core/component-docs/breadcrumb/examples/breadcrumb-responsive-example.component.html
  apps/docs/src/app/core/component-docs/breadcrumb/examples/breadcrumb-routerLink-example.component.html
Labels: ATL, QA Approved, accessibility, core, stale

#5520 fix(core): click on edit button in Grid List active card
  libs/core/src/lib/grid-list/components/grid-list-item/grid-list-item.component.html
  libs/core/src/lib/grid-list/components/grid-list-item/grid-list-item.component.ts
Labels: QA Approved, core

#5514 fix(platform): do not open menu on disabled menu button and split menu button
  apps/docs/src/app/platform/component-docs/platform-split-menu-button/platform-split-menu-button-examples/platform-split-button-icons-example.component.html
  e2e/wdio/baselineScreenshot/platform/split-menu-button/desktop_chrome/split-menu-button-example-0-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/split-menu-button/desktop_chrome/split-menu-button-example-0-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/split-menu-button/desktop_chrome/split-menu-button-example-1-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/split-menu-button/desktop_chrome/split-menu-button-example-1-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/split-menu-button/desktop_chrome/split-menu-button-example-2-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/split-menu-button/desktop_chrome/split-menu-button-example-2-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/split-menu-button/desktop_firefox/split-menu-button-example-0-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/split-menu-button/desktop_firefox/split-menu-button-example-0-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/split-menu-button/desktop_firefox/split-menu-button-example-1-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/split-menu-button/desktop_firefox/split-menu-button-example-1-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/split-menu-button/desktop_firefox/split-menu-button-example-2-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/split-menu-button/desktop_firefox/split-menu-button-example-2-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/split-menu-button/desktop_microsoftedge/split-menu-button-example-0-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/split-menu-button/desktop_microsoftedge/split-menu-button-example-0-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/split-menu-button/desktop_microsoftedge/split-menu-button-example-1-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/split-menu-button/desktop_microsoftedge/split-menu-button-example-1-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/split-menu-button/desktop_microsoftedge/split-menu-button-example-2-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/split-menu-button/desktop_microsoftedge/split-menu-button-example-2-platform-msedge-windows--1920x1080.png
  e2e/wdio/platform/tests/split-menu-button.e2e-spec.ts
  libs/platform/src/lib/components/menu-button/menu-button.component.html
  libs/platform/src/lib/components/menu-button/menu-button.component.scss
  libs/platform/src/lib/components/menu-button/menu-button.component.spec.ts
  libs/platform/src/lib/components/menu-button/menu-button.component.ts
  libs/platform/src/lib/components/split-menu-button/split-menu-button.component.html
  libs/platform/src/lib/components/split-menu-button/split-menu-button.component.spec.ts
  libs/platform/src/lib/components/split-menu-button/split-menu-button.component.ts
Labels: QA Approved, platform

#5617 fix(core): dialog z-index fix
  libs/core/src/lib/dialog/dialog.component.scss
Labels: QA Approved, bug, core, dialog

#5523 docs(core): component based dialog - right padding is not correct
  apps/docs/src/app/core/component-docs/dialog/examples/component-based/component-based-dialog-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/component-based/dialog-example.component.ts
Labels: QA Approved, documentation

#5502 feat(core): implement datetime formatter pipes
  apps/docs/src/app/core/component-docs/date-picker/date-picker-docs.component.html
  apps/docs/src/app/core/component-docs/date-picker/date-picker-docs.module.ts
  apps/docs/src/app/core/component-docs/date-picker/examples/date-picker-format-example.component.ts
  apps/docs/src/app/core/component-docs/datetime-picker/datetime-picker-docs.component.html
  apps/docs/src/app/core/component-docs/datetime-picker/datetime-picker-docs.module.ts
  apps/docs/src/app/core/component-docs/datetime-picker/examples/datetime-format-example/datetime-format-example.component.html
  libs/core/src/lib/datetime/datetime-adapter.ts
  libs/core/src/lib/datetime/datetime-format.pipes.ts
  libs/core/src/lib/datetime/fd-datetime-adapter.ts
  libs/core/src/lib/datetime/fd-datetime.module.ts
  libs/core/src/lib/utils/pipes/pipe.module.ts
Labels: enhancement

#5586 fix(core): use fd-button for carousel button and fix focus after last item reached
  e2e/wdio/core/tests/carousel.e2e-spec.ts
  libs/core/src/lib/carousel/carousel.component.html
  libs/core/src/lib/carousel/carousel.component.scss
  libs/core/src/lib/carousel/carousel.component.ts
  libs/core/src/lib/carousel/carousel.module.ts
Labels: QA Approved, core

#5637 docs(platform): fix thumbnail example
  apps/docs/src/app/platform/component-docs/platform-thumbnail/platform-thumbnail-examples/platform-thumbnail-basic-example.component.ts
Labels: QA Approved, documentation, platform

#5621 fix(platform): table last fixed column border fix
  libs/platform/src/lib/components/table/table.component.html
  libs/platform/src/lib/components/table/table.component.ts
Labels: QA Approved, bug, platform, table

#5386 docs(core): fix date picker stackblitz examples
  apps/docs/src/app/core/component-docs/date-picker/date-picker-docs.component.ts
  apps/docs/src/app/core/component-docs/date-picker/examples/date-picker-allow-null-example.component.ts
  apps/docs/src/app/core/component-docs/date-picker/examples/date-picker-disable-func-example/date-picker-disable-func-example.component.ts
  apps/docs/src/app/core/component-docs/date-picker/examples/date-picker-disabled-example.component.ts
  apps/docs/src/app/core/component-docs/date-picker/examples/date-picker-form-example.component.ts
  apps/docs/src/app/core/component-docs/date-picker/examples/date-picker-form-range-example.component.ts
  apps/docs/src/app/core/component-docs/date-picker/examples/date-picker-format-example.component.ts
  apps/docs/src/app/core/component-docs/date-picker/examples/date-picker-i18n-example.component.ts
  apps/docs/src/app/core/component-docs/date-picker/examples/date-picker-position-example.component.ts
  apps/docs/src/app/core/component-docs/date-picker/examples/date-picker-range-disabled-example/date-picker-range-disabled-example.component.ts
  apps/docs/src/app/core/component-docs/date-picker/examples/date-picker-range-example.component.ts
  apps/docs/src/app/core/component-docs/date-picker/examples/date-picker-single-example.component.ts
Labels: core, documentation, stackblitz

#5387 docs(core): fix dialog stackblitz examples
  apps/docs/src/app/core/component-docs/dialog/dialog-docs.component.html
  apps/docs/src/app/core/component-docs/dialog/dialog-docs.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/template-based/template-based-dialog-example.component.ts
  apps/docs/src/app/documentation/core-helpers/stackblitz/stackblitz-dependencies.ts
Labels: QA Approved, core, documentation, stackblitz

#5406 docs(core): fix formatted text stackblitz examples
  apps/docs/src/app/core/component-docs/formatted-text/examples/links/formatted-text-links-example.component.html
  apps/docs/src/app/core/component-docs/formatted-text/examples/links/formatted-text-links-example.component.ts
  apps/docs/src/app/core/component-docs/formatted-text/examples/script/formatted-text-script-example.component.html
  apps/docs/src/app/core/component-docs/formatted-text/examples/script/formatted-text-script-example.component.ts
  apps/docs/src/app/core/component-docs/formatted-text/formatted-text-docs.component.ts
  apps/docs/src/app/core/component-docs/formatted-text/formatted-text-docs.module.ts
Labels: core, documentation, stackblitz

#5408 docs(core): fix standard list stackblitz examples
  apps/docs/src/app/core/component-docs/list/list-docs.component.ts
Labels: QA Approved, core, documentation, stackblitz

#5555 docs(core): time examples
  apps/docs/src/app/core/component-docs/time/examples/time-12-example.component.ts
  apps/docs/src/app/core/component-docs/time/examples/time-example.component.ts
  apps/docs/src/app/core/component-docs/time/examples/time-form-example.component.ts
  apps/docs/src/app/core/component-docs/time/examples/time-no-seconds-example.component.ts
  apps/docs/src/app/core/component-docs/time/examples/time-no-spinners-example/time-no-spinners-example.component.ts
  apps/docs/src/app/core/component-docs/time/examples/time-only-hours-example.component.ts
  apps/docs/src/app/core/component-docs/time/examples/time-programmatically-example.component.ts
  apps/docs/src/app/core/component-docs/time/examples/time-sizes-example.component.ts
  apps/docs/src/app/core/component-docs/time/examples/time-two-digits-example/time-two-digits-example.component.ts
Labels: core, documentation, stackblitz, stale

#5556 docs(core): table examples
  apps/docs/src/app/core/component-docs/table/table-docs.component.ts
Labels: QA Approved, core, documentation, stackblitz

#5557 docs(core): select examples
  apps/docs/src/app/core/component-docs/select/select-docs.component.ts
Labels: QA Approved, core, documentation, stackblitz

#5558 docs(core): popover examples
  apps/docs/src/app/core/component-docs/popover/popover-docs.component.ts
Labels: core, documentation, stackblitz, stale

#5559 docs(core): pagination examples
  apps/docs/src/app/core/component-docs/pagination/pagination-docs.component.ts
Labels: core, documentation, stackblitz, stale

#5389 docs(core): fix checkbox stackblitz examples
  apps/docs/src/app/core/component-docs/checkbox/checkbox-docs.component.html
  apps/docs/src/app/core/component-docs/checkbox/examples/checkbox-default-example.component.ts
  apps/docs/src/app/core/component-docs/date-picker/examples/date-picker-allow-null-example.component.ts
  apps/docs/src/app/core/component-docs/date-picker/examples/date-picker-format-example.component.ts
Labels: QA Approved, core, documentation, stackblitz

#5560 docs(core): time picker examples
  apps/docs/src/app/core/component-docs/time-picker/examples/time-picker-allow-null-example.component.ts
  apps/docs/src/app/core/component-docs/time-picker/examples/time-picker-compact-example.component.ts
  apps/docs/src/app/core/component-docs/time-picker/examples/time-picker-disabled-example.component.ts
  apps/docs/src/app/core/component-docs/time-picker/examples/time-picker-example.component.ts
  apps/docs/src/app/core/component-docs/time-picker/examples/time-picker-form-example.component.ts
  apps/docs/src/app/core/component-docs/time-picker/examples/time-picker-format-example.component.ts
  apps/docs/src/app/core/component-docs/time-picker/examples/time-picker-locale-example/time-picker-locale-example.component.ts
Labels: core, documentation, stackblitz, stale

#5561 docs(core): toolbar examples
  apps/docs/src/app/core/component-docs/toolbar/examples/toolbar-example.component.ts
  apps/docs/src/app/core/component-docs/toolbar/examples/toolbar-overflow-example.component.ts
  apps/docs/src/app/core/component-docs/toolbar/toolbar-docs.component.ts
  apps/docs/src/app/core/component-docs/toolbar/toolbar-docs.module.ts
Labels: core, documentation, stackblitz, stale

#5564 docs(core): message toast examples
  apps/docs/src/app/core/component-docs/message-toast/message-toast-docs.component.ts
Labels: QA Approved, core, documentation, stackblitz

#5565 docs(core): menu examples
  apps/docs/src/app/core/component-docs/menu/examples/menu-examples.component.ts
  apps/docs/src/app/core/component-docs/menu/examples/menu-mobile-example.component.ts
  apps/docs/src/app/core/component-docs/menu/menu-docs.component.ts
  apps/docs/src/app/core/component-docs/menu/menu-docs.module.ts
Labels: core, documentation, stackblitz, stale

#5566 docs(core): message box examples
  apps/docs/src/app/core/component-docs/message-box/examples/template-based/template-based-message-box-example.component.ts
  apps/docs/src/app/core/component-docs/message-box/message-box-docs.component.html
  apps/docs/src/app/core/component-docs/message-box/message-box-docs.component.ts
Labels: core, documentation, stackblitz, stale

#5567 docs(core): list with byline examples
  apps/docs/src/app/core/component-docs/list-byline/examples/list-byline-navigation-example/list-byline-navigation-example.component.html
  apps/docs/src/app/core/component-docs/list-byline/list-byline-docs.component.ts
Labels: core, documentation, stackblitz, stale

#5568 docs(core): object status examples
  apps/docs/src/app/core/component-docs/object-status/examples/object-status-default-example.component.ts
  apps/docs/src/app/core/component-docs/object-status/examples/object-status-examples.component.ts
  apps/docs/src/app/core/component-docs/object-status/object-status-docs.component.ts
  apps/docs/src/app/core/component-docs/object-status/object-status-docs.module.ts
Labels: core, documentation, stackblitz, stale

#5569 docs(core): dynamic side content examples
  apps/docs/src/app/core/component-docs/dynamic-side-content/dynamic-side-content-docs.component.ts
Labels: core, documentation, stackblitz, stale

#5570 docs(core): layout grid examples
  apps/docs/src/app/core/component-docs/layout-grid/examples/index.ts
  apps/docs/src/app/core/component-docs/layout-grid/examples/layout-grid-basic-example.component.ts
  apps/docs/src/app/core/component-docs/layout-grid/examples/layout-grid-examples.component.ts
  apps/docs/src/app/core/component-docs/layout-grid/examples/layout-grid-growing-example.component.ts
  apps/docs/src/app/core/component-docs/layout-grid/layout-grid-docs.component.ts
Labels: core, documentation, stackblitz, stale

#5571 docs(core): layout panel examples
  apps/docs/src/app/core/component-docs/layout-panel/layout-panel-docs.component.ts
Labels: core, documentation, stackblitz, stale

#5633 fix(platform): fix Search field focus if click outside
  libs/platform/src/lib/components/search-field/search-field.component.ts
Labels: QA Approved, platform

#5640 fix(core): fix scroll spy target offset top
  libs/core/src/lib/scroll-spy/scroll-spy.directive.ts
Labels: QA Approved, core

#5635 chore(deps): focus-trap update
  package-lock.json
  package.json
Labels: dependencies, documentation, stackblitz

#5518 docs: (docs) add info about dependency of combobox to popover
  apps/docs/src/app/core/component-docs/combobox/combobox-header/combobox-header.component.html
  apps/docs/src/app/core/component-docs/popover/popover-header/popover-header.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-docs.component.html
Labels: QA Approved, documentation, stale

#5629 fix(core,platform): updating file uploader examples to display valid error message, on selecting invalid file.
  apps/docs/src/app/platform/component-docs/platform-file-uploader/platform-file-uploader-examples/platform-file-uploader-compact-example.component.html
  apps/docs/src/app/platform/component-docs/platform-file-uploader/platform-file-uploader-examples/platform-file-uploader-example.component.html
  apps/docs/src/app/platform/component-docs/platform-file-uploader/platform-file-uploader-examples/platform-file-uploader-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-file-uploader/platform-file-uploader-examples/platform-file-uploader-file-types-example.component.html
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_chrome/file-uploader-example-0-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_chrome/file-uploader-example-0-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_chrome/file-uploader-example-1-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_chrome/file-uploader-example-1-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_chrome/file-uploader-example-2-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_chrome/file-uploader-example-2-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_chrome/file-uploader-example-3-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_chrome/file-uploader-example-3-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_chrome/file-uploader-example-4-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_chrome/file-uploader-example-4-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_chrome/file-uploader-example-5-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_chrome/file-uploader-example-5-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_firefox/file-uploader-example-0-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_firefox/file-uploader-example-0-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_firefox/file-uploader-example-1-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_firefox/file-uploader-example-1-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_firefox/file-uploader-example-2-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_firefox/file-uploader-example-2-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_firefox/file-uploader-example-3-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_firefox/file-uploader-example-3-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_firefox/file-uploader-example-4-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_firefox/file-uploader-example-4-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_firefox/file-uploader-example-5-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_firefox/file-uploader-example-5-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_microsoftedge/file-uploader-example-0-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_microsoftedge/file-uploader-example-0-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_microsoftedge/file-uploader-example-1-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_microsoftedge/file-uploader-example-1-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_microsoftedge/file-uploader-example-2-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_microsoftedge/file-uploader-example-2-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_microsoftedge/file-uploader-example-3-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_microsoftedge/file-uploader-example-3-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_microsoftedge/file-uploader-example-4-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_microsoftedge/file-uploader-example-4-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_microsoftedge/file-uploader-example-5-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/file-uploader/desktop_microsoftedge/file-uploader-example-5-platform-msedge-windows--1920x1080.png
  libs/core/src/lib/file-uploader/file-uploader.component.ts
Labels: QA Approved, bug

#5614 fix(platform): table selection cells position fix
  libs/platform/src/lib/components/table/table.component.scss
Labels: QA Approved, bug, platform, table

#5551 fix(core): datetime wrong date fix
  libs/core/src/lib/datetime-picker/datetime-picker.component.ts
Labels: QA Approved, core, stale

#5619 fix(core): fix a11y for Input Group component
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-button-example.component.html
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-complex-example.component.html
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-form-example/input-group-form-example.component.html
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-icon-example.component.html
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-search-example/input-group-search-example.component.html
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-states-example.component.html
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-text-compact-example.component.html
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-text-example.component.html
  libs/core/src/lib/input-group/input-group.component.html
  libs/core/src/lib/input-group/input-group.component.ts
Labels: QA Approved, core

#5638 fix(platform): updating condensed mode for platform button
  libs/platform/src/lib/components/base.ts
  libs/platform/src/lib/components/button/button.component.html
Labels: QA Approved, platform

#5658 fix(core): fix datetime exports
  libs/core/src/lib/datetime/public_api.ts
  package.json
Labels: core

#5525 fix(core): add fix for dialog header not applying styling correctly
  libs/core/src/lib/title/title.component.ts
Labels: QA Approved, core

#5612 fix(core): fix dialogs footer button size
  apps/docs/src/app/core/component-docs/dialog/dialog-docs.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/component-based/dialog-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-backdrop-container/dialog-backdrop-container-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-complex/dialog-complex-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-configuration/dialog-configuration-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-position/dialog-position-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-state/dialog-state-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/stacked-dialogs/first-dialog-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/stacked-dialogs/second-dialog-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/template-based/template-based-dialog-example.component.html
  libs/core/src/lib/dialog/dialog-container/dialog-container.component.ts
  libs/core/src/lib/dialog/dialog-default/dialog-default.component.html
  libs/core/src/lib/dialog/dialog-default/dialog-default.component.spec.ts
  libs/core/src/lib/dialog/dialog-default/dialog-default.component.ts
Labels: QA Approved, core

#5526 feat(core/platform): navigatable row in table
  apps/docs/src/app/core/component-docs/table/examples/table-navigatable-row-example.component.html
  apps/docs/src/app/core/component-docs/table/examples/table-navigatable-row-example.component.ts
  apps/docs/src/app/core/component-docs/table/table-docs.component.html
  apps/docs/src/app/core/component-docs/table/table-docs.component.ts
  apps/docs/src/app/core/component-docs/table/table-docs.module.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-multiple-row-selection-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-navigatable-row-button-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-navigatable-row-button-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-navigatable-row-indicator-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-navigatable-row-indicator-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table.module.ts
  libs/core/src/lib/table/directives/table-row.directive.ts
  libs/platform/src/lib/components/table/enums/index.ts
  libs/platform/src/lib/components/table/enums/row-type.enum.ts
  libs/platform/src/lib/components/table/models/table-row.model.ts
  libs/platform/src/lib/components/table/table.component.html
  libs/platform/src/lib/components/table/table.component.scss
  libs/platform/src/lib/components/table/table.component.spec.ts
  libs/platform/src/lib/components/table/table.component.ts
  libs/platform/src/lib/components/table/table.module.ts
  libs/platform/src/lib/components/upload-collection/upload-collection.module.ts
  libs/platform/src/lib/components/upload-collection/upload-collection/upload-collection.component.spec.ts
Labels: denoland

#5660 fix(core): fix documentation api tab for wizard
  libs/core/src/lib/wizard/wizard.component.ts
Labels: bug, denoland

#5661 chore(deps-dev): reduce the days for stale PRs
  .github/workflows/stale.yml
Labels: tooling

#5672 chore(deps-dev): add in-solidarity.yml file
  .github/in-solidarity.yml
Labels: tooling

#5549 feat(core): add option to change default cover bg size to contain
  apps/docs/src/app/core/component-docs/avatar/avatar-docs.component.html
  apps/docs/src/app/core/component-docs/avatar/examples/avatar-background-image-example.component.html
  e2e/wdio/baselineScreenshot/core/avatar/desktop_chrome/avatar-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_chrome/avatar-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_chrome/avatar-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_chrome/avatar-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_chrome/avatar-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_chrome/avatar-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_chrome/avatar-example-3-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_chrome/avatar-example-3-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_chrome/avatar-example-4-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_chrome/avatar-example-4-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_chrome/avatar-example-5-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_chrome/avatar-example-5-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_chrome/avatar-example-7-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_chrome/avatar-example-7-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_chrome/avatar-example-8-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_chrome/avatar-example-8-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_chrome/avatar-example-9-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_chrome/avatar-example-9-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-3-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-3-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-4-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-4-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-5-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-6-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-6-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-7-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-7-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-8-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-8-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-9-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-9-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_microsoftedge/avatar-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_microsoftedge/avatar-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_microsoftedge/avatar-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_microsoftedge/avatar-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_microsoftedge/avatar-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_microsoftedge/avatar-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_microsoftedge/avatar-example-3-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_microsoftedge/avatar-example-3-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_microsoftedge/avatar-example-4-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_microsoftedge/avatar-example-4-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_microsoftedge/avatar-example-5-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_microsoftedge/avatar-example-5-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_microsoftedge/avatar-example-7-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_microsoftedge/avatar-example-7-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_microsoftedge/avatar-example-8-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_microsoftedge/avatar-example-8-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_microsoftedge/avatar-example-9-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_microsoftedge/avatar-example-9-core-msedge-windows--1920x1080.png
  libs/core/src/lib/avatar/avatar.component.spec.ts
  libs/core/src/lib/avatar/avatar.component.ts
Labels: QA Approved, stale

#5401 test: (e2e) add e2e tests for Product Switch component
  e2e/wdio/baselineScreenshot/core/product-switch/desktop_chrome/product-switch-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/product-switch/desktop_chrome/product-switch-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/product-switch/desktop_chrome/product-switch-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/product-switch/desktop_chrome/product-switch-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/product-switch/desktop_chrome/product-switch-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/product-switch/desktop_chrome/product-switch-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/product-switch/desktop_firefox/product-switch-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/product-switch/desktop_firefox/product-switch-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/product-switch/desktop_firefox/product-switch-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/product-switch/desktop_firefox/product-switch-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/product-switch/desktop_firefox/product-switch-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/product-switch/desktop_firefox/product-switch-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/product-switch/desktop_microsoftedge/product-switch-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/product-switch/desktop_microsoftedge/product-switch-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/product-switch/desktop_microsoftedge/product-switch-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/product-switch/desktop_microsoftedge/product-switch-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/product-switch/desktop_microsoftedge/product-switch-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/product-switch/desktop_microsoftedge/product-switch-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/core/fixtures/appData/product-switch-contents.ts
  e2e/wdio/core/pages/product-switch.po.ts
  e2e/wdio/core/tests/product-switch.e2e-spec.ts
Labels: e2e, ready for merge

#5493 fix(core): fix Quick View Accessibility issues
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/quick-view/examples/quick-view-base-example.component.html
  apps/docs/src/app/core/component-docs/quick-view/examples/quick-view-base-example.component.ts
  apps/docs/src/app/core/component-docs/quick-view/examples/quick-view-dialog-example.component.html
  apps/docs/src/app/core/component-docs/quick-view/examples/quick-view-dialog-example.component.ts
  apps/docs/src/app/core/component-docs/quick-view/examples/quick-view-popover-example.component.html
  apps/docs/src/app/core/component-docs/quick-view/examples/quick-view-popover-example.component.ts
  libs/core/src/lib/quick-view/public_api.ts
  libs/core/src/lib/quick-view/quick-view-group-item-content/quick-view-group-item-content-element.directive.spec.ts
  libs/core/src/lib/quick-view/quick-view-group-item-content/quick-view-group-item-content-element.directive.ts
  libs/core/src/lib/quick-view/quick-view-group-item-content/quick-view-group-item-content.component.ts
  libs/core/src/lib/quick-view/quick-view-group-item-label/quick-view-group-item-label.component.ts
  libs/core/src/lib/quick-view/quick-view-group-item/quick-view-group-item.component.html
  libs/core/src/lib/quick-view/quick-view-group-item/quick-view-group-item.component.ts
  libs/core/src/lib/quick-view/quick-view.module.ts
  libs/core/src/lib/utils/functions/closest-element.ts
Labels: core, ready for qa

#5684 fix(platform): fix base input status if error
  libs/platform/src/lib/components/form/base.input.ts
Labels: QA Approved, platform

#5590 test(e2e): add e2e tests for icon component
  e2e/wdio/baselineScreenshot/core/icon/desktop_chrome/icon-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/icon/desktop_chrome/icon-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/icon/desktop_chrome/icon-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/icon/desktop_chrome/icon-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/icon/desktop_chrome/icon-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/icon/desktop_chrome/icon-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/icon/desktop_firefox/icon-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/icon/desktop_firefox/icon-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/icon/desktop_firefox/icon-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/icon/desktop_firefox/icon-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/icon/desktop_firefox/icon-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/icon/desktop_firefox/icon-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/icon/desktop_microsoftedge/icon-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/icon/desktop_microsoftedge/icon-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/icon/desktop_microsoftedge/icon-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/icon/desktop_microsoftedge/icon-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/icon/desktop_microsoftedge/icon-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/icon/desktop_microsoftedge/icon-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/core/pages/icon.po.ts
  e2e/wdio/core/tests/icon.e2e-spec.ts
Labels: e2e, ready for merge

#5643 fix(core): fix a11y for Grid List component
  apps/docs/src/app/core/component-docs/grid-list/examples/default/grid-list-example.component.html
  apps/docs/src/app/core/component-docs/grid-list/examples/default/grid-list-example.component.ts
  apps/docs/src/app/core/component-docs/grid-list/examples/delete/grid-list-delete-example.component.ts
  apps/docs/src/app/core/component-docs/grid-list/examples/dnd/grid-list-dnd-example.component.html
  apps/docs/src/app/core/component-docs/grid-list/examples/dnd/grid-list-dnd-example.component.ts
  apps/docs/src/app/core/component-docs/grid-list/examples/multi-select/grid-list-multi-select-example.component.ts
  apps/docs/src/app/core/component-docs/grid-list/examples/single-select-left/grid-list-single-select-left-example.component.ts
  apps/docs/src/app/core/component-docs/grid-list/examples/single-select-right/grid-list-single-select-right-example.component.ts
  apps/docs/src/app/core/component-docs/grid-list/examples/single-select/grid-list-single-select-example.component.ts
  e2e/wdio/core/pages/grid-list.po.ts
  libs/core/src/lib/grid-list/components/grid-list-item/grid-list-item.component.html
  libs/core/src/lib/grid-list/components/grid-list/grid-list.component.html
Labels: QA Approved, core, ready for merge

#5628 fix(core): fix Avatar Group's popover control styles & enhance a11y
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/avatar-group/avatar-group-docs.module.ts
  apps/docs/src/app/core/component-docs/avatar-group/examples/avatar-group-group-type-example.component.html
  apps/docs/src/app/core/component-docs/avatar-group/examples/avatar-group-individual-type-example.component.html
  libs/core/src/lib/avatar-group/avatar-group.component.ts
  libs/core/src/lib/avatar-group/avatar-group.module.ts
  libs/core/src/lib/avatar-group/directives/avatar-group-popover-control.directive.spec.ts
  libs/core/src/lib/avatar-group/directives/avatar-group-popover-control.directive.ts
  libs/core/src/lib/avatar-group/public_api.ts
Labels: ATL, QA Approved, accessibility, core

#5589 test(e2e): add e2e tests for status indicator
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_chrome/status-indicator-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_chrome/status-indicator-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_chrome/status-indicator-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_chrome/status-indicator-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_chrome/status-indicator-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_chrome/status-indicator-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_chrome/status-indicator-example-3-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_chrome/status-indicator-example-3-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_chrome/status-indicator-example-4-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_chrome/status-indicator-example-4-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_chrome/status-indicator-example-5-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_chrome/status-indicator-example-5-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_chrome/status-indicator-example-6-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_chrome/status-indicator-example-6-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_chrome/status-indicator-example-7-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_chrome/status-indicator-example-7-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_chrome/status-indicator-example-8-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_chrome/status-indicator-example-8-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_firefox/status-indicator-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_firefox/status-indicator-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_firefox/status-indicator-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_firefox/status-indicator-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_firefox/status-indicator-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_firefox/status-indicator-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_firefox/status-indicator-example-3-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_firefox/status-indicator-example-3-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_firefox/status-indicator-example-4-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_firefox/status-indicator-example-4-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_firefox/status-indicator-example-5-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_firefox/status-indicator-example-5-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_firefox/status-indicator-example-6-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_firefox/status-indicator-example-6-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_firefox/status-indicator-example-7-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_firefox/status-indicator-example-7-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_firefox/status-indicator-example-8-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_firefox/status-indicator-example-8-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_microsoftedge/status-indicator-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_microsoftedge/status-indicator-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_microsoftedge/status-indicator-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_microsoftedge/status-indicator-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_microsoftedge/status-indicator-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_microsoftedge/status-indicator-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_microsoftedge/status-indicator-example-3-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_microsoftedge/status-indicator-example-3-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_microsoftedge/status-indicator-example-4-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_microsoftedge/status-indicator-example-4-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_microsoftedge/status-indicator-example-5-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_microsoftedge/status-indicator-example-5-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_microsoftedge/status-indicator-example-6-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_microsoftedge/status-indicator-example-6-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_microsoftedge/status-indicator-example-7-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_microsoftedge/status-indicator-example-7-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_microsoftedge/status-indicator-example-8-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/status-indicator/desktop_microsoftedge/status-indicator-example-8-core-msedge-windows--1920x1080.png
  e2e/wdio/core/pages/status-indicator.po.ts
  e2e/wdio/core/tests/status-indicator.e2e-spec.ts
Labels: e2e, ready for merge

#5677 fix(platform): value help dialog, hidden filter by default, added missing search icon to search field
  e2e/wdio/platform/tests/value-help-dialog.e2e-spec.ts
  libs/platform/src/lib/components/value-help-dialog/value-help-dialog/value-help-dialog.component.html
  libs/platform/src/lib/components/value-help-dialog/value-help-dialog/value-help-dialog.component.ts
Labels: QA Approved, platform

#5690 fix(core): split button, close on click
  libs/core/src/lib/menu/services/menu.service.ts
  libs/core/src/lib/split-button/split-button.component.html
  libs/core/src/lib/split-button/split-button.component.ts
Labels: QA Approved, core

#5704 fix(core): use explicit dependencies
  libs/core/src/lib/ng-package.json
  libs/core/src/lib/package.json
Labels: bug

#5701 fix(core,platform): add fix to match readonly state of combobox as per fiori3
  e2e/wdio/baselineScreenshot/platform/combobox/desktop_chrome/combobox-example-0-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/combobox/desktop_chrome/combobox-example-0-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/combobox/desktop_firefox/combobox-example-0-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/combobox/desktop_firefox/combobox-example-0-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/combobox/desktop_microsoftedge/combobox-example-0-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/combobox/desktop_microsoftedge/combobox-example-0-platform-msedge-windows--1920x1080.png
  e2e/wdio/platform/tests/combobox.e2e-spec.ts
  libs/core/src/lib/combobox/combobox.component.html
  libs/core/src/lib/combobox/combobox.component.ts
  libs/platform/src/lib/components/form/combobox/combobox/combobox.component.html
Labels: ATL, QA Approved, core, platform, ready for merge

#5687 docs(core): fix a11y for Facets component
  apps/docs/src/app/core/component-docs/facets/facet-examples/facet-group-example.component.html
  apps/docs/src/app/core/component-docs/facets/facet-examples/form-link-facet-example.component.html
  apps/docs/src/app/core/component-docs/facets/facet-examples/image-facet-example.component.html
Labels: QA Approved, core, ready for merge

#5697 fix(core): fix meridian switch changing hour display in Time component
  libs/core/src/lib/time/time.component.ts
Labels: QA Approved, core, ready for merge

#5707 fix(core): update schematics paths
  libs/core/schematics/ng-add/styles.ts
Labels: bug

#5524 docs(platform): datetime picker form submission returns form value
  apps/docs/src/app/platform/component-docs/platform-forms/platform-datetime-picker/platform-datetime-picker-examples/platform-datetime-picker-reactive-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-datetime-picker/platform-datetime-picker-examples/platform-datetime-picker-reactive-example.component.ts
Labels: QA Approved, platform, stale

#5678 fix(core): make no date message optional
  libs/core/src/lib/datetime/datetime-format.pipes.ts
Labels: bug

#5698 fix(core): fixing disabled for select component in reactive form
  apps/docs/src/app/core/component-docs/select/examples/select-forms/select-forms.component.html
  apps/docs/src/app/core/component-docs/select/examples/select-forms/select-forms.component.ts
  e2e/wdio/baselineScreenshot/core/select/desktop_chrome/select-example-8-core-Chrome_Headless-darwin--1920x1417.png
  e2e/wdio/baselineScreenshot/core/select/desktop_chrome/select-example-8-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/select/desktop_firefox/select-example-8-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/select/desktop_microsoftedge/select-example-8-core-msedge-windows--1920x1080.png
  libs/core/src/lib/select/select.component.ts
Labels: QA Approved, bug, core, ready for merge

#5700 fix(platform): add title for menu action
  libs/platform/src/lib/components/upload-collection/upload-collection/upload-collection.component.html
Labels: QA Approved, platform

#5733 test(e2e): add e2e tests for time component
  e2e/wdio/baselineScreenshot/core/time/desktop_chrome/time-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_chrome/time-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/time/desktop_chrome/time-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_chrome/time-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/time/desktop_chrome/time-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_chrome/time-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/time/desktop_chrome/time-example-4-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_chrome/time-example-4-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/time/desktop_chrome/time-example-5-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_chrome/time-example-5-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/time/desktop_chrome/time-example-6-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_chrome/time-example-6-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/time/desktop_chrome/time-example-7-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_chrome/time-example-7-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/time/desktop_chrome/time-example-8-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_chrome/time-example-8-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/time/desktop_chrome/time-example-9-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_chrome/time-example-9-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/time/desktop_firefox/time-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_firefox/time-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/time/desktop_firefox/time-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_firefox/time-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/time/desktop_firefox/time-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_firefox/time-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/time/desktop_firefox/time-example-4-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_firefox/time-example-4-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/time/desktop_firefox/time-example-5-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_firefox/time-example-5-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/time/desktop_firefox/time-example-6-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_firefox/time-example-6-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/time/desktop_firefox/time-example-7-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_firefox/time-example-7-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/time/desktop_firefox/time-example-8-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_firefox/time-example-8-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/time/desktop_firefox/time-example-9-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_firefox/time-example-9-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/time/desktop_microsoftedge/time-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_microsoftedge/time-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/time/desktop_microsoftedge/time-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_microsoftedge/time-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/time/desktop_microsoftedge/time-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_microsoftedge/time-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/time/desktop_microsoftedge/time-example-4-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_microsoftedge/time-example-4-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/time/desktop_microsoftedge/time-example-5-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_microsoftedge/time-example-5-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/time/desktop_microsoftedge/time-example-6-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_microsoftedge/time-example-6-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/time/desktop_microsoftedge/time-example-7-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_microsoftedge/time-example-7-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/time/desktop_microsoftedge/time-example-8-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_microsoftedge/time-example-8-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/time/desktop_microsoftedge/time-example-9-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_microsoftedge/time-example-9-core-msedge-windows--1920x1080.png
  e2e/wdio/core/fixtures/appData/time-contents.ts
  e2e/wdio/core/pages/time.po.ts
  e2e/wdio/core/tests/time.e2e-spec.ts
  e2e/wdio/driver/wdio.ts
Labels: e2e, ready for merge

#5738 fix(platform): remove the readonly prop from combobox
  libs/platform/src/lib/components/form/combobox/combobox/combobox.component.html
Labels: bug

#5734 docs(core): remove multiple overflow options from action bar
  apps/docs/src/app/core/component-docs/action-bar/examples/action-bar-mobile-example.component.html
Labels: QA Approved, core, documentation, ready for merge

#5712 docs(platform): datetime picker form submission returns form value
  apps/docs/src/app/platform/component-docs/platform-forms/platform-datetime-picker/platform-datetime-picker-examples/platform-datetime-picker-reactive-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-datetime-picker/platform-datetime-picker-examples/platform-datetime-picker-reactive-example.component.ts
Labels: QA Approved, platform

#5760 test(e2e): remove unnecessary e2e test case from formatted text component
  e2e/wdio/baselineScreenshot/core/formatted-text/desktop_firefox/formatted-text-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/core/fixtures/appData/formatted-text-content.ts
  e2e/wdio/core/tests/formatted-text.e2e-spec.ts
Labels: e2e, ready for merge

#5781 chore(deps): travis wait
  .travis.yml
Labels: tooling

#5822 fix(core): fix shellbar-user-menu input type
  libs/core/src/lib/shellbar/shellbar-actions/shellbar-actions.component.ts
Labels: bug

#5782 docs(deps): add missing versions in doc site
  apps/docs/src/app/documentation/core-helpers/toolbar/toolbar.component.ts
Labels: documentation

#5783 docs(docs): update library name
  README.md
  libs/core/src/lib/README.md
  libs/core/src/lib/package.json
  libs/platform/package.json
Labels: documentation

#5714 docs(core): bump theming-base-content and its usage
  apps/docs/src/app/documentation/core-helpers/stackblitz/code-example-stack/styles.scss
  apps/docs/src/styles.scss
  package-lock.json
  package.json
Labels: documentation, theming

#5436 test: (e2e) add e2e tests for Rating Indicator component
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_chrome/rating-indicator-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_chrome/rating-indicator-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_chrome/rating-indicator-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_chrome/rating-indicator-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_chrome/rating-indicator-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_chrome/rating-indicator-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_chrome/rating-indicator-example-3-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_chrome/rating-indicator-example-3-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_chrome/rating-indicator-example-4-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_chrome/rating-indicator-example-4-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_chrome/rating-indicator-example-5-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_chrome/rating-indicator-example-5-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_firefox/rating-indicator-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_firefox/rating-indicator-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_firefox/rating-indicator-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_firefox/rating-indicator-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_firefox/rating-indicator-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_firefox/rating-indicator-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_firefox/rating-indicator-example-3-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_firefox/rating-indicator-example-3-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_firefox/rating-indicator-example-4-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_firefox/rating-indicator-example-4-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_firefox/rating-indicator-example-5-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_firefox/rating-indicator-example-5-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_microsoftedge/rating-indicator-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_microsoftedge/rating-indicator-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_microsoftedge/rating-indicator-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_microsoftedge/rating-indicator-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_microsoftedge/rating-indicator-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_microsoftedge/rating-indicator-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_microsoftedge/rating-indicator-example-3-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_microsoftedge/rating-indicator-example-3-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_microsoftedge/rating-indicator-example-4-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_microsoftedge/rating-indicator-example-4-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_microsoftedge/rating-indicator-example-5-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/rating-indicator/desktop_microsoftedge/rating-indicator-example-5-core-msedge-windows--1920x1080.png
  e2e/wdio/core/pages/rating-indicator.po.ts
  e2e/wdio/core/tests/rating-indicator.e2e-spec.ts
Labels: e2e, ready for merge, stale

#5759 fix(platform): adjust Datetime Picker width to container width when used with Platform Forms
  apps/docs/src/app/platform/component-docs/platform-forms/platform-datetime-picker/platform-datetime-picker-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-datetime-picker/platform-datetime-picker-examples/platform-datetime-picker-disable-function-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-datetime-picker/platform-datetime-picker-examples/platform-datetime-picker-reactive-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-datetime-picker/platform-datetime-picker-examples/platform-datetime-picker-template-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-datetime-picker/platform-datetime-picker-header/platform-datetime-picker-header.component.html
  libs/platform/src/lib/components/form/datetime-picker/datetime-picker.component.spec.ts
  libs/platform/src/lib/components/form/datetime-picker/datetime-picker.component.ts
Labels: QA Approved, platform, ready for merge

#5588 test(e2e): add e2e tests for radio button component
  e2e/wdio/baselineScreenshot/core/radio/desktop_chrome/radio-button-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/radio/desktop_chrome/radio-button-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/radio/desktop_chrome/radio-button-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/radio/desktop_chrome/radio-button-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/radio/desktop_firefox/radio-button-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/radio/desktop_firefox/radio-button-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/radio/desktop_firefox/radio-button-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/radio/desktop_firefox/radio-button-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/radio/desktop_microsoftedge/radio-button-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/radio/desktop_microsoftedge/radio-button-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/radio/desktop_microsoftedge/radio-button-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/radio/desktop_microsoftedge/radio-button-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/core/pages/radio-button.po.ts
  e2e/wdio/core/tests/radio-button.e2e-spec.ts
Labels: e2e, ready for merge, stale

#5682 fix(core): add ariaLabelledby to the dialog header for screen reader
  apps/docs/src/app/core/component-docs/dialog/examples/component-based/component-based-dialog-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/component-based/dialog-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-backdrop-container/dialog-backdrop-container-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-backdrop-container/dialog-backdrop-container-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-configuration/dialog-configuration-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-configuration/dialog-configuration-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-mobile/dialog-mobile-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-mobile/dialog-mobile-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-position/dialog-position-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-position/dialog-position-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-state/dialog-state-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-state/dialog-state-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/stacked-dialogs/dialog-stacked-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/stacked-dialogs/first-dialog-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/stacked-dialogs/second-dialog-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/template-based/template-based-dialog-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/template-based/template-based-dialog-example.component.ts
  libs/core/src/lib/dialog/dialog.component.ts
Labels: ATL, QA Approved, core, ready for merge

#5705 fix(core): fix a11y for Status Indicator
  libs/core/src/lib/status-indicator/status-indicator.component.ts
Labels: QA Approved, core, ready for merge

#5819 fix(platform): associate both label and inline help with Textarea component for a11y
  e2e/wdio/platform/pages/combobox.po.ts
  e2e/wdio/platform/pages/textarea.po.ts
  libs/platform/src/lib/components/form/base.input.ts
  libs/platform/src/lib/components/form/form-group/form-field/form-field.component.html
Labels: QA Approved, platform, ready for merge

#5754 fix(platform): open menu and select menu item with spacebar
  libs/platform/src/lib/components/menu/menu-item.component.ts
  libs/platform/src/lib/components/menu/menu-trigger.directive.ts
  libs/platform/src/lib/components/menu/menu.component.ts
Labels: QA Approved, platform, ready for merge

#5713 fix(platform): fix for reading anchor text instead of only title in Link component
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-examples/platform-link-disabled-emphasized-example.component.html
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-examples/platform-link-disabled-example.component.html
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-examples/platform-link-emphasized-example.component.html
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-examples/platform-link-icon-example.component.html
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-examples/platform-link-inverted-example.component.html
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-examples/platform-link-standard-example.component.html
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-examples/platform-link-truncated-example.component.html
  apps/docs/src/app/platform/component-docs/platform-page-footer/platform-page-footer-example/platform-page-footer-with-icon-example.component.html
  e2e/wdio/platform/fixtures/appData/link-page-contents.ts
  e2e/wdio/platform/tests/link.e2e-spec.ts
  libs/platform/src/lib/components/button/button.component.html
  libs/platform/src/lib/components/link/link.component.html
Labels: QA Approved, platform, ready for merge
