Repository SAP/fundamental-ngx, pull requests merged in 2021-04, with the labels that each got.

#5062 fix: (Core) remove non-existent method
  libs/core/src/lib/checkbox/checkbox/checkbox.component.ts
Labels: core

#4661 fix: (Platform) Value help dialog - styles mismatching
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-docs.module.ts
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/index.ts
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-basic-example.component.html
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-basic-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-filters-example.component.html
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-filters-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-input-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-mobile-example.component.html
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-mobile-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-multi-input-example.component.html
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-multi-input-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-strategy-labels-example.component.html
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-strategy-labels-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-token-example.component.html
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-token-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd.docs.component.html
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd.docs.component.ts
  e2e/wdio/platform/fixtures/appData/value-help-dialog-contents.ts
  e2e/wdio/platform/pages/value-help-dialog.po.ts
  e2e/wdio/platform/tests/value-help-dialog.e2e-spec.ts
  libs/core/src/lib/infinite-scroll/infinite-scroll.directive.ts
  libs/platform/src/lib/components/value-help-dialog/components/base-tab/vhd-base-tab.component.ts
  libs/platform/src/lib/components/value-help-dialog/components/define-tab/define-tab.component.html
  libs/platform/src/lib/components/value-help-dialog/components/define-tab/define-tab.component.scss
  libs/platform/src/lib/components/value-help-dialog/components/define-tab/define-tab.component.ts
  libs/platform/src/lib/components/value-help-dialog/components/select-tab/select-tab.component.html
  libs/platform/src/lib/components/value-help-dialog/components/select-tab/select-tab.component.scss
  libs/platform/src/lib/components/value-help-dialog/components/select-tab/select-tab.component.ts
  libs/platform/src/lib/components/value-help-dialog/components/value-help-dialog-search/value-help-dialog-search.component.ts
  libs/platform/src/lib/components/value-help-dialog/constans/condition-display.function.ts
  libs/platform/src/lib/components/value-help-dialog/models/vhd-filter-rule.model.ts
  libs/platform/src/lib/components/value-help-dialog/models/vhd-strategy.enum.ts
  libs/platform/src/lib/components/value-help-dialog/models/vhd-value.model.ts
  libs/platform/src/lib/components/value-help-dialog/value-help-dialog.module.ts
  libs/platform/src/lib/components/value-help-dialog/value-help-dialog/value-help-dialog.component.html
  libs/platform/src/lib/components/value-help-dialog/value-help-dialog/value-help-dialog.component.scss
  libs/platform/src/lib/components/value-help-dialog/value-help-dialog/value-help-dialog.component.ts
Labels: QA Approved, platform

#5067 docs: (Platform) playground - bind label to appropriate group
  apps/docs/src/app/schema/containers/schema-group/schema-group.component.html
  apps/docs/src/app/schema/containers/schema-group/schema-group.component.scss
Labels: ready for qa

#5066 docs: (Platform) playground - 'for' attribute for label to bound to appropriate select
  apps/docs/src/app/schema/containers/schema-group/schema-group.component.html
  apps/docs/src/app/schema/containers/schema-group/schema-group.component.ts
Labels: ATL, Low, QA Approved, bug, platform, ready for qa

#5084 feat: (Store) Introduce API Request Chaining
  apps/store-app/src/app/app.component.html
  apps/store-app/src/app/app.component.ts
  apps/store-app/src/app/app.module.ts
  apps/store-app/src/app/store.config.ts
  apps/store-app/src/server/db.json
  libs/store/src/index.ts
  libs/store/src/lib/domain/chaining-policy.ts
  libs/store/src/lib/domain/decorators.ts
  libs/store/src/lib/domain/entity-meta-options.ts
  libs/store/src/lib/domain/entity.ts
  libs/store/src/lib/domain/public_api.ts
  libs/store/src/lib/domain/utility.ts
  libs/store/src/lib/infrastructure/configuration/index.ts
  libs/store/src/lib/infrastructure/persistence/query/query-adapter.ts
  libs/store/src/lib/infrastructure/persistence/query/query-builder.spec.ts
  libs/store/src/lib/infrastructure/persistence/query/query-builder.ts
  libs/store/src/lib/infrastructure/persistence/query/query.service.ts
  libs/store/src/lib/infrastructure/persistence/query/query.spec.ts
  libs/store/src/lib/infrastructure/persistence/query/query.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-collection-service-base.spec.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-collection-service-base.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-collection-service-factory.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-collection-service.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-collections-service-base.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-collections-service.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-server/entity-rest-server.spec.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-store-builder.spec.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-store-builder.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-store.spec.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-store.ts
  libs/store/src/lib/infrastructure/persistence/store/index.ts
  libs/store/src/lib/infrastructure/persistence/utils/entity-options.service.ts
  libs/store/src/lib/store.module.ts
  package-lock.json
  package.json
Labels: state management

#5012 fix: (Core) multi input tab index bug
  libs/core/src/lib/multi-input/multi-input.component.html
Labels: Defect Hunting, bug

#5008 fix: (Core) mirror image multi-input value-help icon when dir="rtl"
  libs/core/src/lib/multi-input/multi-input.component.spec.ts
  libs/core/src/lib/multi-input/multi-input.component.ts
Labels: Defect Hunting, bug

#5103 chore: upgrade to npm 7.9.0
  package-lock.json
  package.json
Labels: dependencies

#5064 feat: (Platform) search field improved to support aria label attribute
  apps/docs/src/app/platform/component-docs/platform-search-field/platform-search-field-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-search-field/platform-search-field-examples/platform-search-field-basic-example.component.html
  e2e/wdio/baselineScreenshot/platform/search-field/desktop_firefox/search-example-0-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/search-field/desktop_firefox/search-example-0-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/search-field/desktop_firefox/search-example-1-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/search-field/desktop_firefox/search-example-1-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/search-field/desktop_firefox/search-example-2-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/search-field/desktop_firefox/search-example-2-platform-firefox-windows--1936x1096.png
  e2e/wdio/platform/tests/search.e2e-spec.ts
  libs/platform/src/lib/components/search-field/search-field.component.html
  libs/platform/src/lib/components/search-field/search-field.component.scss
  libs/platform/src/lib/components/search-field/search-field.component.spec.ts
  libs/platform/src/lib/components/search-field/search-field.component.ts
  libs/platform/src/lib/components/table/components/table-toolbar/table-toolbar.component.html
  libs/platform/src/lib/components/table/components/table-toolbar/table-toolbar.component.ts
Labels: ATL, Medium, QA Approved, enhancement, platform

#5104 test: remove storybook
  .storybook/main.js
  .storybook/tsconfig.json
  .storybook/typings.d.ts
  package-lock.json
  package.json
  src/stories/avatar/avatar.stories.ts
  src/stories/bar/fd-bar.stories.ts
  src/stories/breadcrumb/fd-breadcrumb.stories.ts
  src/stories/busy-indicator/fd-busy-indicator.stories.ts
  src/stories/checkbox/fd-checkbox.stories.ts
  src/stories/fd-form-control/fd-form-control.stories.ts
  src/stories/inline-help/inline-help.stories.ts
  src/stories/input-group/input-group.stories.ts
  src/stories/link/link.stories.ts
  src/stories/menu/menu.stories.ts
  src/stories/message-strip/fd-message-strip.stories.ts
  src/stories/notification/notification.stories.ts
  src/stories/pagination/fd-pagination.stories.ts
  src/stories/panel/fd-panel.stories.ts
  src/stories/radio/fd-radio-button.stories.ts
  src/stories/shellbar/fd-shellbar.stories.ts
  src/stories/sidenav/fd-side-nav.stories.ts
  src/stories/step-input/fd-step-input.stories.ts
  src/stories/switch/fd-switch.stories.ts
  src/stories/textarea/fd-textarea.stories.ts
  src/stories/toolbar/fd-toolbar.stories.ts
  src/utils/icons.ts
  src/utils/index.ts
  src/utils/semantic-states.ts
  src/utils/text-align.ts
Labels: testing

#5123 fix: (Core) fix dialog default cancel button
  libs/core/src/lib/dialog/dialog-default/dialog-default.component.html
Labels: QA Approved, core, dialog

#5117 fix: (Platform) table platform component selected row hover styles
  libs/platform/src/lib/components/table/table.component.html
Labels: QA Approved, bug, platform

#4777 feat: (Platform) Table Phase 4
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-tree-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-tree-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table.module.ts
  libs/core/src/lib/utils/drag-and-drop/dnd-item/dnd-item.directive.spec.ts
  libs/core/src/lib/utils/drag-and-drop/dnd-item/dnd-item.directive.ts
  libs/core/src/lib/utils/drag-and-drop/dnd-list/dnd-list.directive.ts
  libs/platform/src/lib/components/table/components/table-column/table-column.component.ts
  libs/platform/src/lib/components/table/models/index.ts
  libs/platform/src/lib/components/table/models/table-row-toggle-open-state-event.model.ts
  libs/platform/src/lib/components/table/models/table-row.model.ts
  libs/platform/src/lib/components/table/models/table-rows-rearrange-event.model.ts
  libs/platform/src/lib/components/table/public_api.ts
  libs/platform/src/lib/components/table/table.component.html
  libs/platform/src/lib/components/table/table.component.scss
  libs/platform/src/lib/components/table/table.component.spec.ts
  libs/platform/src/lib/components/table/table.component.ts
  libs/platform/src/lib/components/table/table.module.ts
  libs/platform/src/lib/components/table/table.service.ts
  libs/platform/src/lib/components/table/table.ts
  libs/platform/src/lib/utils/object.ts
Labels: 1p, QA Approved, ariba, platform

#5109 fix: (Platform) i18n remove select, plurals
  PLATFORM_README.md
  libs/platform/src/lib/components/approval-flow/approval-flow-node/approval-flow-node.component.html
  libs/platform/src/lib/components/approval-flow/approval-flow-user-list/approval-flow-user-list.component.html
  libs/platform/src/lib/components/approval-flow/approval-flow.component.html
  libs/platform/src/lib/components/form/text-area/text-area.component.html
  libs/platform/src/lib/components/table/components/table-p13-dialog/columns/columns.component.html
  libs/platform/src/lib/components/table/components/table-p13-dialog/filtering/filter-rule.component.html
  libs/platform/src/lib/components/upload-collection/upload-collection/upload-collection.component.html
  libs/platform/src/lib/components/value-help-dialog/components/define-tab/define-tab.component.html
  libs/platform/src/lib/components/value-help-dialog/models/vhd-strategy.enum.ts
Labels: QA Approved, platform

#5139 chore: update to latest angular version 11
  package-lock.json
  package.json
Labels: dependencies

#5137 feat: (Core) add 2 new types of icons
  apps/docs/src/app/core/component-docs/icon/examples/icon-businessSuiteInAppSymbols-example.component.html
  apps/docs/src/app/core/component-docs/icon/examples/icon-businessSuiteInAppSymbols-example.component.ts
  apps/docs/src/app/core/component-docs/icon/examples/icon-tnt-example.component.html
  apps/docs/src/app/core/component-docs/icon/examples/icon-tnt-example.component.ts
  apps/docs/src/app/core/component-docs/icon/icon-docs.component.html
  apps/docs/src/app/core/component-docs/icon/icon-docs.component.ts
  apps/docs/src/app/core/component-docs/icon/icon-docs.module.ts
  apps/docs/src/app/core/component-docs/icon/icon-header/icon-header.component.html
  apps/docs/src/app/documentation/core-helpers/stackblitz/code-example-stack/styles.scss
  apps/docs/src/styles.scss
  libs/core/schematics/ng-add/styles.ts
  libs/core/src/lib/icon/icon.component.spec.ts
  libs/core/src/lib/icon/icon.component.ts
  package-lock.json
  package.json
Labels: denoland

#5138 fix: (Core|Platform) fix optional rtl service
  libs/core/src/lib/breadcrumb/breadcrumb.component.ts
  libs/core/src/lib/fixed-card-layout/fixed-card-layout.component.ts
  libs/core/src/lib/multi-input/multi-input.component.ts
  libs/core/src/lib/pagination/pagination.component.ts
  libs/core/src/lib/slider/slider.component.ts
  libs/platform/src/lib/components/action-bar/action-bar.component.ts
  libs/platform/src/lib/components/approval-flow/approval-flow.component.ts
  libs/platform/src/lib/components/form/combobox/combobox/combobox.component.ts
  libs/platform/src/lib/components/form/multi-input/multi-input.component.ts
  libs/platform/src/lib/components/split-menu-button/split-menu-button.component.ts
  libs/platform/src/lib/components/table/table.component.ts
Labels: QA Approved, core, platform

#5108 docs: (Docs) fix wizard StackBlitz example
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-branching-example.component.scss
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-branching-example.component.ts
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-customizable-example.component.scss
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-customizable-example.component.ts
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-dialog-example.component.scss
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-dialog-example.component.ts
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-ngfor-example.component.scss
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-ngfor-example.component.ts
Labels: QA Approved, core

#5156 fix: (Platform) Make fdp-form-group work with dynamic form-field child
  libs/platform/src/lib/components/form/form-field.ts
  libs/platform/src/lib/components/form/form-group.ts
  libs/platform/src/lib/components/form/form-group/constants.ts
  libs/platform/src/lib/components/form/form-group/form-field-group/form-field-group.component.ts
  libs/platform/src/lib/components/form/form-group/form-field/form-field.component.ts
  libs/platform/src/lib/components/form/form-group/form-group.component.ts
  libs/platform/src/lib/components/form/form.spec.ts
Labels: QA Approved

#5180 test: update screens and skip element state checks
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_chrome/step-input-example-0-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_chrome/step-input-example-0-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_chrome/step-input-example-1-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_chrome/step-input-example-1-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_chrome/step-input-example-2-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_chrome/step-input-example-2-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_chrome/step-input-example-3-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_chrome/step-input-example-3-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_firefox/step-input-example-0-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_firefox/step-input-example-0-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_firefox/step-input-example-1-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_firefox/step-input-example-2-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_firefox/step-input-example-3-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_firefox/step-input-example-3-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_microsoftedge/step-input-example-0-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_microsoftedge/step-input-example-0-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_microsoftedge/step-input-example-1-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_microsoftedge/step-input-example-1-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_microsoftedge/step-input-example-2-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_microsoftedge/step-input-example-2-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_microsoftedge/step-input-example-3-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_microsoftedge/step-input-example-3-platform-msedge-windows--1920x1080.png
  e2e/wdio/core/tests/action-bar.e2e-spec.ts
  e2e/wdio/core/tests/action-sheet.e2e-spec.ts
  e2e/wdio/core/tests/bar.e2e-spec.ts
  e2e/wdio/core/tests/busy-indicator.e2e-spec.ts
  e2e/wdio/core/tests/button.e2e-spec.ts
  e2e/wdio/core/tests/form-message.e2e-spec.ts
  e2e/wdio/platform/tests/radio-button-group.e2e-spec.ts
  e2e/wdio/platform/tests/slider.e2e-spec.ts
  e2e/wdio/platform/tests/step-input.e2e-spec.ts
  e2e/wdio/platform/tests/time-picker.e2e-spec.ts
Labels: E2E automation, flaky tests, test automation

#5140 test: moved allure scripts to ci-scripts folder
  ci-scripts/deploy-to-preview-channel-core.sh
  ci-scripts/deploy-to-preview-channel-platform-a.sh
  ci-scripts/deploy-to-preview-channel-platform-b.sh
Labels: e2e

#5035 feat: (Store) Entity format
  apps/store-app/src/app/app.component.ts
  apps/store-app/src/app/entities/company.entity.ts
  apps/store-app/src/app/entities/index.ts
  apps/store-app/src/app/entities/line-item.entity.ts
  apps/store-app/src/app/entities/line-items.value-object.ts
  apps/store-app/src/app/entities/money.value-object.ts
  apps/store-app/src/app/entities/requisition.entity.ts
  apps/store-app/src/app/entities/user.entity.ts
  apps/store-app/src/app/store.config.ts
  libs/store/src/lib/domain/chaining-policy.ts
  libs/store/src/lib/domain/decorators.ts
  libs/store/src/lib/domain/entity-meta-options.ts
  libs/store/src/lib/domain/entity.ts
  libs/store/src/lib/domain/public_api.ts
  libs/store/src/lib/infrastructure/persistence/domain/base-classes/base-entity.ts
  libs/store/src/lib/infrastructure/persistence/domain/base-classes/base-value.ts
  libs/store/src/lib/infrastructure/persistence/domain/base-classes/composite.ts
  libs/store/src/lib/infrastructure/persistence/domain/base-classes/index.ts
  libs/store/src/lib/infrastructure/persistence/domain/state-handler.spec.ts
  libs/store/src/lib/infrastructure/persistence/domain/state-handler.ts
  libs/store/src/lib/infrastructure/persistence/index.ts
  libs/store/src/lib/infrastructure/persistence/query/query-adapter.ts
  libs/store/src/lib/infrastructure/persistence/query/query-builder.spec.ts
  libs/store/src/lib/infrastructure/persistence/query/query-builder.ts
  libs/store/src/lib/infrastructure/persistence/query/query.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-collection-service-base.spec.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-collection-service-base.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-collection-service-factory.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-collections-service-base.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-collections-service.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-server/cache-storage-service.spec.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-server/cache-storage.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-server/entity-cache-server.spec.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-server/entity-cache-server.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-server/entity-local-storage-server.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-server/entity-rest-server.spec.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-server/entity-rest-server.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-server/entity-server-factory.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-server/interfaces.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-store-builder.spec.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-store-builder.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-store.spec.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-store.ts
  libs/store/src/lib/infrastructure/persistence/utils/entity-options.service.ts
Labels: state management

#5189 chore: update how we refer rxjs version
  package-lock.json
  package.json
Labels: dependencies

#5179 fix: (Platform) Multi Input add the ability to add an item with Enter
  apps/docs/src/app/platform/component-docs/platform-forms/multi-input/platform-multi-input-example/platform-multi-input-compact-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/multi-input/platform-multi-input-example/platform-multi-input-compact-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/multi-input/platform-multi-input-example/platform-multi-input-complex-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/multi-input/platform-multi-input-example/platform-multi-input-complex-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/multi-input/platform-multi-input-example/platform-multi-input-decline-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/multi-input/platform-multi-input-example/platform-multi-input-decline-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/multi-input/platform-multi-input-example/platform-multi-input-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/multi-input/platform-multi-input-example/platform-multi-input-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/multi-input/platform-multi-input-example/platform-multi-input-mobile-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/multi-input/platform-multi-input-example/platform-multi-input-mobile-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/multi-input/platform-multi-input-example/platform-multi-input-reactive-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/multi-input/platform-multi-input-example/platform-multi-input-reactive-example.component.ts
  libs/platform/src/lib/components/form/multi-input/multi-input.component.html
  libs/platform/src/lib/components/form/multi-input/multi-input.component.ts
Labels: QA Approved, platform

#5193 chore: bump ngx version to 0.29
  .travis.yml
  CHANGELOG.md
  package-lock.json
  package.json
Labels: tooling

#5168 chore: (Core) cleanup hardcoded styles from Status Indicator component
  libs/core/src/lib/status-indicator/status-indicator.component.scss
Labels: core

#4936 feat: (Platform) introduce new component Page footer
  apps/docs/src/app/platform/api-files.ts
  apps/docs/src/app/platform/component-docs/platform-page-footer/platform-page-footer-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-page-footer/platform-page-footer-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-page-footer/platform-page-footer-example/platform-page-footer-example.component.html
  apps/docs/src/app/platform/component-docs/platform-page-footer/platform-page-footer-example/platform-page-footer-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-page-footer/platform-page-footer-example/platform-page-footer-multiple-line-example.component.html
  apps/docs/src/app/platform/component-docs/platform-page-footer/platform-page-footer-example/platform-page-footer-with-icon-example.component.html
  apps/docs/src/app/platform/component-docs/platform-page-footer/platform-page-footer-header/platform-page-footer-header.component.html
  apps/docs/src/app/platform/component-docs/platform-page-footer/platform-page-footer-header/platform-page-footer-header.component.ts
  apps/docs/src/app/platform/component-docs/platform-page-footer/platform-page-footer.module.ts
  apps/docs/src/app/platform/documentation/platform-documentation.component.ts
  apps/docs/src/app/platform/platform-documentation.routes.ts
  libs/platform/src/index.ts
  libs/platform/src/lib/components/page-footer/page-footer.component.html
  libs/platform/src/lib/components/page-footer/page-footer.component.scss
  libs/platform/src/lib/components/page-footer/page-footer.component.spec.ts
  libs/platform/src/lib/components/page-footer/page-footer.component.ts
  libs/platform/src/lib/components/page-footer/page-footer.module.ts
  libs/platform/src/lib/components/page-footer/public_api.ts
  libs/platform/src/lib/platform.module.ts
  package-lock.json
  package.json
Labels: platform

#5192 fix: (Store) Exporting additional types for QueryAdapter
  libs/store/src/index.ts
  libs/store/src/lib/infrastructure/persistence/query/query-adapter.ts
Labels: state management

#5176 chore: (Platform)css cleanup hardcoded styles from multi Input component
  e2e/wdio/platform/pages/multi-input.po.ts
  libs/platform/src/lib/components/form/multi-input/multi-input.component.html
  libs/platform/src/lib/components/form/multi-input/multi-input.component.scss
Labels: platform

#5134 test: (e2e) added text core e2e tests
  e2e/wdio/baselineScreenshot/core/text/desktop_chrome/paragraph-0-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/text/desktop_chrome/paragraph-0-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/text/desktop_chrome/paragraph-1-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/text/desktop_chrome/paragraph-1-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/text/desktop_chrome/paragraph-2-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/text/desktop_chrome/paragraph-2-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/text/desktop_chrome/text-component-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/text/desktop_chrome/text-component-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/text/desktop_chrome/text-component-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/text/desktop_chrome/text-component-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/text/desktop_chrome/text-component-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/text/desktop_chrome/text-component-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/text/desktop_chrome/text-component-example-3-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/text/desktop_chrome/text-component-example-3-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/text/desktop_chrome/text-component-example-4-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/text/desktop_chrome/text-component-example-4-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/text/desktop_firefox/paragraph-0-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/text/desktop_firefox/paragraph-0-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/text/desktop_firefox/paragraph-1-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/text/desktop_firefox/paragraph-1-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/text/desktop_firefox/paragraph-2-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/text/desktop_firefox/paragraph-2-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/text/desktop_firefox/text-component-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/text/desktop_firefox/text-component-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/text/desktop_firefox/text-component-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/text/desktop_firefox/text-component-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/text/desktop_firefox/text-component-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/text/desktop_firefox/text-component-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/text/desktop_firefox/text-component-example-3-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/text/desktop_firefox/text-component-example-3-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/text/desktop_firefox/text-component-example-4-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/text/desktop_firefox/text-component-example-4-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/text/desktop_microsoftedge/paragraph-0-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/text/desktop_microsoftedge/paragraph-0-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/text/desktop_microsoftedge/paragraph-1-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/text/desktop_microsoftedge/paragraph-1-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/text/desktop_microsoftedge/paragraph-2-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/text/desktop_microsoftedge/paragraph-2-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/text/desktop_microsoftedge/text-component-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/text/desktop_microsoftedge/text-component-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/text/desktop_microsoftedge/text-component-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/text/desktop_microsoftedge/text-component-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/text/desktop_microsoftedge/text-component-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/text/desktop_microsoftedge/text-component-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/text/desktop_microsoftedge/text-component-example-3-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/text/desktop_microsoftedge/text-component-example-3-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/text/desktop_microsoftedge/text-component-example-4-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/text/desktop_microsoftedge/text-component-example-4-core-msedge-windows--1920x1080.png
  e2e/wdio/core/fixtures/appData/text-contents.ts
  e2e/wdio/core/pages/text.po.ts
  e2e/wdio/core/tests/text.e2e-spec.ts
Labels: e2e

#5205 fix: (Store) Fixing data returned by getWithQuery
  libs/store/src/lib/infrastructure/persistence/store/entity-store-builder.ts
Labels: state management

#5183 docs: (Core) Avatar Group alignment of overflow header, phones and emails as link
  apps/docs/src/app/core/component-docs/avatar-group/examples/avatar-group-group-type-example.component.html
  apps/docs/src/app/core/component-docs/avatar-group/examples/avatar-group-individual-type-example.component.html
Labels: QA Approved
