Repository SAP/fundamental-ngx, pull requests merged in 2021-11, with the labels that each got.

#7039 test(core): fix flaky unit test
  libs/core/src/lib/menu/menu-mobile/menu-mobile.component.spec.ts
Labels: core, ready for merge, unit tests, ready for qa, flaky tests, stale

#6992 test(e2e): add additional test case for step-input
  e2e/wdio/core/tests/step-input.e2e-spec.ts
  e2e/wdio/driver/wdio.ts
  e2e/wdio/platform/tests/step-input.e2e-spec.ts
Labels: ready for merge, e2e, stale

#7066 test(e2e): fix dateTimePicker test
  e2e/wdio/platform/tests/date-time-picker.e2e-spec.ts
Labels: e2e

#7073 fix(platform): table navigation column width
  libs/platform/src/lib/table/table.component.html
  libs/platform/src/lib/table/table.component.scss
Labels: bug, platform, High, dxp, table

#7081 test(e2e): fix dateTimePicker and Toolbar test selectors
  e2e/wdio/core/pages/date-time-picker.po.ts
  e2e/wdio/core/pages/toolbar.po.ts
Labels: e2e

#6966 test(platform): checkbox, input, input-group - cva unit tests
  libs/core/src/lib/checkbox/checkbox/checkbox.component.html
  libs/core/src/lib/checkbox/checkbox/checkbox.component.ts
  libs/platform/src/lib/form/checkbox/checkbox.component.html
  libs/platform/src/lib/form/checkbox/checkbox.component.spec.ts
  libs/platform/src/lib/form/input-group/input-group.component.spec.ts
  libs/platform/src/lib/form/input/input.component.spec.ts
  package-lock.json
  package.json
Labels: platform, ready for merge, unit tests, QA Approved, stale

#6996 test(e2e): add e2e test for table
  e2e/wdio/platform/fixtures/appData/table-contents.ts
  e2e/wdio/platform/pages/table.po.ts
  e2e/wdio/platform/tests/table.e2e-spec.ts
  wdio-cron.conf.js
  wdio.conf.js
Labels: ready for merge, e2e

#7041 fix(platform): search-input, add mobile dynamic loading
  apps/docs/src/app/platform/component-docs/platform-search-field/platform-search-field-docs.component.html
  libs/platform/src/lib/fundamental-ngx.module.ts
  libs/platform/src/lib/search-field/public_api.ts
  libs/platform/src/lib/search-field/search-field.component.ts
  libs/platform/src/lib/search-field/search-field.module.ts
Labels: platform, ready for merge, QA Approved

#7048 test(e2e): add additional test cases for approval flow
  e2e/wdio/platform/fixtures/appData/approval-flow-contents.ts
  e2e/wdio/platform/fixtures/testData/approval-flow.ts
  e2e/wdio/platform/pages/approval-flow.po.ts
  e2e/wdio/platform/tests/approval-flow.e2e-spec.ts
Labels: ready for merge, e2e

#7035 fix(core): split button selection
  libs/core/src/lib/menu/directives/menu-interactive.directive.ts
  libs/core/src/lib/menu/menu-item/menu-item.component.ts
  libs/core/src/lib/split-button/split-button.component.ts
Labels: bug, stale

#7089 test(core,platform): fix flaky unit tests
  libs/core/src/lib/datetime-picker/datetime-picker.component.spec.ts
  libs/platform/src/lib/form/input-group/input-group.component.spec.ts
Labels: platform, core, ready for merge, unit tests, flaky tests, planned

#7090 test(e2e): fix multiInput selectors
  e2e/wdio/core/pages/multi-input.po.ts
  e2e/wdio/core/tests/multi-input.e2e-spec.ts
Labels: e2e

#7018 fix(platform): fixing the empty error message and adding reset example
  apps/docs/src/app/platform/component-docs/platform-forms/multi-input/platform-multi-input-example/platform-multi-input-reactive-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/multi-input/platform-multi-input-example/platform-multi-input-reactive-example.component.ts
  libs/platform/src/lib/form/multi-input/base-multi-input.ts
  libs/platform/src/lib/form/multi-input/multi-input.component.html
  libs/platform/src/lib/form/multi-input/multi-input.component.ts
Labels: bug, platform, ready for merge, QA Approved

#7071 fix(platform): table - bugs and improvements
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-filterable-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table.module.ts
  libs/core/src/lib/utils/drag-and-drop/dnd-item/dnd-item.directive.ts
  libs/platform/src/lib/table/components/table-p13-dialog/filtering/filtering.component.ts
  libs/platform/src/lib/table/components/table-view-settings-dialog/table-view-settings-dialog.component.ts
  libs/platform/src/lib/table/table.component.html
  libs/platform/src/lib/table/table.component.scss
  libs/platform/src/lib/table/table.service.ts
Labels: platform, table

#7092 fix(platform): empty icon tab bar
  libs/core/src/lib/calendar/models/common.ts
  libs/platform/src/lib/fundamental-ngx.module.ts
  libs/platform/src/lib/icon-tab-bar/components/icon-tab-bar-process-type/icon-tab-bar-process-type.component.html
  libs/platform/src/lib/icon-tab-bar/components/index.ts
  libs/platform/src/lib/icon-tab-bar/directives/extra-button/extra-button.directive.ts
  libs/platform/src/lib/icon-tab-bar/icon-tab-bar.component.scss
  libs/platform/src/lib/icon-tab-bar/icon-tab-bar.module.ts
  libs/platform/src/lib/icon-tab-bar/public_api.ts
  libs/platform/src/lib/public_api.ts
  libs/platform/src/lib/table/components/index.ts
  libs/platform/src/lib/table/components/table-p13-dialog/columns/columns.component.ts
  libs/platform/src/lib/table/components/table-view-settings-dialog/grouping/grouping.component.spec.ts
  libs/platform/src/lib/table/components/table-view-settings-dialog/grouping/grouping.component.ts
  libs/platform/src/lib/table/components/table-view-settings-dialog/index.ts
  libs/platform/src/lib/table/components/table-view-settings-dialog/sorting/sorting.component.spec.ts
  libs/platform/src/lib/table/components/table-view-settings-dialog/sorting/sorting.component.ts
  libs/platform/src/lib/table/components/table-view-settings-dialog/table-view-settings-dialog.component.ts
  libs/platform/src/lib/table/public_api.ts
  libs/platform/src/lib/table/table.module.ts
Labels: bug, platform, QA Approved

#7065 test(e2e): fix cron job firebase url
  .github/workflows/on-schedule.yml
  package.json
Labels: ready for merge

#7091 fix(platform): table - selection row height issue
  libs/platform/src/lib/table/table.component.html
  libs/platform/src/lib/table/table.component.ts
Labels: platform, ready for merge, QA Approved, table

#7042 fix(platform): step-input, add state message
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-examples/platform-number-step-input-state-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/step-input/platform-step-input-examples/platform-number-step-input-state-example.component.ts
  libs/platform/src/lib/form/step-input/number/number-step-input.component.html
  libs/platform/src/lib/form/step-input/step-input.module.ts
Labels: platform, ready for merge, QA Approved, stale

#7047 test(e2e): update date picker e2e
  e2e/wdio/core/fixtures/testData/date-picker-tags.ts
  e2e/wdio/core/pages/date-picker.po.ts
  e2e/wdio/core/tests/date-picker.e2e-spec.ts
  wdio-cron.conf.js
  wdio.conf.js
Labels: ready for merge, e2e

#7107 fix(platform): table data source change
  libs/platform/src/lib/table/table.component.ts
Labels: bug, platform, table

#7099 fix(platform): fix flaky unit test
  libs/platform/src/lib/form/input-group/input-group.component.spec.ts
Labels: platform, ready for merge, unit tests, flaky tests

#7114 test(e2e): update table selectors
  e2e/wdio/platform/pages/table.po.ts
  e2e/wdio/platform/tests/table.e2e-spec.ts
Labels: ready for merge, e2e

#7044 chore: increase nx memory
  .env
Labels: ready for merge, planned

#7049 test(e2e): add e2e test for wizard-generator
  e2e/wdio/platform/fixtures/testData/wizard-generator.ts
  e2e/wdio/platform/pages/wizard-generator.po.ts
  e2e/wdio/platform/tests/wizard-generator.e2e-spec.ts
  wdio-cron.conf.js
Labels: ready for merge, e2e

#7064 fix(platform): table - resettable bugs
  libs/platform/src/lib/table/components/table-p13-dialog/columns/columns.component.ts
  libs/platform/src/lib/table/components/table-p13-dialog/filtering/filtering.component.html
  libs/platform/src/lib/table/components/table-p13-dialog/filtering/filtering.component.ts
  libs/platform/src/lib/table/components/table-p13-dialog/filtering/filtering.model.ts
  libs/platform/src/lib/table/components/table-p13-dialog/grouping/grouping.component.ts
  libs/platform/src/lib/table/components/table-p13-dialog/sorting/sorting.component.ts
  libs/platform/src/lib/table/components/table-view-settings-dialog/filtering/filters.component.ts
  libs/platform/src/lib/table/components/table-view-settings-dialog/grouping/grouping.component.ts
  libs/platform/src/lib/table/components/table-view-settings-dialog/sorting/sorting.component.ts
Labels: platform, ready for merge, QA Approved, table

#7080 test(e2e): add additional test cases to components e2e
  e2e/wdio/core/fixtures/appData/pagination-contents.ts
  e2e/wdio/core/tests/form-message.e2e-spec.ts
  e2e/wdio/core/tests/pagination.e2e-spec.ts
  e2e/wdio/platform/pages/input.po.ts
  e2e/wdio/platform/pages/multi-combobox.po.ts
  e2e/wdio/platform/pages/multi-input.po.ts
  e2e/wdio/platform/tests/input.e2e-spec.ts
  e2e/wdio/platform/tests/multi-combobox.e2e-spec.ts
  e2e/wdio/platform/tests/multi-input.e2e-spec.ts
Labels: ready for merge, e2e

#7110 test(platform): search-field, fix unit tests
  libs/platform/src/lib/search-field/search-field.component.spec.ts
Labels: platform, ready for merge, unit tests

#7087 fix(platform): search-field, fix empty suggestions
  apps/docs/src/app/platform/component-docs/platform-search-field/platform-search-field-examples/platform-search-field-basic-example.component.html
  apps/docs/src/app/platform/component-docs/platform-search-field/platform-search-field-examples/platform-search-field-basic-example.component.ts
  libs/platform/src/lib/search-field/search-field.component.html
  libs/platform/src/lib/search-field/search-field.component.spec.ts
  libs/platform/src/lib/search-field/search-field.component.ts
Labels: platform, ready for merge, QA Approved

#7105 chore: add fast-deep-equal as dependency to package.json
  package.json
Labels: dependencies, ready for merge

#7134 test(e2e): update search e2e
  e2e/wdio/platform/pages/search.po.ts
  e2e/wdio/platform/tests/search.e2e-spec.ts
Labels: ready for merge, e2e

#6703 fix(platform): table, fix column sorting issue (#6702)
  libs/platform/src/lib/table/table.component.html
  libs/platform/src/lib/table/table.component.ts
  libs/platform/src/lib/table/table.service.ts
Labels: platform, ready for merge, QA Approved, table

#7151 test(e2e): update dynamic page e2e selector
  e2e/wdio/platform/pages/dynamic-page-layout.po.ts
Labels: e2e

#7146 fix(platform): table semantic column height
  libs/platform/src/lib/table/table.component.html
  libs/platform/src/lib/table/table.component.ts
Labels: bug, platform, QA Approved, table

#7147 fix(docs): fix styles for mobile
  apps/docs/src/app/core/documentation/core-documentation.component.scss
  apps/docs/src/app/fn/documentation/fn-documentation.component.scss
  apps/docs/src/app/platform/documentation/platform-documentation.component.scss
Labels: documentation, ready for merge, QA Approved, styling

#7135 fix(platform): dynamic page title inputs async
  libs/platform/src/lib/dynamic-page/dynamic-page.component.ts
Labels: bug, platform, denoland, dxp, ready for qa

#7141 fix(platform): form field layout
  libs/platform/src/lib/form/form-group/form-field/form-field.component.html
Labels: bug, platform, denoland, Rework (QA)

#7166 fix(platform): hide password at summary page
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/examples/wizard-generator-default-example.component.ts
  libs/platform/src/lib/wizard-generator/components/wizard-summary-step/wizard-summary-step.component.ts
Labels: dxp

#7170 fix(docs): correct file name
  apps/docs/src/app/core/api-files.ts
Labels: bug, documentation

#7100 fix(core): fixing the flickering issue for the toolbar component
  libs/core/src/lib/toolbar/toolbar.component.html
  libs/core/src/lib/toolbar/toolbar.component.ts
Labels: bug, core, ready for merge, QA Approved

#7088 fix(core,platform): date time pickers active state
  apps/docs/src/app/core/component-docs/date-picker/examples/date-picker-allow-null-example.component.ts
  apps/docs/src/app/core/component-docs/date-picker/examples/date-picker-single-example.component.ts
  apps/docs/src/app/core/component-docs/datetime-picker/examples/datetime-allow-null-example/datetime-allow-null-example.component.ts
  apps/docs/src/app/core/component-docs/time-picker/examples/time-picker-allow-null-example.component.html
  e2e/wdio/core/tests/date-picker.e2e-spec.ts
  libs/core/src/lib/calendar/calendar-views/calendar-aggregated-year-view/calendar-aggregated-year-view.component.ts
  libs/core/src/lib/calendar/calendar-views/calendar-day-view/calendar-day-view.component.ts
  libs/core/src/lib/calendar/calendar-views/calendar-month-view/calendar-month-view.component.ts
  libs/core/src/lib/calendar/calendar-views/calendar-year-view/calendar-year-view.component.ts
  libs/core/src/lib/calendar/calendar.component.ts
  libs/core/src/lib/calendar/models/common.ts
  libs/core/src/lib/date-picker/date-picker.component.html
  libs/core/src/lib/date-picker/date-picker.component.ts
  libs/core/src/lib/datetime-picker/datetime-picker.component.html
  libs/core/src/lib/datetime-picker/datetime-picker.component.ts
  libs/core/src/lib/input-group/input-group.component.spec.ts
  libs/core/src/lib/input-group/input-group.component.ts
  libs/core/src/lib/time-picker/time-picker.component.html
  libs/core/src/lib/time-picker/time-picker.component.spec.ts
  libs/core/src/lib/time-picker/time-picker.component.ts
  libs/platform/src/lib/form/date-picker/date-picker.component.ts
  libs/platform/src/lib/form/datetime-picker/datetime-picker.component.ts
  libs/platform/src/lib/form/time-picker/time-picker.component.html
  libs/platform/src/lib/form/time-picker/time-picker.component.ts
Labels: platform, core, ready for merge, QA Approved

#7102 test(e2e): unskip tests per resolved bugs
  e2e/wdio/core/fixtures/appData/button-contents.ts
  e2e/wdio/core/fixtures/appData/inline-help-contents.ts
  e2e/wdio/core/fixtures/appData/slider-contents.ts
  e2e/wdio/core/pages/button.po.ts
  e2e/wdio/core/pages/inline-help.po.ts
  e2e/wdio/core/pages/object-number.po.ts
  e2e/wdio/core/pages/slider.po.ts
  e2e/wdio/core/tests/button.e2e-spec.ts
  e2e/wdio/core/tests/carousel.e2e-spec.ts
  e2e/wdio/core/tests/inline-help.e2e-spec.ts
  e2e/wdio/core/tests/notification.e2e-spec.ts
  e2e/wdio/core/tests/object-number.e2e-spec.ts
  e2e/wdio/core/tests/object-status.e2e-spec.ts
  e2e/wdio/core/tests/slider.e2e-spec.ts
  e2e/wdio/platform/fixtures/appData/feed-input-page-contents.ts
  e2e/wdio/platform/fixtures/appData/value-help-dialog-contents.ts
  e2e/wdio/platform/pages/combobox.po.ts
  e2e/wdio/platform/pages/upload-collection.po.ts
  e2e/wdio/platform/pages/value-help-dialog.po.ts
  e2e/wdio/platform/tests/combobox.e2e-spec.ts
  e2e/wdio/platform/tests/feed-input.e2e-spec.ts
  e2e/wdio/platform/tests/icon-tab-bar.e2e-spec.ts
  e2e/wdio/platform/tests/list.e2e-spec.ts
  e2e/wdio/platform/tests/slider.e2e-spec.ts
  e2e/wdio/platform/tests/thumbnail.e2e-spec.ts
  e2e/wdio/platform/tests/upload-collection.e2e-spec.ts
  e2e/wdio/platform/tests/value-help-dialog.e2e-spec.ts
  wdio-cron.conf.js
  wdio.conf.js
Labels: ready for merge, e2e

#7174 test(e2e): update 2 tests for localhost builds
  e2e/wdio/platform/tests/slider.e2e-spec.ts
  e2e/wdio/platform/tests/thumbnail.e2e-spec.ts
Labels: e2e

#7149 test(e2e): unskip tests per fixed issues
  e2e/wdio/platform/pages/table.po.ts
  e2e/wdio/platform/tests/table.e2e-spec.ts
Labels: ready for merge, e2e

#7131 test(e2e): add additional test cases for components per reported bugs
  e2e/wdio/core/pages/alert.po.ts
  e2e/wdio/core/pages/inline-help.po.ts
  e2e/wdio/core/pages/table.po.ts
  e2e/wdio/core/tests/alert.e2e-spec.ts
  e2e/wdio/core/tests/inline-help.e2e-spec.ts
  e2e/wdio/core/tests/table.e2e-spec.ts
  e2e/wdio/platform/pages/combobox.po.ts
  e2e/wdio/platform/pages/date-time-picker.po.ts
  e2e/wdio/platform/tests/combobox.e2e-spec.ts
  e2e/wdio/platform/tests/date-time-picker.e2e-spec.ts
Labels: ready for merge, e2e

#7163 fix(core,platform): select, fix wrapping and trucation styles
  libs/core/src/lib/select/select.component.html
  libs/core/src/lib/select/select.component.scss
  libs/platform/src/lib/form/select/commons/base-select.ts
  libs/platform/src/lib/form/select/select/select.component.html
  libs/platform/src/lib/form/select/select/select.component.ts
Labels: platform, core, ready for merge, QA Approved, stale

#7138 fix(core): feed list item more less button align
  apps/docs/src/app/core/component-docs/feed-list-item/examples/fli-footer/fli-footer-example.component.html
  apps/docs/src/app/core/component-docs/feed-list-item/examples/fli-mobile/fli-mobile-example.component.html
  apps/docs/src/app/core/component-docs/feed-list-item/examples/fli-simple/fli-simple-example.component.html
  apps/docs/src/app/core/component-docs/feed-list-item/feed-list-item-docs.component.html
  libs/core/src/lib/feed-list-item/components/item/feed-list-item.component.html
  libs/core/src/lib/feed-list-item/components/item/feed-list-item.component.scss
  libs/core/src/lib/feed-list-item/components/item/feed-list-item.component.spec.ts
  libs/core/src/lib/feed-list-item/components/item/feed-list-item.component.ts
  libs/core/src/lib/feed-list-item/feed-list-item.module.ts
  libs/core/src/lib/utils/directives/truncate/truncate.directive.spec.ts
  libs/core/src/lib/utils/directives/truncate/truncate.directive.ts
  libs/core/src/lib/utils/directives/truncate/truncate.module.ts
  libs/core/src/lib/utils/public_api.ts
Labels: core, ready for merge, QA Approved

#7150 fix(platform): radio-group, fix reflect value when set through reactive form
  libs/platform/src/lib/form/radio-group/radio-group.component.html
  libs/platform/src/lib/form/radio-group/radio-group.component.spec.ts
  libs/platform/src/lib/form/radio-group/radio-group.component.ts
  libs/platform/src/lib/form/radio-group/radio/radio.component.html
  libs/platform/src/lib/form/radio-group/radio/radio.component.spec.ts
  libs/platform/src/lib/form/radio-group/radio/radio.component.ts
Labels: platform, ready for merge, QA Approved, stale

#7093 test(e2e): add additional test cases for flexible column layout
  e2e/wdio/core/pages/flexible-column-layout.po.ts
  e2e/wdio/core/tests/flexible-column-layout.e2e-spec.ts
Labels: ready for merge, e2e

#7192 fix(platform): table columns' width recalc on resize
  libs/platform/src/lib/table/table-column-resize.service.ts
  libs/platform/src/lib/table/table.component.spec.ts
  libs/platform/src/lib/table/table.component.ts
Labels: enhancement, platform, dxp, table

#7086 fix(platform): table - fix horizontal scroll in firefox
  libs/platform/src/lib/table/table-column-resize.service.spec.ts
  libs/platform/src/lib/table/table-column-resize.service.ts
  libs/platform/src/lib/table/table.component.scss
Labels: platform, ready for merge, QA Approved, table, stale

#7167 test(e2e): update e2e for saucelabs
  e2e/wdio/core/tests/dialog.e2e-spec.ts
  e2e/wdio/core/tests/rating-indicator.e2e-spec.ts
  e2e/wdio/platform/pages/approval-flow.po.ts
  e2e/wdio/platform/tests/approval-flow.e2e-spec.ts
  e2e/wdio/platform/tests/search.e2e-spec.ts
Labels: ready for merge, e2e

#7187 test(e2e): add e2e tests for action-bar
  e2e/wdio/core/pages/action-bar.po.ts
  e2e/wdio/core/tests/action-bar.e2e-spec.ts
Labels: ready for merge, e2e

#7190 test(e2e): add additional test cases for menu, alert and busy indicator
  e2e/wdio/core/fixtures/appData/busy-indicator-contents.ts
  e2e/wdio/core/pages/alert.po.ts
  e2e/wdio/core/pages/busy-indicator.po.ts
  e2e/wdio/core/tests/alert.e2e-spec.ts
  e2e/wdio/core/tests/busy-indicator.e2e-spec.ts
  e2e/wdio/platform/pages/menu.po.ts
  e2e/wdio/platform/tests/menu.e2e-spec.ts
Labels: ready for merge, e2e

#7171 chore(core,platform): styles version bump
  apps/docs/src/app/core/component-docs/checkbox/examples/checkbox-default-example.component.ts
  e2e/wdio/core/pages/checkbox.po.ts
  e2e/wdio/core/tests/checkbox.e2e-spec.ts
  e2e/wdio/platform/pages/approval-flow.po.ts
  e2e/wdio/platform/tests/checkbox.e2e-spec.ts
  libs/core/src/lib/checkbox/checkbox/checkbox.component.html
  package-lock.json
  package.json
Labels: ready for merge, QA Approved

#7193 test(e2e): add additional test cases for button, avatar group, input
  e2e/wdio/core/fixtures/appData/input-page-contents.ts
  e2e/wdio/core/pages/avatar-group.po.ts
  e2e/wdio/core/pages/button.po.ts
  e2e/wdio/core/pages/input.po.ts
  e2e/wdio/core/tests/avatar-group.e2e-spec.ts
  e2e/wdio/core/tests/button.e2e-spec.ts
  e2e/wdio/core/tests/input.e2e-spec.ts
Labels: ready for merge, e2e

#7130 fix(core): disable field clear at suggestion select
  libs/core/src/lib/multi-input/multi-input.component.html
Labels: dxp

#7202 fix(platform): value help dialog table cell
  libs/platform/src/lib/value-help-dialog/components/select-tab/select-tab.component.html
Labels: bug, core, dxp

#7103 fix(core): add liveAnnouncer to message-toast service
  libs/core/src/lib/message-toast/message-toast-service/message-toast.service.ts
  libs/core/src/lib/message-toast/message-toast-utils/message-toast-container.component.ts
Labels: accessibility, core, ready for merge, QA Approved

#7101 fix(core,platform): file uploader form reset
  libs/core/src/lib/file-uploader/file-uploader.component.spec.ts
  libs/core/src/lib/file-uploader/file-uploader.component.ts
  libs/platform/src/lib/form/platform-file-uploader/platform-file-uploader.component.ts
Labels: platform, ready for merge, QA Approved

#7036 fix(core): checkbox broken VoiceOver outline
  apps/docs/src/app/core/component-docs/checkbox/examples/checkbox-custom-values-example.component.ts
  apps/docs/src/app/core/component-docs/checkbox/examples/checkbox-states-example.component.ts
Labels: bug, core, ready for merge, QA Approved

#7199 feat(core): scrollbar
  angular.json
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/scrollbar/examples/scrollbar-example.component.ts
  apps/docs/src/app/core/component-docs/scrollbar/examples/scrollbar-no-horizontal-example.component.ts
  apps/docs/src/app/core/component-docs/scrollbar/examples/scrollbar-no-vertical-example.component.ts
  apps/docs/src/app/core/component-docs/scrollbar/scrollbar-docs.component.html
  apps/docs/src/app/core/component-docs/scrollbar/scrollbar-docs.component.ts
  apps/docs/src/app/core/component-docs/scrollbar/scrollbar-docs.module.ts
  apps/docs/src/app/core/component-docs/scrollbar/scrollbar-header/scrollbar-header.component.html
  apps/docs/src/app/core/component-docs/scrollbar/scrollbar-header/scrollbar-header.component.ts
  apps/docs/src/app/core/core-documentation.routes.ts
  apps/docs/src/app/core/documentation/core-documentation.component.ts
  libs/core/src/lib/fundamental-ngx.module.ts
  libs/core/src/lib/public_api.ts
  libs/core/src/lib/scrollbar/README.md
  libs/core/src/lib/scrollbar/index.ts
  libs/core/src/lib/scrollbar/karma.conf.js
  libs/core/src/lib/scrollbar/ng-package.json
  libs/core/src/lib/scrollbar/package.json
  libs/core/src/lib/scrollbar/public_api.ts
  libs/core/src/lib/scrollbar/scrollbar.component.scss
  libs/core/src/lib/scrollbar/scrollbar.component.spec.ts
  libs/core/src/lib/scrollbar/scrollbar.component.ts
  libs/core/src/lib/scrollbar/scrollbar.module.ts
  libs/core/src/lib/scrollbar/test.ts
  libs/core/src/lib/scrollbar/tsconfig.json
  libs/core/src/lib/scrollbar/tsconfig.lib.json
  libs/core/src/lib/scrollbar/tsconfig.lib.prod.json
  libs/core/src/lib/scrollbar/tsconfig.spec.json
  libs/core/src/lib/scrollbar/tslint.json
  nx.json
  tsconfig.base.json
Labels: enhancement, core, dxp, ready for qa, stale

#7206 fix(core): intersection observable for unsupported browsers
  libs/core/src/lib/utils/functions/intersection-observable.ts
Labels: bug, core, stale

#7196 fix(core): fix combobox in shellbar
  apps/docs/src/app/core/component-docs/shellbar/examples/shellbar-collapsible-example.component.html
  libs/core/src/lib/combobox/combobox.component.html
  libs/core/src/lib/combobox/combobox.component.spec.ts
Labels: bug, core, ready for merge, QA Approved, stale

#7175 docs(core): disable table toolbar while loading
  apps/docs/src/app/core/component-docs/table/examples/table-toolbar-example.component.html
Labels: ready for merge, QA Approved, stale

#6602 fix(core): rating indicator, fix a11y issues
  apps/docs/src/app/core/component-docs/rating-indicator/examples/rating-indicator-example.component.html
  apps/docs/src/app/core/component-docs/rating-indicator/examples/rating-indicator-ratings.component.html
  apps/docs/src/app/core/component-docs/rating-indicator/examples/rating-indicator-sizes.component.html
  apps/docs/src/app/core/component-docs/rating-indicator/examples/ri-custom-icon-example.component.html
  apps/docs/src/app/core/component-docs/rating-indicator/examples/ri-display-mode-example.component.html
  apps/docs/src/app/core/component-docs/rating-indicator/examples/ri-dynamic-example.component.html
  libs/core/src/lib/rating-indicator/components/rating-indicator.component.html
  libs/core/src/lib/rating-indicator/components/rating-indicator.component.scss
  libs/core/src/lib/rating-indicator/components/rating-indicator.component.ts
  libs/core/src/lib/rating-indicator/components/rating-indicator.css
  libs/core/src/lib/rating-indicator/pipes/index.ts
  libs/core/src/lib/rating-indicator/pipes/rating-star-label.pipe.ts
  libs/core/src/lib/rating-indicator/public_api.ts
  libs/core/src/lib/rating-indicator/rating-indicator.module.ts
  libs/core/src/lib/timeline/public_api.ts
  libs/core/src/lib/timeline/services/timeline-position-control.service.spec.ts
Labels: accessibility, core, ready for merge, QA Approved

#7072 fix(core): static dialog nobackdrop position fix
  libs/core/src/lib/dialog/dialog.component.ts
Labels: core, ready for merge, QA Approved, dialog, stale

#7204 test(e2e): fix e2e for saucelabs
  e2e/wdio/core/tests/toolbar.e2e-spec.ts
  e2e/wdio/platform/pages/table.po.ts
  e2e/wdio/platform/tests/table.e2e-spec.ts
  wdio-cron.conf.js
  wdio.conf.js
Labels: ready for merge

#6603 fix(platform): radio-group, fix a11y issues
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-content-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-content-examples.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-list-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-list-examples.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-list-items-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-list-items-examples.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group.module.ts
  libs/core/src/lib/message-toast/message-toast.component.ts
Labels: accessibility, platform, ready for merge, QA Approved, stale, ATL verified

#7205 fix(platform): fix icon-tab-bar nested selection
  libs/platform/src/lib/icon-tab-bar/components/popovers/text-type-popover/text-type-popover.component.html
  libs/platform/src/lib/icon-tab-bar/components/popovers/text-type-popover/text-type-popover.component.spec.ts
  libs/platform/src/lib/icon-tab-bar/components/popovers/text-type-popover/text-type-popover.component.ts
Labels: bug, platform, ready for merge, QA Approved

#6832 fix(platform): should be able to reset form components
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-examples/platform-textarea-counter-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-examples/platform-textarea-counter-example.component.ts
  libs/core/src/lib/slider/slider.component.ts
  libs/platform/src/lib/form/combobox/commons/base-combobox.ts
  libs/platform/src/lib/form/multi-combobox/commons/base-multi-combobox.ts
  libs/platform/src/lib/form/multi-combobox/multi-combobox-mobile/multi-combobox/multi-combobox-mobile.component.html
  libs/platform/src/lib/form/multi-combobox/multi-combobox-mobile/multi-combobox/multi-combobox-mobile.component.ts
  libs/platform/src/lib/form/multi-combobox/multi-combobox.interface.ts
  libs/platform/src/lib/form/multi-combobox/multi-combobox/multi-combobox.component.html
  libs/platform/src/lib/form/multi-combobox/multi-combobox/multi-combobox.component.spec.ts
  libs/platform/src/lib/form/multi-combobox/multi-combobox/multi-combobox.component.ts
  libs/platform/src/lib/form/step-input/base.step-input.ts
  libs/platform/src/lib/form/text-area/text-area.component.ts
  libs/platform/src/lib/shared/domain/data-model.ts
Labels: platform, ready for merge, QA Approved, stale

#7177 fix(core): resizable-card-layout, fix resizable behavior on RTL mode
  e2e/wdio/platform/tests/dynamic-page-layout.e2e-spec.ts
  libs/core/src/lib/resizable-card-layout/resizable-card-layout/resizable-card-item/resizable-card-item.component.ts
  libs/core/src/lib/resizable-card-layout/resizable-card-layout/resizable-card-layout.component.ts
Labels: core, ready for merge, QA Approved, stale

#7200 test(e2e): add additional cases & refactoring
  e2e/wdio/core/fixtures/appData/message-box.ts
  e2e/wdio/core/pages/dialog.po.ts
  e2e/wdio/core/pages/input-group.po.ts
  e2e/wdio/core/pages/multi-input.po.ts
  e2e/wdio/core/pages/select.po.ts
  e2e/wdio/core/tests/dialog.e2e-spec.ts
  e2e/wdio/core/tests/input-group.e2e-spec.ts
  e2e/wdio/core/tests/message-box.e2e-spec.ts
  e2e/wdio/core/tests/multi-input.e2e-spec.ts
  e2e/wdio/core/tests/select.e2e-spec.ts
  e2e/wdio/platform/fixtures/testData/wizard-generator.ts
  e2e/wdio/platform/tests/wizard-generator.e2e-spec.ts
  wdio-cron.conf.js
  wdio.conf.js
Labels: ready for merge, e2e

#7194 fix(platform): add ability to pass action to approval flow component
  apps/docs/src/app/platform/component-docs/platform-approval-flow/platform-approval-flow-examples/platform-approval-flow-example.component.html
  apps/docs/src/app/platform/component-docs/platform-approval-flow/platform-approval-flow-examples/platform-approval-flow-example.component.ts
  libs/platform/src/lib/approval-flow/approval-flow.component.html
  libs/platform/src/lib/approval-flow/approval-flow.component.ts
Labels: bug, platform, ready for merge, High, QA Approved, planned

#7201 fix(platform): link, fix a11y issues
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-examples/platform-link-disabled-emphasized-example.component.html
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-examples/platform-link-disabled-example.component.html
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-examples/platform-link-emphasized-example.component.html
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-examples/platform-link-icon-example.component.html
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-examples/platform-link-inverted-example.component.html
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-examples/platform-link-standard-example.component.html
  apps/docs/src/app/platform/component-docs/platform-link/platform-link-examples/platform-link-truncated-example.component.html
  e2e/wdio/platform/fixtures/appData/link-page-contents.ts
  libs/platform/src/lib/link/link.component.html
Labels: accessibility, platform, ready for merge, QA Approved, ATL verified

#7208 test(e2e): add additional test cases
  e2e/wdio/core/fixtures/appData/popover-contents.ts
  e2e/wdio/core/fixtures/appData/toolbar-contents.ts
  e2e/wdio/core/pages/object-marker.po.ts
  e2e/wdio/core/pages/popover.po.ts
  e2e/wdio/core/pages/text.po.ts
  e2e/wdio/core/pages/toolbar.po.ts
  e2e/wdio/core/tests/object-marker.e2e-spec.ts
  e2e/wdio/core/tests/popover.e2e-spec.ts
  e2e/wdio/core/tests/text.e2e-spec.ts
  e2e/wdio/core/tests/toolbar.e2e-spec.ts
Labels: ready for merge, e2e

#7242 fix(platform): table change detection
  libs/platform/src/lib/table/table.component.ts
Labels: bug, platform, dxp

#7222 fix(core): form message inverted popover event triggers
  apps/docs/src/app/core/component-docs/form-message/examples/form-message-example.component.html
  apps/docs/src/app/core/component-docs/form-message/examples/form-message-example.component.ts
  apps/docs/src/app/core/component-docs/form-message/form-message-docs.component.html
  apps/docs/src/app/core/component-docs/form-message/form-message-docs.module.ts
  libs/core/src/lib/popover/popover-service/popover.service.ts
Labels: bug, core, ready for merge, QA Approved

#7241 test(e2e): add e2e for info-label, unskip test for icon-tab-bar and additional test cases for grid list
  e2e/wdio/core/fixtures/appData/info-label-contents.ts
  e2e/wdio/core/pages/grid-list.po.ts
  e2e/wdio/core/pages/info-label.po.ts
  e2e/wdio/core/tests/grid-list.e2e-spec.ts
  e2e/wdio/core/tests/info-label.e2e-spec.ts
  e2e/wdio/platform/tests/icon-tab-bar.e2e-spec.ts
Labels: ready for merge, e2e

#7267 fix(platform): adjust select content density configuration
  libs/platform/src/lib/form/select/commons/base-select.ts
  libs/platform/src/lib/form/select/select/select.component.ts
Labels: bug

#7251 feat(core): custom min width for fixed card layout
  apps/docs/src/app/core/component-docs/fixed-card-layout/examples/custom-width/fixed-card-layout-custom-width-example.component.html
  apps/docs/src/app/core/component-docs/fixed-card-layout/examples/custom-width/fixed-card-layout-custom-width-example.component.ts
  apps/docs/src/app/core/component-docs/fixed-card-layout/fixed-card-layout-docs.component.html
  apps/docs/src/app/core/component-docs/fixed-card-layout/fixed-card-layout-docs.module.ts
  libs/core/src/lib/fixed-card-layout/fixed-card-layout.component.ts
Labels: dxp

#7239 fix(core): fix split-button accessibility
  libs/core/src/lib/button/button.component.ts
  libs/core/src/lib/menu/directives/menu-trigger.directive.spec.ts
  libs/core/src/lib/menu/directives/menu-trigger.directive.ts
  libs/core/src/lib/menu/menu.component.html
  libs/core/src/lib/menu/menu.component.ts
  libs/core/src/lib/popover/popover-service/popover.service.ts
  libs/core/src/lib/split-button/split-button.component.html
  libs/core/src/lib/split-button/split-button.component.spec.ts
  libs/core/src/lib/split-button/split-button.component.ts
Labels: QA Approved, ATL verified
