Repository SAP/fundamental-ngx, pull requests merged in 2021-05, with the labels that each got.

#5158 fix: (Core) remove card-footer component
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/card/card-docs.module.ts
  apps/docs/src/app/core/component-docs/card/examples/card-footer-example.component.html
  apps/docs/src/app/core/component-docs/card/examples/quick-view-card/card-quick-view-example.component.html
  e2e/wdio/core/pages/card.po.ts
  libs/core/src/lib/card/card-footer.component.spec.ts
  libs/core/src/lib/card/card-footer.component.ts
  libs/core/src/lib/card/card.module.ts
  libs/core/src/lib/card/public_api.ts
Labels: bug, core

#5260 fix: (Core) add fix for Dynamic Page header hover state when subheader is not collapsible
  libs/core/src/lib/dynamic-page/dynamic-page.component.ts
Labels: dxp

#5261 fix: (platform) make router optional
  libs/platform/src/lib/components/base.ts
  libs/platform/src/lib/components/list/action-list-item/action-list-item.component.ts
  libs/platform/src/lib/components/list/base-list-item.ts
  libs/platform/src/lib/components/list/display-list-item/display-list-item.component.ts
  libs/platform/src/lib/components/list/object-list-item/object-list-item.component.ts
  libs/platform/src/lib/components/list/standard-list-item/standard-list-item.component.ts
Labels: bug

#5221 chore: (Platform) css cleanup hardcoded styles from feed input component
  e2e/wdio/platform/tests/feed-input.e2e-spec.ts
  libs/platform/src/lib/components/feed-input/feed-input.component.html
  libs/platform/src/lib/components/feed-input/feed-input.component.scss
Labels: platform

#5283 fix: import form label styling and update facet examples
  apps/docs/src/app/core/component-docs/facets/facet-examples/facet-group-example.component.html
  apps/docs/src/app/core/component-docs/facets/facet-examples/form-facet-example.component.html
  libs/core/src/lib/facets/facet-group.component.scss
  libs/core/src/lib/facets/facet/facet.component.scss
  libs/core/src/lib/facets/facet/facet.component.ts
Labels: bug

#5171 test: add illustrated-message core e2e tests
  e2e/wdio/baselineScreenshot/core/illustrated-message/desktop_chrome/dialogPopup--1920x1080.png
  e2e/wdio/baselineScreenshot/core/illustrated-message/desktop_chrome/dialogPopup--1920x1417.png
  e2e/wdio/baselineScreenshot/core/illustrated-message/desktop_chrome/illustrated-message-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/illustrated-message/desktop_chrome/illustrated-message-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/illustrated-message/desktop_chrome/illustrated-message-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/illustrated-message/desktop_chrome/illustrated-message-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/illustrated-message/desktop_chrome/illustrated-message-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/illustrated-message/desktop_chrome/illustrated-message-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/illustrated-message/desktop_firefox/dialogPopup--1920x1417.png
  e2e/wdio/baselineScreenshot/core/illustrated-message/desktop_firefox/dialogPopup--1936x1096.png
  e2e/wdio/baselineScreenshot/core/illustrated-message/desktop_firefox/illustrated-message-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/illustrated-message/desktop_firefox/illustrated-message-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/illustrated-message/desktop_firefox/illustrated-message-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/illustrated-message/desktop_firefox/illustrated-message-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/illustrated-message/desktop_firefox/illustrated-message-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/illustrated-message/desktop_firefox/illustrated-message-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/illustrated-message/desktop_microsoftedge/dialogPopup--1920x1080.png
  e2e/wdio/baselineScreenshot/core/illustrated-message/desktop_microsoftedge/dialogPopup--1920x1417.png
  e2e/wdio/baselineScreenshot/core/illustrated-message/desktop_microsoftedge/illustrated-message-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/illustrated-message/desktop_microsoftedge/illustrated-message-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/illustrated-message/desktop_microsoftedge/illustrated-message-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/illustrated-message/desktop_microsoftedge/illustrated-message-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/illustrated-message/desktop_microsoftedge/illustrated-message-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/illustrated-message/desktop_microsoftedge/illustrated-message-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/core/pages/illustrated-message.po.ts
  e2e/wdio/core/tests/illustrated-message.e2e-spec.ts
Labels: e2e

#5220 feat: (Core) add random accent color option for avatar
  apps/docs/src/app/core/component-docs/avatar/avatar-docs.component.html
  libs/core/src/lib/avatar/avatar.component.spec.ts
  libs/core/src/lib/avatar/avatar.component.ts
Labels: denoland

#5316 chore: migrate to the latest angular 11.2.13
  package-lock.json
  package.json
Labels: dependencies, security

#5337 chore: enable security scanning
  .github/workflows/codeql-analysis.yml
Labels: security, tooling

#5222 test: refactor test methods
  e2e/wdio/core/fixtures/appData/action-sheet-content.ts
  e2e/wdio/core/fixtures/appData/carousel-contents.ts
  e2e/wdio/core/fixtures/appData/grid-list-content.ts
  e2e/wdio/core/tests/action-sheet.e2e-spec.ts
  e2e/wdio/core/tests/carousel.e2e-spec.ts
  e2e/wdio/core/tests/date-time-picker.e2e-spec.ts
  e2e/wdio/core/tests/feed-input.e2e-spec.ts
  e2e/wdio/core/tests/form-message.e2e-spec.ts
  e2e/wdio/core/tests/grid-list.e2e-spec.ts
  e2e/wdio/core/tests/object-marker.e2e-spec.ts
  e2e/wdio/core/tests/standard-list.e2e-spec.ts
  e2e/wdio/driver/wdio.ts
  e2e/wdio/platform/fixtures/appData/info-label-page-contents.ts
  e2e/wdio/platform/fixtures/appData/object-marker-contents.ts
  e2e/wdio/platform/fixtures/appData/split-menu-button-page-contents.ts
  e2e/wdio/platform/tests/checkbox.e2e-spec.ts
  e2e/wdio/platform/tests/date-picker.e2e-spec.ts
  e2e/wdio/platform/tests/date-time-picker.e2e-spec.ts
  e2e/wdio/platform/tests/feed-input.e2e-spec.ts
  e2e/wdio/platform/tests/file-uploader.e2e-spec.ts
  e2e/wdio/platform/tests/info-label.e2e-spec.ts
  e2e/wdio/platform/tests/input-group.e2e-spec.ts
  e2e/wdio/platform/tests/input.e2e-spec.ts
  e2e/wdio/platform/tests/link.e2e-spec.ts
  e2e/wdio/platform/tests/multi-input.e2e-spec.ts
  e2e/wdio/platform/tests/object-marker.e2e-spec.ts
  e2e/wdio/platform/tests/search.e2e-spec.ts
  e2e/wdio/platform/tests/split-menu-button.e2e-spec.ts
  e2e/wdio/platform/tests/standard-list-item.e2e-spec.ts
  e2e/wdio/platform/tests/switch.e2e-spec.ts
  e2e/wdio/platform/tests/time-picker.e2e-spec.ts
Labels: e2e

#5216 fix: (Platform) dynamic page component modularity
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-example.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-flexible-column-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-flexible-column-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-non-collapsible-example.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-non-collapsible-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-responsive-padding-example.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-responsive-padding-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-snap-scroll-example.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-snap-scroll-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-tabbed-example.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-tabbed-example.component.scss
  e2e/wdio/platform/pages/dynamic-page-layout.po.ts
  libs/core/src/lib/breadcrumb/breadcrumb.component.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page-content/dynamic-page-content-host.component.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page-content/dynamic-page-content.component.html
  libs/platform/src/lib/components/dynamic-page/dynamic-page-content/dynamic-page-content.component.scss
  libs/platform/src/lib/components/dynamic-page/dynamic-page-content/dynamic-page-content.component.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page-content/dynamic-page-tabbed-content.component.spec.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page-content/dynamic-page-tabbed-content.component.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page-footer/dynamic-page-footer.component.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page-header/actions/global-actions/dynamic-page-global-actions.component.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page-header/actions/layout-actions/dynamic-page-layout-actions.component.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page-header/header/dynamic-page-header-internal.component.html
  libs/platform/src/lib/components/dynamic-page/dynamic-page-header/header/dynamic-page-header-internal.component.spec.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page-header/header/dynamic-page-header-internal.component.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page-header/header/dynamic-page-header.component.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page-header/key-info/dynamic-page-key-info.component.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page-header/title/dynamic-page-title-host.component.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page-header/title/dynamic-page-title.component.html
  libs/platform/src/lib/components/dynamic-page/dynamic-page-header/title/dynamic-page-title.component.spec.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page-header/title/dynamic-page-title.component.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page.component.html
  libs/platform/src/lib/components/dynamic-page/dynamic-page.component.scss
  libs/platform/src/lib/components/dynamic-page/dynamic-page.component.spec.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page.component.ts
  libs/platform/src/lib/components/dynamic-page/dynamic-page.module.ts
  libs/platform/src/lib/components/dynamic-page/public_api.ts
Labels: QA Approved

#5341 fix: (Store) Fix entity format
  libs/store/src/lib/domain/decorators.ts
  libs/store/src/lib/infrastructure/persistence/domain/base-classes/base-value.ts
  libs/store/src/lib/infrastructure/persistence/domain/base-classes/composite.ts
  libs/store/src/lib/infrastructure/persistence/domain/state-handler.spec.ts
  libs/store/src/lib/infrastructure/persistence/domain/state-handler.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-collection-service-base.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-collections-service-base.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-store.spec.ts
  libs/store/src/lib/infrastructure/persistence/utils/deep-copy.ts
  libs/store/src/lib/infrastructure/persistence/utils/deep-freeze.ts
  libs/store/src/lib/infrastructure/persistence/utils/index.ts
Labels: state management

#5271 fix: (Core) Text component's more or less label for expand/collapse functionality is not readable for accessibility.
  libs/core/src/lib/text/text.component.html
Labels: accessibility

#5204 fix: (Platform) Pre-populated values not honouring the display key value
  apps/docs/src/app/platform/component-docs/platform-forms/multi-input/platform-multi-input-example/platform-multi-input-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/multi-input/platform-multi-input-example/platform-multi-input-example.component.ts
  e2e/wdio/baselineScreenshot/platform/multi-input/desktop_chrome/multi-input-example-0-platform-Chrome_Headless-darwin--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/multi-input/desktop_chrome/multi-input-example-1-platform-Chrome_Headless-darwin--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/multi-input/desktop_chrome/multi-input-example-2-platform-Chrome_Headless-darwin--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/multi-input/desktop_chrome/multi-input-example-3-platform-Chrome_Headless-darwin--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/multi-input/desktop_chrome/multi-input-example-4-platform-Chrome_Headless-darwin--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/multi-input/desktop_chrome/multi-input-example-5-platform-Chrome_Headless-darwin--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/multi-input/desktop_chrome/multi-input-example-6-platform-Chrome_Headless-darwin--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/multi-input/desktop_chrome/multi-input-example-7-platform-Chrome_Headless-darwin--1920x1417.png
  libs/platform/src/lib/components/form/multi-input/base-multi-input.ts
  libs/platform/src/lib/components/form/multi-input/multi-input.component.html
  libs/platform/src/lib/components/form/multi-input/multi-input.component.ts
Labels: bug, platform

#5361 chore: revert npm and node versions
  netlify.toml
  package-lock.json
  package.json
Labels: dependencies

#5272 fix: (Core) wizard step indicator stacking bugs on narrow screens
  libs/core/src/lib/wizard/wizard-step/wizard-step.component.ts
Labels: bug, denoland

#5202 docs: (Platform) fix list group header title
  apps/docs/src/app/platform/component-docs/platform-display-list-item/platform-display-list-item-examples/platform-display-list-item-example.component.html
  apps/docs/src/app/platform/component-docs/platform-list/platform-list-examples/platform-list-example.component.html
  apps/docs/src/app/platform/component-docs/platform-list/platform-list-examples/platform-list-with-group-header-example.component.html
  apps/docs/src/app/platform/component-docs/platform-standard-list-item/platform-standard-list-item-examples/platform-standard-list-item-example.component.html
  apps/docs/src/app/platform/component-docs/platform-standard-list-item/platform-standard-list-item-examples/platform-standard-list-item-with-group-header-example.component.html
Labels: QA Approved, platform

#5215 test: (e2e) added panel core e2e tests
  e2e/wdio/baselineScreenshot/core/panel/desktop_chrome/panel-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/panel/desktop_chrome/panel-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/panel/desktop_chrome/panel-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/panel/desktop_chrome/panel-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/panel/desktop_chrome/panel-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/panel/desktop_chrome/panel-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/panel/desktop_chrome/panel-example-3-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/panel/desktop_chrome/panel-example-3-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/panel/desktop_firefox/panel-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/panel/desktop_firefox/panel-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/panel/desktop_firefox/panel-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/panel/desktop_firefox/panel-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/panel/desktop_firefox/panel-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/panel/desktop_firefox/panel-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/panel/desktop_firefox/panel-example-3-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/panel/desktop_firefox/panel-example-3-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/panel/desktop_microsoftedge/panel-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/panel/desktop_microsoftedge/panel-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/panel/desktop_microsoftedge/panel-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/panel/desktop_microsoftedge/panel-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/panel/desktop_microsoftedge/panel-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/panel/desktop_microsoftedge/panel-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/panel/desktop_microsoftedge/panel-example-3-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/panel/desktop_microsoftedge/panel-example-3-core-msedge-windows--1920x1080.png
  e2e/wdio/core/pages/panel.po.ts
  e2e/wdio/core/tests/panel.e2e-spec.ts
Labels: e2e

#5303 test: (e2e) added pagination core e2e tests
  e2e/wdio/baselineScreenshot/core/pagination/desktop_chrome/pagination-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/pagination/desktop_chrome/pagination-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/pagination/desktop_chrome/pagination-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/pagination/desktop_chrome/pagination-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/pagination/desktop_chrome/pagination-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/pagination/desktop_chrome/pagination-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/pagination/desktop_firefox/pagination-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/pagination/desktop_firefox/pagination-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/pagination/desktop_firefox/pagination-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/pagination/desktop_firefox/pagination-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/pagination/desktop_firefox/pagination-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/pagination/desktop_firefox/pagination-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/pagination/desktop_microsoftedge/pagination-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/pagination/desktop_microsoftedge/pagination-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/pagination/desktop_microsoftedge/pagination-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/pagination/desktop_microsoftedge/pagination-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/pagination/desktop_microsoftedge/pagination-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/pagination/desktop_microsoftedge/pagination-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/core/fixtures/appData/pagination-contents.ts
  e2e/wdio/core/pages/pagination.po.ts
  e2e/wdio/core/tests/pagination.e2e-spec.ts
Labels: e2e

#5310 fix: (Core) form adjust hint alignment
  e2e/wdio/baselineScreenshot/platform/checkbox/desktop_chrome/checkbox-example-0-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/checkbox/desktop_chrome/checkbox-example-0-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/checkbox/desktop_chrome/checkbox-example-1-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/checkbox/desktop_chrome/checkbox-example-1-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/checkbox/desktop_chrome/checkbox-example-2-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/checkbox/desktop_chrome/checkbox-example-2-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/checkbox/desktop_chrome/checkbox-example-3-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/checkbox/desktop_chrome/checkbox-example-4-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/checkbox/desktop_chrome/checkbox-example-4-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/checkbox/desktop_firefox/checkbox-example-0-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/checkbox/desktop_firefox/checkbox-example-0-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/checkbox/desktop_firefox/checkbox-example-1-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/checkbox/desktop_firefox/checkbox-example-2-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/checkbox/desktop_firefox/checkbox-example-2-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/checkbox/desktop_firefox/checkbox-example-3-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/checkbox/desktop_firefox/checkbox-example-4-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/checkbox/desktop_firefox/checkbox-example-4-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/checkbox/desktop_firefox/checkbox-example-5-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/checkbox/desktop_firefox/checkbox-example-5-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/checkbox/desktop_microsoftedge/checkbox-example-0-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/checkbox/desktop_microsoftedge/checkbox-example-0-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/checkbox/desktop_microsoftedge/checkbox-example-1-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/checkbox/desktop_microsoftedge/checkbox-example-1-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/checkbox/desktop_microsoftedge/checkbox-example-2-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/checkbox/desktop_microsoftedge/checkbox-example-2-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/checkbox/desktop_microsoftedge/checkbox-example-3-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/checkbox/desktop_microsoftedge/checkbox-example-4-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/checkbox/desktop_microsoftedge/checkbox-example-4-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_chrome/step-input-example-0-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_chrome/step-input-example-0-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_chrome/step-input-example-1-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_chrome/step-input-example-1-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_chrome/step-input-example-2-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_chrome/step-input-example-2-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_chrome/step-input-example-3-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_chrome/step-input-example-3-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_firefox/step-input-example-0-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_firefox/step-input-example-0-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_firefox/step-input-example-1-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_firefox/step-input-example-1-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_firefox/step-input-example-2-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_firefox/step-input-example-3-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_firefox/step-input-example-3-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_microsoftedge/step-input-example-0-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_microsoftedge/step-input-example-0-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_microsoftedge/step-input-example-1-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_microsoftedge/step-input-example-1-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_microsoftedge/step-input-example-2-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_microsoftedge/step-input-example-2-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_microsoftedge/step-input-example-3-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/step-input/desktop_microsoftedge/step-input-example-3-platform-msedge-windows--1920x1080.png
  libs/core/src/lib/form/form-item/form-item.component.scss
  libs/core/src/lib/form/form-label/form-label.component.scss
  package-lock.json
Labels: platform

#5300 test: (e2e) add e2e tests for Input component
  .gitignore
  .travis.yml
  e2e/wdio/baselineScreenshot/core/input/desktop_chrome/input-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/input/desktop_chrome/input-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/input/desktop_chrome/input-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/input/desktop_chrome/input-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/input/desktop_chrome/input-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/input/desktop_chrome/input-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/input/desktop_chrome/input-example-3-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/input/desktop_chrome/input-example-3-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/input/desktop_firefox/input-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/input/desktop_firefox/input-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/input/desktop_firefox/input-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/input/desktop_firefox/input-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/input/desktop_firefox/input-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/input/desktop_firefox/input-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/input/desktop_firefox/input-example-3-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/input/desktop_firefox/input-example-3-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/input/desktop_microsoftedge/input-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/input/desktop_microsoftedge/input-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/input/desktop_microsoftedge/input-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/input/desktop_microsoftedge/input-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/input/desktop_microsoftedge/input-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/input/desktop_microsoftedge/input-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/input/desktop_microsoftedge/input-example-3-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/input/desktop_microsoftedge/input-example-3-core-msedge-windows--1920x1080.png
  e2e/wdio/core/fixtures/appData/input-page-contents.ts
  e2e/wdio/core/fixtures/testData/input.ts
  e2e/wdio/core/pages/input.po.ts
  e2e/wdio/core/tests/input.e2e-spec.ts
  e2e/wdio/driver/wdio.ts
  karma.conf.js
  package-lock.json
  package.json
Labels: e2e

#5349 feat: (Core) introduce new Message Page component
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/message-page/examples/message-page-actions-example.component.html
  apps/docs/src/app/core/component-docs/message-page/examples/message-page-custom-icon-example.component.html
  apps/docs/src/app/core/component-docs/message-page/examples/message-page-error-example.component.html
  apps/docs/src/app/core/component-docs/message-page/examples/message-page-examples.component.ts
  apps/docs/src/app/core/component-docs/message-page/examples/message-page-filter-example.component.html
  apps/docs/src/app/core/component-docs/message-page/examples/message-page-no-icon-example.component.html
  apps/docs/src/app/core/component-docs/message-page/examples/message-page-no-items-example.component.html
  apps/docs/src/app/core/component-docs/message-page/examples/message-page-search-example.component.html
  apps/docs/src/app/core/component-docs/message-page/message-page-docs.component.html
  apps/docs/src/app/core/component-docs/message-page/message-page-docs.component.ts
  apps/docs/src/app/core/component-docs/message-page/message-page-docs.module.ts
  apps/docs/src/app/core/component-docs/message-page/message-page-header/message-page-header.component.html
  apps/docs/src/app/core/component-docs/message-page/message-page-header/message-page-header.component.ts
  apps/docs/src/app/core/core-documentation.routes.ts
  apps/docs/src/app/core/documentation/core-documentation.component.ts
  libs/core/src/index.ts
  libs/core/src/lib/fundamental-ngx-core.module.ts
  libs/core/src/lib/message-page/message-page-actions/message-page-actions.component.spec.ts
  libs/core/src/lib/message-page/message-page-actions/message-page-actions.component.ts
  libs/core/src/lib/message-page/message-page-more/message-page-more.component.spec.ts
  libs/core/src/lib/message-page/message-page-more/message-page-more.component.ts
  libs/core/src/lib/message-page/message-page-subtitle/message-page-subtitle.component.spec.ts
  libs/core/src/lib/message-page/message-page-subtitle/message-page-subtitle.component.ts
  libs/core/src/lib/message-page/message-page-title/message-page-title.component.spec.ts
  libs/core/src/lib/message-page/message-page-title/message-page-title.component.ts
  libs/core/src/lib/message-page/message-page.component.html
  libs/core/src/lib/message-page/message-page.component.scss
  libs/core/src/lib/message-page/message-page.component.spec.ts
  libs/core/src/lib/message-page/message-page.component.ts
  libs/core/src/lib/message-page/message-page.module.ts
  libs/core/src/lib/message-page/public_api.ts
Labels: Fiori 3 component, denoland

#5352 test: (e2e) add e2e tests for Checkbox component
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_chrome/checkbox-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_chrome/checkbox-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_chrome/checkbox-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_chrome/checkbox-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_chrome/checkbox-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_chrome/checkbox-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_chrome/checkbox-example-3-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_chrome/checkbox-example-3-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_chrome/checkbox-example-4-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_chrome/checkbox-example-4-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_chrome/checkbox-example-5-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_chrome/checkbox-example-5-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_firefox/checkbox-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_firefox/checkbox-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_firefox/checkbox-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_firefox/checkbox-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_firefox/checkbox-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_firefox/checkbox-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_firefox/checkbox-example-3-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_firefox/checkbox-example-3-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_firefox/checkbox-example-4-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_firefox/checkbox-example-4-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_firefox/checkbox-example-5-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_firefox/checkbox-example-5-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_microsoftedge/checkbox-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_microsoftedge/checkbox-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_microsoftedge/checkbox-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_microsoftedge/checkbox-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_microsoftedge/checkbox-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_microsoftedge/checkbox-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_microsoftedge/checkbox-example-3-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_microsoftedge/checkbox-example-3-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_microsoftedge/checkbox-example-4-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_microsoftedge/checkbox-example-4-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_microsoftedge/checkbox-example-5-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/checkbox/desktop_microsoftedge/checkbox-example-5-core-msedge-windows--1920x1080.png
  e2e/wdio/core/fixtures/appData/checkbox-content.ts
  e2e/wdio/core/pages/checkbox.po.ts
  e2e/wdio/core/tests/checkbox.e2e-spec.ts
Labels: e2e

#5054 test: (e2e) add e2e tests for Calendar component
  e2e/wdio/core/fixtures/appData/calendar-contents.ts
  e2e/wdio/core/pages/calendar.po.ts
  e2e/wdio/core/tests/calendar.e2e-spec.ts
Labels: e2e

#5258 docs: (Core) add links to the responsive breadcrumb section
  apps/docs/src/app/core/component-docs/breadcrumb/examples/breadcrumb-href-example.component.html
  apps/docs/src/app/core/component-docs/breadcrumb/examples/breadcrumb-responsive-example.component.html
  apps/docs/src/app/core/component-docs/breadcrumb/examples/breadcrumb-routerLink-example.component.html
  e2e/wdio/baselineScreenshot/core/breadcrumb/desktop_chrome/breadcrumb-example-0-core-Chrome_Headless-darwin--1920x1417.png
  e2e/wdio/baselineScreenshot/core/breadcrumb/desktop_chrome/breadcrumb-example-1-core-Chrome_Headless-darwin--1920x1417.png
  e2e/wdio/baselineScreenshot/core/breadcrumb/desktop_chrome/breadcrumb-example-2-core-Chrome_Headless-darwin--1920x1417.png
Labels: ATL, bug, core, documentation, ready for qa

#5412 test: (e2e) fix e2e tests for pagination component
  e2e/wdio/core/tests/pagination.e2e-spec.ts
Labels: e2e

#5421 fix: (Core|Platform) remove deps from packages nx builder improvement
  angular.json
Labels: bug, core, dependencies, platform

#5404 docs: (Platform) Table loading state example
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-loading-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-loading-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table.module.ts
Labels: QA Approved

#5107 feat: (Platform) Multi-Combobox component
  apps/docs/src/app/documentation/utilities/consts/mobile-mode-configuration-tokens.ts
  apps/docs/src/app/platform/api-files.ts
  apps/docs/src/app/platform/component-docs/platform-multi-combobox/examples/multi-combobox-columns/multi-combobox-columns-example.component.html
  apps/docs/src/app/platform/component-docs/platform-multi-combobox/examples/multi-combobox-columns/multi-combobox-columns-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-multi-combobox/examples/multi-combobox-datasource/multi-combobox-datasource-example.component.html
  apps/docs/src/app/platform/component-docs/platform-multi-combobox/examples/multi-combobox-datasource/multi-combobox-datasource-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-multi-combobox/examples/multi-combobox-forms/multi-combobox-forms-example.component.html
  apps/docs/src/app/platform/component-docs/platform-multi-combobox/examples/multi-combobox-forms/multi-combobox-forms-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-multi-combobox/examples/multi-combobox-group/multi-combobox-group-example.component.html
  apps/docs/src/app/platform/component-docs/platform-multi-combobox/examples/multi-combobox-group/multi-combobox-group-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-multi-combobox/examples/multi-combobox-mobile/multi-combobox-mobile-example.component.html
  apps/docs/src/app/platform/component-docs/platform-multi-combobox/examples/multi-combobox-mobile/multi-combobox-mobile-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-multi-combobox/platform-multi-combobox-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-multi-combobox/platform-multi-combobox-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-multi-combobox/platform-multi-combobox-docs.module.ts
  apps/docs/src/app/platform/component-docs/platform-multi-combobox/platform-multi-combobox-header/platform-multi-combobox-header.component.html
  apps/docs/src/app/platform/component-docs/platform-multi-combobox/platform-multi-combobox-header/platform-multi-combobox-header.component.ts
  apps/docs/src/app/platform/documentation/platform-documentation.component.ts
  apps/docs/src/app/platform/platform-documentation.routes.ts
  libs/core/src/lib/utils/base-class/mobile-mode.class.ts
  libs/platform/src/lib/components/form/combobox/public_api.ts
  libs/platform/src/lib/components/form/multi-combobox/commons/base-multi-combobox.ts
  libs/platform/src/lib/components/form/multi-combobox/index.ts
  libs/platform/src/lib/components/form/multi-combobox/multi-combobox-mobile/multi-combobox-mobile.module.ts
  libs/platform/src/lib/components/form/multi-combobox/multi-combobox-mobile/multi-combobox/multi-combobox-mobile.component.html
  libs/platform/src/lib/components/form/multi-combobox/multi-combobox-mobile/multi-combobox/multi-combobox-mobile.component.spec.ts
  libs/platform/src/lib/components/form/multi-combobox/multi-combobox-mobile/multi-combobox/multi-combobox-mobile.component.ts
  libs/platform/src/lib/components/form/multi-combobox/multi-combobox.config.ts
  libs/platform/src/lib/components/form/multi-combobox/multi-combobox.interface.ts
  libs/platform/src/lib/components/form/multi-combobox/multi-combobox.module.ts
  libs/platform/src/lib/components/form/multi-combobox/multi-combobox/multi-combobox.component.html
  libs/platform/src/lib/components/form/multi-combobox/multi-combobox/multi-combobox.component.scss
  libs/platform/src/lib/components/form/multi-combobox/multi-combobox/multi-combobox.component.spec.ts
  libs/platform/src/lib/components/form/multi-combobox/multi-combobox/multi-combobox.component.ts
  libs/platform/src/lib/components/form/multi-combobox/pipes/highlight.pipe.spec.ts
  libs/platform/src/lib/components/form/multi-combobox/pipes/highlight.pipe.ts
  libs/platform/src/lib/components/form/multi-combobox/public_api.ts
  libs/platform/src/lib/components/form/public_api.ts
  libs/platform/src/lib/domain/array-data-source.ts
  libs/platform/src/lib/domain/data-model.ts
  libs/platform/src/lib/domain/data-source.ts
  libs/platform/src/lib/domain/observable-data-source.ts
Labels: QA Approved, platform

#5432 fix: (Store) handle entity DTO in the store correctly during save/update
  apps/store-app/src/app/entities/company.entity.ts
  apps/store-app/src/app/entities/line-item.entity.ts
  apps/store-app/src/app/entities/line-items.value-object.ts
  apps/store-app/src/app/entities/money.value-object.ts
  apps/store-app/src/app/entities/requisition.entity.ts
  apps/store-app/src/app/entities/user.entity.ts
  libs/store/src/lib/domain/base-value.ts
  libs/store/src/lib/domain/chaining-policy.ts
  libs/store/src/lib/domain/composite.ts
  libs/store/src/lib/domain/entity.ts
  libs/store/src/lib/domain/public_api.ts
  libs/store/src/lib/domain/utility.ts
  libs/store/src/lib/infrastructure/persistence/domain/base-classes/base-entity.ts
  libs/store/src/lib/infrastructure/persistence/domain/base-classes/index.ts
  libs/store/src/lib/infrastructure/persistence/domain/state-handler.spec.ts
  libs/store/src/lib/infrastructure/persistence/domain/state-handler.ts
  libs/store/src/lib/infrastructure/persistence/query/query-builder.spec.ts
  libs/store/src/lib/infrastructure/persistence/query/query-builder.ts
  libs/store/src/lib/infrastructure/persistence/query/query.service.ts
  libs/store/src/lib/infrastructure/persistence/query/query.spec.ts
  libs/store/src/lib/infrastructure/persistence/query/query.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-collection-service-base.spec.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-collection-service-base.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-collection-service-factory.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-collection-service.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-collections-service-base.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-collections-service.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-server/cache-storage.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-server/entity-cache-server.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-server/entity-local-storage-server.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-server/entity-rest-server.spec.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-server/entity-rest-server.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-server/interfaces.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-store-builder.spec.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-store-builder.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-store.spec.ts
  libs/store/src/lib/infrastructure/persistence/store/entity-store.ts
  libs/store/tsconfig.lib.json
Labels: state management

#5394 docs: (Core) correct card example with bottom header
  apps/docs/src/app/core/component-docs/card/card-docs.component.ts
  apps/docs/src/app/core/component-docs/card/examples/card-example.component.html
  apps/docs/src/app/core/component-docs/card/examples/card-example.component.scss
  apps/docs/src/app/core/component-docs/card/examples/card-example.component.ts
Labels: core

#5423 chore: (deps-dev) lint on commitmsg
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .travis.yml
  commitlint.config.js
  package-lock.json
  package.json
  parser-preset.js
Labels: ready for qa

#5392 fix: (Core) Kpi value status input added. removed Card css classes from Ngx.
  apps/docs/src/app/core/component-docs/card/examples/card-kpi-example.component.html
  apps/docs/src/app/core/component-docs/card/examples/card-kpi-example.component.scss
  apps/docs/src/app/core/component-docs/fixed-card-layout/examples/default/fixed-card-layout-examples.component.html
  apps/docs/src/app/core/component-docs/fixed-card-layout/examples/disabled-drag-drop/fixed-card-layout-disabled-drag.component.html
  apps/docs/src/app/core/component-docs/fixed-card-layout/examples/mobile/fixed-card-layout-mobile-examples.component.html
  e2e/wdio/baselineScreenshot/core/fixed-card-layout/desktop_chrome/fixed-card-layout-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/fixed-card-layout/desktop_chrome/fixed-card-layout-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/fixed-card-layout/desktop_chrome/fixed-card-layout-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/fixed-card-layout/desktop_chrome/fixed-card-layout-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/fixed-card-layout/desktop_firefox/fixed-card-layout-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/fixed-card-layout/desktop_firefox/fixed-card-layout-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/fixed-card-layout/desktop_firefox/fixed-card-layout-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/fixed-card-layout/desktop_firefox/fixed-card-layout-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/fixed-card-layout/desktop_microsoftedge/fixed-card-layout-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/fixed-card-layout/desktop_microsoftedge/fixed-card-layout-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/fixed-card-layout/desktop_microsoftedge/fixed-card-layout-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/fixed-card-layout/desktop_microsoftedge/fixed-card-layout-example-1-core-msedge-windows--1920x1080.png
  libs/core/src/lib/card/card.component.scss
  libs/core/src/lib/card/kpi/card-kpi-value.directive.ts
Labels: QA Approved, core

#5302 feat: (Platform) approval flow phase 3
  apps/docs/src/app/core/component-docs/illustrated-message/examples/illustrated-message-spot-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-approval-flow/platform-approval-flow-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-approval-flow/platform-approval-flow-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-approval-flow/platform-approval-flow-examples/approval-flow-example-data-source.class.ts
  apps/docs/src/app/platform/component-docs/platform-approval-flow/platform-approval-flow-examples/platform-approval-flow-example.component.html
  apps/docs/src/app/platform/component-docs/platform-approval-flow/platform-approval-flow-examples/platform-approval-flow-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-approval-flow/platform-approval-flow-header/platform-approval-flow-header.component.html
  apps/docs/src/assets/images/sapIllus-Spot-NoData.svg
  e2e/wdio/baselineScreenshot/platform/approval-flow/desktop_chrome/action-bar-example-0-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/approval-flow/desktop_chrome/action-bar-example-0-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/approval-flow/desktop_chrome/approval-flow-example-0-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/approval-flow/desktop_chrome/approval-flow-example-0-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/approval-flow/desktop_chrome/remove-node-state-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/approval-flow/desktop_chrome/remove-node-state-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/approval-flow/desktop_firefox/action-bar-example-0-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/approval-flow/desktop_firefox/action-bar-example-0-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/approval-flow/desktop_firefox/approval-flow-example-0-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/approval-flow/desktop_firefox/approval-flow-example-0-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/approval-flow/desktop_firefox/remove-node-state-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/approval-flow/desktop_firefox/remove-node-state-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/approval-flow/desktop_microsoftedge/action-bar-example-0-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/approval-flow/desktop_microsoftedge/action-bar-example-0-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/approval-flow/desktop_microsoftedge/approval-flow-example-0-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/approval-flow/desktop_microsoftedge/approval-flow-example-0-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/approval-flow/desktop_microsoftedge/remove-node-state-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/approval-flow/desktop_microsoftedge/remove-node-state-windows--1920x1080.png
  e2e/wdio/platform/pages/approval-flow.po.ts
  e2e/wdio/platform/tests/approval-flow.e2e-spec.ts
  libs/core/src/lib/multi-input/multi-input.component.ts
  libs/core/src/lib/toolbar/toolbar.component.html
  libs/core/src/lib/toolbar/toolbar.component.scss
  libs/platform/src/lib/components/approval-flow/approval-flow-add-node/approval-flow-add-node.component.html
  libs/platform/src/lib/components/approval-flow/approval-flow-add-node/approval-flow-add-node.component.spec.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-add-node/approval-flow-add-node.component.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-approver-details/approval-flow-approver-details.component.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-node/approval-flow-drop-zone.directive.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-node/approval-flow-node.component.html
  libs/platform/src/lib/components/approval-flow/approval-flow-node/approval-flow-node.component.scss
  libs/platform/src/lib/components/approval-flow/approval-flow-node/approval-flow-node.component.spec.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-node/approval-flow-node.component.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-select-type/approval-flow-select-type.component.html
  libs/platform/src/lib/components/approval-flow/approval-flow-select-type/approval-flow-select-type.component.scss
  libs/platform/src/lib/components/approval-flow/approval-flow-select-type/approval-flow-select-type.component.spec.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-select-type/approval-flow-select-type.component.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-team-list/approval-flow-team-list.component.spec.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-user-details/approval-flow-user-details.component.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-user-list/approval-flow-user-list.component.spec.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-user-list/approval-flow-user-list.component.ts
  libs/platform/src/lib/components/approval-flow/approval-flow.component.html
  libs/platform/src/lib/components/approval-flow/approval-flow.component.scss
  libs/platform/src/lib/components/approval-flow/approval-flow.component.spec.ts
  libs/platform/src/lib/components/approval-flow/approval-flow.component.ts
  libs/platform/src/lib/components/approval-flow/approval-flow.module.ts
  libs/platform/src/lib/components/approval-flow/helpers/index.ts
  libs/platform/src/lib/components/approval-flow/interfaces/approval-node.ts
  libs/platform/src/lib/components/approval-flow/services/approval-flow-add-node-view.service.ts
  libs/platform/src/lib/components/approval-flow/styles/approval-flow-dialog.scss
  libs/platform/src/lib/components/list/standard-list-item/standard-list-item.component.ts
Labels: QA Approved, platform

#5463 fix: (Core|Platform) core dialog body min height (ie11 fix)
  libs/core/src/lib/dialog/base/dialog-config-base.class.ts
  libs/core/src/lib/dialog/dialog-body/dialog-body.component.ts
  libs/platform/src/lib/components/table/components/table-p13-dialog/table-p13-dialog.component.ts
  libs/platform/src/lib/components/table/components/table-view-settings-dialog/table-view-settings-dialog.component.ts
Labels: IE11, QA Approved, bug, core, platform

#5206 fix: (Platform) combobox group header not readable for accessibility
  libs/platform/src/lib/components/form/combobox/combobox/combobox.component.html
Labels: QA Approved, accessibility, platform

#5437 fix: (Core) remove wizard padding logic from dialog body component
  libs/core/src/lib/dialog/dialog-body/dialog-body.component.ts
  libs/core/src/lib/wizard/wizard.component.ts
Labels: bug

#5456 fix: (Core) allow for conditionally adding steps to a wizard via *ngIf
  libs/core/src/lib/wizard/wizard-step/wizard-step.component.html
  libs/core/src/lib/wizard/wizard-step/wizard-step.component.ts
  libs/core/src/lib/wizard/wizard.component.ts
Labels: bug

#5452 chore: (deps-dev) update commitlint rules
  commitlint.config.js
Labels: tooling

#5354 test: (e2e) add e2e tests for File Uploader component
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_chrome/file-uploader-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_chrome/file-uploader-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_chrome/file-uploader-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_chrome/file-uploader-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_chrome/file-uploader-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_chrome/file-uploader-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_chrome/file-uploader-example-3-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_chrome/file-uploader-example-3-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_chrome/file-uploader-example-4-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_chrome/file-uploader-example-4-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_chrome/file-uploader-example-5-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_chrome/file-uploader-example-5-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_firefox/file-uploader-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_firefox/file-uploader-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_firefox/file-uploader-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_firefox/file-uploader-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_firefox/file-uploader-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_firefox/file-uploader-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_firefox/file-uploader-example-3-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_firefox/file-uploader-example-3-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_firefox/file-uploader-example-4-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_firefox/file-uploader-example-4-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_firefox/file-uploader-example-5-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_firefox/file-uploader-example-5-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_microsoftedge/file-uploader-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_microsoftedge/file-uploader-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_microsoftedge/file-uploader-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_microsoftedge/file-uploader-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_microsoftedge/file-uploader-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_microsoftedge/file-uploader-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_microsoftedge/file-uploader-example-3-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_microsoftedge/file-uploader-example-3-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_microsoftedge/file-uploader-example-4-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_microsoftedge/file-uploader-example-4-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_microsoftedge/file-uploader-example-5-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/file-uploader/desktop_microsoftedge/file-uploader-example-5-core-msedge-windows--1920x1080.png
  e2e/wdio/core/fixtures/appData/file-uploader-contents.ts
  e2e/wdio/core/fixtures/testData/2007020400070203.jpg
  e2e/wdio/core/pages/file-uploader.po.ts
  e2e/wdio/core/tests/file-uploader.e2e-spec.ts
Labels: e2e

#5466 fix: (Platform) fix rtl mode for combobox secondary column
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-columns/combobox-columns-example.component.html
  libs/platform/src/lib/components/form/combobox/commons/base-combobox.ts
Labels: QA Approved, platform

#5459 docs: (Core) add ariaLabelledby to the dialog header for screen reader
  apps/docs/src/app/core/component-docs/dialog/examples/component-based/component-based-dialog-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/component-based/dialog-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-backdrop-container/dialog-backdrop-container-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-backdrop-container/dialog-backdrop-container-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-complex/dialog-complex-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-complex/dialog-complex-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-configuration/dialog-configuration-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-configuration/dialog-configuration-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-mobile/dialog-mobile-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-mobile/dialog-mobile-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-position/dialog-position-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-position/dialog-position-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-state/dialog-state-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-state/dialog-state-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/stacked-dialogs/dialog-stacked-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/stacked-dialogs/first-dialog-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/stacked-dialogs/second-dialog-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/template-based/template-based-dialog-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/template-based/template-based-dialog-example.component.ts
Labels: ATL, bug, ready for qa

#5464 docs: (Core) add ariaLabelledby to the dialog header for popover component
  apps/docs/src/app/core/component-docs/popover/examples/popover-dialog/popover-dialog-example.component.html
  apps/docs/src/app/core/component-docs/popover/examples/popover-dialog/popover-dialog-example.component.ts
Labels: ATL, bug, ready for qa

#5462 docs: (Core) fix overlapping of icon labels in Icon component documentation
  apps/docs/src/app/core/component-docs/icon/examples/icon-businessSuiteInAppSymbols-example.component.html
  apps/docs/src/app/core/component-docs/icon/examples/icon-example.component.html
  apps/docs/src/app/core/component-docs/icon/examples/icon-example.component.scss
  apps/docs/src/app/core/component-docs/icon/examples/icon-tnt-example.component.html
Labels: QA Approved, ready for qa

#5460 fix: (Core) fix not readable pagination label for accessibility
  libs/core/src/lib/pagination/pagination.component.html
  libs/core/src/lib/pagination/pagination.component.ts
Labels: QA Approved, accessibility, core

#5485 docs: (doc-app) playground layout fixes, improvements
  apps/docs/src/app/documentation/core-helpers/playground/playground.component.html
  apps/docs/src/app/documentation/core-helpers/playground/playground.components.scss
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-docs.component.html
  apps/docs/src/styles.scss
  e2e/wdio/core/pages/pagination.po.ts
Labels: QA Approved, bug, documentation

#5484 fix: (Platform) Open Menu on click for Internet explorer
  apps/docs/src/app/platform/component-docs/platform-menu-button/platform-menu-button-examples/platform-menu-button-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-x-position-example.component.html
  e2e/wdio/platform/tests/menu-button.e2e-spec.ts
  libs/platform/src/lib/components/menu/menu-trigger.directive.ts
Labels: QA Approved, platform

#5490 docs: (Core) screenreader helper added for overflow button
  apps/docs/src/app/core/component-docs/notification/examples/notification-options/notification-options-example.component.html
Labels: QA Approved

#5489 chore: (Core|Platform) Select Information details for docs are updated for properties
  libs/core/src/lib/select/select.component.ts
  libs/platform/src/lib/components/form/select/commons/base-select.ts
  libs/platform/src/lib/components/form/select/select/select.component.ts
Labels: QA Approved

#5481 fix: (Core) tooltip and screenreader added for Popover
  apps/docs/src/app/core/component-docs/popover/examples/popover-programmatic/popover-programmatic-open-example.component.html
  apps/docs/src/app/core/component-docs/popover/examples/popover-simple/popover-example.component.html
  libs/core/src/lib/icon/icon.component.ts
  libs/core/src/lib/popover/popover.component.ts
Labels: bug

#5510 fix: (Core) fix pickers input groupt focus state
  libs/core/src/lib/input-group/input-group.component.ts
Labels: QA Approved, core, platform

#5512 fix: (Core) fix calendar aria-label wrong date for year range
  libs/core/src/lib/calendar/calendar-views/calendar-aggregated-year-view/calendar-aggregated-year-view.component.ts
Labels: QA Approved, accessibility, core

#5491 fix: (Core) fix pickers input groupt addon active state
  libs/core/src/lib/date-picker/date-picker.component.html
  libs/core/src/lib/datetime-picker/datetime-picker.component.html
  libs/core/src/lib/time-picker/time-picker.component.html
Labels: QA Approved, core, platform

#5414 chore: update changelog, contribution guide, commitlint
  CONTRIBUTING.md
  ci-scripts/hotfix-publish.sh
  ci-scripts/publish.sh
  commitlint.config.js
  package-lock.json
  package.json
  parser-preset.js
Labels: documentation, tooling

#5257 fix: (Platform) playground disable option functions incorrectly
  libs/platform/src/lib/components/form/base.input.ts
Labels: QA Approved, platform

#5530 chore: update commitlint header-max-length role
  commitlint.config.js
Labels: tooling

#5509 docs: (Core) card component documentation fixes and missing examples created
  apps/docs/src/app/core/component-docs/card/card-docs.module.ts
  apps/docs/src/app/core/component-docs/card/examples/card-table-example.component.html
  apps/docs/src/app/core/component-docs/card/examples/link-list-card/card-link-list-example.component.html
  apps/docs/src/app/core/component-docs/card/examples/list-card/card-list-example.component.html
  apps/docs/src/app/core/component-docs/card/examples/list-card/card-list-example.component.ts
  apps/docs/src/app/core/component-docs/fixed-card-layout/examples/default/fixed-card-layout-examples.component.html
  apps/docs/src/app/core/component-docs/fixed-card-layout/examples/disabled-drag-drop/fixed-card-layout-disabled-drag.component.html
  apps/docs/src/app/core/component-docs/fixed-card-layout/examples/mobile/fixed-card-layout-mobile-examples.component.html
  e2e/wdio/core/fixtures/appData/card-content.ts
Labels: QA Approved, core

#5521 fix: (Platform) playground disable option functions incorrectly
  libs/platform/src/lib/components/form/base.input.ts
Labels: QA Approved, platform

#5508 fix(core): checkbox parent element focus fix
  libs/core/src/lib/checkbox/checkbox/checkbox.component.html
  libs/core/src/lib/checkbox/checkbox/checkbox.component.ts
Labels: QA Approved, core

#5531 chore: fix prerelease
  package.json
Labels: tooling

#5522 docs: (Platform) fix incorrect Object Marker example title
  apps/docs/src/app/platform/component-docs/platform-object-marker/platform-object-marker-docs.component.html
Labels: QA Approved, platform
