Repository SAP/fundamental-ngx, pull requests merged in 2021-08, with the labels that each got.

#5673 fix(platform): fix search component keyboard accessibility and screen reader issues
  e2e/wdio/platform/pages/search.po.ts
  libs/platform/src/lib/components/search-field/search-field.component.html
  libs/platform/src/lib/components/search-field/search-field.component.spec.ts
  libs/platform/src/lib/components/search-field/search-field.component.ts
  libs/platform/src/lib/components/search-field/search-field.module.ts
Labels: QA Approved, accessibility, platform, ready for merge

#6009 fix(core): remove css from fixed-card-layout component, use correct class names
  e2e/wdio/core/pages/fixed-card-layout.po.ts
  e2e/wdio/core/tests/fixed-card-layout.e2e-spec.ts
  libs/core/src/lib/fixed-card-layout/fixed-card-layout.component.html
  libs/core/src/lib/fixed-card-layout/fixed-card-layout.component.scss
  libs/core/src/lib/fixed-card-layout/fixed-card-layout.component.ts
  libs/core/src/lib/utils/drag-and-drop/drag-and-drop.scss
Labels: QA Approved, core, css clean up, ready for merge

#6010 fix(core,platform): remove css from list component, use correct class names
  apps/docs/src/app/platform/component-docs/platform-list/platform-list-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-list/platform-list-examples/platform-list-with-no-seperator-example.component.html
  e2e/wdio/platform/fixtures/appData/list-contents.ts
  e2e/wdio/platform/tests/list.e2e-spec.ts
  libs/core/src/lib/list/list.component.scss
  libs/platform/src/lib/components/list/base-list-item.ts
  libs/platform/src/lib/components/list/list.component.html
  libs/platform/src/lib/components/list/list.component.scss
  libs/platform/src/lib/components/list/list.component.ts
  libs/platform/src/lib/components/list/standard-list-item/standard-list-item.component.html
  libs/platform/src/lib/components/list/standard-list-item/standard-list-item.component.scss
Labels: QA Approved, core, css clean up, platform, ready for merge

#6114 fix(core): dialog inner focus trap
  apps/docs/src/app/core/component-docs/dialog/dialog-docs.component.html
  apps/docs/src/app/core/component-docs/dialog/dialog-docs.component.ts
  apps/docs/src/app/core/component-docs/dialog/dialog-docs.module.ts
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-inner-popover/dialog-inner-popover.component.ts
  libs/core/src/lib/dialog/base/dialog-base.class.ts
  libs/core/src/lib/dialog/dialog.component.ts
  libs/core/src/lib/message-box/message-box.component.ts
  libs/core/src/lib/multi-input/multi-input.component.ts
  libs/core/src/lib/popover/popover-body/popover-body.component.html
  libs/core/src/lib/popover/popover-body/popover-body.component.spec.ts
  libs/core/src/lib/popover/popover-body/popover-body.component.ts
  libs/core/src/lib/utils/public_api.ts
  libs/core/src/lib/utils/services/focus-trap.service.ts
  libs/core/src/lib/utils/utils.module.ts
Labels: bug, stale

#6060 test(e2e): add e2e tests for object identifier
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_chrome/object-identifier-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_chrome/object-identifier-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_chrome/object-identifier-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_chrome/object-identifier-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_chrome/object-identifier-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_chrome/object-identifier-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_chrome/object-identifier-example-3-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_chrome/object-identifier-example-3-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_chrome/object-identifier-example-4-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_chrome/object-identifier-example-4-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_firefox/object-identifier-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_firefox/object-identifier-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_firefox/object-identifier-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_firefox/object-identifier-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_firefox/object-identifier-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_firefox/object-identifier-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_firefox/object-identifier-example-3-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_firefox/object-identifier-example-3-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_firefox/object-identifier-example-4-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_firefox/object-identifier-example-4-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_microsoftedge/object-identifier-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_microsoftedge/object-identifier-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_microsoftedge/object-identifier-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_microsoftedge/object-identifier-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_microsoftedge/object-identifier-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_microsoftedge/object-identifier-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_microsoftedge/object-identifier-example-3-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_microsoftedge/object-identifier-example-3-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_microsoftedge/object-identifier-example-4-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/object-identifier/desktop_microsoftedge/object-identifier-example-4-core-msedge-windows--1920x1080.png
  e2e/wdio/core/pages/object-identifier.po.ts
  e2e/wdio/core/tests/object-identifier.e2e-spec.ts
Labels: e2e, ready for merge

#6128 fix(core): stackblitz menuMobileExampleComponent
  apps/docs/src/app/core/component-docs/menu/menu-docs.component.ts
  libs/core/src/lib/fundamental-ngx.module.ts
Labels: QA Approved, bug, ready for merge, stale

#6191 fix(platform): remove unused title from examples
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/examples/wizard-generator-default-example.component.html
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/examples/wizard-generator-default-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/examples/wizard-generator-responsive-paddings-example.component.html
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/examples/wizard-generator-responsive-paddings-example.component.ts
  libs/platform/src/lib/components/wizard-generator/base-wizard-generator.ts
Labels: bug, documentation

#6197 test(e2e): update time and action-bar tests
  e2e/wdio/baselineScreenshot/core/time/desktop_firefox/time-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_firefox/time-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_firefox/time-example-4-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_firefox/time-example-5-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_firefox/time-example-6-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_firefox/time-example-7-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_firefox/time-example-8-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/time/desktop_firefox/time-example-9-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/action-bar/desktop_chrome/action-bar-example-2-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/action-bar/desktop_chrome/action-bar-example-3-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/action-bar/desktop_chrome/action-bar-example-5-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/action-bar/desktop_firefox/action-bar-example-2-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/action-bar/desktop_firefox/action-bar-example-3-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/action-bar/desktop_firefox/action-bar-example-5-platform-firefox-windows--1936x1096.png
  e2e/wdio/core/tests/time.e2e-spec.ts
Labels: e2e

#6218 docs(core): add correct state to the message strip message in Notification documentation
  apps/docs/src/app/core/component-docs/notification/examples/component-as-content/notification-content.component.ts
Labels: core, documentation

#6231 fix(platform): correct order for summary items
  libs/platform/src/lib/components/wizard-generator/components/wizard-summary-step/wizard-summary-section/wizard-summary-section.component.ts
Labels: bug

#6039 feat(platform): introduce feature to change column and inline value based on form container layout
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-container/platform-form-container-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-container/platform-form-container-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-container/platform-form-container-docs.module.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-container/platform-form-container-examples/platform-field-layout/platform-field-column-change-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-container/platform-form-container-examples/platform-field-layout/platform-field-column-change-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-container/platform-form-container-examples/platform-field-layout/platform-field-isinline-change-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-container/platform-form-container-examples/platform-field-layout/platform-field-isinline-change-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-container/platform-form-container-header/platform-form-container-header.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-docs.module.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-examples/platform-form-generator-field-layout-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-examples/platform-form-generator-field-layout-example.component.ts
  libs/platform/src/lib/components/form/checkbox-group/checkbox-group.component.ts
  libs/platform/src/lib/components/form/collection-base.input.ts
  libs/platform/src/lib/components/form/form-generator/dynamic-form-generator-checkbox/dynamic-form-generator-checkbox.component.html
  libs/platform/src/lib/components/form/form-generator/dynamic-form-generator-radio/dynamic-form-generator-radio.component.html
  libs/platform/src/lib/components/form/form-generator/form-generator/form-generator.component.html
  libs/platform/src/lib/components/form/form-generator/interfaces/dynamic-form-item.ts
  libs/platform/src/lib/components/form/form-group/form-field/form-field.component.ts
  libs/platform/src/lib/components/form/form-group/form-group.component.ts
  libs/platform/src/lib/components/form/form-options.ts
  libs/platform/src/lib/components/form/inline-layout-collection-base.input.ts
  libs/platform/src/lib/components/form/public_api.ts
  libs/platform/src/lib/components/form/radio-group/radio-group.component.ts
Labels: QA Approved, platform, ready for merge

#6194 fix(core): remove style from ngx to reuse the style from fundamental-style lib for file uploader component
  libs/core/src/lib/file-uploader/file-uploader.component.html
  libs/core/src/lib/file-uploader/file-uploader.component.scss
Labels: QA Approved, core, css clean up, ready for merge

#6200 docs(core): update radio button and rating indicator examples (add limitation and correct name)
  apps/docs/src/app/core/component-docs/radio/examples/radio-example.component.html
  apps/docs/src/app/core/component-docs/rating-indicator/examples/ri-dynamic-example.component.html
Labels: QA Approved, ready for merge

#6242 fix(core): delete focus function
  libs/core/src/lib/select/select.component.ts
Labels: QA Approved, ready for merge

#6241 fix(core): add listener to submenu item changes
  libs/core/src/lib/menu/menu.component.ts
Labels: bug, core

#6230 test(e2e): fix failed tests for prod mode(core/platform)
  e2e/wdio/baselineScreenshot/core/toolbar/desktop_chrome/toolbar-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/toolbar/desktop_chrome/toolbar-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/toolbar/desktop_chrome/toolbar-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/toolbar/desktop_chrome/toolbar-example-3-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/toolbar/desktop_chrome/toolbar-example-4-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/toolbar/desktop_firefox/toolbar-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/toolbar/desktop_firefox/toolbar-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/toolbar/desktop_firefox/toolbar-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/toolbar/desktop_microsoftedge/toolbar-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/toolbar/desktop_microsoftedge/toolbar-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/toolbar/desktop_microsoftedge/toolbar-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/core/fixtures/appData/card-content.ts
  e2e/wdio/core/pages/button.po.ts
  e2e/wdio/core/pages/card.po.ts
  e2e/wdio/core/pages/radio-button.po.ts
  e2e/wdio/core/pages/toolbar.po.ts
  e2e/wdio/core/tests/button.e2e-spec.ts
  e2e/wdio/core/tests/card.e2e-spec.ts
  e2e/wdio/core/tests/carousel.e2e-spec.ts
  e2e/wdio/core/tests/feed-input.e2e-spec.ts
  e2e/wdio/core/tests/info-label.e2e-spec.ts
  e2e/wdio/core/tests/object-number.e2e-spec.ts
  e2e/wdio/core/tests/object-status.e2e-spec.ts
  e2e/wdio/core/tests/radio-button.e2e-spec.ts
  e2e/wdio/core/tests/slider.e2e-spec.ts
  e2e/wdio/core/tests/toolbar.e2e-spec.ts
Labels: e2e

#6061 fix(core): extended example, label for the busy indicator
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/busy-indicator/busy-indicator-docs.component.html
  apps/docs/src/app/core/component-docs/busy-indicator/busy-indicator-docs.component.ts
  apps/docs/src/app/core/component-docs/busy-indicator/examples/busy-indicator-basic-example.component.html
  apps/docs/src/app/core/component-docs/busy-indicator/examples/busy-indicator-extended-example.component.html
  apps/docs/src/app/core/component-docs/busy-indicator/examples/busy-indicator-extended-example.component.ts
  apps/docs/src/app/core/component-docs/busy-indicator/examples/busy-indicator-label-example.component.html
  apps/docs/src/app/core/component-docs/busy-indicator/examples/busy-indicator-label-example.component.ts
  apps/docs/src/app/core/component-docs/busy-indicator/examples/busy-indicator-size-example.component.html
  apps/docs/src/app/core/component-docs/busy-indicator/examples/busy-indicator-wrapper-example.component.html
  apps/docs/src/app/core/component-docs/busy-indicator/examples/index.ts
  libs/core/src/lib/busy-indicator/busy-indicator-extended/busy-indicator-extended.directive.spec.ts
  libs/core/src/lib/busy-indicator/busy-indicator-extended/busy-indicator-extended.directive.ts
  libs/core/src/lib/busy-indicator/busy-indicator.component.html
  libs/core/src/lib/busy-indicator/busy-indicator.component.scss
  libs/core/src/lib/busy-indicator/busy-indicator.component.ts
  libs/core/src/lib/busy-indicator/busy-indicator.module.ts
  libs/core/src/lib/busy-indicator/public_api.ts
Labels: bug, core, ready for merge, ariba, QA Approved, ATL, Requested Changes 3

#6199 test(e2e): add e2e tests for date-picker component
  e2e/wdio/core/fixtures/appData/date-picker-contents.ts
  e2e/wdio/core/fixtures/testData/date-picker-tags.ts
  e2e/wdio/core/pages/date-picker.po.ts
  e2e/wdio/core/tests/date-picker.e2e-spec.ts
Labels: ready for merge, e2e

#6262 test(e2e): update e2e tests per cron job report
  e2e/wdio/baselineScreenshot/core/toolbar/desktop_chrome/toolbar-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/toolbar/desktop_chrome/toolbar-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/toolbar/desktop_chrome/toolbar-example-3-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/toolbar/desktop_chrome/toolbar-example-3-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/toolbar/desktop_chrome/toolbar-example-4-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/toolbar/desktop_chrome/toolbar-example-4-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/toolbar/desktop_microsoftedge/toolbar-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/toolbar/desktop_microsoftedge/toolbar-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/toolbar/desktop_microsoftedge/toolbar-example-3-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/toolbar/desktop_microsoftedge/toolbar-example-3-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/toolbar/desktop_microsoftedge/toolbar-example-4-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/toolbar/desktop_microsoftedge/toolbar-example-4-core-msedge-windows--1920x1080.png
  e2e/wdio/core/fixtures/appData/card-content.ts
  e2e/wdio/core/tests/card.e2e-spec.ts
Labels: ready for merge, e2e

#6161 fix(core): do not preventDefault when activeElement is select control
  libs/core/src/lib/popover/popover.component.ts
Labels: bug, accessibility, stale

#6285 test(e2e): update datePicker e2e
  e2e/wdio/core/fixtures/testData/date-picker-tags.ts
Labels: ready for merge, e2e

#6050 chore(platform): approval flow refactoring
  apps/docs/src/app/core/component-docs/grid-list/grid-list-docs.component.html
  e2e/wdio/baselineScreenshot/platform/approval-flow/desktop_chrome/approval-flow-example-0-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/approval-flow/desktop_chrome/approval-flow-example-0-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/approval-flow/desktop_firefox/approval-flow-example-0-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/approval-flow/desktop_firefox/approval-flow-example-0-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/approval-flow/desktop_microsoftedge/approval-flow-example-0-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/approval-flow/desktop_microsoftedge/approval-flow-example-0-platform-msedge-windows--1920x1080.png
  e2e/wdio/platform/pages/approval-flow.po.ts
  e2e/wdio/platform/tests/approval-flow.e2e-spec.ts
  libs/core/src/lib/grid-list/components/grid-list-item/grid-list-item.component.html
  libs/core/src/lib/grid-list/components/grid-list-item/grid-list-item.component.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-add-node/approval-flow-add-node.component.html
  libs/platform/src/lib/components/approval-flow/approval-flow-add-node/approval-flow-add-node.component.scss
  libs/platform/src/lib/components/approval-flow/approval-flow-add-node/approval-flow-add-node.component.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-approver-details/approval-flow-approver-details.component.html
  libs/platform/src/lib/components/approval-flow/approval-flow-approver-details/approval-flow-approver-details.component.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-graph.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-messages/approval-flow-messages.component.html
  libs/platform/src/lib/components/approval-flow/approval-flow-messages/approval-flow-messages.component.scss
  libs/platform/src/lib/components/approval-flow/approval-flow-messages/approval-flow-messages.component.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-node/approval-flow-drop-zone.directive.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-node/approval-flow-node.component.html
  libs/platform/src/lib/components/approval-flow/approval-flow-node/approval-flow-node.component.scss
  libs/platform/src/lib/components/approval-flow/approval-flow-node/approval-flow-node.component.spec.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-node/approval-flow-node.component.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-select-type/approval-flow-select-type.component.html
  libs/platform/src/lib/components/approval-flow/approval-flow-select-type/approval-flow-select-type.component.scss
  libs/platform/src/lib/components/approval-flow/approval-flow-select-type/approval-flow-select-type.component.spec.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-select-type/approval-flow-select-type.component.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-team-list/approval-flow-team-list.component.html
  libs/platform/src/lib/components/approval-flow/approval-flow-team-list/approval-flow-team-list.component.scss
  libs/platform/src/lib/components/approval-flow/approval-flow-team-list/approval-flow-team-list.component.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-toolbar-actions/approval-flow-toolbar-actions.component.html
  libs/platform/src/lib/components/approval-flow/approval-flow-toolbar-actions/approval-flow-toolbar-actions.component.scss
  libs/platform/src/lib/components/approval-flow/approval-flow-toolbar-actions/approval-flow-toolbar-actions.component.spec.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-toolbar-actions/approval-flow-toolbar-actions.component.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-user-details/approval-flow-user-details.component.html
  libs/platform/src/lib/components/approval-flow/approval-flow-user-details/approval-flow-user-details.component.scss
  libs/platform/src/lib/components/approval-flow/approval-flow-user-details/approval-flow-user-details.component.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-user-list/approval-flow-user-list.component.html
  libs/platform/src/lib/components/approval-flow/approval-flow-user-list/approval-flow-user-list.component.scss
  libs/platform/src/lib/components/approval-flow/approval-flow-user-list/approval-flow-user-list.component.spec.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-user-list/approval-flow-user-list.component.ts
  libs/platform/src/lib/components/approval-flow/approval-flow.component.html
  libs/platform/src/lib/components/approval-flow/approval-flow.component.scss
  libs/platform/src/lib/components/approval-flow/approval-flow.component.spec.ts
  libs/platform/src/lib/components/approval-flow/approval-flow.component.ts
  libs/platform/src/lib/components/approval-flow/approval-flow.module.ts
  libs/platform/src/lib/components/approval-flow/helpers/index.ts
  libs/platform/src/lib/components/approval-flow/interfaces/approval-data-source.ts
  libs/platform/src/lib/components/approval-flow/interfaces/approval-node.ts
  libs/platform/src/lib/components/approval-flow/styles/approval-flow-dialog.scss
Labels: code refactoring, platform, QA Approved, approval flow

#6260 fix(core): added default unique id for multiinput
  libs/core/src/lib/multi-input/multi-input.component.ts
Labels: denoland

#6158 fix(docs): playground select a11y fixes, refactoring
  apps/docs/src/app/core/component-docs/input-group/input-group-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-docs.component.ts
  apps/docs/src/app/schema/containers/schema-group/schema-group.component.html
Labels: bug, documentation, accessibility, ariba, High, ready for qa, 0.31, stale

#5693 fix(core): add ariaLabelledby to the popover header for popover component and adding Tabindex to the list items
  apps/docs/src/app/core/component-docs/popover/examples/popover-complex-example/popover-complex-example.component.html
  apps/docs/src/app/core/component-docs/popover/examples/popover-dialog/popover-dialog-example.component.html
  apps/docs/src/app/core/component-docs/popover/examples/popover-dialog/popover-dialog-example.component.ts
  apps/docs/src/app/core/component-docs/popover/examples/popover-simple/popover-example.component.html
  apps/docs/src/app/core/component-docs/popover/popover-docs.module.ts
  e2e/wdio/core/fixtures/appData/popover-contents.ts
  libs/core/src/lib/list/directives/list-title.directive.ts
Labels: accessibility, core, ready for merge, QA Approved, Requested Changes 3

#6261 test(e2e): update platform e2e specs to run in prod mode
  e2e/wdio/platform/fixtures/appData/display-list-item-contents.ts
  e2e/wdio/platform/fixtures/appData/info-label-page-contents.ts
  e2e/wdio/platform/fixtures/appData/list-contents.ts
  e2e/wdio/platform/fixtures/appData/menu-button-contents.ts
  e2e/wdio/platform/fixtures/appData/menu-contents.ts
  e2e/wdio/platform/fixtures/appData/object-status-contents.ts
  e2e/wdio/platform/fixtures/appData/slider-content.ts
  e2e/wdio/platform/fixtures/appData/standard-list-item-contents.ts
  e2e/wdio/platform/fixtures/appData/value-help-dialog-contents.ts
  e2e/wdio/platform/fixtures/testData/date-picker.ts
  e2e/wdio/platform/fixtures/testData/date-time-picker.ts
  e2e/wdio/platform/fixtures/testData/radio-button-group.ts
  e2e/wdio/platform/fixtures/testData/time-picker.ts
  e2e/wdio/platform/pages/checkbox.po.ts
  e2e/wdio/platform/pages/combobox.po.ts
  e2e/wdio/platform/pages/date-picker.po.ts
  e2e/wdio/platform/pages/date-time-picker.po.ts
  e2e/wdio/platform/pages/info-label.po.ts
  e2e/wdio/platform/pages/input-group.po.ts
  e2e/wdio/platform/pages/input.po.ts
  e2e/wdio/platform/pages/list.po.ts
  e2e/wdio/platform/pages/menu-button.po.ts
  e2e/wdio/platform/pages/menu.po.ts
  e2e/wdio/platform/pages/multi-input.po.ts
  e2e/wdio/platform/pages/object-status.po.ts
  e2e/wdio/platform/pages/panel.po.ts
  e2e/wdio/platform/pages/slider.po.ts
  e2e/wdio/platform/pages/step-input.po.ts
  e2e/wdio/platform/pages/thumbnail.po.ts
  e2e/wdio/platform/pages/time-picker.po.ts
  e2e/wdio/platform/tests/action-list-item.e2e-spec.ts
  e2e/wdio/platform/tests/checkbox.e2e-spec.ts
  e2e/wdio/platform/tests/combobox.e2e-spec.ts
  e2e/wdio/platform/tests/date-picker.e2e-spec.ts
  e2e/wdio/platform/tests/date-time-picker.e2e-spec.ts
  e2e/wdio/platform/tests/display-list-item.e2e-spec.ts
  e2e/wdio/platform/tests/info-label.e2e-spec.ts
  e2e/wdio/platform/tests/input-group.e2e-spec.ts
  e2e/wdio/platform/tests/input.e2e-spec.ts
  e2e/wdio/platform/tests/list.e2e-spec.ts
  e2e/wdio/platform/tests/menu-button.e2e-spec.ts
  e2e/wdio/platform/tests/menu.e2e-spec.ts
  e2e/wdio/platform/tests/multi-input.e2e-spec.ts
  e2e/wdio/platform/tests/object-status.e2e-spec.ts
  e2e/wdio/platform/tests/panel.e2e-spec.ts
  e2e/wdio/platform/tests/radio-button-group.e2e-spec.ts
  e2e/wdio/platform/tests/slider.e2e-spec.ts
  e2e/wdio/platform/tests/standard-list-item.e2e-spec.ts
  e2e/wdio/platform/tests/step-input.e2e-spec.ts
  e2e/wdio/platform/tests/thumbnail.e2e-spec.ts
  e2e/wdio/platform/tests/time-picker.e2e-spec.ts
  e2e/wdio/platform/tests/value-help-dialog.e2e-spec.ts
Labels: e2e

#6303 fix(core): validate itemsPerPage in pagination
  libs/core/src/lib/pagination/pagination.component.spec.ts
  libs/core/src/lib/pagination/pagination.component.ts
  libs/core/src/lib/pagination/pagination.service.spec.ts
  libs/core/src/lib/pagination/pagination.service.ts
Labels: ready for merge, QA Approved

#6062 fix(platform): add attribute that reset padding to fdp-form-group component
  libs/platform/src/lib/components/form/form-group/form-group.component.html
  libs/platform/src/lib/components/form/form-group/form-group.component.ts
Labels: blocked

#6292 docs(core): fix placeholder not being read by JAWS for Feed Input
  apps/docs/src/app/core/component-docs/feed-input/examples/feed-input-disabled-example/feed-input-disabled-example.component.html
  apps/docs/src/app/core/component-docs/feed-input/examples/feed-input-example/feed-input-example.component.html
  apps/docs/src/app/core/component-docs/feed-input/examples/feed-input-grow-example/feed-input-grow-example.component.html
  apps/docs/src/app/core/component-docs/feed-input/examples/feed-input-no-avatar-example/feed-input-no-avatar-example.component.html
  apps/docs/src/app/core/component-docs/feed-input/examples/feed-input-placeholder-example/feed-input-placeholder-example.component.html
Labels: core, ready for merge, QA Approved, ATL

#6309 fix(docs): correct validation hint
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-examples/platform-form-generator-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-examples/platform-form-generator-field-layout-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-examples/platform-form-generator-observable-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-examples/platform-form-generator-programatic-submit.component.ts
Labels: bug, documentation

#6314 fix(docs): add missing required validators
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-examples/platform-form-generator-custom-error-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-examples/platform-form-generator-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-examples/platform-form-generator-field-layout-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-examples/platform-form-generator-observable-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-examples/platform-form-generator-programatic-submit.component.ts
Labels: documentation

#6315 fix(docs): correct input type for age field
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-examples/platform-form-generator-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-examples/platform-form-generator-field-layout-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-examples/platform-form-generator-observable-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-examples/platform-form-generator-programatic-submit.component.ts
Labels: documentation

#6320 fix(core): fix stackblitz message-page examples
  apps/docs/src/app/core/component-docs/message-page/message-page-docs.component.ts
  libs/core/src/lib/fundamental-ngx.module.ts
Labels: core, stackblitz

#6311 fix(platform): trigger detection when field state changes
  libs/platform/src/lib/components/form/base.input.ts
Labels: bug

#6333 fix(core): fix popover rtl mobile mode
  libs/core/src/lib/popover/popover.component.ts
Labels: core

#6331 docs(platform): improve Textarea documentation
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-textarea/platform-textarea-examples/platform-textarea-counter-example.component.html
Labels: documentation, platform

#6243 test(e2e): add e2e tests for button platform
  e2e/wdio/baselineScreenshot/platform/button/desktop_chrome/button-example-0-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/button/desktop_chrome/button-example-0-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/button/desktop_chrome/button-example-1-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/button/desktop_chrome/button-example-1-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/button/desktop_chrome/button-example-2-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/button/desktop_chrome/button-example-2-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/button/desktop_chrome/button-example-3-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/button/desktop_chrome/button-example-3-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/button/desktop_chrome/button-example-4-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/button/desktop_chrome/button-example-4-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/button/desktop_firefox/button-example-0-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/button/desktop_firefox/button-example-0-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/button/desktop_firefox/button-example-1-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/button/desktop_firefox/button-example-1-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/button/desktop_firefox/button-example-2-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/button/desktop_firefox/button-example-2-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/button/desktop_firefox/button-example-3-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/button/desktop_firefox/button-example-3-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/button/desktop_firefox/button-example-4-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/button/desktop_firefox/button-example-4-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/button/desktop_microsoftedge/button-example-0-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/button/desktop_microsoftedge/button-example-0-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/button/desktop_microsoftedge/button-example-1-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/button/desktop_microsoftedge/button-example-1-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/button/desktop_microsoftedge/button-example-2-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/button/desktop_microsoftedge/button-example-2-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/button/desktop_microsoftedge/button-example-3-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/button/desktop_microsoftedge/button-example-3-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/button/desktop_microsoftedge/button-example-4-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/button/desktop_microsoftedge/button-example-4-platform-msedge-windows--1920x1080.png
  e2e/wdio/platform/pages/button.po.ts
  e2e/wdio/platform/tests/button.e2e-spec.ts
  wdio-cron.conf.js
Labels: ready for merge, e2e

#6348 test(e2e): update checkbox platform e2e test according to cron job report
  e2e/wdio/platform/tests/checkbox.e2e-spec.ts
Labels: e2e

#6350 docs(core): remove popover CDK placement example background
  apps/docs/src/app/core/component-docs/popover/examples/popover-new-placement/popover-cdk-placement-example.component.html
Labels: documentation, core

#6259 fix(core,platform): fix a11y for Panel component
  apps/docs/src/app/core/component-docs/panel/examples/panel-compact-example.component.html
  apps/docs/src/app/core/component-docs/panel/examples/panel-expandable-example.component.html
  apps/docs/src/app/core/component-docs/panel/examples/panel-fixed-example.component.html
  apps/docs/src/app/core/component-docs/panel/examples/panel-fixed-height-example.component.html
  apps/docs/src/app/platform/component-docs/platform-panel/platform-panel-examples/platform-panel-expandable-example.component.html
  e2e/wdio/baselineScreenshot/platform/panel/desktop_chrome/panel-example-0-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_chrome/panel-example-0-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_chrome/panel-example-1-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_chrome/panel-example-1-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_chrome/panel-example-2-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_chrome/panel-example-2-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_chrome/panel-example-3-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_chrome/panel-example-3-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_chrome/panel-example-4-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_chrome/panel-example-4-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_chrome/panel-example-5-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_chrome/panel-example-5-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_firefox/panel-example-0-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_firefox/panel-example-0-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_firefox/panel-example-1-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_firefox/panel-example-1-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_firefox/panel-example-2-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_firefox/panel-example-2-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_firefox/panel-example-3-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_firefox/panel-example-3-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_firefox/panel-example-4-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_firefox/panel-example-4-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_firefox/panel-example-5-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_firefox/panel-example-5-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_microsoftedge/panel-example-0-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_microsoftedge/panel-example-0-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_microsoftedge/panel-example-1-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_microsoftedge/panel-example-1-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_microsoftedge/panel-example-2-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_microsoftedge/panel-example-2-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_microsoftedge/panel-example-3-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_microsoftedge/panel-example-3-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_microsoftedge/panel-example-4-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_microsoftedge/panel-example-4-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_microsoftedge/panel-example-5-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/panel/desktop_microsoftedge/panel-example-5-platform-msedge-windows--1920x1080.png
  libs/core/src/lib/panel/panel-content/panel-content.directive.ts
  libs/core/src/lib/panel/panel-title/panel-title.directive.ts
  libs/core/src/lib/panel/panel.component.html
  libs/core/src/lib/panel/panel.component.scss
  libs/platform/src/lib/components/button/button.component.html
  libs/platform/src/lib/components/button/button.component.ts
  libs/platform/src/lib/components/panel/panel-content/panel-content.component.ts
  libs/platform/src/lib/components/panel/panel.component.html
  libs/platform/src/lib/components/panel/panel.component.ts
Labels: platform, core, ready for merge, QA Approved, ATL

#6354 test(e2e): update tests according to cron report Aug 16
  e2e/wdio/core/pages/table.po.ts
  e2e/wdio/core/tests/table.e2e-spec.ts
  e2e/wdio/platform/tests/button.e2e-spec.ts
Labels: e2e

#6366 fix(platform): table imports fix
  libs/platform/src/lib/components/table/table.module.ts
Labels: bug, platform, table

#6335 fix(platform): wizard-generator, skip notification about save progress if nothing change
  libs/platform/src/lib/components/wizard-generator/components/dialog-wizard-generator/dialog-wizard-generator.component.ts
  libs/platform/src/lib/components/wizard-generator/wizard-generator.service.ts
Labels: platform, QA Approved

#6313 test(e2e): fix and unskip core tests for prod
  e2e/wdio/core/fixtures/appData/combobox-contents.ts
  e2e/wdio/core/fixtures/appData/date-time-picker-contents.ts
  e2e/wdio/core/pages/combobox.po.ts
  e2e/wdio/core/pages/date-time-picker.po.ts
  e2e/wdio/core/pages/pagination.po.ts
  e2e/wdio/core/pages/popover.po.ts
  e2e/wdio/core/tests/combobox.e2e-spec.ts
  e2e/wdio/core/tests/date-time-picker.e2e-spec.ts
  e2e/wdio/core/tests/pagination.e2e-spec.ts
  e2e/wdio/core/tests/popover.e2e-spec.ts
Labels: ready for merge, e2e

#6380 test(e2e): fix date-picker and date-time-picker tests
  e2e/wdio/core/fixtures/testData/date-picker-tags.ts
  e2e/wdio/core/pages/date-picker.po.ts
  e2e/wdio/core/tests/date-picker.e2e-spec.ts
  e2e/wdio/platform/pages/date-time-picker.po.ts
  e2e/wdio/platform/tests/date-time-picker.e2e-spec.ts
Labels: e2e

#6312 fix(core,platform): checkbox a11y issues fix
  apps/docs/src/app/core/component-docs/checkbox/examples/checkbox-default-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-examples/platform-checkbox-error-handling.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-examples/platform-multiselect-checkbox.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-examples/platform-tristate-checkbox.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-checkbox-group/platform-checkbox-group-examples/platform-checkbox-group-example.component.html
  libs/core/src/lib/form/form-label/form-label.component.html
  libs/platform/src/lib/components/form/base.input.ts
  libs/platform/src/lib/components/form/form-group/form-field/form-field.component.html
Labels: accessibility, platform, core, ready for merge, QA Approved

#5385 fix(core): select component reading the selected option and correct tab order to access the element in mobile mode
  apps/docs/src/app/platform/component-docs/platform-forms/platform-select/platform-select-examples/platform-select-custom-trigger/platform-select-custom-trigger.component.ts
  libs/core/src/lib/select/option/option.component.ts
  libs/core/src/lib/select/select-key-manager.service.ts
  libs/core/src/lib/select/select-mobile/select-mobile.component.html
  libs/core/src/lib/select/select-mobile/select-mobile.component.ts
  libs/core/src/lib/select/select.component.html
  libs/core/src/lib/select/select.component.spec.ts
  libs/core/src/lib/select/select.component.ts
  libs/core/src/lib/select/select.interface.ts
Labels: accessibility, core, ready for merge, QA Approved, Requested Changes 1, Requested Changes 2

#6349 fix(platform): add sameFilenameAllowed
  libs/platform/src/lib/components/upload-collection/models/upload-collection.models.ts
  libs/platform/src/lib/components/upload-collection/upload-collection/upload-collection.component.html
  libs/platform/src/lib/components/upload-collection/upload-collection/upload-collection.component.ts
Labels: platform, ready for merge, QA Approved, stale

#6323 fix(platform): fix dynamic-form-control-field directive that fixes stackblitz examples
  libs/platform/src/lib/components/form/form-generator/dynamic-form-control-field.directive.ts
Labels: platform, stackblitz, ready for merge, stale

#6353 test(e2e): add e2e tests for page footer platform
  e2e/wdio/platform/fixtures/appData/page-footer-contents.ts
  e2e/wdio/platform/pages/page-footer.po.ts
  e2e/wdio/platform/tests/page-footer.e2e-spec.ts
  wdio-cron.conf.js
Labels: ready for merge, e2e

#6365 fix(core): product-switch, fix keyboard navigation and selected item
  libs/core/src/lib/product-switch/product-switch-body/product-switch-body.component.html
  libs/core/src/lib/product-switch/product-switch-body/product-switch-body.component.spec.ts
  libs/core/src/lib/product-switch/product-switch-body/product-switch-body.component.ts
  libs/core/src/lib/product-switch/product-switch/product-switch.component.html
  libs/core/src/lib/product-switch/product-switch/product-switch.component.ts
Labels: core, ready for merge, QA Approved

#6403 test(e2e): update datetime picker selector
  e2e/wdio/platform/pages/date-time-picker.po.ts
Labels: ready for merge, e2e

#6407 test(e2e): update core datepicker tests
  e2e/wdio/core/pages/date-picker.po.ts
  e2e/wdio/core/tests/date-picker.e2e-spec.ts
Labels: ready for merge, e2e

#6378 fix(core): select, fix rtl mode
  apps/docs/src/app/core/component-docs/select/examples/select-custom-trigger/select-custom-trigger.component.scss
  libs/core/src/lib/select/select.component.ts
Labels: documentation, core, QA Approved, stale

#6196 fix(core): fix Pagination component a11y to announce currently chosen page
  libs/core/src/lib/pagination/pagination.component.html
  libs/core/src/lib/pagination/pagination.component.ts
Labels: core, ready for merge, QA Approved, ATL

#6297 fix(core): fixing the accessibility for the dialog component
  apps/docs/src/app/core/component-docs/dialog/dialog-docs.component.html
  apps/docs/src/app/core/component-docs/dialog/dialog-docs.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/auto-label/auto-label-dialog-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/component-based/component-based-dialog-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/component-based/dialog-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-backdrop-container/dialog-backdrop-container-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-complex/dialog-complex-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-configuration/dialog-configuration-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-inner-popover/dialog-inner-popover.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-mobile/dialog-mobile-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-object-example/dialog-object-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-object-example/dialog-object-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-position/dialog-position-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/dialog-state/dialog-state-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/stacked-dialogs/first-dialog-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/stacked-dialogs/second-dialog-example.component.ts
  apps/docs/src/app/core/component-docs/dialog/examples/template-based/template-based-dialog-example.component.html
  apps/docs/src/app/core/component-docs/dialog/examples/template-based/template-based-dialog-example.component.ts
  e2e/wdio/core/tests/illustrated-message.e2e-spec.ts
  e2e/wdio/platform/pages/approval-flow.po.ts
  libs/core/src/lib/bar/button-bar/button-bar.component.ts
  libs/core/src/lib/dialog/base/dialog-config-base.class.ts
  libs/core/src/lib/dialog/base/dialog-content-base.class.ts
  libs/core/src/lib/dialog/dialog-close-button/dialog-close-button.component.ts
  libs/core/src/lib/dialog/dialog-default/dialog-default.component.html
  libs/core/src/lib/dialog/dialog-header/dialog-header.component.html
  libs/core/src/lib/dialog/dialog-header/dialog-header.component.spec.ts
  libs/core/src/lib/dialog/dialog.component.html
  libs/core/src/lib/dialog/dialog.component.ts
Labels: bug, ready for merge, ariba, QA Approved, ATL

#6377 docs(platform): fix platform docs styles
  PLATFORM_README.md
  apps/docs/src/app/documentation/core-helpers/toolbar/toolbar.component.ts
  apps/docs/src/app/platform/documentation/platform-documentation.component.scss
Labels: documentation, platform, ready for merge, QA Approved, styling

#6420 test(e2e): disable core datepicker e2e tests
  wdio.conf.js
Labels: ready for merge, e2e

#6423 fix(core,platform): table navigatable rows
  apps/docs/src/app/core/component-docs/table/examples/table-navigatable-row-example.component.html
  apps/docs/src/app/core/component-docs/table/examples/table-navigatable-row-example.component.ts
  apps/docs/src/app/core/component-docs/table/table-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-navigatable-row-button-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-navigatable-row-button-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-navigatable-row-indicator-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-navigatable-row-indicator-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table.module.ts
  libs/core/src/lib/table/directives/table-row.directive.ts
  libs/core/src/lib/table/table.component.ts
  libs/platform/src/lib/components/table/models/table-row.model.ts
  libs/platform/src/lib/components/table/public_api.ts
  libs/platform/src/lib/components/table/table.component.html
  libs/platform/src/lib/components/table/table.component.scss
  libs/platform/src/lib/components/table/table.component.spec.ts
  libs/platform/src/lib/components/table/table.component.ts
Labels: platform, table
