Repository SAP/fundamental-ngx, pull requests merged in 2021-07, with the labels that each got.

#5736 docs(core): reduce the size of the notification group example of notification component.
  apps/docs/src/app/core/component-docs/notification/examples/notification-group/notification-group-example.component.html
Labels: QA Approved, bug, core, ready for merge

#5747 docs(core): fix examples as requested in action sheet in reference to visual specs
  apps/docs/src/app/core/component-docs/action-sheet/examples/action-sheet-compact/action-sheet-compact-example.component.html
  apps/docs/src/app/core/component-docs/action-sheet/examples/action-sheet-default/action-sheet-default-example.component.html
  apps/docs/src/app/core/component-docs/action-sheet/examples/action-sheet-mobile/action-sheet-mobile-example.component.html
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_chrome/action-sheet-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_chrome/action-sheet-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_chrome/action-sheet-items-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_chrome/action-sheet-items-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_chrome/action-sheet-items-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_chrome/action-sheet-items-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_chrome/action-sheet-items-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_chrome/action-sheet-items-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_firefox/action-sheet-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_firefox/action-sheet-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_firefox/action-sheet-items-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_firefox/action-sheet-items-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_firefox/action-sheet-items-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_firefox/action-sheet-items-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_firefox/action-sheet-items-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_firefox/action-sheet-items-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_microsoftedge/action-sheet-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_microsoftedge/action-sheet-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_microsoftedge/action-sheet-items-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_microsoftedge/action-sheet-items-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_microsoftedge/action-sheet-items-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_microsoftedge/action-sheet-items-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_microsoftedge/action-sheet-items-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_microsoftedge/action-sheet-items-example-2-core-msedge-windows--1920x1080.png
Labels: QA Approved, core, design_team, documentation, ready for merge

#5834 fix(core): fix RTL view key press accessibility for Slider component
  libs/core/src/lib/slider/slider.component.ts
Labels: Defect Hunting, QA Approved, RTL, ariba, ready for merge

#5840 fix(core): timepicker keyboard functionality improvements
  libs/core/src/lib/time-picker/time-picker.component.spec.ts
  libs/core/src/lib/time-picker/time-picker.component.ts
  libs/core/src/lib/time/time-column/time-column.component.html
  libs/core/src/lib/time/time-column/time-column.component.ts
  libs/core/src/lib/time/time.component.ts
Labels: accessibility, bug

#5857 chore(deps-dev): bump wdio deps to v7.5.7
  package-lock.json
  package.json
Labels: ready for merge

#5726 fix(platform): fix content density in select component with no predefined value
  apps/docs/src/app/platform/component-docs/platform-forms/platform-select/platform-select-docs.component.html
  libs/platform/src/lib/components/form/select/commons/base-select.ts
  libs/platform/src/lib/components/form/select/select/select.component.html
Labels: QA Approved, bug, platform, ready for merge

#5856 fix(platform,core): update styles lib version
  e2e/wdio/core/tests/carousel.e2e-spec.ts
  package-lock.json
  package.json
Labels: bug

#5861 fix(core): always show dashed branching indicator
  libs/core/src/lib/wizard/wizard-step/wizard-step.component.html
Labels: bug, denoland-porto

#5851 fix(core): handle invalid date inside date's components
  apps/docs/src/app/core/component-docs/date-picker/examples/date-picker-allow-null-example.component.ts
  apps/docs/src/app/core/component-docs/datetime-picker/examples/datetime-allow-null-example/datetime-allow-null-example.component.ts
  libs/core/src/lib/calendar/calendar-header/calendar-header.component.ts
  libs/core/src/lib/calendar/calendar.component.ts
  libs/core/src/lib/date-picker/date-picker.component.ts
  libs/core/src/lib/datetime-picker/datetime-picker.component.spec.ts
  libs/core/src/lib/datetime-picker/datetime-picker.component.ts
  libs/core/src/lib/datetime/fd-date.spec.ts
  libs/core/src/lib/datetime/fd-date.ts
  libs/core/src/lib/datetime/fd-date.utils.ts
  libs/core/src/lib/datetime/fd-datetime-adapter.spec.ts
  libs/core/src/lib/datetime/fd-datetime-adapter.ts
  libs/core/src/lib/time/time.component.ts
  libs/core/src/lib/utils/consts/error-messages.ts
Labels: bug

#5852 test(e2e): add e2e tests for multi-combobox component
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_chrome/multi-combobox-example-0-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_chrome/multi-combobox-example-0-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_chrome/multi-combobox-example-1-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_chrome/multi-combobox-example-1-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_chrome/multi-combobox-example-2-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_chrome/multi-combobox-example-2-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_chrome/multi-combobox-example-3-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_chrome/multi-combobox-example-3-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_chrome/multi-combobox-example-4-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_chrome/multi-combobox-example-4-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_firefox/multi-combobox-example-0-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_firefox/multi-combobox-example-0-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_firefox/multi-combobox-example-1-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_firefox/multi-combobox-example-1-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_firefox/multi-combobox-example-2-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_firefox/multi-combobox-example-2-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_firefox/multi-combobox-example-3-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_firefox/multi-combobox-example-3-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_firefox/multi-combobox-example-4-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_firefox/multi-combobox-example-4-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_microsoftedge/multi-combobox-example-0-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_microsoftedge/multi-combobox-example-0-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_microsoftedge/multi-combobox-example-1-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_microsoftedge/multi-combobox-example-1-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_microsoftedge/multi-combobox-example-2-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_microsoftedge/multi-combobox-example-2-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_microsoftedge/multi-combobox-example-3-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_microsoftedge/multi-combobox-example-3-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_microsoftedge/multi-combobox-example-4-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/multi-combobox/desktop_microsoftedge/multi-combobox-example-4-platform-msedge-windows--1920x1080.png
  e2e/wdio/platform/pages/base-component.po.ts
  e2e/wdio/platform/pages/multi-combobox.po.ts
  e2e/wdio/platform/tests/multi-combobox.e2e-spec.ts
  wdio.conf.js
Labels: e2e, ready for merge

#5845 fix(core): add ariaLabel to Pagination component
  apps/docs/src/app/core/component-docs/pagination/examples/pagination-example.component.ts
  apps/docs/src/app/core/component-docs/pagination/examples/pagination-per-page-example.component.html
  apps/docs/src/app/core/component-docs/pagination/examples/pagination-showing-example.component.ts
  e2e/wdio/baselineScreenshot/core/button/desktop_chrome/button-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/button/desktop_chrome/button-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/button/desktop_chrome/button-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/button/desktop_chrome/button-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/button/desktop_chrome/button-example-3-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/button/desktop_chrome/button-example-3-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/pagination/desktop_chrome/pagination-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/pagination/desktop_chrome/pagination-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/pagination/desktop_chrome/pagination-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/pagination/desktop_chrome/pagination-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/pagination/desktop_chrome/pagination-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/pagination/desktop_chrome/pagination-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/pagination/desktop_firefox/pagination-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/pagination/desktop_firefox/pagination-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/pagination/desktop_microsoftedge/pagination-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/pagination/desktop_microsoftedge/pagination-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/pagination/desktop_microsoftedge/pagination-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/pagination/desktop_microsoftedge/pagination-example-2-core-msedge-windows--1920x1080.png
  libs/core/src/lib/pagination/pagination.component.html
  libs/core/src/lib/pagination/pagination.component.ts
Labels: QA Approved, core, ready for merge

#5846 test(e2e): add e2e tests for select component
  e2e/wdio/baselineScreenshot/platform/select/desktop_chrome/select-example-0-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_chrome/select-example-0-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_chrome/select-example-1-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_chrome/select-example-1-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_chrome/select-example-2-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_chrome/select-example-2-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_chrome/select-example-3-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_chrome/select-example-3-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_chrome/select-example-4-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_chrome/select-example-4-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_chrome/select-example-5-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_chrome/select-example-5-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_chrome/select-example-6-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_chrome/select-example-6-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_chrome/select-example-7-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_chrome/select-example-7-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_chrome/select-example-8-platform-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_chrome/select-example-8-platform-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_firefox/select-example-0-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_firefox/select-example-0-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_firefox/select-example-1-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_firefox/select-example-1-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_firefox/select-example-2-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_firefox/select-example-2-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_firefox/select-example-3-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_firefox/select-example-3-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_firefox/select-example-4-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_firefox/select-example-4-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_firefox/select-example-5-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_firefox/select-example-5-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_firefox/select-example-6-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_firefox/select-example-6-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_firefox/select-example-7-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_firefox/select-example-7-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_firefox/select-example-8-platform-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_firefox/select-example-8-platform-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_microsoftedge/select-example-0-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_microsoftedge/select-example-0-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_microsoftedge/select-example-1-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_microsoftedge/select-example-1-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_microsoftedge/select-example-2-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_microsoftedge/select-example-2-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_microsoftedge/select-example-3-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_microsoftedge/select-example-3-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_microsoftedge/select-example-4-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_microsoftedge/select-example-4-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_microsoftedge/select-example-5-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_microsoftedge/select-example-5-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_microsoftedge/select-example-6-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_microsoftedge/select-example-6-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_microsoftedge/select-example-7-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_microsoftedge/select-example-7-platform-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_microsoftedge/select-example-8-platform-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/platform/select/desktop_microsoftedge/select-example-8-platform-msedge-windows--1920x1080.png
  e2e/wdio/platform/fixtures/appData/select-contents.ts
  e2e/wdio/platform/pages/select.po.ts
  e2e/wdio/platform/tests/select.e2e-spec.ts
  wdio.conf.js
Labels: e2e, ready for merge

#5821 fix(core): prevent error on missing menuService
  libs/core/src/lib/menu/menu-item/menu-item.component.ts
Labels: external contribution

#5865 feat(core): bring new qr code icon
  apps/docs/src/app/core/component-docs/icon/examples/icon-example.component.ts
  package-lock.json
  package.json
Labels: enhancement

#5735 fix(core): change styling tabs component
  libs/core/src/lib/tabs/tab-list.component.scss
Labels: QA Approved, ready for merge

#5887 test(e2e): fix e2e tests for select component
  e2e/wdio/platform/pages/select.po.ts
Labels: e2e, ready for merge

#5880 fix(docs): fix wizard mobile step 2 navigation example
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-mobile-example.component.ts
Labels: bug, denoland, denoland-porto

#5876 fix(platform): position the form fields on top
  libs/platform/src/lib/components/form/form-group/form-group.component.html
Labels: denoland-porto

#5881 fix(core): fix pagination rtl
  libs/core/src/lib/pagination/pagination.component.ts
Labels: bug, denoland, denoland-porto

#5883 fix(docs): add resettable flag for playground and reset message strip
  apps/docs/src/app/core/component-docs/message-strip/message-strip-docs.component.html
  apps/docs/src/app/core/component-docs/message-strip/message-strip-docs.component.ts
  apps/docs/src/app/documentation/core-helpers/playground/playground.component.html
  apps/docs/src/app/documentation/core-helpers/playground/playground.component.ts
  apps/docs/src/app/schema/containers/schema-group/schema-group.component.html
  apps/docs/src/app/schema/containers/schema-group/schema-group.component.ts
  apps/docs/src/app/schema/containers/schema/schema.component.html
  apps/docs/src/app/schema/containers/schema/schema.component.ts
Labels: bug, denoland, denoland-porto

#5898 fix(core): fix failing unit tests
  libs/core/src/lib/popover/popover-mobile/popover-mobile.component.spec.ts
  libs/core/src/lib/popover/popover.component.spec.ts
Labels: bug, denoland-porto

#5858 fix(core): import FormStates to checkbox
  libs/core/src/lib/checkbox/checkbox/checkbox.component.ts
Labels: Defect Hunting, stale

#5888 docs(platform): disable the part of the calendar in disable function example for date picker component
  apps/docs/src/app/platform/component-docs/platform-forms/platform-date-picker/platform-date-picker-examples/platform-date-picker-disable-func-example.component.ts
Labels: QA Approved, bug, platform, ready for merge

#5853 fix(core): fix a11y issues for bar component
  apps/docs/src/app/core/component-docs/bar/examples/bar-default-example.component.html
  apps/docs/src/app/core/component-docs/bar/examples/bar-header-example.component.html
  apps/docs/src/app/core/component-docs/bar/examples/bar-page-example.component.html
  apps/docs/src/app/core/component-docs/bar/examples/bar-page-responsive-example.component.html
  libs/core/src/lib/bar/button-bar/button-bar.component.ts
Labels: ATL, QA Approved, accessibility, core, ready for merge

#5878 fix(platform): correct imports for checkbox group module
  libs/platform/src/lib/components/form/checkbox-group/checkbox-group.module.ts
Labels: QA Approved, platform, ready for merge

#5886 fix(platform): table navigatable row errors fix
  libs/core/src/lib/table/directives/table-row.directive.ts
Labels: QA Approved, ariba, bug, platform, table

#5839 fix(core): small screens should use mobile settings dialog, optional MenuService
  apps/docs/src/app/documentation/core-helpers/toolbar/toolbar.component.html
  libs/core/src/lib/menu/menu-mobile/menu-mobile.component.html
Labels: Defect Hunting, bug, documentation, stale

#5904 fix(core): update imports for angular cdk connectionPositionPair
  libs/core/src/lib/popover/popover-body/popover-body.component.ts
  libs/core/src/lib/popover/popover-service/popover.service.ts
Labels: High, bug, denoland-porto

#5848 fix(core): fix looped carousel item order and swipe of items in rtl view
  apps/docs/src/app/core/component-docs/carousel/carousel-docs.component.html
  apps/docs/src/app/core/component-docs/carousel/carousel-docs.module.ts
  apps/docs/src/app/core/component-docs/carousel/examples/carousel-error-message-example.component.html
  e2e/wdio/core/fixtures/appData/carousel-contents.ts
  e2e/wdio/core/pages/carousel.po.ts
  libs/core/src/lib/carousel/carousel.component.html
  libs/core/src/lib/carousel/carousel.component.scss
  libs/core/src/lib/carousel/carousel.component.ts
  libs/core/src/lib/carousel/carousel.directive.spec.ts
  libs/core/src/lib/carousel/carousel.service.ts
Labels: QA Approved, core, ready for merge

#5906 fix(core): remove duplicated css imports
  libs/core/src/lib/slider/slider.component.scss
  libs/platform/src/lib/components/form/combobox/combobox/combobox.component.scss
  libs/platform/src/lib/components/form/select/select/select.component.scss
Labels: denoland-porto

#5905 fix(docs): apply correct z-index for overlay container
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-example.component.scss
Labels: bug, denoland-porto

#5699 fix(platform): add error message for combobox component
  libs/platform/src/lib/components/form/combobox/combobox.module.ts
  libs/platform/src/lib/components/form/combobox/combobox/combobox.component.html
  libs/platform/src/lib/components/form/combobox/combobox/combobox.component.ts
  libs/platform/src/lib/components/form/combobox/commons/base-combobox.ts
Labels: platform, stale

#5924 fix(docs): fix documentation rtl for dialog
  apps/docs/src/app/core/component-docs/dialog/examples/component-based/component-based-dialog-example.component.ts
  apps/docs/src/app/documentation/core-helpers/component-example/component-example.component.ts
  libs/core/src/lib/dialog/base/dialog-base.class.ts
  libs/core/src/lib/dialog/dialog-service/dialog.service.ts
  libs/core/src/lib/dialog/dialog.component.ts
  libs/core/src/lib/message-box/message-box.component.ts
Labels: bug, denoland-porto, documentation

#5922 fix(docs,core): add missing modules and components
  apps/docs/src/app/core/component-docs/popover/popover-docs.component.ts
  libs/core/src/lib/fundamental-ngx.module.ts
Labels: bug, denoland-porto, documentation

#5916 fix(core): add box-sizing for correct tooltip size
  libs/core/src/lib/slider/slider.component.scss
Labels: bug, denoland-porto

#5917 docs(docs): apply correct headings
  apps/docs/src/app/core/component-docs/layout-grid/layout-grid-docs.component.html
  apps/docs/src/app/core/component-docs/notification/notification-docs.component.html
  apps/docs/src/app/core/component-docs/title/title-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-approval-flow/platform-approval-flow-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-upload-collection/platform-upload-collection-docs.component.html
Labels: bug, denoland-porto, documentation

#5741 test(e2e): add e2e tests for segmented button
  e2e/wdio/baselineScreenshot/core/segmentedButton/desktop_chrome/segmented-button-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/segmentedButton/desktop_chrome/segmented-button-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/segmentedButton/desktop_chrome/segmented-button-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/segmentedButton/desktop_chrome/segmented-button-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/segmentedButton/desktop_chrome/segmented-button-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/segmentedButton/desktop_chrome/segmented-button-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/segmentedButton/desktop_chrome/segmented-button-example-3-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/segmentedButton/desktop_chrome/segmented-button-example-3-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/segmentedButton/desktop_firefox/segmented-button-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/segmentedButton/desktop_firefox/segmented-button-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/segmentedButton/desktop_firefox/segmented-button-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/segmentedButton/desktop_firefox/segmented-button-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/segmentedButton/desktop_firefox/segmented-button-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/segmentedButton/desktop_firefox/segmented-button-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/segmentedButton/desktop_firefox/segmented-button-example-3-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/segmentedButton/desktop_firefox/segmented-button-example-3-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/segmentedButton/desktop_microsoftedge/segmented-button-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/segmentedButton/desktop_microsoftedge/segmented-button-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/segmentedButton/desktop_microsoftedge/segmented-button-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/segmentedButton/desktop_microsoftedge/segmented-button-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/segmentedButton/desktop_microsoftedge/segmented-button-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/segmentedButton/desktop_microsoftedge/segmented-button-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/segmentedButton/desktop_microsoftedge/segmented-button-example-3-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/segmentedButton/desktop_microsoftedge/segmented-button-example-3-core-msedge-windows--1920x1080.png
  e2e/wdio/core/pages/segmented-button.po.ts
  e2e/wdio/core/tests/segmented-button.e2e-spec.ts
Labels: e2e, ready for merge, stale

#5642 docs(core): enhance Illustrated Message a11y
  apps/docs/src/app/core/component-docs/illustrated-message/examples/illustrated-message-dialog-example.component.html
  apps/docs/src/app/core/component-docs/illustrated-message/examples/illustrated-message-dialog-example.component.ts
  apps/docs/src/app/core/component-docs/illustrated-message/examples/illustrated-message-example.component.html
  apps/docs/src/app/core/component-docs/illustrated-message/examples/illustrated-message-spot-example.component.html
  apps/docs/src/app/core/component-docs/illustrated-message/illustrated-message-docs.component.html
Labels: ATL, QA Approved, accessibility, core, ready for merge

#5744 test(e2e): add e2e tests for input group component
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_chrome/input-group-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_chrome/input-group-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_chrome/input-group-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_chrome/input-group-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_chrome/input-group-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_chrome/input-group-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_chrome/input-group-example-3-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_chrome/input-group-example-3-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_chrome/input-group-example-4-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_chrome/input-group-example-4-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_chrome/input-group-example-5-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_chrome/input-group-example-5-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_chrome/input-group-example-6-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_chrome/input-group-example-6-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_chrome/input-group-example-7-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_chrome/input-group-example-7-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_firefox/input-group-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_firefox/input-group-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_firefox/input-group-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_firefox/input-group-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_firefox/input-group-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_firefox/input-group-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_firefox/input-group-example-3-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_firefox/input-group-example-3-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_firefox/input-group-example-4-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_firefox/input-group-example-4-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_firefox/input-group-example-5-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_firefox/input-group-example-5-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_firefox/input-group-example-6-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_firefox/input-group-example-6-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_firefox/input-group-example-7-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_firefox/input-group-example-7-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_microsoftedge/input-group-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_microsoftedge/input-group-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_microsoftedge/input-group-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_microsoftedge/input-group-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_microsoftedge/input-group-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_microsoftedge/input-group-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_microsoftedge/input-group-example-3-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_microsoftedge/input-group-example-3-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_microsoftedge/input-group-example-4-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_microsoftedge/input-group-example-4-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_microsoftedge/input-group-example-5-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_microsoftedge/input-group-example-5-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_microsoftedge/input-group-example-6-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_microsoftedge/input-group-example-6-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_microsoftedge/input-group-example-7-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/inputGroup/desktop_microsoftedge/input-group-example-7-core-msedge-windows--1920x1080.png
  e2e/wdio/core/fixtures/appData/input-group-contents.ts
  e2e/wdio/core/pages/input-group.po.ts
  e2e/wdio/core/tests/input-group.e2e-spec.ts
Labels: e2e, ready for merge, stale

#5756 test(e2e): add e2e tests for facets component
  e2e/wdio/baselineScreenshot/core/facets/desktop_chrome/facest-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_chrome/facest-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_chrome/facest-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_chrome/facest-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_chrome/facest-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_chrome/facest-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_chrome/facest-example-3-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_chrome/facest-example-3-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_chrome/facest-example-4-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_chrome/facest-example-4-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_chrome/facest-example-5-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_chrome/facest-example-5-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_chrome/facest-example-6-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_chrome/facest-example-6-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_chrome/facest-example-7-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_chrome/facest-example-7-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_firefox/facest-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_firefox/facest-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_firefox/facest-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_firefox/facest-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_firefox/facest-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_firefox/facest-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_firefox/facest-example-3-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_firefox/facest-example-3-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_firefox/facest-example-4-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_firefox/facest-example-4-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_firefox/facest-example-5-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_firefox/facest-example-5-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_firefox/facest-example-6-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_firefox/facest-example-6-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_firefox/facest-example-7-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_firefox/facest-example-7-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_microsoftedge/facest-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_microsoftedge/facest-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_microsoftedge/facest-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_microsoftedge/facest-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_microsoftedge/facest-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_microsoftedge/facest-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_microsoftedge/facest-example-3-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_microsoftedge/facest-example-3-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_microsoftedge/facest-example-4-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_microsoftedge/facest-example-4-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_microsoftedge/facest-example-5-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_microsoftedge/facest-example-5-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_microsoftedge/facest-example-6-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_microsoftedge/facest-example-6-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_microsoftedge/facest-example-7-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/facets/desktop_microsoftedge/facest-example-7-core-msedge-windows--1920x1080.png
  e2e/wdio/core/pages/facets.po.ts
  e2e/wdio/core/tests/facets.e2e-spec.ts
Labels: e2e, ready for merge, stale

#5758 test(e2e): add e2e tests for messagebox component
  e2e/wdio/baselineScreenshot/core/message-box/desktop_chrome/message-box-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_chrome/message-box-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_chrome/message-box-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_chrome/message-box-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_chrome/message-box-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_chrome/message-box-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_chrome/message-box-example-3-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_chrome/message-box-example-3-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_chrome/message-box-example-4-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_chrome/message-box-example-4-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_chrome/message-box-example-5-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_chrome/message-box-example-5-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_chrome/message-box-example-6-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_chrome/message-box-example-6-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_firefox/message-box-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_firefox/message-box-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_firefox/message-box-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_firefox/message-box-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_firefox/message-box-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_firefox/message-box-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_firefox/message-box-example-3-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_firefox/message-box-example-3-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_firefox/message-box-example-4-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_firefox/message-box-example-4-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_firefox/message-box-example-5-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_firefox/message-box-example-5-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_firefox/message-box-example-6-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_firefox/message-box-example-6-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_microsoftedge/message-box-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_microsoftedge/message-box-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_microsoftedge/message-box-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_microsoftedge/message-box-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_microsoftedge/message-box-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_microsoftedge/message-box-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_microsoftedge/message-box-example-3-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_microsoftedge/message-box-example-3-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_microsoftedge/message-box-example-4-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_microsoftedge/message-box-example-4-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_microsoftedge/message-box-example-5-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_microsoftedge/message-box-example-5-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_microsoftedge/message-box-example-6-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-box/desktop_microsoftedge/message-box-example-6-core-msedge-windows--1920x1080.png
  e2e/wdio/core/fixtures/appData/message-box.ts
  e2e/wdio/core/pages/message-box.po.ts
  e2e/wdio/core/tests/message-box.e2e-spec.ts
Labels: e2e, ready for merge

#5749 feat(platform): approval flow phase 4
  apps/docs/src/app/platform/api-files.ts
  apps/docs/src/app/platform/component-docs/platform-approval-flow/platform-approval-flow-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-approval-flow/platform-approval-flow-header/platform-approval-flow-header.component.html
  e2e/wdio/platform/pages/approval-flow.po.ts
  e2e/wdio/platform/tests/approval-flow.e2e-spec.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-add-node/approval-flow-add-node.component.html
  libs/platform/src/lib/components/approval-flow/approval-flow-add-node/approval-flow-add-node.component.scss
  libs/platform/src/lib/components/approval-flow/approval-flow-add-node/approval-flow-add-node.component.spec.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-add-node/approval-flow-add-node.component.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-approver-details/approval-flow-approver-details.component.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-node/approval-flow-drop-zone.directive.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-node/approval-flow-node.component.html
  libs/platform/src/lib/components/approval-flow/approval-flow-node/approval-flow-node.component.scss
  libs/platform/src/lib/components/approval-flow/approval-flow-node/approval-flow-node.component.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-select-type/approval-flow-select-type.component.html
  libs/platform/src/lib/components/approval-flow/approval-flow-select-type/approval-flow-select-type.component.spec.ts
  libs/platform/src/lib/components/approval-flow/approval-flow-select-type/approval-flow-select-type.component.ts
  libs/platform/src/lib/components/approval-flow/approval-flow.component.html
  libs/platform/src/lib/components/approval-flow/approval-flow.component.scss
  libs/platform/src/lib/components/approval-flow/approval-flow.component.spec.ts
  libs/platform/src/lib/components/approval-flow/approval-flow.component.ts
  libs/platform/src/lib/components/approval-flow/interfaces/approval-node.ts
Labels: QA Approved, ariba, enhancement, platform, ready for merge

#5939 fix(core): display dropdown button for mobile combobox
  libs/core/src/lib/combobox/combobox.component.ts
  libs/core/src/lib/dialog/base/dialog-base.class.ts
Labels: bug, denoland-porto

#5895 fix(core,platform): replace name with attr.name for taborder to work correctly
  libs/core/src/lib/radio/radio-button/radio-button.component.html
  libs/platform/src/lib/components/form/radio-group/radio-group.component.html
  libs/platform/src/lib/components/form/radio-group/radio/radio.component.spec.ts
Labels: QA Approved, accessibility, core, ready for merge

#5902 docs(platform): fix typo in Upload Collection example
  apps/docs/src/app/platform/component-docs/platform-upload-collection/platform-upload-collection-docs.component.html
Labels: QA Approved, platform, ready for merge

#5937 fix(core,docs): add local rtl service for notification component
  apps/docs/src/app/documentation/core-helpers/component-example/component-example.component.ts
  libs/core/src/lib/notification/notification-service/notification.service.ts
  libs/core/src/lib/notification/notification/notification.component.ts
Labels: bug, denoland-porto, documentation

#5953 docs(core): add third step to mobile wizard example
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-mobile-example.component.html
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-mobile-example.component.ts
Labels: bug, denoland-porto, documentation

#5957 test(e2e): fix flaky toolbar e2e test
  e2e/wdio/core/tests/toolbar.e2e-spec.ts
Labels: e2e, ready for merge

#5952 chore(core,platform): no-restricted-globals lint rule
  libs/platform/src/lib/components/button/button.component.spec.ts
  libs/platform/src/lib/components/form/radio-group/radio/radio.component.spec.ts
  libs/platform/src/lib/components/form/step-input/step-input-control.directive.ts
  libs/platform/src/lib/components/menu-button/menu-button.component.spec.ts
  tslint.json
Labels: bug, ready for qa

#5913 docs(core): fix displayFormat option for Time Picker example
  apps/docs/src/app/core/component-docs/time-picker/examples/time-picker-format-example.component.ts
Labels: Defect Hunting, QA Approved, core, ready for merge

#5863 fix(core): provide screen reader access for inline help
  apps/docs/src/app/core/component-docs/inline-help/examples/inline-help-example.component.html
  apps/docs/src/app/core/component-docs/inline-help/examples/inline-help-example.component.ts
  apps/docs/src/app/core/component-docs/inline-help/examples/inline-help-styled-example.component.html
  apps/docs/src/app/core/component-docs/inline-help/examples/inline-help-template-example/inline-help-template-example.component.html
  apps/docs/src/app/core/component-docs/inline-help/examples/inline-help-trigger-example.component.html
  libs/core/src/lib/inline-help/inline-help.directive.ts
Labels: QA Approved, ready for merge

#5967 fix(platform): table dependencies refactoring
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-activable-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-activable-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-navigatable-row-indicator-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table.module.ts
  libs/platform/src/lib/components/table/components/table-column/table-column.component.ts
  libs/platform/src/lib/components/table/models/index.ts
  libs/platform/src/lib/components/table/models/table-row-activate-event.model.ts
  libs/platform/src/lib/components/table/table.component.html
  libs/platform/src/lib/components/table/table.component.scss
  libs/platform/src/lib/components/table/table.component.ts
  libs/platform/src/lib/components/table/table.module.ts
Labels: table

#5918 docs(core): apply required mark for label and remove inline help class in compact example for text area component
  apps/docs/src/app/core/component-docs/textarea/examples/textarea-example.component.html
  apps/docs/src/app/core/component-docs/textarea/examples/textarea-form-group-example.component.html
  apps/docs/src/app/core/component-docs/textarea/examples/textarea-inline-help-example.component.html
  apps/docs/src/app/core/component-docs/textarea/examples/textarea-state-example.component.html
Labels: QA Approved, bug, core, ready for merge

#5989 test(e2e): update message-box selector
  e2e/wdio/core/pages/message-box.po.ts
Labels: e2e, ready for merge

#5862 fix(core,platform): add keyboard support for Inline Help icon triggers
  apps/docs/src/app/core/component-docs/inline-help/examples/inline-help-example.component.html
  apps/docs/src/app/core/component-docs/inline-help/examples/inline-help-styled-example.component.ts
  libs/core/src/lib/form/form-label/form-label.component.html
  libs/core/src/lib/form/form-label/form-label.component.ts
  libs/platform/src/lib/components/form/form-group/form-field/form-field.component.html
Labels: QA Approved, accessibility, platform, ready for merge, stale

#5946 fix(core): remove list body focus and focus to the list items
  libs/core/src/lib/list/list-item/list-item.component.ts
  libs/core/src/lib/list/list.component.ts
Labels: 0.31, Defect Hunting, High, QA Approved, bug, ready for merge

#5981 fix(core): update button type for datetime picker cancel as per fiori
  libs/core/src/lib/datetime-picker/datetime-picker.component.html
Labels: 0.31, Defect Hunting, High, QA Approved, ready for merge

#5921 docs(platform): update cozy button example in sizes section
  apps/docs/src/app/platform/component-docs/platform-button/platform-button-examples/platform-button-sizes-example.component.html
Labels: 0.31, Defect Hunting, High, QA Approved, ariba, documentation, platform, ready for merge

#5962 fix(platform): remove style from ngx to reuse the style from fundamental-style lib for menu component
  libs/platform/src/lib/components/menu/menu-item.component.html
  libs/platform/src/lib/components/menu/menu-item.component.scss
  libs/platform/src/lib/components/menu/menu-item.component.ts
Labels: QA Approved, css clean up, platform, ready for merge

#5980 fix(core): remove hammerjs from library
  angular.json
  apps/docs/src/app/documentation/core-helpers/stackblitz/stackblitz-dependencies.ts
  ci-scripts/sync-version.sh
  libs/core/src/lib/carousel/carousel.component.scss
  libs/core/src/lib/carousel/carousel.service.ts
  libs/core/src/lib/ng-package.json
  libs/core/src/lib/package.json
  libs/core/src/lib/time/time-column/time-column.component.ts
  libs/core/src/lib/time/time.component.scss
  package-lock.json
  package.json
Labels: bug, denoland-porto, enhancement

#5973 fix(platform): fix Platform ng-add schematics failing in Angular12 apps
  libs/platform/ng-package.json
  libs/platform/package.json
  libs/platform/schematics/utils/translation-utils.ts
Labels: 0.31, QA Approved, bug, platform, ready for merge

#5975 test(e2e): add e2e tests for message-strip component
  e2e/wdio/baselineScreenshot/core/message-strip/desktop_chrome/message-strip-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-strip/desktop_chrome/message-strip-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/message-strip/desktop_chrome/message-strip-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-strip/desktop_chrome/message-strip-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/message-strip/desktop_chrome/message-strip-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-strip/desktop_chrome/message-strip-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/message-strip/desktop_firefox/message-strip-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-strip/desktop_firefox/message-strip-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/message-strip/desktop_firefox/message-strip-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-strip/desktop_firefox/message-strip-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/message-strip/desktop_firefox/message-strip-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-strip/desktop_firefox/message-strip-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/message-strip/desktop_microsoftedge/message-strip-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-strip/desktop_microsoftedge/message-strip-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/message-strip/desktop_microsoftedge/message-strip-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-strip/desktop_microsoftedge/message-strip-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/message-strip/desktop_microsoftedge/message-strip-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-strip/desktop_microsoftedge/message-strip-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/core/fixtures/appData/message-strip.contents.ts
  e2e/wdio/core/fixtures/testData/message-strip.ts
  e2e/wdio/core/pages/message-strip.po.ts
  e2e/wdio/core/tests/message-strip.e2e-spec.ts
Labels: e2e, ready for merge

#5977 test(e2e): add e2e tests for textarea component
  e2e/wdio/baselineScreenshot/core/textarea/desktop_chrome/textarea-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/textarea/desktop_chrome/textarea-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/textarea/desktop_chrome/textarea-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/textarea/desktop_chrome/textarea-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/textarea/desktop_chrome/textarea-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/textarea/desktop_chrome/textarea-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/textarea/desktop_chrome/textarea-example-3-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/textarea/desktop_chrome/textarea-example-3-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/textarea/desktop_firefox/textarea-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/textarea/desktop_firefox/textarea-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/textarea/desktop_firefox/textarea-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/textarea/desktop_firefox/textarea-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/textarea/desktop_firefox/textarea-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/textarea/desktop_firefox/textarea-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/textarea/desktop_firefox/textarea-example-3-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/textarea/desktop_firefox/textarea-example-3-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/textarea/desktop_microsoftedge/textarea-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/textarea/desktop_microsoftedge/textarea-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/textarea/desktop_microsoftedge/textarea-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/textarea/desktop_microsoftedge/textarea-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/textarea/desktop_microsoftedge/textarea-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/textarea/desktop_microsoftedge/textarea-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/textarea/desktop_microsoftedge/textarea-example-3-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/textarea/desktop_microsoftedge/textarea-example-3-core-msedge-windows--1920x1080.png
  e2e/wdio/core/fixtures/appData/textarea-contents.ts
  e2e/wdio/core/pages/textarea.po.ts
  e2e/wdio/core/tests/textarea.e2e-spec.ts
Labels: e2e, ready for merge

#5979 test(e2e): add e2e tests for flexible-column-layout component
  e2e/wdio/baselineScreenshot/core/flexible-column-layout/desktop_chrome/flexible-column-layout-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/flexible-column-layout/desktop_chrome/flexible-column-layout-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/flexible-column-layout/desktop_chrome/flexible-column-layout-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/flexible-column-layout/desktop_chrome/flexible-column-layout-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/flexible-column-layout/desktop_firefox/flexible-column-layout-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/flexible-column-layout/desktop_firefox/flexible-column-layout-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/flexible-column-layout/desktop_firefox/flexible-column-layout-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/flexible-column-layout/desktop_firefox/flexible-column-layout-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/flexible-column-layout/desktop_microsoftedge/flexible-column-layout-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/flexible-column-layout/desktop_microsoftedge/flexible-column-layout-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/flexible-column-layout/desktop_microsoftedge/flexible-column-layout-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/flexible-column-layout/desktop_microsoftedge/flexible-column-layout-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/core/pages/flexible-column-layout.po.ts
  e2e/wdio/core/tests/flexible-column-layout.e2e-spec.ts
Labels: e2e, ready for merge

#5915 docs(docs): fix action sheet mobile example
  apps/docs/src/app/core/component-docs/action-sheet/examples/action-sheet-compact/action-sheet-compact-example.component.html
  apps/docs/src/app/core/component-docs/action-sheet/examples/action-sheet-default/action-sheet-default-example.component.html
  apps/docs/src/app/core/component-docs/action-sheet/examples/action-sheet-mobile/action-sheet-mobile-example.component.html
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_chrome/action-sheet-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_chrome/action-sheet-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_firefox/action-sheet-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_firefox/action-sheet-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_microsoftedge/action-sheet-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/action-sheet/desktop_microsoftedge/action-sheet-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_chrome/avatar-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_chrome/avatar-example-3-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-3-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-3-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-5-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-5-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-6-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-6-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-7-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-7-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-8-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_firefox/avatar-example-8-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/avatar/desktop_microsoftedge/avatar-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/core/fixtures/appData/action-sheet-content.ts
Labels: bug, denoland-porto

#5990 docs(core): bar chart list using directive instead of css class
  apps/docs/src/app/core/component-docs/card/examples/bar-chart-list-card/bar-chart-list-card-example.component.html
Labels: 0.31, Defect Hunting, High, QA Approved, bug, ready for merge

#5991 fix(core): fix datepicker bugs from defect hunting
  apps/docs/src/app/core/component-docs/date-picker/date-picker-docs.component.html
  apps/docs/src/app/core/component-docs/datetime-picker/datetime-picker-docs.component.html
  libs/core/src/lib/calendar/calendar-header/calendar-header.component.html
Labels: Defect Hunting, QA Approved, bug, core, ready for merge

#6002 feat(core): grid list item focus method
  apps/docs/src/app/core/component-docs/grid-list/examples/focusing/grid-list-focusing-example.component.html
  apps/docs/src/app/core/component-docs/grid-list/examples/focusing/grid-list-focusing-example.component.scss
  apps/docs/src/app/core/component-docs/grid-list/examples/focusing/grid-list-focusing-example.component.ts
  apps/docs/src/app/core/component-docs/grid-list/examples/index.ts
  apps/docs/src/app/core/component-docs/grid-list/grid-list-docs.component.html
  apps/docs/src/app/core/component-docs/grid-list/grid-list-docs.component.ts
  libs/core/src/lib/grid-list/components/grid-list-item/grid-list-item.component.html
  libs/core/src/lib/grid-list/components/grid-list-item/grid-list-item.component.ts
Labels: QA Approved, core, enhancement

#5997 fix(core): add ability to manually remove selection
  apps/docs/src/app/core/component-docs/grid-list/examples/multi-select/grid-list-multi-select-example.component.html
  apps/docs/src/app/core/component-docs/grid-list/examples/multi-select/grid-list-multi-select-example.component.ts
  apps/docs/src/app/core/component-docs/grid-list/grid-list-docs.module.ts
  e2e/wdio/baselineScreenshot/core/grid-list/desktop_chrome/grid-list-example-4-core-chrome-windows--1920x1080.png
  libs/core/src/lib/grid-list/components/grid-list/grid-list.component.spec.ts
  libs/core/src/lib/grid-list/components/grid-list/grid-list.component.ts
  libs/core/src/lib/grid-list/services/grid-list-selection.service.ts
Labels: denoland-porto, enhancement

#5879 feat(platform): table column width & resizing
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-custom-width-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-custom-width-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-freezable-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table.module.ts
  libs/platform/src/lib/components/table/components/table-column-resizer/table-column-resizer.component.scss
  libs/platform/src/lib/components/table/components/table-column-resizer/table-column-resizer.component.spec.ts
  libs/platform/src/lib/components/table/components/table-column-resizer/table-column-resizer.component.ts
  libs/platform/src/lib/components/table/components/table-column/table-column.component.ts
  libs/platform/src/lib/components/table/components/table-column/table-column.ts
  libs/platform/src/lib/components/table/constants/index.ts
  libs/platform/src/lib/components/table/directives/index.ts
  libs/platform/src/lib/components/table/directives/table-cell-resizable.directive.ts
  libs/platform/src/lib/components/table/directives/table-scroller.directive.ts
  libs/platform/src/lib/components/table/table-column-resize.service.spec.ts
  libs/platform/src/lib/components/table/table-column-resize.service.ts
  libs/platform/src/lib/components/table/table-scroll-dispatcher.service.spec.ts
  libs/platform/src/lib/components/table/table-scroll-dispatcher.service.ts
  libs/platform/src/lib/components/table/table.component.html
  libs/platform/src/lib/components/table/table.component.scss
  libs/platform/src/lib/components/table/table.component.spec.ts
  libs/platform/src/lib/components/table/table.component.ts
  libs/platform/src/lib/components/table/table.module.ts
  libs/platform/src/lib/components/table/table.service.ts
Labels: ariba, enhancement, platform, ready for qa, table

#5966 fix(core): various wizard bugs from defect hunting sprint 66
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-branching-example.component.html
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-dialog-example.component.html
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-example.component.html
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-example.component.scss
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-mobile-example.component.html
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-ngfor-example.component.html
  libs/core/src/lib/wizard/wizard-content/wizard-content.component.ts
  libs/core/src/lib/wizard/wizard-progress-bar/wizard-progress-bar.directive.ts
  libs/core/src/lib/wizard/wizard-step/wizard-step.component.ts
  libs/core/src/lib/wizard/wizard.component.ts
Labels: 0.31, Defect Hunting, bug, wizard

#5971 fix(platform): table columns reordering feature columns sorting fix
  libs/platform/src/lib/components/table/components/table-p13-dialog/columns/columns.component.ts
Labels: QA Approved, bug, platform, table

#5859 fix(core): use 3 letters for day names on calendar and shortened hrs/…
  e2e/wdio/core/fixtures/appData/calendar-contents.ts
  libs/core/src/lib/calendar/calendar-views/calendar-day-view/calendar-day-view.component.spec.ts
  libs/core/src/lib/calendar/calendar-views/calendar-day-view/calendar-day-view.component.ts
  libs/core/src/lib/time/i18n/time-i18n.ts
Labels: Defect Hunting

#5910 test(e2e): add e2e tests for list byline component
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_chrome/list-byline-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_chrome/list-byline-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_chrome/list-byline-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_chrome/list-byline-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_chrome/list-byline-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_chrome/list-byline-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_chrome/list-byline-example-3-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_chrome/list-byline-example-3-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_chrome/list-byline-example-4-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_chrome/list-byline-example-4-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_chrome/list-byline-example-5-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_chrome/list-byline-example-5-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_chrome/list-byline-example-6-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_chrome/list-byline-example-6-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_firefox/list-byline-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_firefox/list-byline-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_firefox/list-byline-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_firefox/list-byline-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_firefox/list-byline-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_firefox/list-byline-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_firefox/list-byline-example-3-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_firefox/list-byline-example-3-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_firefox/list-byline-example-4-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_firefox/list-byline-example-4-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_firefox/list-byline-example-5-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_firefox/list-byline-example-5-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_firefox/list-byline-example-6-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_firefox/list-byline-example-6-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_microsoftedge/list-byline-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_microsoftedge/list-byline-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_microsoftedge/list-byline-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_microsoftedge/list-byline-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_microsoftedge/list-byline-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_microsoftedge/list-byline-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_microsoftedge/list-byline-example-3-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_microsoftedge/list-byline-example-3-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_microsoftedge/list-byline-example-4-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_microsoftedge/list-byline-example-4-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_microsoftedge/list-byline-example-5-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_microsoftedge/list-byline-example-5-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_microsoftedge/list-byline-example-6-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/list-byline/desktop_microsoftedge/list-byline-example-6-core-msedge-windows--1920x1080.png
  e2e/wdio/core/pages/list-byline.po.ts
  e2e/wdio/core/tests/list-byline.e2e-spec.ts
Labels: e2e, ready for merge

#5995 test(e2e): add e2e tests for upload collection component
  e2e/wdio/platform/fixtures/appData/upload-collection-content.ts
  e2e/wdio/platform/pages/upload-collection.po.ts
  e2e/wdio/platform/tests/upload-collection.e2e-spec.ts
  wdio-cron.conf.js
Labels: e2e, ready for merge

#6004 fix(core): fix access modifier for method in Input Group
  libs/core/src/lib/input-group/input-group.component.ts
Labels: QA Approved, bug, core, ready for merge

#6020 chore(core,platform): update to latest angular version 11
  package-lock.json
  package.json
Labels: dependencies

#5972 fix(platform): correct forms validation error message
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-content-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-list-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/radio-group/platform-radio-group-examples/platform-radio-group-list-items-example.component.html
  e2e/wdio/core/tests/list-byline.e2e-spec.ts
  e2e/wdio/core/tests/textarea.e2e-spec.ts
  e2e/wdio/platform/tests/checkbox.e2e-spec.ts
  e2e/wdio/platform/tests/input.e2e-spec.ts
  e2e/wdio/platform/tests/textarea.e2e-spec.ts
  libs/platform/src/lib/components/form/input-message-group-with-template/input-message-group-with-template.component.html
Labels: 0.31, QA Approved, platform, ready for merge

#6014 test(e2e): add e2e tests for time picker component
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_chrome/time-picker-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_chrome/time-picker-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_chrome/time-picker-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_chrome/time-picker-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_chrome/time-picker-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_chrome/time-picker-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_chrome/time-picker-example-3-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_chrome/time-picker-example-3-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_chrome/time-picker-example-4-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_chrome/time-picker-example-4-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_chrome/time-picker-example-5-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_chrome/time-picker-example-5-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_chrome/time-picker-example-6-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_chrome/time-picker-example-6-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_firefox/time-picker-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_firefox/time-picker-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_firefox/time-picker-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_firefox/time-picker-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_firefox/time-picker-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_firefox/time-picker-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_firefox/time-picker-example-3-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_firefox/time-picker-example-3-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_firefox/time-picker-example-4-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_firefox/time-picker-example-4-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_firefox/time-picker-example-5-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_firefox/time-picker-example-5-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_firefox/time-picker-example-6-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_firefox/time-picker-example-6-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_microsoftedge/time-picker-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_microsoftedge/time-picker-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_microsoftedge/time-picker-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_microsoftedge/time-picker-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_microsoftedge/time-picker-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_microsoftedge/time-picker-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_microsoftedge/time-picker-example-3-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_microsoftedge/time-picker-example-3-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_microsoftedge/time-picker-example-4-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_microsoftedge/time-picker-example-4-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_microsoftedge/time-picker-example-5-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_microsoftedge/time-picker-example-5-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_microsoftedge/time-picker-example-6-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/timePicker/desktop_microsoftedge/time-picker-example-6-core-msedge-windows--1920x1080.png
  e2e/wdio/core/pages/time-picker.po.ts
  e2e/wdio/core/tests/time-picker.e2e-spec.ts
Labels: e2e, ready for merge

#6015 fix(core,platform): feedinput component style cleanup
  libs/core/src/lib/feed-input/feed-input.component.scss
  libs/platform/src/lib/components/feed-input/feed-input.component.scss
Labels: 0.31, High, QA Approved, css clean up, ready for merge

#5959 fix(core): fix multi-input bugs
  apps/docs/src/app/core/component-docs/multi-input/examples/multi-input-async-example/multi-input-async-example.component.html
  apps/docs/src/app/core/component-docs/multi-input/examples/multi-input-compact-example/multi-input-compact-example.component.html
  apps/docs/src/app/core/component-docs/multi-input/examples/multi-input-displaywith-example/multi-input-displaywith-example.component.html
  apps/docs/src/app/core/component-docs/multi-input/examples/multi-input-example/multi-input-example.component.html
  apps/docs/src/app/core/component-docs/multi-input/examples/multi-input-example/multi-input-example.component.ts
  apps/docs/src/app/core/component-docs/multi-input/examples/multi-input-filter-example/multi-input-filter-example.component.html
  apps/docs/src/app/core/component-docs/multi-input/examples/multi-input-form-example/multi-input-form-example.component.html
  apps/docs/src/app/core/component-docs/multi-input/examples/multi-input-includes-example/multi-input-includes-example.component.html
  e2e/wdio/baselineScreenshot/core/multi-input/desktop_chrome/multi-input-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/core/tests/multi-input.e2e-spec.ts
  e2e/wdio/core/tests/popover.e2e-spec.ts
  libs/core/src/lib/combobox/combobox.component.ts
  libs/core/src/lib/combobox/combobox.module.ts
  libs/core/src/lib/combobox/public_api.ts
  libs/core/src/lib/multi-input/multi-input.component.html
  libs/core/src/lib/multi-input/multi-input.component.spec.ts
  libs/core/src/lib/multi-input/multi-input.component.ts
  libs/core/src/lib/multi-input/multi-input.module.ts
  libs/core/src/lib/token/token.component.ts
  libs/core/src/lib/token/tokenizer.component.ts
  libs/core/src/lib/utils/directives/auto-complete/auto-complete.directive.spec.ts
  libs/core/src/lib/utils/directives/auto-complete/auto-complete.directive.ts
  libs/core/src/lib/utils/directives/auto-complete/auto-complete.module.ts
  libs/core/src/lib/utils/public_api.ts
Labels: bug, denoland-porto

#6017 docs(core): notification group focus trap
  libs/core/src/lib/popover/popover-body/popover-body.component.ts
  libs/core/src/lib/popover/popover.component.ts
Labels: 0.31

#6031 fix(docs): add ability to include assets to examples
  apps/docs/src/app/core/component-docs/illustrated-message/illustrated-message-docs.component.ts
  apps/docs/src/app/documentation/core-helpers/code-example/example-file.ts
  apps/docs/src/app/documentation/core-helpers/stackblitz/stackblitz-dependencies.ts
  apps/docs/src/app/documentation/core-helpers/stackblitz/stackblitz.service.ts
Labels: bug, documentation

#6033 fix(core): check if component been destroyed before
  libs/core/src/lib/popover/popover-body/popover-body.component.ts
Labels: bug, denoland-porto

#6006 fix(platform): remove anchor from list item for multi-input value help
  libs/platform/src/lib/components/form/multi-input/multi-input.component.html
Labels: QA Approved, platform, ready for merge

#5683 fix(core,platform): fix a11y issues for slider
  apps/docs/src/app/core/component-docs/slider/examples/cozy/slider-cozy-example.component.html
  apps/docs/src/app/platform/component-docs/platform-slider/examples/form-field/slider-form-field-example.component.html
  e2e/wdio/core/tests/slider.e2e-spec.ts
  e2e/wdio/platform/tests/slider.e2e-spec.ts
  libs/core/src/lib/slider/slider.component.html
  libs/core/src/lib/slider/slider.component.ts
  libs/platform/src/lib/components/slider/slider.component.ts
  libs/platform/src/lib/components/slider/slider.module.ts
Labels: QA Approved, accessibility, core, platform, ready for merge

#6018 docs(core): improvements to branching wizard focus/selection logic
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-branching-example.component.html
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-branching-example.component.ts
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-example.component.scss
Labels: documentation

#5936 fix(platform): display default content density as core for components
  libs/platform/src/lib/components/button/button.component.html
Labels: QA Approved, platform, ready for merge, stale

#6057 fix(platform): remove hardcoded styles for step-input as part of style cleanup
  libs/platform/src/lib/components/form/step-input/step-input.scss
Labels: QA Approved, css clean up, platform, ready for merge, stale

#6042 test(e2e): add e2e tests for split-button component
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_chrome/split-button-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_chrome/split-button-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_chrome/split-button-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_chrome/split-button-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_chrome/split-button-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_chrome/split-button-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_chrome/split-button-example-3-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_chrome/split-button-example-3-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_chrome/split-button-example-4-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_chrome/split-button-example-4-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_firefox/split-button-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_firefox/split-button-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_firefox/split-button-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_firefox/split-button-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_firefox/split-button-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_firefox/split-button-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_firefox/split-button-example-3-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_firefox/split-button-example-3-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_firefox/split-button-example-4-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_firefox/split-button-example-4-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_microsoftedge/split-button-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_microsoftedge/split-button-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_microsoftedge/split-button-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_microsoftedge/split-button-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_microsoftedge/split-button-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_microsoftedge/split-button-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_microsoftedge/split-button-example-3-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_microsoftedge/split-button-example-3-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_microsoftedge/split-button-example-4-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/splitButton/desktop_microsoftedge/split-button-example-4-core-msedge-windows--1920x1080.png
  e2e/wdio/core/pages/split-button.po.ts
  e2e/wdio/core/tests/split-button.e2e-spec.ts
Labels: e2e, ready for merge

#6045 test(e2e): add e2e tests for switch component
  e2e/wdio/baselineScreenshot/core/switch/desktop_chrome/switch-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/switch/desktop_chrome/switch-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/switch/desktop_chrome/switch-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/switch/desktop_chrome/switch-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/switch/desktop_chrome/switch-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/switch/desktop_chrome/switch-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/switch/desktop_chrome/switch-example-3-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/switch/desktop_chrome/switch-example-3-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/switch/desktop_chrome/switch-example-4-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/switch/desktop_chrome/switch-example-4-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/switch/desktop_firefox/switch-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/switch/desktop_firefox/switch-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/switch/desktop_firefox/switch-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/switch/desktop_firefox/switch-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/switch/desktop_firefox/switch-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/switch/desktop_firefox/switch-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/switch/desktop_firefox/switch-example-3-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/switch/desktop_firefox/switch-example-3-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/switch/desktop_firefox/switch-example-4-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/switch/desktop_firefox/switch-example-4-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/switch/desktop_microsoftedge/switch-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/switch/desktop_microsoftedge/switch-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/switch/desktop_microsoftedge/switch-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/switch/desktop_microsoftedge/switch-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/switch/desktop_microsoftedge/switch-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/switch/desktop_microsoftedge/switch-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/switch/desktop_microsoftedge/switch-example-3-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/switch/desktop_microsoftedge/switch-example-3-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/switch/desktop_microsoftedge/switch-example-4-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/switch/desktop_microsoftedge/switch-example-4-core-msedge-windows--1920x1080.png
  e2e/wdio/core/pages/switch.po.ts
  e2e/wdio/core/tests/switch.e2e-spec.ts
Labels: e2e, ready for merge

#6056 fix(core,platform): fix weird selection behaviour because of using attr.name in radio button
  apps/docs/src/app/core/component-docs/radio/examples/radio-example.component.html
  libs/core/src/lib/radio/radio-button/radio-button.component.html
  libs/platform/src/lib/components/form/radio-group/radio/radio.component.spec.ts
Labels: QA Approved, core, platform, ready for merge

#6043 fix(platform): grouping & frozen columns table layout fix
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-docs.component.ts
  libs/platform/src/lib/components/table/directives/table-cell-resizable.directive.ts
  libs/platform/src/lib/components/table/table-column-resize.service.spec.ts
  libs/platform/src/lib/components/table/table-column-resize.service.ts
  libs/platform/src/lib/components/table/table.component.html
  libs/platform/src/lib/components/table/table.component.scss
  libs/platform/src/lib/components/table/table.component.spec.ts
  libs/platform/src/lib/components/table/table.component.ts
Labels: QA Approved, bug, platform, ready for merge, table

#6079 fix(core): fix extra onChange event in the TimePicker component
  apps/docs/src/app/core/component-docs/time-picker/examples/time-picker-form-example.component.html
  apps/docs/src/app/core/component-docs/time-picker/examples/time-picker-form-example.component.ts
  e2e/wdio/core/tests/time-picker.e2e-spec.ts
  libs/core/src/lib/time-picker/time-picker.component.html
  libs/core/src/lib/time-picker/time-picker.component.spec.ts
  libs/core/src/lib/time-picker/time-picker.component.ts
  libs/platform/src/lib/components/form/time-picker/time-picker.component.ts
Labels: stale

#6051 docs(platform): add ariba labels to those component doc pages
  apps/docs/src/app/documentation/shared-core-modules.ts
  apps/docs/src/app/platform/component-docs/platform-action-bar/platform-action-bar-header/platform-action-bar-header.component.html
  apps/docs/src/app/platform/component-docs/platform-approval-flow/platform-approval-flow-header/platform-approval-flow-header.component.html
  apps/docs/src/app/platform/component-docs/platform-page-footer/platform-page-footer-header/platform-page-footer-header.component.html
  apps/docs/src/app/platform/component-docs/platform-thumbnail/platform-thumbnail-header/platform-thumbnail-header.component.html
  apps/docs/src/app/platform/component-docs/platform-upload-collection/platform-upload-collection-header/platform-upload-collection-header.component.html
Labels: documentation
