Repository SAP/fundamental-ngx, pull requests merged in 2021-09, with the labels that each got.

#6396 fix(core): remove hardcoded style from ngx for toolbar component
  apps/docs/src/app/core/component-docs/toolbar/examples/toolbar-overflow-example.component.html
  apps/docs/src/app/core/component-docs/toolbar/toolbar-docs.component.html
  e2e/wdio/core/pages/toolbar.po.ts
  libs/core/src/lib/toolbar/toolbar-form-label.directive.ts
  libs/core/src/lib/toolbar/toolbar-label.directive.ts
  libs/core/src/lib/toolbar/toolbar-overflow-button-menu.directive.ts
  libs/core/src/lib/toolbar/toolbar-overflow-button.directive.ts
  libs/core/src/lib/toolbar/toolbar.component.html
  libs/core/src/lib/toolbar/toolbar.component.scss
  libs/core/src/lib/toolbar/toolbar.module.ts
  package-lock.json
  package.json
Labels: core, ready for merge, QA Approved, css clean up

#6394 feat(core): implemented MVP of timeline component
  angular.json
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/timeline/examples/timeline-basic-example/timeline-basic-example.component.html
  apps/docs/src/app/core/component-docs/timeline/examples/timeline-basic-example/timeline-basic-example.component.scss
  apps/docs/src/app/core/component-docs/timeline/examples/timeline-basic-example/timeline-basic-example.component.ts
  apps/docs/src/app/core/component-docs/timeline/examples/timeline-basic-example/timeline-example-data.ts
  apps/docs/src/app/core/component-docs/timeline/timeline-docs.component.html
  apps/docs/src/app/core/component-docs/timeline/timeline-docs.component.ts
  apps/docs/src/app/core/component-docs/timeline/timeline-docs.module.ts
  apps/docs/src/app/core/component-docs/timeline/timeline-header-docs/timeline-header-docs.component.html
  apps/docs/src/app/core/component-docs/timeline/timeline-header-docs/timeline-header-docs.component.ts
  apps/docs/src/app/core/core-documentation.routes.ts
  apps/docs/src/app/core/documentation/core-documentation.component.ts
  libs/core/src/lib/fundamental-ngx.module.ts
  libs/core/src/lib/public_api.ts
  libs/core/src/lib/timeline/README.md
  libs/core/src/lib/timeline/components/timeline-node-body/timeline-node-body.component.html
  libs/core/src/lib/timeline/components/timeline-node-body/timeline-node-body.component.spec.ts
  libs/core/src/lib/timeline/components/timeline-node-body/timeline-node-body.component.ts
  libs/core/src/lib/timeline/components/timeline-node-footer/timeline-node-footer.component.ts
  libs/core/src/lib/timeline/components/timeline-node-header/timeline-node-header-info/timeline-node-header-info.component.ts
  libs/core/src/lib/timeline/components/timeline-node-header/timeline-node-header.component.ts
  libs/core/src/lib/timeline/components/timeline-node/timeline-node.component.html
  libs/core/src/lib/timeline/components/timeline-node/timeline-node.component.spec.ts
  libs/core/src/lib/timeline/components/timeline-node/timeline-node.component.ts
  libs/core/src/lib/timeline/directives/class-bindings/timeline-header-info-sub-title.directive.spec.ts
  libs/core/src/lib/timeline/directives/class-bindings/timeline-header-info-sub-title.directive.ts
  libs/core/src/lib/timeline/directives/class-bindings/timeline-node-header-info-text.directive.spec.ts
  libs/core/src/lib/timeline/directives/class-bindings/timeline-node-header-info-text.directive.ts
  libs/core/src/lib/timeline/directives/class-bindings/timeline-node-header-info-title.directive.spec.ts
  libs/core/src/lib/timeline/directives/class-bindings/timeline-node-header-info-title.directive.ts
  libs/core/src/lib/timeline/directives/timeline-node-def.directive.ts
  libs/core/src/lib/timeline/directives/timeline-node-outlet.directive.ts
  libs/core/src/lib/timeline/fundamental-styles/index.scss
  libs/core/src/lib/timeline/fundamental-styles/mixins.scss
  libs/core/src/lib/timeline/index.ts
  libs/core/src/lib/timeline/karma.conf.js
  libs/core/src/lib/timeline/ng-package.json
  libs/core/src/lib/timeline/package.json
  libs/core/src/lib/timeline/public_api.ts
  libs/core/src/lib/timeline/test.ts
  libs/core/src/lib/timeline/timeline.component.html
  libs/core/src/lib/timeline/timeline.component.scss
  libs/core/src/lib/timeline/timeline.component.spec.ts
  libs/core/src/lib/timeline/timeline.component.ts
  libs/core/src/lib/timeline/timeline.module.ts
  libs/core/src/lib/timeline/tsconfig.json
  libs/core/src/lib/timeline/tsconfig.lib.json
  libs/core/src/lib/timeline/tsconfig.lib.prod.json
  libs/core/src/lib/timeline/tsconfig.spec.json
  libs/core/src/lib/timeline/tslint.json
  libs/core/src/lib/toolbar/public_api.ts
  nx.json
  tsconfig.base.json
Labels: enhancement, core

#6363 fix(core): add RTL to left and right placement popover and visual fixes
  apps/docs/src/app/core/component-docs/popover/examples/popover-scroll-example/popover-scroll-example.component.ts
  libs/core/src/lib/popover/popover-body/popover-body.component.scss
  libs/core/src/lib/popover/popover-service/popover.service.ts
  libs/core/src/lib/shared/interfaces/popover-position.ts
Labels: core, Defect Hunting, ready for merge, QA Approved

#6379 docs(core): adding accessability label and removing the hardcoded background
  apps/docs/src/app/core/component-docs/link/examples/link-example.component.html
  apps/docs/src/app/core/component-docs/link/link-docs.module.ts
  package-lock.json
  package.json
Labels: core, ready for merge, ariba, QA Approved, ATL

#6464 chore: increase travis_wait time
  .travis.yml
Labels: tooling

#6118 fix(core,platform): fix a11y for Upload Collection
  libs/core/src/lib/bar/button-bar/button-bar.component.ts
  libs/platform/src/lib/menu-button/menu-button.component.html
  libs/platform/src/lib/upload-collection/dialogs/new-folder/new-folder.component.html
  libs/platform/src/lib/upload-collection/upload-collection/upload-collection.component.html
  libs/platform/src/lib/upload-collection/upload-collection/upload-collection.component.ts
Labels: platform, core, ready for merge, QA Approved, ATL, stale

#6302 test(e2e): add e2e tests for tile component
  e2e/wdio/baselineScreenshot/core/tile/desktop_chrome/tile-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_chrome/tile-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_chrome/tile-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_chrome/tile-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_chrome/tile-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_chrome/tile-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_chrome/tile-example-3-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_chrome/tile-example-3-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_chrome/tile-example-4-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_chrome/tile-example-4-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_chrome/tile-example-5-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_chrome/tile-example-5-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_chrome/tile-example-6-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_chrome/tile-example-6-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_firefox/tile-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_firefox/tile-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_firefox/tile-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_firefox/tile-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_firefox/tile-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_firefox/tile-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_firefox/tile-example-3-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_firefox/tile-example-3-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_firefox/tile-example-4-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_firefox/tile-example-4-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_firefox/tile-example-5-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_firefox/tile-example-5-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_firefox/tile-example-6-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_firefox/tile-example-6-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_microsoftedge/tile-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_microsoftedge/tile-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_microsoftedge/tile-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_microsoftedge/tile-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_microsoftedge/tile-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_microsoftedge/tile-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_microsoftedge/tile-example-3-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_microsoftedge/tile-example-3-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_microsoftedge/tile-example-4-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_microsoftedge/tile-example-4-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_microsoftedge/tile-example-5-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_microsoftedge/tile-example-5-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_microsoftedge/tile-example-6-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/tile/desktop_microsoftedge/tile-example-6-core-msedge-windows--1920x1080.png
  e2e/wdio/core/pages/tile.po.ts
  e2e/wdio/core/tests/tile.e2e-spec.ts
Labels: ready for merge, e2e

#6421 test(e2e): add e2e tests for step input component
  e2e/wdio/baselineScreenshot/core/step-input/desktop_chrome/step-input-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_chrome/step-input-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_chrome/step-input-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_chrome/step-input-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_chrome/step-input-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_chrome/step-input-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_chrome/step-input-example-3-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_chrome/step-input-example-3-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_chrome/step-input-example-4-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_chrome/step-input-example-4-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_chrome/step-input-example-5-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_chrome/step-input-example-5-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_chrome/step-input-example-6-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_chrome/step-input-example-6-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_firefox/step-input-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_firefox/step-input-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_firefox/step-input-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_firefox/step-input-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_firefox/step-input-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_firefox/step-input-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_firefox/step-input-example-3-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_firefox/step-input-example-3-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_firefox/step-input-example-4-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_firefox/step-input-example-4-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_firefox/step-input-example-5-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_firefox/step-input-example-5-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_firefox/step-input-example-6-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_firefox/step-input-example-6-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_microsoftedge/step-input-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_microsoftedge/step-input-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_microsoftedge/step-input-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_microsoftedge/step-input-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_microsoftedge/step-input-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_microsoftedge/step-input-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_microsoftedge/step-input-example-3-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_microsoftedge/step-input-example-3-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_microsoftedge/step-input-example-4-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_microsoftedge/step-input-example-4-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_microsoftedge/step-input-example-5-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_microsoftedge/step-input-example-5-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_microsoftedge/step-input-example-6-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/step-input/desktop_microsoftedge/step-input-example-6-core-msedge-windows--1920x1080.png
  e2e/wdio/core/fixtures/appData/step-input-content.ts
  e2e/wdio/core/pages/step-input.po.ts
  e2e/wdio/core/tests/step-input.e2e-spec.ts
Labels: ready for merge, e2e

#6388 fix(platform): fix a11y issue for object status component
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-clickable-and-icon-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-generic-text-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-icon-text-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-inverted-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-inverted-generic-text-example.component.html
  apps/docs/src/app/platform/component-docs/platform-object-status/platform-object-status-example/platform-object-status-large-example.component.html
  libs/core/src/lib/flexible-column-layout/flexible-column-layout.component.spec.ts
  libs/platform/src/lib/object-status/object-status.component.html
Labels: bug, ready for merge, ariba, QA Approved, ATL

#6439 test(e2e): add e2e tests for resizable card layout component
  e2e/wdio/baselineScreenshot/core/resizable-card-layout/desktop_chrome/resizable-card-layout-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/resizable-card-layout/desktop_chrome/resizable-card-layout-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/resizable-card-layout/desktop_chrome/resizable-card-layout-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/resizable-card-layout/desktop_chrome/resizable-card-layout-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/resizable-card-layout/desktop_chrome/resizable-card-layout-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/resizable-card-layout/desktop_chrome/resizable-card-layout-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/resizable-card-layout/desktop_firefox/resizable-card-layout-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/resizable-card-layout/desktop_firefox/resizable-card-layout-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/resizable-card-layout/desktop_firefox/resizable-card-layout-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/resizable-card-layout/desktop_firefox/resizable-card-layout-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/resizable-card-layout/desktop_firefox/resizable-card-layout-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/resizable-card-layout/desktop_firefox/resizable-card-layout-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/resizable-card-layout/desktop_microsoftedge/resizable-card-layout-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/resizable-card-layout/desktop_microsoftedge/resizable-card-layout-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/resizable-card-layout/desktop_microsoftedge/resizable-card-layout-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/resizable-card-layout/desktop_microsoftedge/resizable-card-layout-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/resizable-card-layout/desktop_microsoftedge/resizable-card-layout-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/resizable-card-layout/desktop_microsoftedge/resizable-card-layout-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/core/fixtures/appData/resizable-card-layout.contents.ts
  e2e/wdio/core/pages/resizable-card-layout.po.ts
  e2e/wdio/core/tests/resizable-card-layout.e2e-spec.ts
Labels: ready for merge, e2e

#6440 test(e2e): add e2e tests for wizard component
  e2e/wdio/baselineScreenshot/core/wizard/desktop_chrome/wizard-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_chrome/wizard-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_chrome/wizard-example-1-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_chrome/wizard-example-1-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_chrome/wizard-example-2-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_chrome/wizard-example-2-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_chrome/wizard-example-3-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_chrome/wizard-example-3-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_chrome/wizard-example-4-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_chrome/wizard-example-4-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_chrome/wizard-example-5-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_chrome/wizard-example-5-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_firefox/wizard-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_firefox/wizard-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_firefox/wizard-example-1-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_firefox/wizard-example-1-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_firefox/wizard-example-2-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_firefox/wizard-example-2-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_firefox/wizard-example-3-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_firefox/wizard-example-3-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_firefox/wizard-example-4-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_firefox/wizard-example-4-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_firefox/wizard-example-5-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_firefox/wizard-example-5-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_microsoftedge/wizard-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_microsoftedge/wizard-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_microsoftedge/wizard-example-1-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_microsoftedge/wizard-example-1-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_microsoftedge/wizard-example-2-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_microsoftedge/wizard-example-2-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_microsoftedge/wizard-example-3-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_microsoftedge/wizard-example-3-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_microsoftedge/wizard-example-4-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_microsoftedge/wizard-example-4-core-msedge-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_microsoftedge/wizard-example-5-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/wizard/desktop_microsoftedge/wizard-example-5-core-msedge-windows--1920x1080.png
  e2e/wdio/core/fixtures/testData/wizard.tags.ts
  e2e/wdio/core/pages/wizard.po.ts
  e2e/wdio/core/tests/wizard.e2e-spec.ts
Labels: ready for merge, e2e

#6437 fix(core): message-box, fix rtl mode
  apps/docs/src/app/core/component-docs/message-box/examples/complex-template/complex-template-example.component.ts
  apps/docs/src/app/core/component-docs/message-box/examples/component-based/component-based-message-box-example.component.ts
  apps/docs/src/app/core/component-docs/message-box/examples/custom-position/message-box-position-example.component.ts
  apps/docs/src/app/core/component-docs/message-box/examples/mobile-mode/message-box-mobile-example.component.ts
  apps/docs/src/app/core/component-docs/message-box/examples/object-based/object-based-message-box-example.component.ts
  apps/docs/src/app/core/component-docs/message-box/examples/semantic-types/semantic-types-example.component.ts
  libs/core/src/lib/message-box/services/message-box.service.ts
  libs/core/src/lib/message-box/utils/message-box-config.class.ts
Labels: core, ready for merge, QA Approved, stale

#6441 test(e2e): update cron job wdio config to exclude datepicker test
  wdio-cron.conf.js
Labels: ready for merge, e2e

#6424 fix(platform): fix fdp-menu-item extra spaces
  libs/platform/src/lib/menu/menu-item.component.html
  libs/platform/src/lib/menu/menu-item.component.ts
  libs/platform/src/lib/menu/menu-trigger.directive.ts
  libs/platform/src/lib/menu/menu.component.html
  libs/platform/src/lib/menu/menu.component.ts
  libs/platform/src/lib/menu/menu.spec.ts
Labels: bug, platform

#6429 fix(core): dnd prevent focus applying after dropping item
  apps/docs/src/app/core/component-docs/list/examples/list-dnd-example/list-dnd-example.component.html
  apps/docs/src/app/core/component-docs/list/examples/list-dnd-example/list-dnd-example.component.ts
  libs/core/src/lib/utils/drag-and-drop/dnd-item/dnd-item.directive.ts
  libs/core/src/lib/utils/drag-and-drop/dnd-list/dnd-list.directive.ts
Labels: core, ready for merge, QA Approved

#6453 chore(release): update PR Template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: tooling

#6356 fix(core): tabs, fix collapseOverflow for icon only mode
  libs/core/src/lib/tabs/tab-list.component.html
  libs/core/src/lib/tabs/tab-list.component.ts
Labels: core, ready for merge

#6386 fix(platform): combobox tab order in safari
  libs/platform/src/lib/form/auto-complete/auto-complete.directive.ts
Labels: platform, ready for merge, QA Approved

#6425 fix(core): remove grid list component css from Ngx
  libs/core/src/lib/grid-list/components/grid-list-filter-bar/grid-list-filter-bar.component.scss
  libs/core/src/lib/grid-list/components/grid-list-filter-bar/grid-list-filter-bar.component.ts
  libs/core/src/lib/grid-list/components/grid-list-item/grid-list-item.component.html
  libs/core/src/lib/grid-list/components/grid-list-item/grid-list-item.component.scss
  libs/core/src/lib/grid-list/components/grid-list/grid-list.component.scss
  libs/core/src/lib/toolbar/toolbar.component.html
Labels: core, ready for merge, QA Approved, css clean up

#6364 fix(core): overwrite title and aria-label in input-group component
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-states-example.component.html
  libs/core/src/lib/input-group/input-group.component.html
Labels: bug, core, ready for merge, QA Approved

#6418 feat(core): micro process flow
  angular.json
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/micro-process-flow/examples/micro-process-flow-custom-width-example.component.html
  apps/docs/src/app/core/component-docs/micro-process-flow/examples/micro-process-flow-custom-width-example.component.ts
  apps/docs/src/app/core/component-docs/micro-process-flow/examples/micro-process-flow-example.component.html
  apps/docs/src/app/core/component-docs/micro-process-flow/examples/micro-process-flow-example.component.ts
  apps/docs/src/app/core/component-docs/micro-process-flow/examples/micro-process-flow-independent-items-example.component.html
  apps/docs/src/app/core/component-docs/micro-process-flow/examples/micro-process-flow-independent-items-example.component.ts
  apps/docs/src/app/core/component-docs/micro-process-flow/examples/micro-process-flow-object-between-nodes-example.component.html
  apps/docs/src/app/core/component-docs/micro-process-flow/examples/micro-process-flow-object-between-nodes-example.component.ts
  apps/docs/src/app/core/component-docs/micro-process-flow/examples/micro-process-flow-other-controls-example.component.html
  apps/docs/src/app/core/component-docs/micro-process-flow/examples/micro-process-flow-other-controls-example.component.ts
  apps/docs/src/app/core/component-docs/micro-process-flow/examples/micro-process-flow-overflow-example.component.html
  apps/docs/src/app/core/component-docs/micro-process-flow/examples/micro-process-flow-overflow-example.component.ts
  apps/docs/src/app/core/component-docs/micro-process-flow/examples/micro-process-flow-popover-example.component.html
  apps/docs/src/app/core/component-docs/micro-process-flow/examples/micro-process-flow-popover-example.component.ts
  apps/docs/src/app/core/component-docs/micro-process-flow/micro-process-flow-docs.component.html
  apps/docs/src/app/core/component-docs/micro-process-flow/micro-process-flow-docs.component.ts
  apps/docs/src/app/core/component-docs/micro-process-flow/micro-process-flow-docs.module.ts
  apps/docs/src/app/core/component-docs/micro-process-flow/micro-process-flow-header/micro-process-flow-header.component.html
  apps/docs/src/app/core/component-docs/micro-process-flow/micro-process-flow-header/micro-process-flow-header.component.ts
  apps/docs/src/app/core/core-documentation.routes.ts
  apps/docs/src/app/core/documentation/core-documentation.component.ts
  libs/core/src/lib/fundamental-ngx.module.ts
  libs/core/src/lib/illustrated-message/illustrated-message.component.scss
  libs/core/src/lib/micro-process-flow/README.md
  libs/core/src/lib/micro-process-flow/components/micro-process-flow-icon/micro-process-flow-icon.component.html
  libs/core/src/lib/micro-process-flow/components/micro-process-flow-icon/micro-process-flow-icon.component.spec.ts
  libs/core/src/lib/micro-process-flow/components/micro-process-flow-icon/micro-process-flow-icon.component.ts
  libs/core/src/lib/micro-process-flow/components/micro-process-flow-item/micro-process-flow-item.component.html
  libs/core/src/lib/micro-process-flow/components/micro-process-flow-item/micro-process-flow-item.component.spec.ts
  libs/core/src/lib/micro-process-flow/components/micro-process-flow-item/micro-process-flow-item.component.ts
  libs/core/src/lib/micro-process-flow/components/micro-process-flow/micro-process-flow.component.html
  libs/core/src/lib/micro-process-flow/components/micro-process-flow/micro-process-flow.component.scss
  libs/core/src/lib/micro-process-flow/components/micro-process-flow/micro-process-flow.component.spec.ts
  libs/core/src/lib/micro-process-flow/components/micro-process-flow/micro-process-flow.component.ts
  libs/core/src/lib/micro-process-flow/index.ts
  libs/core/src/lib/micro-process-flow/injection-tokens.ts
  libs/core/src/lib/micro-process-flow/karma.conf.js
  libs/core/src/lib/micro-process-flow/micro-process-flow-focusable-item.directive.spec.ts
  libs/core/src/lib/micro-process-flow/micro-process-flow-focusable-item.directive.ts
  libs/core/src/lib/micro-process-flow/micro-process-flow-intermediary-item.directive.spec.ts
  libs/core/src/lib/micro-process-flow/micro-process-flow-intermediary-item.directive.ts
  libs/core/src/lib/micro-process-flow/micro-process-flow.module.ts
  libs/core/src/lib/micro-process-flow/mixins.scss
  libs/core/src/lib/micro-process-flow/ng-package.json
  libs/core/src/lib/micro-process-flow/package.json
  libs/core/src/lib/micro-process-flow/public_api.ts
  libs/core/src/lib/micro-process-flow/test.ts
  libs/core/src/lib/micro-process-flow/tsconfig.json
  libs/core/src/lib/micro-process-flow/tsconfig.lib.json
  libs/core/src/lib/micro-process-flow/tsconfig.lib.prod.json
  libs/core/src/lib/micro-process-flow/tsconfig.spec.json
  libs/core/src/lib/micro-process-flow/tslint.json
  libs/core/src/lib/micro-process-flow/types.ts
  libs/core/src/lib/micro-process-flow/variables.scss
  libs/core/src/lib/public_api.ts
  nx.json
  tsconfig.base.json
Labels: enhancement, core, stale

#6435 docs(core): adding tooltip to the button for tile component
  apps/docs/src/app/core/component-docs/tile/examples/action-tile-example.component.html
Labels: core, ready for merge, ariba, QA Approved, ATL

#6442 fix(core): combobox, fix rtl mode for mobile
  libs/core/src/lib/combobox/combobox-mobile/combobox-mobile.component.ts
  libs/core/src/lib/combobox/combobox.component.ts
Labels: core, ready for merge, QA Approved

#6470 fix(core,platform): fix combobox readonly mode style
  libs/core/src/lib/combobox/combobox.component.html
  libs/core/src/lib/input-group/input-group.component.html
  libs/core/src/lib/input-group/input-group.component.ts
  libs/platform/src/lib/form/combobox/combobox/combobox.component.html
Labels: bug, platform, core, ready for merge, QA Approved

#6471 test(core): flexible-column-layout, fix tests
  libs/core/src/lib/flexible-column-layout/flexible-column-layout.component.spec.ts
Labels: core, ready for merge, unit tests

#6473 fix(platform): fix a11y issue for platform object attribute component
  libs/platform/src/lib/object-attribute/object-attribute.component.html
Labels: bug, platform, ready for merge, QA Approved, ATL

#6489 fix(platform): fix wizard generator related issues
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/examples/wizard-generator-external-navigation-example.component.html
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/examples/wizard-generator-external-navigation-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/examples/wizard-generator-summary-objects-example.component.html
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/examples/wizard-generator-summary-objects-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/platform-wizard-generator-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/platform-wizard-generator-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/platform-wizard-generator-docs.module.ts
  libs/platform/src/lib/form/form-generator/form-generator.service.ts
  libs/platform/src/lib/form/form-generator/form-generator/form-generator.component.html
  libs/platform/src/lib/form/form-generator/form-generator/form-generator.component.ts
  libs/platform/src/lib/form/form-generator/interfaces/dynamic-form-item.ts
  libs/platform/src/lib/form/form-group/form-field/form-field.component.html
  libs/platform/src/lib/form/form-group/form-group.component.ts
  libs/platform/src/lib/wizard-generator/base-wizard-generator.ts
  libs/platform/src/lib/wizard-generator/components/dialog-wizard-generator/dialog-wizard-generator.component.html
  libs/platform/src/lib/wizard-generator/components/dialog-wizard-generator/dialog-wizard-generator.component.ts
  libs/platform/src/lib/wizard-generator/components/wizard-body/wizard-body.component.html
  libs/platform/src/lib/wizard-generator/components/wizard-body/wizard-body.component.ts
  libs/platform/src/lib/wizard-generator/components/wizard-generator/wizard-generator.component.html
  libs/platform/src/lib/wizard-generator/components/wizard-summary-step/wizard-summary-section/wizard-summary-section.component.ts
  libs/platform/src/lib/wizard-generator/interfaces/wizard-dialog-data.interface.ts
  libs/platform/src/lib/wizard-generator/wizard-generator.service.spec.ts
Labels: bug, enhancement

#6392 feat(core): implement upload-collection in fundamental-ngx
  angular.json
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/upload-collection/examples/upload-collection-complex-example.component.html
  apps/docs/src/app/core/component-docs/upload-collection/examples/upload-collection-complex-example.component.ts
  apps/docs/src/app/core/component-docs/upload-collection/examples/upload-collection-custom-example.component.html
  apps/docs/src/app/core/component-docs/upload-collection/examples/upload-collection-custom-example.component.ts
  apps/docs/src/app/core/component-docs/upload-collection/examples/upload-collection-empty-example.component.html
  apps/docs/src/app/core/component-docs/upload-collection/examples/upload-collection-empty-example.component.ts
  apps/docs/src/app/core/component-docs/upload-collection/examples/upload-collection-example.component.html
  apps/docs/src/app/core/component-docs/upload-collection/examples/upload-collection-example.component.ts
  apps/docs/src/app/core/component-docs/upload-collection/examples/upload-collection-small-example.component.html
  apps/docs/src/app/core/component-docs/upload-collection/examples/upload-collection-small-example.component.ts
  apps/docs/src/app/core/component-docs/upload-collection/upload-collection-docs.component.html
  apps/docs/src/app/core/component-docs/upload-collection/upload-collection-docs.component.ts
  apps/docs/src/app/core/component-docs/upload-collection/upload-collection-docs.module.ts
  apps/docs/src/app/core/component-docs/upload-collection/upload-collection-header/upload-collection-header.component.html
  apps/docs/src/app/core/component-docs/upload-collection/upload-collection-header/upload-collection-header.component.ts
  apps/docs/src/app/core/core-documentation.routes.ts
  apps/docs/src/app/core/documentation/core-documentation.component.ts
  libs/core/src/lib/file-uploader/file-uploader.component.html
  libs/core/src/lib/file-uploader/file-uploader.component.ts
  libs/core/src/lib/fundamental-ngx.module.ts
  libs/core/src/lib/public_api.ts
  libs/core/src/lib/upload-collection/README.md
  libs/core/src/lib/upload-collection/index.ts
  libs/core/src/lib/upload-collection/karma.conf.js
  libs/core/src/lib/upload-collection/ng-package.json
  libs/core/src/lib/upload-collection/package.json
  libs/core/src/lib/upload-collection/public_api.ts
  libs/core/src/lib/upload-collection/test.ts
  libs/core/src/lib/upload-collection/tsconfig.json
  libs/core/src/lib/upload-collection/tsconfig.lib.json
  libs/core/src/lib/upload-collection/tsconfig.lib.prod.json
  libs/core/src/lib/upload-collection/tsconfig.spec.json
  libs/core/src/lib/upload-collection/tslint.json
  libs/core/src/lib/upload-collection/upload-collection-button-group/upload-collection-button-group.component.html
  libs/core/src/lib/upload-collection/upload-collection-button-group/upload-collection-button-group.component.spec.ts
  libs/core/src/lib/upload-collection/upload-collection-button-group/upload-collection-button-group.component.ts
  libs/core/src/lib/upload-collection/upload-collection-form-item/upload-collection-form-item.component.html
  libs/core/src/lib/upload-collection/upload-collection-form-item/upload-collection-form-item.component.spec.ts
  libs/core/src/lib/upload-collection/upload-collection-form-item/upload-collection-form-item.component.ts
  libs/core/src/lib/upload-collection/upload-collection-item.directive.spec.ts
  libs/core/src/lib/upload-collection/upload-collection-item.directive.ts
  libs/core/src/lib/upload-collection/upload-collection-simple.directives.ts
  libs/core/src/lib/upload-collection/upload-collection.component.scss
  libs/core/src/lib/upload-collection/upload-collection.component.spec.ts
  libs/core/src/lib/upload-collection/upload-collection.component.ts
  libs/core/src/lib/upload-collection/upload-collection.module.ts
  nx.json
  tsconfig.base.json
Labels: enhancement, core

#6486 test(e2e): add e2e tests for message-toast component
  e2e/wdio/baselineScreenshot/core/message-toast/desktop_chrome/message-toast-example-0-core-chrome-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-toast/desktop_chrome/message-toast-example-0-core-chrome-windows--1920x1080.png
  e2e/wdio/baselineScreenshot/core/message-toast/desktop_firefox/message-toast-example-0-core-firefox-mac--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-toast/desktop_firefox/message-toast-example-0-core-firefox-windows--1936x1096.png
  e2e/wdio/baselineScreenshot/core/message-toast/desktop_microsoftedge/message-toast-example-0-core-msedge-mac_os_x--1920x1417.png
  e2e/wdio/baselineScreenshot/core/message-toast/desktop_microsoftedge/message-toast-example-0-core-msedge-windows--1920x1080.png
  e2e/wdio/core/pages/message-toast.po.ts
  e2e/wdio/core/tests/message-toast.e2e-spec.ts
Labels: ready for merge, e2e

#6448 fix(platform): input, textarea, fix focus
  libs/platform/src/lib/form/input/input.component.html
  libs/platform/src/lib/form/input/input.component.ts
  libs/platform/src/lib/form/step-input/number/number-step-input.component.html
  libs/platform/src/lib/form/text-area/text-area.component.html
  libs/platform/src/lib/form/text-area/text-area.component.spec.ts
  libs/platform/src/lib/form/text-area/text-area.component.ts
  libs/platform/src/lib/shared/form/base.input.ts
Labels: platform, ready for merge, QA Approved

#6475 fix(core): menu, fix close popover on destroy
  libs/core/src/lib/menu/menu.component.ts
Labels: core, ready for merge, QA Approved, stale

#6490 fix(platform): vhd, fix row margin
  libs/platform/src/lib/value-help-dialog/components/define-tab/define-tab.component.scss
Labels: platform, ready for merge, QA Approved, styling, stale

#6516 fix(platform): form-field, remove unnecessary code
  libs/platform/src/lib/form/form-group/form-field/form-field.component.html
Labels: platform

#6513 feat(platform): custom element for no data message
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-no-items-template-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-no-items-template-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table.module.ts
  libs/platform/src/lib/table/components/no-data-wrapper/no-data-wrapper.component.ts
  libs/platform/src/lib/table/public_api.ts
  libs/platform/src/lib/table/table.component.html
  libs/platform/src/lib/table/table.component.scss
  libs/platform/src/lib/table/table.module.ts
Labels: enhancement

#6443 fix(core): dialog, fix resizable in RTL mode
  libs/core/src/lib/utils/directives/resize/resize.directive.ts
Labels: core, ready for merge, QA Approved, stale

#6493 test(e2e): add e2e for form container component
  e2e/wdio/helper/common-helper.ts
  e2e/wdio/platform/pages/form-container.po.ts
  e2e/wdio/platform/tests/form-container.e2e-spec.ts
  wdio-cron.conf.js
Labels: ready for merge, e2e

#6528 feat(platform): add automatic colons for the labels
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-docs.module.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-examples/platform-form-generator-no-colons-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-generator/platform-form-generator-examples/platform-form-generator-no-colons-example.component.ts
  libs/platform/src/lib/form/form-generator/form-generator/form-generator.component.html
  libs/platform/src/lib/form/form-generator/interfaces/dynamic-form-item.ts
Labels: enhancement

#6522 test(e2e): add tests for message page component
  e2e/wdio/core/fixtures/appData/message-page-content.ts
  e2e/wdio/core/pages/message-page.po.ts
  e2e/wdio/core/tests/message-page.e2e-spec.ts
  e2e/wdio/helper/assertion-helper.ts
Labels: ready for merge, e2e

#6556 test(e2e): add tests for timeline component
  e2e/wdio/core/pages/timeline.po.ts
  e2e/wdio/core/tests/timeline.e2e-spec.ts
Labels: ready for merge, e2e

#6558 test(e2e): add e2e tests for dynamic page component
  e2e/wdio/core/pages/dynamic-page.po.ts
  e2e/wdio/core/tests/dynamic-page.e2e-spec.ts
Labels: ready for merge, e2e

#6555 fix(core): rtl fix for connector margin
  libs/core/src/lib/micro-process-flow/components/micro-process-flow/micro-process-flow.component.scss
  libs/core/src/lib/micro-process-flow/mixins.scss
Labels: bug

#6559 fix: add temporary style fix for action buttons in Timeline
  libs/core/src/lib/timeline/components/timeline-node-footer/timeline-node-footer.component.ts
Labels: styling

#6431 fix(core): fix bug with pagination itemsPerPage not updating correctly
  libs/core/src/lib/pagination/pagination.component.spec.ts
  libs/core/src/lib/pagination/pagination.component.ts
Labels: bug

#6536 fix(platform): remove broken properties from wizard generator
  libs/platform/src/lib/wizard-generator/components/wizard-body/wizard-body.component.html
  libs/platform/src/lib/wizard-generator/components/wizard-generator/wizard-generator.component.html
Labels: bug

#6532 test(e2e): add tests for token component
  e2e/wdio/core/pages/token.po.ts
  e2e/wdio/core/tests/token.e2e-spec.ts
Labels: ready for merge, e2e

#6514 fix(platform): remove unused module imports in ApprovalFlow component
  libs/platform/src/lib/approval-flow/approval-flow.module.ts
  libs/platform/src/lib/approval-flow/tsconfig.json
Labels: QA Approved

#6557 test(e2e): add e2e test for title component
  e2e/wdio/core/fixtures/appData/title-contents.ts
  e2e/wdio/core/pages/title.po.ts
  e2e/wdio/core/tests/title.e2e-spec.ts
Labels: ready for merge, e2e

#6561 test(e2e): update dynamicPage selector per cron job report
  e2e/wdio/core/pages/dynamic-page.po.ts
Labels: ready for merge, e2e

#6527 fix(platform): correct delete behaviour for textarea
  libs/platform/src/lib/form/text-area/text-area.component.ts
Labels: bug, QA Approved

#6577 feat(platform): custom wizard generator summary section
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/examples/wizard-generator-customizable-embeded-example.component.html
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/examples/wizard-generator-customizable-embeded-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/examples/wizard-generator-customizable-example.component.html
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/examples/wizard-generator-customizable-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/platform-wizard-generator-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/platform-wizard-generator-docs.module.ts
  libs/platform/src/lib/wizard-generator/components/dialog-wizard-generator/dialog-wizard-generator.component.html
  libs/platform/src/lib/wizard-generator/components/dialog-wizard-generator/dialog-wizard-generator.component.ts
  libs/platform/src/lib/wizard-generator/components/wizard-body/wizard-body.component.html
  libs/platform/src/lib/wizard-generator/components/wizard-body/wizard-body.component.ts
  libs/platform/src/lib/wizard-generator/components/wizard-generator/wizard-generator.component.html
  libs/platform/src/lib/wizard-generator/components/wizard-generator/wizard-generator.component.ts
  libs/platform/src/lib/wizard-generator/components/wizard-summary-step/wizard-summary-section/wizard-summary-section.component.html
  libs/platform/src/lib/wizard-generator/components/wizard-summary-step/wizard-summary-section/wizard-summary-section.component.ts
  libs/platform/src/lib/wizard-generator/components/wizard-summary-step/wizard-summary-step.component.html
  libs/platform/src/lib/wizard-generator/components/wizard-summary-step/wizard-summary-step.component.ts
  libs/platform/src/lib/wizard-generator/directives/fdp-wizard-generator-finish-button.directive.ts
  libs/platform/src/lib/wizard-generator/directives/fdp-wizard-generator-go-next-button.directive.ts
  libs/platform/src/lib/wizard-generator/directives/wizard-generator-finish-button.directive.ts
  libs/platform/src/lib/wizard-generator/directives/wizard-generator-go-next-button.directive.ts
  libs/platform/src/lib/wizard-generator/directives/wizard-generator-summary-step.directive.ts
  libs/platform/src/lib/wizard-generator/interfaces/wizard-dialog-data.interface.ts
  libs/platform/src/lib/wizard-generator/interfaces/wizard-generator-summary-item.interface.ts
  libs/platform/src/lib/wizard-generator/public_api.ts
  libs/platform/src/lib/wizard-generator/wizard-generator.module.ts
Labels: enhancement

#6574 test(e2e): add e2e tests for form generator component
  e2e/wdio/platform/fixtures/appData/form-generator-contents.ts
  e2e/wdio/platform/fixtures/testData/form-generator.ts
  e2e/wdio/platform/pages/form-generator.po.ts
  e2e/wdio/platform/tests/form-generator.e2e-spec.ts
  wdio-cron.conf.js
Labels: ready for merge, e2e

#6580 fix(core): popover a11y issues
  apps/docs/src/app/core/component-docs/popover/examples/popover-focus-example/popover-focus-example.component.html
  apps/docs/src/app/core/component-docs/popover/examples/popover-scroll-example/popover-scroll-example.component.html
  apps/docs/src/app/core/component-docs/popover/examples/popover-simple/popover-example.component.html
  apps/docs/src/app/core/component-docs/popover/popover-docs.component.html
  libs/core/src/lib/popover/popover-mobile/popover-mobile.component.ts
  libs/core/src/lib/popover/popover.component.ts
  libs/core/src/lib/segmented-button/segmented-button.component.ts
Labels: stale

#6581 fix(platform): rename pipes with the same name
  libs/platform/src/lib/form/combobox/combobox.module.ts
  libs/platform/src/lib/form/combobox/pipes/highlight.pipe.spec.ts
  libs/platform/src/lib/form/combobox/pipes/highlight.pipe.ts
  libs/platform/src/lib/form/multi-combobox/multi-combobox.module.ts
  libs/platform/src/lib/form/multi-combobox/pipes/highlight.pipe.spec.ts
  libs/platform/src/lib/form/multi-combobox/pipes/highlight.pipe.ts
  libs/platform/src/lib/form/public_api.ts
Labels: platform, ready for qa, stale

#6552 docs(core): remove wrong button state example
  apps/docs/src/app/core/component-docs/button/button-docs.component.html
Labels: documentation, accessibility, stale

#6717 test(platform): textarea, skip test
  angular.json
  libs/platform/src/lib/form/text-area/text-area.component.spec.ts
Labels: platform, unit tests

#6515 docs(core): adding tooltip to the button for list byline component
  apps/docs/src/app/core/component-docs/list-byline/examples/list-byline-button-example/list-byline-button-example.component.html
  apps/docs/src/app/core/component-docs/list-byline/examples/list-byline-navigation-example/list-byline-navigation-example.component.html
  libs/platform/src/lib/form/text-area/text-area.component.spec.ts
Labels: core, ready for merge, ariba, QA Approved, ATL

#6721 test(e2e): fix e2e tests
  e2e/wdio/core/tests/fixed-card-layout.e2e-spec.ts
  e2e/wdio/core/tests/inline-help.e2e-spec.ts
  e2e/wdio/core/tests/standard-list.e2e-spec.ts
Labels: ready for merge

#6610 fix(platform): table, filtering feature bugs
  libs/platform/src/lib/search-field/search-field.component.scss
  libs/platform/src/lib/search-field/search-field.component.ts
  libs/platform/src/lib/table/components/table-toolbar/table-toolbar.component.html
  libs/platform/src/lib/table/constants/index.ts
Labels: platform, ready for merge, QA Approved, table

#6698 feat(platform): wizard generator summary edit button logic
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/examples/wizard-generator-customizable-embeded-example.component.html
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/examples/wizard-generator-customizable-example.component.html
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/examples/wizard-generator-customizable-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/platform-wizard-generator-docs.component.html
  libs/core/src/lib/wizard/wizard-next-step/wizard-next-step.component.ts
  libs/core/src/lib/wizard/wizard-step/wizard-step.component.ts
  libs/core/src/lib/wizard/wizard.component.ts
  libs/platform/src/lib/wizard-generator/base-wizard-generator.ts
  libs/platform/src/lib/wizard-generator/components/dialog-wizard-generator/dialog-wizard-generator.component.html
  libs/platform/src/lib/wizard-generator/components/dialog-wizard-generator/dialog-wizard-generator.component.ts
  libs/platform/src/lib/wizard-generator/components/wizard-body/wizard-body.component.html
  libs/platform/src/lib/wizard-generator/components/wizard-body/wizard-body.component.ts
  libs/platform/src/lib/wizard-generator/components/wizard-generator/wizard-generator.component.html
  libs/platform/src/lib/wizard-generator/components/wizard-generator/wizard-generator.component.ts
  libs/platform/src/lib/wizard-generator/components/wizard-summary-step/wizard-summary-step.component.html
  libs/platform/src/lib/wizard-generator/components/wizard-summary-step/wizard-summary-step.component.ts
  libs/platform/src/lib/wizard-generator/directives/wizard-generator-review-button.directive.ts
  libs/platform/src/lib/wizard-generator/interfaces/wizard-dialog-data.interface.ts
  libs/platform/src/lib/wizard-generator/interfaces/wizard-generator-item.interface.ts
  libs/platform/src/lib/wizard-generator/interfaces/wizard-navigation-buttons.interface.ts
  libs/platform/src/lib/wizard-generator/public_api.ts
  libs/platform/src/lib/wizard-generator/wizard-generator.module.ts
  libs/platform/src/lib/wizard-generator/wizard-generator.service.ts
Labels: enhancement

#6434 fix(core): adding accessability label to the inline help component
  apps/docs/src/app/core/component-docs/inline-help/examples/inline-help-example.component.html
  apps/docs/src/app/core/component-docs/inline-help/examples/inline-help-template-example/inline-help-template-example.component.html
  apps/docs/src/app/core/component-docs/inline-help/examples/inline-help-trigger-example.component.html
  apps/docs/src/app/core/component-docs/inline-help/inline-help-docs.module.ts
  libs/core/src/lib/inline-help/inline-help.directive.ts
Labels: core, ready for merge, ariba, QA Approved, ATL

#6578 fix(core): message-box, fix a11y issues
  apps/docs/src/app/core/component-docs/message-box/examples/complex-template/complex-template-example.component.ts
  apps/docs/src/app/core/component-docs/message-box/examples/complex-template/message-box-complex-example.component.ts
  apps/docs/src/app/core/component-docs/message-box/examples/component-based/component-based-message-box-example.component.ts
  apps/docs/src/app/core/component-docs/message-box/examples/component-based/message-box-example.component.ts
  apps/docs/src/app/core/component-docs/message-box/examples/custom-position/message-box-position-example.component.html
  apps/docs/src/app/core/component-docs/message-box/examples/custom-position/message-box-position-example.component.ts
  apps/docs/src/app/core/component-docs/message-box/examples/mobile-mode/message-box-mobile-example.component.html
  apps/docs/src/app/core/component-docs/message-box/examples/mobile-mode/message-box-mobile-example.component.ts
  apps/docs/src/app/core/component-docs/message-box/examples/object-based/object-based-message-box-example.component.html
  apps/docs/src/app/core/component-docs/message-box/examples/object-based/object-based-message-box-example.component.ts
  apps/docs/src/app/core/component-docs/message-box/examples/semantic-types/semantic-types-example.component.html
  apps/docs/src/app/core/component-docs/message-box/examples/semantic-types/semantic-types-example.component.ts
  apps/docs/src/app/core/component-docs/message-box/examples/template-based/template-based-message-box-example.component.html
  apps/docs/src/app/core/component-docs/message-box/examples/template-based/template-based-message-box-example.component.ts
  libs/core/src/lib/message-box/message-box-header/message-box-header.component.html
  libs/core/src/lib/message-box/message-box-header/message-box-header.component.spec.ts
  libs/core/src/lib/message-box/message-box.component.html
  libs/core/src/lib/message-box/message-box.component.ts
Labels: accessibility, core, ready for merge, QA Approved

#6595 test(e2e): add e2e tests for notification component
  e2e/wdio/core/pages/notification.po.ts
  e2e/wdio/core/tests/notification.e2e-spec.ts
Labels: ready for merge, e2e

#6705 fix(core): fix a11y issue for tab component
  apps/docs/src/app/core/component-docs/tabs/examples/index.ts
  apps/docs/src/app/core/component-docs/tabs/examples/tab-form-element-example/tab-form-element-example.component.html
  apps/docs/src/app/core/component-docs/tabs/examples/tab-form-element-example/tab-form-element-example.component.ts
  apps/docs/src/app/core/component-docs/tabs/tabs-docs.component.html
  apps/docs/src/app/core/component-docs/tabs/tabs-docs.component.ts
  apps/docs/src/app/core/component-docs/tabs/tabs-docs.module.ts
  libs/core/src/lib/tabs/tab-link/tab-link.directive.ts
  libs/core/src/lib/tabs/tab-list.component.html
Labels: bug, core, ready for merge, QA Approved, ATL

#6554 fix(core): switch, fix a11y issues
  apps/docs/src/app/core/component-docs/switch/examples/semantic-switch-example/semantic-switch-example.component.html
  apps/docs/src/app/core/component-docs/switch/examples/switch-binding-example/switch-binding-example.component.html
  libs/core/src/lib/switch/switch.component.html
Labels: accessibility, core, ready for merge, QA Approved

#6749 test(e2e): fix notification e2e test
  e2e/wdio/core/tests/notification.e2e-spec.ts
Labels: ready for merge, e2e

#6672 fix(platform): table, fix sorting issue
  libs/platform/src/lib/table/components/table-p13-dialog/sorting/get-available-sort-columns.pipe.ts
  libs/platform/src/lib/table/components/table-p13-dialog/sorting/sorting.component.html
  libs/platform/src/lib/table/components/table-p13-dialog/sorting/sorting.component.ts
  libs/platform/src/lib/table/table.module.ts
Labels: platform, ready for merge, QA Approved, table, stale
