Repository SAP/fundamental-ngx, pull requests merged in 2022-02, with the labels that each got.

#7636 fix(platform): combobox states
  libs/platform/src/lib/form/combobox/combobox/combobox.component.html
  libs/platform/src/lib/form/combobox/combobox/combobox.component.scss
Labels: bug, platform

#7654 feat(platform): when property of form groups
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/examples/wizard-generator-visibility-between-steps-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/platform-wizard-generator-docs.component.html
  libs/platform/src/lib/form/form-generator/form-generator.service.ts
  libs/platform/src/lib/wizard-generator/components/wizard-generator-step/wizard-generator-step.component.html
  libs/platform/src/lib/wizard-generator/components/wizard-generator-step/wizard-generator-step.component.ts
  libs/platform/src/lib/wizard-generator/interfaces/wizard-generator-form-group.interface.ts
  libs/platform/src/lib/wizard-generator/interfaces/wizard-generator-item.interface.ts
  libs/platform/src/lib/wizard-generator/wizard-generator.service.ts
Labels: dxp

#7656 fix(core): pagination tab order
  libs/core/src/lib/pagination/pagination.component.html
Labels: enhancement, core

#7657 docs(core): dnd fixed card layout notes
  apps/docs/src/app/core/component-docs/fixed-card-layout/fixed-card-layout-docs-header/fixed-card-layout-docs-header.component.html
  libs/core/src/lib/fixed-card-layout/fixed-card-layout.component.ts
Labels: documentation, core

#7658 feat(core): initial focus directive improvements
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/component-docs/initial-focus/examples/initial-focus-basic-example.component.html
  apps/docs/src/app/core/component-docs/initial-focus/examples/initial-focus-basic-example.component.ts
  apps/docs/src/app/core/component-docs/initial-focus/examples/initial-focus-complex-example.component.html
  apps/docs/src/app/core/component-docs/initial-focus/examples/initial-focus-complex-example.component.ts
  apps/docs/src/app/core/component-docs/initial-focus/examples/initial-focus-example.component.scss
  apps/docs/src/app/core/component-docs/initial-focus/initial-focus-docs.component.html
  apps/docs/src/app/core/component-docs/initial-focus/initial-focus-docs.component.ts
  apps/docs/src/app/core/component-docs/initial-focus/initial-focus-docs.module.ts
  apps/docs/src/app/core/component-docs/initial-focus/initial-focus-header/initial-focus-header.component.html
  apps/docs/src/app/core/component-docs/initial-focus/initial-focus-header/initial-focus-header.component.ts
  apps/docs/src/app/core/core-documentation.routes.ts
  apps/docs/src/app/core/documentation/core-documentation-data.ts
  e2e/wdio/core/pages/pagination.po.ts
  e2e/wdio/platform/pages/upload-collection.po.ts
  libs/core/src/lib/utils/directives/initial-focus/initial-focus.directive.ts
  libs/platform/src/lib/table/table.component.spec.ts
Labels: enhancement

#7669 fix(platform): dynamic tab page event on tab change
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-flexible-column-example.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-tabbed-example.component.html
  libs/platform/src/lib/dynamic-page/dynamic-page-content/dynamic-page-content.component.ts
  libs/platform/src/lib/dynamic-page/dynamic-page.component.html
  libs/platform/src/lib/dynamic-page/dynamic-page.component.ts
Labels: bug, platform

#7599 feat(core,platform): date & datetime picker - ability to process input value on blur
  apps/docs/src/app/core/component-docs/date-picker/date-picker-docs.component.html
  apps/docs/src/app/core/component-docs/date-picker/date-picker-docs.component.ts
  apps/docs/src/app/core/component-docs/date-picker/date-picker-docs.module.ts
  apps/docs/src/app/core/component-docs/date-picker/examples/date-picker-update-on-blur-example.component.ts
  apps/docs/src/app/core/component-docs/datetime-picker/datetime-picker-docs.component.html
  apps/docs/src/app/core/component-docs/datetime-picker/datetime-picker-docs.component.ts
  apps/docs/src/app/core/component-docs/datetime-picker/datetime-picker-docs.module.ts
  apps/docs/src/app/core/component-docs/datetime-picker/examples/datetime-picker-update-on-blur-example/datetime-picker-update-on-blur-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-date-picker/platform-date-picker-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-date-picker/platform-date-picker-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-date-picker/platform-date-picker-docs.module.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-date-picker/platform-date-picker-examples/platform-date-picker-update-on-blur-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-datetime-picker/platform-datetime-picker-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-datetime-picker/platform-datetime-picker-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-datetime-picker/platform-datetime-picker-docs.module.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-datetime-picker/platform-datetime-picker-examples/platform-datetime-picker-update-on-blur-example.component.ts
  e2e/wdio/platform/tests/date-time-picker.e2e-spec.ts
  libs/core/src/lib/date-picker/date-picker.component.html
  libs/core/src/lib/date-picker/date-picker.component.spec.ts
  libs/core/src/lib/date-picker/date-picker.component.ts
  libs/core/src/lib/datetime-picker/datetime-picker.component.html
  libs/core/src/lib/datetime-picker/datetime-picker.component.spec.ts
  libs/core/src/lib/datetime-picker/datetime-picker.component.ts
  libs/platform/src/lib/form/date-picker/date-picker.component.html
  libs/platform/src/lib/form/date-picker/date-picker.component.ts
  libs/platform/src/lib/form/datetime-picker/datetime-picker.component.html
  libs/platform/src/lib/form/datetime-picker/datetime-picker.component.ts
Labels: platform, core, ready for merge

#7668 fix(core): disable max items per page
  libs/core/src/lib/pagination/pagination.component.ts
Labels: enhancement, core

#7674 fix(ci): fixing unknown refspec main
  ci-scripts/publish.sh
Labels: tooling

#7676 fix(core,platform): update e2e and unit tests
  apps/docs/src/app/core/component-docs/pagination/examples/pagination-mobile/pagination-mobile-example.component.html
  apps/docs/src/app/core/component-docs/pagination/examples/pagination-per-page/pagination-per-page-example.component.html
  apps/docs/src/app/schema/containers/schema-group/schema-group.component.html
  apps/docs/src/app/schema/containers/schema-group/schema-group.component.scss
  apps/docs/src/app/schema/containers/schema-group/schema-group.component.ts
  e2e/wdio/core/fixtures/appData/combobox-contents.ts
  e2e/wdio/platform/pages/slider.po.ts
  e2e/wdio/platform/pages/table.po.ts
  e2e/wdio/platform/tests/table.e2e-spec.ts
  libs/core/src/lib/pagination/pagination.component.html
  libs/core/src/lib/pagination/pagination.component.spec.ts
  libs/core/src/lib/pagination/pagination.component.ts
Labels: e2e

#7678 fix(docs): lowercase typedoc files
  package.json
  transform-typedoc-files.js
Labels: tooling

#7680 fix(platform): select - display proper value
  apps/docs/src/app/platform/component-docs/platform-forms/platform-select/platform-select-examples/platform-select-height/platform-select-max-height-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-select/platform-select-examples/platform-select-mobile-example/platform-select-mobile-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-select/platform-select-examples/platform-select-mode-example/platform-select-mode-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-select/platform-select-examples/platform-select-none/platform-select-none-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-select/platform-select-examples/platform-select-nowrap/platform-select-nowrap-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-select/platform-select-examples/platform-select-semantic-state-example/platform-select-semantic-state-example.component.ts
  libs/platform/src/lib/form/public_api.ts
  libs/platform/src/lib/form/select/commons/base-select.ts
  libs/platform/src/lib/form/select/models/select.models.ts
  libs/platform/src/lib/form/select/public_api.ts
Labels: platform, Defect Hunting

#7681 fix(platform): table columns' width error
  libs/platform/src/lib/table/table-column-resize.service.ts
  libs/platform/src/lib/table/table.component.ts
Labels: bug, platform

#7693 fix(core): schematics sass support
  libs/core/schematics/ng-add/index.ts
Labels: bug, core

#7671 feat(platform): add datasource loading events
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-loading/combobox-loading-example.component.html
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-loading/combobox-loading-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-combobox/platform-combobox-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-combobox/platform-combobox-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-combobox/platform-combobox-docs.module.ts
  apps/docs/src/app/platform/component-docs/platform-forms/multi-input/platform-multi-input-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/multi-input/platform-multi-input-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/multi-input/platform-multi-input-docs.module.ts
  apps/docs/src/app/platform/component-docs/platform-forms/multi-input/platform-multi-input-example/platform-multi-input-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/multi-input/platform-multi-input-example/platform-multi-input-loading-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/multi-input/platform-multi-input-example/platform-multi-input-loading-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-multi-combobox/examples/multi-combobox-loading/multi-combobox-loading-example.component.html
  apps/docs/src/app/platform/component-docs/platform-multi-combobox/examples/multi-combobox-loading/multi-combobox-loading-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-multi-combobox/platform-multi-combobox-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-multi-combobox/platform-multi-combobox-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-multi-combobox/platform-multi-combobox-docs.module.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-loading-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-loading-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-upload-collection/platform-upload-collection-examples/platform-upload-collection-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-docs.module.ts
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-basic-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-loading-example.component.html
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd-examples/platform-vhd-loading-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd.docs.component.html
  apps/docs/src/app/platform/component-docs/platform-vhd/platform-vhd.docs.component.ts
  e2e/wdio/platform/pages/combobox.po.ts
  e2e/wdio/platform/tests/approval-flow.e2e-spec.ts
  e2e/wdio/platform/tests/combobox.e2e-spec.ts
  e2e/wdio/platform/tests/table.e2e-spec.ts
  e2e/wdio/platform/tests/upload-collection.e2e-spec.ts
  e2e/wdio/platform/tests/value-help-dialog.e2e-spec.ts
  libs/platform/src/lib/approval-flow/approval-flow-add-node/approval-flow-add-node.component.html
  libs/platform/src/lib/approval-flow/approval-flow.component.ts
  libs/platform/src/lib/approval-flow/approval-flow.module.ts
  libs/platform/src/lib/form/combobox/combobox/combobox.component.html
  libs/platform/src/lib/form/combobox/combobox/combobox.component.spec.ts
  libs/platform/src/lib/form/combobox/commons/base-combobox.ts
  libs/platform/src/lib/form/multi-combobox/commons/base-multi-combobox.ts
  libs/platform/src/lib/form/multi-input/base-multi-input.ts
  libs/platform/src/lib/shared/domain/data-source.ts
  libs/platform/src/lib/table/domain/table-data-source.ts
  libs/platform/src/lib/table/table.component.html
  libs/platform/src/lib/table/table.component.ts
  libs/platform/src/lib/upload-collection/domain/upload-collection-data-source.ts
  libs/platform/src/lib/upload-collection/upload-collection/upload-collection.component.html
  libs/platform/src/lib/value-help-dialog/models/vhd-data.source.ts
  libs/platform/src/lib/value-help-dialog/value-help-dialog.module.ts
  libs/platform/src/lib/value-help-dialog/value-help-dialog/value-help-dialog.component.html
  libs/platform/src/lib/value-help-dialog/value-help-dialog/value-help-dialog.component.scss
  libs/platform/src/lib/value-help-dialog/value-help-dialog/value-help-dialog.component.ts
Labels: stale

#7703 chore(core,platform): rxjs update to v7
  apps/docs/src/app/platform/component-docs/platform-upload-collection/platform-upload-collection-examples/platform-upload-collection-base-data-provider.ts
  e2e/wdio/platform/pages/upload-collection.po.ts
  libs/core/src/lib/dialog/base/dialog-ref-base.class.ts
  libs/core/src/lib/message-toast/message-toast-utils/message-toast-ref.ts
  libs/core/src/lib/resizable-card-layout/resizable-card-layout/resizable-card-layout.component.ts
  libs/core/src/lib/utils/directives/overflow-list/overflow-list.directive.ts
  libs/platform/src/lib/icon-tab-bar/components/icon-tab-bar-base.class.ts
  libs/platform/src/lib/icon-tab-bar/directives/extra-button/extra-button.directive.ts
  libs/platform/src/lib/icon-tab-bar/icon-tab-bar.component.ts
  libs/platform/src/lib/search-field/search-field.component.ts
  libs/platform/src/lib/table/table-scroll-dispatcher.service.ts
  package-lock.json
  package.json
Labels: dependencies, platform, core

#7715 fix(core,platform,fn): stackblitz inject issue
  libs/core/schematics/ng-add/index.ts
  libs/core/src/lib/ng-package.json
  libs/core/src/lib/package.json
  libs/fn/src/lib/ng-package.json
  libs/fn/src/lib/package.json
  libs/platform/src/lib/ng-package.json
  libs/platform/src/lib/package.json
Labels: bug, platform, core

#7698 feat(fn): update some of the existing components in Fiori Next to match the latest design
  apps/docs/src/app/fn/component-docs/search/examples/search-example/search-example.component.html
  apps/docs/src/app/fn/component-docs/slider/examples/base/slider-basic-example.component.html
  apps/docs/src/app/fn/component-docs/slider/examples/base/slider-basic-example.component.ts
  apps/docs/src/app/fn/component-docs/slider/slider-header/slider-header.component.html
  libs/fn/src/lib/search/search.component.html
  libs/fn/src/lib/search/search.component.ts
  libs/fn/src/lib/slider/components/slider-handle/slider-handle.component.html
  libs/fn/src/lib/slider/components/slider-handle/slider-handle.component.scss
  libs/fn/src/lib/slider/components/slider-handle/slider-handle.component.spec.ts
  libs/fn/src/lib/slider/components/slider-handle/slider-handle.component.ts
  libs/fn/src/lib/slider/public_api.ts
  libs/fn/src/lib/slider/slider-position.directive.ts
  libs/fn/src/lib/slider/slider.component.html
  libs/fn/src/lib/slider/slider.component.scss
  libs/fn/src/lib/slider/slider.component.ts
  libs/fn/src/lib/slider/slider.module.ts
  package-lock.json
  package.json
Labels: Fiori Next

#7712 feat(fn): introduce Generic Tag component in Fiori Next
  angular.json
  apps/docs/src/app/fn/component-docs/generic-tag/examples/generic-tag-example/generic-tag-example-component.ts
  apps/docs/src/app/fn/component-docs/generic-tag/examples/generic-tag-example/generic-tag-example.component.html
  apps/docs/src/app/fn/component-docs/generic-tag/examples/index.ts
  apps/docs/src/app/fn/component-docs/generic-tag/generic-tag-docs.component.html
  apps/docs/src/app/fn/component-docs/generic-tag/generic-tag-docs.component.ts
  apps/docs/src/app/fn/component-docs/generic-tag/generic-tag-docs.module.ts
  apps/docs/src/app/fn/component-docs/generic-tag/tag-header/tag-header.component.html
  apps/docs/src/app/fn/component-docs/generic-tag/tag-header/tag-header.component.ts
  apps/docs/src/app/fn/documentation/fn-documentation-data.ts
  apps/docs/src/app/fn/fn-documentation.routes.ts
  libs/fn/src/lib/fundamental-ngx-fn.module.ts
  libs/fn/src/lib/generic-tag/.eslintrc.json
  libs/fn/src/lib/generic-tag/README.md
  libs/fn/src/lib/generic-tag/generic-tag.component.html
  libs/fn/src/lib/generic-tag/generic-tag.component.scss
  libs/fn/src/lib/generic-tag/generic-tag.component.spec.ts
  libs/fn/src/lib/generic-tag/generic-tag.component.ts
  libs/fn/src/lib/generic-tag/generic-tag.module.ts
  libs/fn/src/lib/generic-tag/index.ts
  libs/fn/src/lib/generic-tag/karma.conf.js
  libs/fn/src/lib/generic-tag/ng-package.json
  libs/fn/src/lib/generic-tag/package.json
  libs/fn/src/lib/generic-tag/public_api.ts
  libs/fn/src/lib/generic-tag/test.ts
  libs/fn/src/lib/generic-tag/tsconfig.json
  libs/fn/src/lib/generic-tag/tsconfig.lib.json
  libs/fn/src/lib/generic-tag/tsconfig.lib.prod.json
  libs/fn/src/lib/generic-tag/tsconfig.spec.json
  tsconfig.base.json
Labels: Fiori Next

#7714 fix(core): solve multi input add new token
  libs/core/src/lib/multi-input/multi-input.component.html
  libs/core/src/lib/multi-input/multi-input.component.ts
Labels: bug

#7483 fix(platform): multi-combobox, fix selection in mobile mode
  apps/docs/src/app/platform/component-docs/platform-multi-combobox/examples/multi-combobox-datasource/multi-combobox-datasource-example.component.html
  apps/docs/src/app/platform/component-docs/platform-multi-combobox/examples/multi-combobox-states/multi-combobox-states-example.component.html
  apps/docs/src/app/platform/component-docs/platform-multi-combobox/examples/multi-combobox-states/multi-combobox-states-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-multi-combobox/platform-multi-combobox-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-multi-combobox/platform-multi-combobox-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-multi-combobox/platform-multi-combobox-docs.module.ts
  libs/platform/src/lib/form/auto-complete/auto-complete.directive.ts
  libs/platform/src/lib/form/multi-combobox/commons/base-multi-combobox.ts
  libs/platform/src/lib/form/multi-combobox/multi-combobox/multi-combobox.component.html
  libs/platform/src/lib/form/multi-combobox/multi-combobox/multi-combobox.component.scss
  libs/platform/src/lib/form/multi-combobox/multi-combobox/multi-combobox.component.ts
Labels: platform

#7724 chore(deps): fix release script
  .github/workflows/on-push-or-pull.yml
Labels: tooling

#7700 fix(core): message-box - be able to display custom icons in header
  apps/docs/src/app/core/component-docs/message-box/examples/template-based/template-based-message-box-example.component.html
  libs/core/src/lib/message-box/message-box-body/message-box-body.component.spec.ts
  libs/core/src/lib/message-box/message-box-body/message-box-body.component.ts
  libs/core/src/lib/message-box/message-box-footer/message-box-footer.component.spec.ts
  libs/core/src/lib/message-box/message-box-footer/message-box-footer.component.ts
  libs/core/src/lib/message-box/message-box-header/message-box-header.component.html
  libs/core/src/lib/message-box/message-box-header/message-box-header.component.spec.ts
  libs/core/src/lib/message-box/message-box-header/message-box-header.component.ts
  libs/core/src/lib/message-box/message-box-semantic-icon/message-box-semantic-icon.component.spec.ts
  libs/core/src/lib/message-box/message-box-semantic-icon/message-box-semantic-icon.component.ts
  libs/core/src/lib/message-box/message-box.component.ts
  libs/core/src/lib/message-box/utils/message-box-config.class.ts
Labels: core

#7739 docs(ci): update build badge
  libs/core/src/lib/README.md
Labels: tooling

#7740 docs(ci): update build badge
  libs/platform/src/lib/README.md
Labels: tooling

#7725 chore(deps): replace master with main in hotfix-publish script
  ci-scripts/hotfix-publish.sh
Labels: tooling

#7723 fix(platform): compensate label offset when additional form-field content is added
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-columns/combobox-columns-example.component.html
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-datasource/combobox-datasource-example.component.html
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-forms/combobox-forms-example.component.html
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-group/combobox-group-example.component.html
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-loading/combobox-loading-example.component.html
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-mobile/combobox-mobile-example.component.html
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-standard/combobox-standard.component.html
  apps/docs/src/app/platform/component-docs/platform-combobox/examples/combobox-templates/combobox-templates-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-container/platform-form-container-examples/platform-form-custom-layout.component.html
  e2e/wdio/platform/pages/input.po.ts
  e2e/wdio/platform/tests/form-generator.e2e-spec.ts
  libs/core/src/lib/input-group/input-group.component.scss
  libs/platform/src/lib/form/form-group/fdp-form.module.ts
  libs/platform/src/lib/form/form-group/form-field-extras/form-field-extras.component.ts
  libs/platform/src/lib/form/form-group/form-field/form-field.component.html
  libs/platform/src/lib/form/form-group/form-field/form-field.component.ts
  libs/platform/src/lib/form/form-group/form-group.component.scss
  libs/platform/src/lib/form/form-group/form-group.component.ts
  libs/platform/src/lib/form/public_api.ts
  libs/platform/src/lib/form/text-area/text-area.component.html
  libs/platform/src/lib/form/text-area/text-area.component.scss
  libs/platform/src/lib/form/text-area/text-area.component.spec.ts
  libs/platform/src/lib/form/text-area/text-area.component.ts
  libs/platform/src/lib/shared/form/form-control.ts
  libs/platform/src/lib/slider/slider.component.spec.ts
Labels: platform, Defect Hunting, stale

#7757 fix(core,platform,fn): dist version
  ci-scripts/sync-version.sh
Labels: bug, platform, core

#7728 docs(core,platform): update version menu
  apps/docs/src/app/documentation/core-helpers/toolbar/toolbar.component.ts
Labels: documentation

#7769 docs(core): add npm download badge
  libs/core/src/lib/README.md
Labels: documentation

#7770 docs(platform): add monthly npm downloads badge
  libs/platform/src/lib/README.md
Labels: documentation

#7746 feat(fn): introduce Info Label component in Fiori Next
  angular.json
  apps/docs/src/app/fn/api-files.ts
  apps/docs/src/app/fn/component-docs/info-label/examples/default/info-label-default-example.component.html
  apps/docs/src/app/fn/component-docs/info-label/examples/default/info-label-default-example.component.ts
  apps/docs/src/app/fn/component-docs/info-label/examples/index.ts
  apps/docs/src/app/fn/component-docs/info-label/info-label-docs.component.html
  apps/docs/src/app/fn/component-docs/info-label/info-label-docs.component.ts
  apps/docs/src/app/fn/component-docs/info-label/info-label-docs.module.ts
  apps/docs/src/app/fn/component-docs/info-label/info-label-header/info-label-header.component.html
  apps/docs/src/app/fn/component-docs/info-label/info-label-header/info-label-header.component.ts
  apps/docs/src/app/fn/documentation/fn-documentation-data.ts
  apps/docs/src/app/fn/fn-documentation.routes.ts
  libs/fn/src/lib/fundamental-ngx-fn.module.ts
  libs/fn/src/lib/info-label/.browserslistrc
  libs/fn/src/lib/info-label/.eslintrc.json
  libs/fn/src/lib/info-label/README.md
  libs/fn/src/lib/info-label/index.ts
  libs/fn/src/lib/info-label/info-label.component.html
  libs/fn/src/lib/info-label/info-label.component.scss
  libs/fn/src/lib/info-label/info-label.component.spec.ts
  libs/fn/src/lib/info-label/info-label.component.ts
  libs/fn/src/lib/info-label/info-label.module.ts
  libs/fn/src/lib/info-label/karma.conf.js
  libs/fn/src/lib/info-label/ng-package.json
  libs/fn/src/lib/info-label/package.json
  libs/fn/src/lib/info-label/test.ts
  libs/fn/src/lib/info-label/tsconfig.json
  libs/fn/src/lib/info-label/tsconfig.lib.json
  libs/fn/src/lib/info-label/tsconfig.lib.prod.json
  libs/fn/src/lib/info-label/tsconfig.spec.json
  libs/fn/src/lib/public_api.ts
  package-lock.json
  package.json
  tsconfig.base.json
Labels: stale

#7743 feat(fn): introduce Message Strip component in Fiori Next
  angular.json
  apps/docs/src/app/fn/api-files.ts
  apps/docs/src/app/fn/component-docs/message-strip/examples/default/message-strip-default-example.component.html
  apps/docs/src/app/fn/component-docs/message-strip/examples/default/message-strip-default-example.component.ts
  apps/docs/src/app/fn/component-docs/message-strip/examples/index.ts
  apps/docs/src/app/fn/component-docs/message-strip/message-strip-docs.component.html
  apps/docs/src/app/fn/component-docs/message-strip/message-strip-docs.component.ts
  apps/docs/src/app/fn/component-docs/message-strip/message-strip-docs.module.ts
  apps/docs/src/app/fn/component-docs/message-strip/message-strip-header/message-strip-header.component.html
  apps/docs/src/app/fn/component-docs/message-strip/message-strip-header/message-strip-header.component.ts
  apps/docs/src/app/fn/documentation/fn-documentation-data.ts
  apps/docs/src/app/fn/fn-documentation.routes.ts
  libs/fn/src/lib/button/button.component.ts
  libs/fn/src/lib/fundamental-ngx-fn.module.ts
  libs/fn/src/lib/message-strip/.browserslistrc
  libs/fn/src/lib/message-strip/.eslintrc.json
  libs/fn/src/lib/message-strip/README.md
  libs/fn/src/lib/message-strip/index.ts
  libs/fn/src/lib/message-strip/karma.conf.js
  libs/fn/src/lib/message-strip/message-strip.component.html
  libs/fn/src/lib/message-strip/message-strip.component.scss
  libs/fn/src/lib/message-strip/message-strip.component.spec.ts
  libs/fn/src/lib/message-strip/message-strip.component.ts
  libs/fn/src/lib/message-strip/message-strip.module.ts
  libs/fn/src/lib/message-strip/ng-package.json
  libs/fn/src/lib/message-strip/package.json
  libs/fn/src/lib/message-strip/test.ts
  libs/fn/src/lib/message-strip/tsconfig.json
  libs/fn/src/lib/message-strip/tsconfig.lib.json
  libs/fn/src/lib/message-strip/tsconfig.lib.prod.json
  libs/fn/src/lib/message-strip/tsconfig.spec.json
  libs/fn/src/lib/public_api.ts
  tsconfig.base.json
Labels: stale, Fiori Next

#7773 feat(core): date-time picker compliance with fiori guidline
  e2e/wdio/driver/wdio.ts
  libs/core/src/lib/datetime-picker/datetime-picker.component.html
  libs/core/src/lib/time/time-column/time-column.component.html
  libs/core/src/lib/time/time-column/time-column.component.ts
  libs/core/src/lib/time/time.component.html
  libs/core/src/lib/time/time.component.ts
Labels: datepicker

#7760 fix(core): some issues in multi input of core
  libs/core/src/lib/multi-input/multi-input-mobile/multi-input-mobile.component.html
  libs/core/src/lib/multi-input/multi-input-mobile/multi-input-mobile.component.spec.ts
  libs/core/src/lib/multi-input/multi-input-mobile/multi-input-mobile.component.ts
  libs/core/src/lib/multi-input/multi-input.component.html
  libs/core/src/lib/multi-input/multi-input.component.spec.ts
  libs/core/src/lib/multi-input/multi-input.component.ts
  libs/core/src/lib/multi-input/multi-input.interface.ts
Labels: multi input

#7788 fix(platform): multi-input - omit extra dataSource triggering
  e2e/wdio/platform/pages/multi-input.po.ts
  e2e/wdio/platform/tests/multi-input.e2e-spec.ts
  libs/platform/src/lib/form/multi-input/base-multi-input.ts
Labels: platform, e2e

#7768 feat(platform): table - range selection & bug fixes
  libs/platform/src/lib/table/table.component.html
  libs/platform/src/lib/table/table.component.spec.ts
  libs/platform/src/lib/table/table.component.ts
Labels: platform

#7771 feat(platform): emit event when smart filters have been updated
  libs/platform/src/lib/smart-filter-bar/smart-filter-bar.component.ts
Labels: enhancement, platform

#7800 fix(core): schematics angular cdk version issue
  libs/core/schematics/ng-add/index.ts
Labels: bug, core

#7774 fix(core): menu item should not receive focus on mouse hover and remove extra box shadow [ci visual]
  libs/core/src/lib/menu/menu-item/menu-item.component.spec.ts
  libs/core/src/lib/menu/menu-item/menu-item.component.ts
  libs/core/src/lib/menu/menu.component.html
  libs/core/src/lib/menu/menu.component.scss
Labels: bug, accessibility, core, stale

#7574 fix(core): added disable functions for previous/next buttons in the calendar
  apps/docs/src/app/core/component-docs/calendar/calendar-docs.component.html
  apps/docs/src/app/core/component-docs/calendar/calendar-docs.component.ts
  apps/docs/src/app/core/component-docs/calendar/calendar-docs.module.ts
  apps/docs/src/app/core/component-docs/calendar/examples/calendar-disabled-navigation-buttons-example/calendar-disabled-navigation-buttons-example.component.ts
  apps/docs/src/app/core/component-docs/calendar/examples/calendar-disabled-navigation-buttons-example/calendar-disabled-navigation-buttons-example.html
  libs/core/src/lib/calendar/calendar-header/calendar-header.component.html
  libs/core/src/lib/calendar/calendar-header/calendar-header.component.ts
  libs/core/src/lib/calendar/calendar.component.html
  libs/core/src/lib/calendar/calendar.component.ts
  libs/core/src/lib/calendar/public_api.ts
  libs/core/src/lib/calendar/types.ts
  libs/core/src/lib/date-picker/date-picker.component.html
  libs/core/src/lib/date-picker/date-picker.component.ts
Labels: stale
