Repository SAP/fundamental-ngx, pull requests merged in 2022-11, with the labels that each got.

#8752 fix(core): Add keyboard support for mobile mode in menu
  libs/core/src/lib/menu/menu-mobile/menu-mobile.component.ts
Labels: bug, Defect Hunting

#8913 fix(core): dialog's fund-styles refactoring adoption
  libs/core/src/lib/dialog/dialog.component.html
  libs/core/src/lib/dialog/dialog.component.scss
  libs/core/src/lib/dialog/dialog.component.spec.ts
  libs/core/src/lib/dialog/utils/dialog-config.class.ts
  libs/docs/core/dialog/e2e/dialog-contents.ts
  libs/docs/core/dialog/e2e/dialog.e2e-spec.ts
Labels: code refactoring, core

#8903 fix(platform): implementation of expand and collapse all feature in table
  libs/docs/platform/table/examples/platform-table-tree-example.component.html
  libs/platform/src/lib/table/components/table-toolbar/table-toolbar.component.html
  libs/platform/src/lib/table/components/table-toolbar/table-toolbar.component.ts
  libs/platform/src/lib/table/table.component.spec.ts
  libs/platform/src/lib/table/table.component.ts
  libs/platform/src/lib/table/table.ts
Labels: platform, table

#8924 fix(core, platform): inline help in form
  libs/core/src/lib/form/form-label/form-label.component.html
  libs/core/src/lib/form/form-label/form-label.component.scss
  libs/core/src/lib/icon/icon.component.scss
  libs/platform/src/lib/form/form-group/form-field/form-field.component.scss
  libs/platform/src/lib/form/form-group/form-group-header/form-group-header.component.html
  libs/platform/src/lib/form/form-group/form-group-header/form-group-header.component.ts
  libs/platform/src/lib/form/form-group/form-group.component.html
Labels: bug, platform, dxp

#8825 fix(docs): update versions workflow
  .github/actions/get-version/action.yml
  .github/actions/get-version/index.js
  .github/actions/wait-for-netlify/action.yml
  .github/actions/wait-for-netlify/index.js
  .github/workflows/update-versions.yml
  package.json
  versions.json
  yarn.lock
Labels: bug, tooling

#8828 fix(fn): show selected option label in select
  libs/docs/fn/select/examples/select-example/select-editable-example-component.ts
  libs/docs/fn/select/examples/select-example/select-editable-example.component.html
  libs/docs/fn/select/examples/select-example/select-example-component.ts
  libs/docs/fn/select/examples/select-example/select-example.component.html
  libs/docs/fn/select/examples/select-example/select-forms-example.component.html
  libs/docs/fn/select/examples/select-example/select-semantic-example.component.html
  libs/fn/src/lib/select/option/option.component.html
  libs/fn/src/lib/select/option/option.component.ts
  libs/fn/src/lib/select/select-menu.directive.ts
  libs/fn/src/lib/select/select.component.html
  libs/fn/src/lib/select/select.component.ts
  libs/fn/src/lib/select/select.interface.ts
Labels: bug, Fiori Next

#8479 fix(core,platform): schematics, deps, migrations, assets & styles
  libs/core/schematics/add-animations/index.ts
  libs/core/schematics/collection.json
  libs/core/schematics/migrations.json
  libs/core/schematics/migrations/migrate-theme-fonts/index.ts
  libs/core/schematics/migrations/migrate-theme-fonts/schema.json
  libs/core/schematics/migrations/migrate-theme-fonts/schema.ts
  libs/core/schematics/migrations/migrate-theme-fonts/styles.ts
  libs/core/schematics/migrations/migration-0-37/index.ts
  libs/core/schematics/ng-add/index.ts
  libs/core/schematics/ng-add/schema.json
  libs/core/schematics/ng-add/schema.ts
  libs/core/schematics/ng-add/styles.ts
  libs/core/schematics/utils/file-utils.ts
  libs/core/src/lib/ng-package.json
  libs/core/src/lib/package.json
  libs/core/src/lib/styles/fundamental-ngx-core.css
  libs/platform/src/lib/ng-package.json
  libs/platform/src/lib/package.json
Labels: enhancement, core

#8941 feat(platform): free content list item
  libs/docs/platform/list/examples/platform-list-free-content-example.component.html
  libs/docs/platform/list/examples/platform-list-free-content-example.component.ts
  libs/docs/platform/list/platform-list-docs.component.html
  libs/docs/platform/list/platform-list-docs.component.ts
  libs/docs/platform/list/platform-list-docs.module.ts
  libs/platform/src/lib/list/free-content-list-item/free-content-list-item.component.html
  libs/platform/src/lib/list/free-content-list-item/free-content-list-item.component.scss
  libs/platform/src/lib/list/free-content-list-item/free-content-list-item.component.spec.ts
  libs/platform/src/lib/list/free-content-list-item/free-content-list-item.component.ts
  libs/platform/src/lib/list/list-group-footer.component.ts
  libs/platform/src/lib/list/list-group-header.component.ts
  libs/platform/src/lib/list/list.component.ts
  libs/platform/src/lib/list/list.module.ts
  libs/platform/src/lib/list/public_api.ts
  libs/platform/src/lib/list/standard-list-item/standard-list-item.component.html
Labels: enhancement, platform

#8950 feat(platform): add separate title property
  libs/docs/platform/standard-list-item/examples/platform-standard-list-item-example.component.html
  libs/platform/src/lib/list/base-list-item.ts
  libs/platform/src/lib/list/display-list-item/display-list-item.component.html
  libs/platform/src/lib/list/standard-list-item/standard-list-item.component.html
Labels: enhancement, platform

#8949 fix(platform): trigger detection when datasource is changed
  libs/core/src/lib/avatar/avatar.component.ts
  libs/platform/src/lib/list/list.component.spec.ts
  libs/platform/src/lib/list/list.component.ts
  libs/platform/src/lib/list/object-list-item/object-list-item.component.spec.ts
  libs/platform/src/lib/list/standard-list-item/standard-list-item.component.spec.ts
Labels: bug, platform, core

#8952 fix(core,platform): schematics and deps
  libs/core/schematics/migrations/migration-0-37/index.ts
  libs/core/schematics/ng-add/index.ts
  libs/core/src/lib/ng-package.json
  libs/core/src/lib/package.json
  libs/cx/src/lib/package.json
  libs/datetime-adapter/package.json
  libs/moment-adapter/package.json
  libs/platform/src/lib/package.json
Labels: bug

#8946 chore(core,platform): bump theming-base-content to 11.1.44
  package.json
  yarn.lock
Labels: dependencies

#8930 feat(core): creating submenus dynamically
  libs/core/src/lib/menu/menu-item/menu-item.component.spec.ts
  libs/core/src/lib/menu/menu-item/menu-item.component.ts
  libs/core/src/lib/menu/menu.component.spec.ts
  libs/core/src/lib/menu/menu.component.ts
  libs/core/src/lib/menu/services/menu.service.ts
  libs/core/src/lib/split-button/split-button.component.spec.ts
  libs/core/src/lib/split-button/split-button.component.ts
  libs/docs/core/menu/examples/menu-with-submenu-example.component.html
  libs/docs/core/menu/examples/menu-with-submenu-example.component.ts
Labels: bug, core

#8953 chore(core,platform): bump styles to 0.26.0-rc.5
  package.json
  yarn.lock
Labels: dependencies

#8830 fix(platform): table drag and drop
  libs/platform/src/lib/table/table.component.spec.ts
Labels: bug, sourcing, table

#8959 fix(core): fix expression changed error for carousel
  libs/core/src/lib/carousel/carousel-item/carousel-item.component.ts
  libs/core/src/lib/carousel/carousel.component.ts
  libs/platform/src/lib/table/table.component.spec.ts
Labels: bug, core

#8964 feat(core): add scrollbar to menu
  libs/core/src/lib/action-sheet/action-sheet.component.html
  libs/core/src/lib/menu/menu.component.html
  libs/core/src/lib/menu/menu.component.scss
  libs/core/src/lib/menu/menu.component.ts
  libs/core/src/lib/popover/base/base-popover.class.ts
  libs/core/src/lib/popover/popover-body/popover-body.component.html
  libs/core/src/lib/popover/popover-body/popover-body.component.ts
  libs/core/src/lib/popover/popover-service/popover.service.ts
  libs/docs/core/menu/examples/menu-scrollbar-example.component.html
  libs/docs/core/menu/examples/menu-scrollbar-example.component.ts
  libs/docs/core/menu/menu-docs.component.html
  libs/docs/core/menu/menu-docs.component.ts
  libs/docs/core/menu/menu-docs.module.ts
  libs/platform/src/lib/message-popover/message-popover.component.html
Labels: bug
