Repository SAP/fundamental-ngx, pull requests merged in 2022-03, with the labels that each got.

#7813 fix(core): layout grid vertical gutter
  libs/core/src/lib/layout-grid/layout-grid.component.ts
Labels: bug, core

#7820 fix(core): @angular/cdk schematics issue
  libs/core/schematics/add-animations/index.ts
  libs/core/schematics/collection.json
  libs/core/schematics/ng-add/index.ts
Labels: bug, core

#7330 fix(core): notification a11y
  apps/docs/src/app/core/component-docs/notification/examples/component-as-content/notification-content.component.html
  apps/docs/src/app/core/component-docs/notification/examples/component-as-content/notification-content.component.ts
  apps/docs/src/app/core/component-docs/notification/examples/notification-group/notification-group-example.component.html
  apps/docs/src/app/core/component-docs/notification/examples/notification-options/notification-options-example.component.html
  apps/docs/src/app/core/component-docs/notification/examples/template-as-content/notification-open-template-example.component.html
  apps/docs/src/app/core/component-docs/notification/examples/template-as-content/notification-open-template-example.component.ts
  apps/docs/src/app/core/component-docs/notification/notification-docs.module.ts
  apps/docs/src/app/documentation/core-helpers/component-example/component-example.component.ts
  libs/core/src/lib/notification/notification-actions/notification-actions.component.spec.ts
  libs/core/src/lib/notification/notification-actions/notification-actions.component.ts
  libs/core/src/lib/notification/notification-body/notification-body.component.ts
  libs/core/src/lib/notification/notification-content/notification-content.component.spec.ts
  libs/core/src/lib/notification/notification-footer/notification-footer.component.spec.ts
  libs/core/src/lib/notification/notification-group-header/notification-group-header.component.ts
  libs/core/src/lib/notification/notification-header/notification-header.component.spec.ts
  libs/core/src/lib/notification/notification-header/notification-header.component.ts
  libs/core/src/lib/notification/notification-limit/notification-limit.component.spec.ts
  libs/core/src/lib/notification/notification-service/notification.service.spec.ts
  libs/core/src/lib/notification/notification-service/notification.service.ts
  libs/core/src/lib/notification/notification-utils/notification-config.ts
  libs/core/src/lib/notification/notification-utils/notification-group-base.ts
  libs/core/src/lib/notification/notification.module.ts
  libs/core/src/lib/notification/notification/notification.component.spec.ts
  libs/core/src/lib/notification/notification/notification.component.ts
  libs/core/src/lib/notification/public_api.ts
Labels: core, rework required, ATL, ATL to verify

#7823 chore(core): fix lint errors in notification
  libs/core/src/lib/notification/notification-service/notification.service.ts
  libs/core/src/lib/notification/notification-utils/notification-group-base.ts
Labels: test automation

#7819 feat(core,platform): bring horizon themes
  apps/docs/src/app/documentation/core-helpers/stackblitz/code-example-stack/styles.scss
  apps/docs/src/styles.scss
  libs/core/schematics/ng-add/styles.ts
  libs/core/src/lib/utils/services/themes.service.ts
  libs/fn/schematics/ng-add/styles.ts
  package-lock.json
  package.json
Labels: theming, Fiori Next

#7817 chore(deps): migrate to the latest nx and angular 13 versions
  angular.json
  libs/platform/src/lib/approval-flow/approval-flow.component.ts
  libs/platform/src/lib/form/combobox/commons/base-combobox.ts
  libs/platform/src/lib/form/multi-combobox/commons/base-multi-combobox.ts
  libs/platform/src/lib/form/multi-input/base-multi-input.ts
  libs/platform/src/lib/icon-tab-bar/icon-tab-bar.component.spec.ts
  libs/platform/src/lib/shared/pipes/convert-bytes/convert-bytes.pipe.spec.ts
  libs/platform/src/lib/smart-filter-bar/smart-filter-bar.component.ts
  libs/platform/src/lib/table/table.component.ts
  libs/platform/src/lib/value-help-dialog/value-help-dialog/value-help-dialog.component.ts
  libs/platform/src/lib/wizard-generator/components/wizard-generator-step/wizard-generator-step.component.ts
  package-lock.json
  package.json
Labels: dependencies

#7785 feat(platform): checkbox,checkbox-group - range selection & code enhancements
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-examples/platform-binary-checkbox-no-form.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-examples/platform-binary-checkbox-no-form.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-examples/platform-binary-checkbox.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-examples/platform-binary-checkbox.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-examples/platform-checkbox-a11y.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-examples/platform-checkbox-error-handling.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-examples/platform-multiselect-checkbox.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-examples/platform-tristate-checkbox.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/checkbox/platform-checkbox-examples/platform-tristate-checkbox.component.ts
  apps/docs/src/app/platform/component-docs/platform-forms/platform-checkbox-group/platform-checkbox-group-examples/platform-checkbox-group-content-checkbox.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-checkbox-group/platform-checkbox-group-examples/platform-checkbox-group-example.component.html
  libs/core/src/lib/checkbox/checkbox/checkbox.component.ts
  libs/core/src/lib/checkbox/checkbox/fd-checkbox-values.interface.ts
  libs/core/src/lib/checkbox/public_api.ts
  libs/platform/src/lib/form/checkbox-group/checkbox-group.component.html
  libs/platform/src/lib/form/checkbox-group/checkbox-group.component.spec.ts
  libs/platform/src/lib/form/checkbox-group/checkbox-group.component.ts
  libs/platform/src/lib/form/checkbox/checkbox.component.html
  libs/platform/src/lib/form/checkbox/checkbox.component.spec.ts
  libs/platform/src/lib/form/checkbox/checkbox.component.ts
Labels: platform

#7390 fix(core): action-sheet, fix a11y issues
  apps/docs/src/app/core/component-docs/action-sheet/examples/action-sheet-compact/action-sheet-compact-example.component.html
  apps/docs/src/app/core/component-docs/action-sheet/examples/action-sheet-compact/action-sheet-compact-example.component.ts
  apps/docs/src/app/core/component-docs/action-sheet/examples/action-sheet-default/action-sheet-default-example.component.html
  apps/docs/src/app/core/component-docs/action-sheet/examples/action-sheet-default/action-sheet-default-example.component.ts
  apps/docs/src/app/core/component-docs/action-sheet/examples/action-sheet-mobile/action-sheet-mobile-example.component.html
  apps/docs/src/app/core/component-docs/action-sheet/examples/action-sheet-mobile/action-sheet-mobile-example.component.ts
  libs/core/src/lib/action-sheet/action-sheet-body/action-sheet-body.component.html
  libs/core/src/lib/action-sheet/action-sheet-body/action-sheet-body.component.ts
  libs/core/src/lib/action-sheet/action-sheet-control/action-sheet-control.component.ts
  libs/core/src/lib/action-sheet/action-sheet-item/action-sheet-item.component.ts
  libs/core/src/lib/action-sheet/action-sheet-mobile/action-sheet-mobile.component.html
  libs/core/src/lib/action-sheet/action-sheet-mobile/action-sheet-mobile.component.ts
  libs/core/src/lib/action-sheet/action-sheet.component.html
  libs/core/src/lib/action-sheet/action-sheet.component.ts
Labels: core, ready for merge, ATL to verify

#7829 fix(docs): fixed incorrect rendering of subItems
  apps/docs/src/app/documentation/core-helpers/sections-toolbar/sections-toolbar.component.html
Labels: documentation

#7836 fix(core): grid list filter-bar & group-header tabindexes
  libs/core/src/lib/grid-list/components/grid-list-filter-bar/grid-list-filter-bar.component.html
  libs/core/src/lib/grid-list/components/grid-list-group-header/grid-list-group-header.component.html
Labels: bug, core, Defect Hunting

#7833 feat(core): avatar clickable & event, zoomGlyph event on click
  apps/docs/src/app/core/component-docs/avatar/avatar-docs.component.html
  apps/docs/src/app/core/component-docs/avatar/examples/avatar-borders-example.component.html
  apps/docs/src/app/core/component-docs/avatar/examples/avatar-circle-example.component.html
  apps/docs/src/app/core/component-docs/avatar/examples/avatar-icon-example.component.html
  apps/docs/src/app/core/component-docs/avatar/examples/avatar-icon-example.component.ts
  apps/docs/src/app/core/component-docs/avatar/examples/avatar-initials-example.component.html
  apps/docs/src/app/core/component-docs/avatar/examples/avatar-transparent-example.component.html
  apps/docs/src/app/core/component-docs/avatar/examples/avatar-zoom-icon-example.component.html
  apps/docs/src/app/core/component-docs/avatar/examples/avatar-zoom-icon-example.component.ts
  libs/core/src/lib/avatar/avatar.component.html
  libs/core/src/lib/avatar/avatar.component.ts
Labels: enhancement, core, Defect Hunting

#7812 fix(platform): dynamic page onCollapseChange & improvements
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-example.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-flexible-column-example.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-flexible-column-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-non-collapsible-example.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-responsive-padding-example.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-snap-scroll-example.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page-examples/platform-dynamic-page-tabbed-example.component.html
  apps/docs/src/app/platform/component-docs/platform-dynamic-page/platform-dynamic-page.module.ts
  libs/platform/src/lib/dynamic-page/dynamic-page-header/header/dynamic-page-header-internal.component.html
  libs/platform/src/lib/dynamic-page/dynamic-page-header/header/dynamic-page-header-internal.component.spec.ts
  libs/platform/src/lib/dynamic-page/dynamic-page-header/header/dynamic-page-header-internal.component.ts
  libs/platform/src/lib/dynamic-page/dynamic-page-header/header/dynamic-page-header.component.ts
  libs/platform/src/lib/dynamic-page/dynamic-page.component.html
  libs/platform/src/lib/dynamic-page/dynamic-page.component.spec.ts
  libs/platform/src/lib/dynamic-page/dynamic-page.module.ts
  libs/platform/src/lib/dynamic-page/public_api.ts
Labels: bug, platform, stale

#7839 fix(core): fix form label spacing
  libs/core/src/lib/form/form-label/form-label.component.scss
Labels: bug

#7814 fix(core): file uploader disabled visual state
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-disabled-example/file-uploader-disabled-example.component.html
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-disabled-example/file-uploader-disabled-example.component.scss
  apps/docs/src/app/core/component-docs/file-uploader/examples/file-uploader-disabled-example/file-uploader-example.component.ts
  apps/docs/src/app/core/component-docs/file-uploader/file-uploader-docs.component.html
  apps/docs/src/app/core/component-docs/file-uploader/file-uploader-docs.module.ts
  e2e/wdio/core/fixtures/appData/file-uploader-contents.ts
  e2e/wdio/core/pages/file-uploader.po.ts
  e2e/wdio/core/tests/file-uploader.e2e-spec.ts
  libs/core/src/lib/file-uploader/file-uploader.component.html
Labels: bug, core

#7856 fix(core): make state input optional
  libs/core/src/lib/checkbox/checkbox/checkbox.component.ts
  libs/core/src/lib/combobox/combobox.component.ts
  libs/core/src/lib/form/form-control/form-control.component.ts
  libs/core/src/lib/input-group/input-group-directives.ts
  libs/core/src/lib/input-group/input-group.component.ts
  libs/core/src/lib/multi-input/multi-input.component.ts
  libs/core/src/lib/progress-indicator/progress-indicator.component.ts
  libs/core/src/lib/radio/radio-button/radio-button.component.ts
  libs/core/src/lib/step-input/step-input.component.ts
  libs/core/src/lib/tabs/tab-panel/tab-panel.component.ts
  libs/core/src/lib/tile/directives/numeric-content.directives.ts
  libs/fn/src/lib/form/form-item/form-item.component.ts
Labels: bug, core

#7818 fix(core): fix backwards left/right arrows in RTL mode for menu
  libs/core/src/lib/menu/services/menu.service.ts
Labels: bug, accessibility, core

#7791 fix(core): fix carousel issue
  libs/core/src/lib/carousel/carousel.component.html
  libs/core/src/lib/carousel/carousel.service.ts
Labels: core, ready for merge

#7858 fix(core): time picker tabindexes
  libs/core/src/lib/time/time-column/time-column.component.html
Labels: bug, Defect Hunting

#7861 fix(core): table defect hunting issues
  apps/docs/src/app/core/component-docs/table/examples/table-cdk-example.component.html
  apps/docs/src/app/core/component-docs/table/examples/table-column-sorting-example.component.html
  apps/docs/src/app/core/component-docs/table/examples/table-column-sorting-example.component.ts
  apps/docs/src/app/core/component-docs/table/examples/table-custom-columns-example/table-custom-columns-example.component.html
  apps/docs/src/app/core/component-docs/table/examples/table-focusable-example/table-focusable-example.component.html
  apps/docs/src/app/core/component-docs/table/examples/table-popin-example/table-popin-example.component.html
  apps/docs/src/app/core/component-docs/table/examples/table-popin-example/table-popin-example.component.ts
  apps/docs/src/app/core/component-docs/table/examples/table-responsive-example.component.html
  apps/docs/src/app/core/component-docs/table/table-docs.module.ts
  e2e/wdio/core/pages/table.po.ts
Labels: bug, documentation, Defect Hunting

#7859 fix(core): action list tabindex
  apps/docs/src/app/core/component-docs/list/examples/list-action-example/list-action-example.component.html
  apps/docs/src/app/core/component-docs/list/examples/list-action-example/list-action-example.component.ts
  e2e/wdio/core/tests/standard-list.e2e-spec.ts
Labels: bug, Defect Hunting

#7880 docs(core): update the documentation for textarea
  apps/docs/src/app/core/component-docs/textarea/textarea-docs.component.html
Labels: documentation

#7797 feat(fn): implement fn-input
  angular.json
  apps/docs/src/app/fn/component-docs/input/examples/input-example.component.html
  apps/docs/src/app/fn/component-docs/input/examples/input-examples.component.scss
  apps/docs/src/app/fn/component-docs/input/examples/input-examples.component.ts
  apps/docs/src/app/fn/component-docs/input/examples/input-form-example.component.html
  apps/docs/src/app/fn/component-docs/input/examples/input-form-example.component.ts
  apps/docs/src/app/fn/component-docs/input/examples/input-form-group-example.component.html
  apps/docs/src/app/fn/component-docs/input/examples/input-form-group-example.component.scss
  apps/docs/src/app/fn/component-docs/input/examples/input-form-group-example.component.ts
  apps/docs/src/app/fn/component-docs/input/examples/input-state-example.component.html
  apps/docs/src/app/fn/component-docs/input/input-docs.component.html
  apps/docs/src/app/fn/component-docs/input/input-docs.component.ts
  apps/docs/src/app/fn/component-docs/input/input-docs.module.ts
  apps/docs/src/app/fn/component-docs/input/input-header/input-header.component.html
  libs/fn/src/lib/fundamental-ngx-fn.module.ts
  libs/fn/src/lib/input/.browserslistrc
  libs/fn/src/lib/input/.eslintrc.json
  libs/fn/src/lib/input/README.md
  libs/fn/src/lib/input/index.ts
  libs/fn/src/lib/input/input-base.ts
  libs/fn/src/lib/input/input.component.html
  libs/fn/src/lib/input/input.component.scss
  libs/fn/src/lib/input/input.component.spec.ts
  libs/fn/src/lib/input/input.component.ts
  libs/fn/src/lib/input/input.module.ts
  libs/fn/src/lib/input/karma.conf.js
  libs/fn/src/lib/input/ng-package.json
  libs/fn/src/lib/input/package.json
  libs/fn/src/lib/input/test.ts
  libs/fn/src/lib/input/tsconfig.json
  libs/fn/src/lib/input/tsconfig.lib.json
  libs/fn/src/lib/input/tsconfig.lib.prod.json
  libs/fn/src/lib/input/tsconfig.spec.json
  libs/fn/src/lib/public_api.ts
  package-lock.json
  package.json
  tsconfig.base.json
Labels: enhancement, Fiori Next

#7889 fix(core): dynamic page fix flickering screen
  libs/core/src/lib/dynamic-page/dynamic-page.component.ts
Labels: core, stale

#7701 fix(core): fixed card layout performance
  apps/docs/src/app/core/component-docs/fixed-card-layout/fixed-card-layout-docs-header/fixed-card-layout-docs-header.component.html
  e2e/wdio/core/pages/fixed-card-layout.po.ts
  e2e/wdio/core/tests/fixed-card-layout.e2e-spec.ts
  libs/core/src/lib/fixed-card-layout/fixed-card-layout.component.html
  libs/core/src/lib/fixed-card-layout/fixed-card-layout.component.scss
  libs/core/src/lib/fixed-card-layout/fixed-card-layout.component.spec.ts
  libs/core/src/lib/fixed-card-layout/fixed-card-layout.component.ts
  libs/core/src/lib/utils/drag-and-drop/dnd-keyboard-group/dnd-keyboard-group.directive.ts
  libs/core/src/lib/utils/drag-and-drop/dnd-keyboard-item/dnd-keyboard-item.directive.ts
  libs/platform/src/lib/menu/menu.spec.ts
  package-lock.json
  package.json
Labels: bug, enhancement, core

#7901 feat(core): file uploader add manageable width
  apps/docs/src/app/platform/component-docs/platform-file-uploader/platform-file-uploader-examples/platform-file-uploader-compact-example.component.html
  apps/docs/src/app/platform/component-docs/platform-file-uploader/platform-file-uploader-examples/platform-file-uploader-example.component.html
  apps/docs/src/app/platform/component-docs/platform-file-uploader/platform-file-uploader-examples/platform-file-uploader-file-types-example.component.html
  apps/docs/src/app/platform/component-docs/platform-file-uploader/platform-file-uploader-examples/platform-file-uploader-max-file-size-example.component.html
  apps/docs/src/app/platform/component-docs/platform-file-uploader/platform-file-uploader-examples/platform-file-uploader-min-file-size-example.component.html
  apps/docs/src/app/platform/component-docs/platform-file-uploader/platform-file-uploader-examples/platform-file-uploader-reactive-example.component.html
  libs/core/src/lib/file-uploader/file-uploader.component.html
  libs/core/src/lib/file-uploader/file-uploader.component.spec.ts
  libs/core/src/lib/file-uploader/file-uploader.component.ts
  libs/platform/src/lib/form/platform-file-uploader/platform-file-uploader.component.html
Labels: core

#7915 fix(core,platform): rxjs debounceTime instead of delay
  libs/core/src/lib/splitter/splitter-resizer/splitter-resizer.component.ts
  libs/platform/src/lib/table/table-column-resize.service.ts
Labels: bug, platform, core

#7909 feat(core): fixed card layout column width
  apps/docs/src/app/core/component-docs/fixed-card-layout/examples/custom-column-width/fixed-card-layout-custom-column-width-example.component.html
  apps/docs/src/app/core/component-docs/fixed-card-layout/examples/custom-column-width/fixed-card-layout-custom-column-width-example.component.ts
  apps/docs/src/app/core/component-docs/fixed-card-layout/fixed-card-layout-docs.component.html
  apps/docs/src/app/core/component-docs/fixed-card-layout/fixed-card-layout-docs.component.ts
  apps/docs/src/app/core/component-docs/fixed-card-layout/fixed-card-layout-docs.module.ts
  libs/core/src/lib/fixed-card-layout/fixed-card-layout.component.html
  libs/core/src/lib/fixed-card-layout/fixed-card-layout.component.scss
  libs/core/src/lib/fixed-card-layout/fixed-card-layout.component.ts
Labels: enhancement, core, dxp

#7906 chore(deps): update mergeable.yml
  .github/mergeable.yml
Labels: tooling

#7857 fix(core): upload collection overflow
  apps/docs/src/app/core/component-docs/upload-collection/examples/upload-collection-complex-example.component.html
  apps/docs/src/app/core/component-docs/upload-collection/examples/upload-collection-custom-example.component.html
  apps/docs/src/app/core/component-docs/upload-collection/examples/upload-collection-example.component.html
  apps/docs/src/app/core/component-docs/upload-collection/examples/upload-collection-small-example.component.html
  e2e/wdio/core/tests/upload-collection.e2e-spec.ts
  libs/core/src/lib/object-status/object-status.component.ts
  libs/core/src/lib/upload-collection/public_api.ts
  libs/core/src/lib/upload-collection/upload-collection-item.directive.ts
  libs/core/src/lib/upload-collection/upload-collection-simple.directives.ts
  libs/core/src/lib/upload-collection/upload-collection.component.scss
  libs/core/src/lib/upload-collection/upload-collection.module.ts
Labels: bug, Defect Hunting
