Repository SAP/fundamental-ngx, pull requests merged in 2022-01, with the labels that each got.

#7486 test(e2e): fix e2e tests
  e2e/wdio/core/tests/date-picker.e2e-spec.ts
  e2e/wdio/core/tests/upload-collection.e2e-spec.ts
  wdio-cron.conf.js
  wdio.conf.js
Labels: e2e

#7503 test(e2e): fix e2e tests
  e2e/wdio/core/tests/wizard.e2e-spec.ts
  e2e/wdio/platform/fixtures/testData/date-picker.ts
  e2e/wdio/platform/fixtures/testData/date-time-picker.ts
  e2e/wdio/platform/tests/checkbox-group.e2e-spec.ts
  e2e/wdio/platform/tests/checkbox.e2e-spec.ts
  e2e/wdio/platform/tests/date-picker.e2e-spec.ts
  e2e/wdio/platform/tests/menu-button.e2e-spec.ts
Labels: ready for merge, e2e

#7506 chore: component generation schematics
  apps/docs/src/app/core/api-files.ts
  apps/docs/src/app/core/core-documentation.routes.ts
  apps/docs/src/app/core/documentation/core-documentation-data.ts
  apps/docs/src/app/core/documentation/core-documentation.component.ts
  apps/docs/src/app/documentation/core-helpers/sections-toolbar/section.interface.ts
  apps/docs/src/app/documentation/documentation-base.component.ts
  apps/docs/src/app/fn/api-files.ts
  apps/docs/src/app/fn/documentation/fn-documentation-data.ts
  apps/docs/src/app/fn/documentation/fn-documentation.component.ts
  apps/docs/src/app/fn/fn-documentation.routes.ts
  apps/docs/src/app/platform/api-files.ts
  apps/docs/src/app/platform/documentation/platform-documentation-data.ts
  apps/docs/src/app/platform/documentation/platform-documentation.component.ts
  apps/docs/src/app/platform/platform-documentation.routes.ts
  package-lock.json
  package.json
  tools/generators/add-eslint-overrides/index.ts
  tools/generators/sap-component/files/docs/__fileName__-docs.component.html.template
  tools/generators/sap-component/files/docs/__fileName__-docs.component.ts.template
  tools/generators/sap-component/files/docs/__fileName__-docs.module.ts.template
  tools/generators/sap-component/files/docs/__name__-header/__fileName__-header.component.html.template
  tools/generators/sap-component/files/docs/__name__-header/__fileName__-header.component.ts.template
  tools/generators/sap-component/files/docs/examples/default/__fileName__-default-example.component.html.template
  tools/generators/sap-component/files/docs/examples/default/__fileName__-default-example.component.ts.template
  tools/generators/sap-component/files/docs/examples/index.ts.template
  tools/generators/sap-component/files/lib/package.json.template
  tools/generators/sap-component/index.ts
  tools/generators/sap-component/schema.json
  tools/generators/utils/ast-utils.ts
  tools/generators/utils/linting.ts
Labels: tooling, platform, core, ready for merge

#7508 fix(platform): fix empty password field error
  libs/platform/src/lib/form/form-generator/form-generator.service.ts
Labels: bug, stale

#7421 fix(platform): schematics' translations tasks
  libs/platform/schematics/collection.json
  libs/platform/schematics/ng-add/index.ts
  libs/platform/schematics/ng-update/index.ts
  libs/platform/schematics/utils/translation-utils.ts
Labels: bug, platform

#7528 fix(core): popover vertical overflow
  libs/core/src/lib/popover/popover.component.scss
Labels: bug, core

#7529 fix(core): carousel, fix console error, arrows
  apps/docs/src/app/core/component-docs/carousel/carousel-docs.component.ts
  apps/docs/src/app/core/component-docs/carousel/examples/carousel-dynamic-items-example.component.html
  apps/docs/src/app/core/component-docs/carousel/examples/carousel-dynamic-items-example.component.ts
  apps/docs/src/app/core/component-docs/carousel/examples/carousel-example.component.scss
  apps/docs/src/app/core/component-docs/carousel/examples/carousel-multiple-active-item-example.component.html
  apps/docs/src/app/core/component-docs/carousel/examples/carousel-multiple-active-item-example.component.ts
  libs/core/src/lib/carousel/carousel-item.directive.ts
  libs/core/src/lib/carousel/carousel-item/carousel-item.component.scss
  libs/core/src/lib/carousel/carousel-item/carousel-item.component.ts
  libs/core/src/lib/carousel/carousel.component.html
  libs/core/src/lib/carousel/carousel.component.ts
  libs/core/src/lib/carousel/carousel.directive.ts
  libs/core/src/lib/carousel/carousel.service.ts
Labels: core, High, High priority

#7457 fix(platform): multi-input issues
  apps/docs/src/app/platform/component-docs/platform-forms/multi-input/platform-multi-input-example/platform-multi-input-mobile-example.component.ts
  e2e/wdio/platform/pages/multi-input.po.ts
  e2e/wdio/platform/tests/multi-input.e2e-spec.ts
  libs/platform/src/lib/form/multi-input/base-multi-input.ts
  libs/platform/src/lib/form/multi-input/multi-input-mobile/multi-input-mobile.component.html
  libs/platform/src/lib/form/multi-input/multi-input-mobile/multi-input-mobile.component.ts
  libs/platform/src/lib/form/multi-input/multi-input.component.html
  libs/platform/src/lib/form/multi-input/multi-input.component.spec.ts
  libs/platform/src/lib/form/multi-input/multi-input.component.ts
  libs/platform/src/lib/form/multi-input/multi-input.interface.ts
  libs/platform/src/lib/list/list.component.ts
Labels: platform, ready for merge

#7393 feat(platform): approval flow dataSource updates
  apps/docs/src/app/platform/component-docs/platform-approval-flow/platform-approval-flow-docs.module.ts
  apps/docs/src/app/platform/component-docs/platform-approval-flow/platform-approval-flow-examples/platform-approval-flow-example.component.html
  apps/docs/src/app/platform/component-docs/platform-approval-flow/platform-approval-flow-examples/platform-approval-flow-example.component.ts
  e2e/wdio/platform/tests/approval-flow.e2e-spec.ts
  libs/platform/src/lib/approval-flow/approval-flow-add-node/approval-flow-add-node.component.html
  libs/platform/src/lib/approval-flow/approval-flow-add-node/approval-flow-add-node.component.spec.ts
  libs/platform/src/lib/approval-flow/approval-flow-add-node/approval-flow-add-node.component.ts
  libs/platform/src/lib/approval-flow/approval-flow-approver-details/approval-flow-approver-details.component.ts
  libs/platform/src/lib/approval-flow/approval-flow-node/approval-flow-node.component.spec.ts
  libs/platform/src/lib/approval-flow/approval-flow-toolbar-actions/approval-flow-toolbar-actions.component.spec.ts
  libs/platform/src/lib/approval-flow/approval-flow-user-list/approval-flow-user-list.component.spec.ts
  libs/platform/src/lib/approval-flow/approval-flow.component.html
  libs/platform/src/lib/approval-flow/approval-flow.component.spec.ts
  libs/platform/src/lib/approval-flow/approval-flow.component.ts
  libs/platform/src/lib/approval-flow/approval-flow.module.ts
  libs/platform/src/lib/approval-flow/helpers/index.ts
  libs/platform/src/lib/approval-flow/interfaces/approval-data-source.ts
  libs/platform/src/lib/approval-flow/interfaces/approval-team.ts
  libs/platform/src/lib/approval-flow/interfaces/approval-user.ts
  libs/platform/src/lib/approval-flow/interfaces/index.ts
  libs/platform/src/lib/approval-flow/interfaces/send-reminders-data.ts
  libs/platform/src/lib/approval-flow/public_api.ts
  libs/platform/src/lib/approval-flow/test.ts
  libs/platform/src/lib/approval-flow/tests/data.ts
  libs/platform/src/lib/approval-flow/tests/providers.ts
  libs/platform/src/lib/shared/domain/data-source.ts
Labels: platform, ready for merge, stale

#7481 fix(core/platform): slider - show tooltip properly
  libs/core/src/lib/slider/slider.component.html
  libs/core/src/lib/slider/slider.component.ts
Labels: platform, core, ready for merge

#7511 feat(docs): update "new component" readme
  .gitignore
  NEW_COMPONENT.md
  NEW_PLATFORM_COMPONENT.md
  apps/docs/src/app/platform/component-docs/new-component/new-component.component.html
  apps/docs/src/assets/NEW_COMPONENT.md
  apps/docs/src/assets/README.md
  package.json
  tools/generators/sap-component/files/docs/__fileName__-docs.module.ts.template
  tools/generators/sap-component/index.ts
Labels: ready for merge

#7537 fix(core): datetime vertical overflow
  libs/core/src/lib/datetime-picker/datetime-picker.component.html
  libs/core/src/lib/datetime-picker/datetime-picker.component.scss
  libs/core/src/lib/popover/popover.component.scss
Labels: bug, core

#7541 fix(core): carousel, fix page indicator container
  libs/core/src/lib/carousel/carousel.component.html
  libs/core/src/lib/carousel/carousel.component.ts
Labels: core, High, High priority

#7545 docs(core): adjust documentation generation tool for source files
  NEW_COMPONENT.md
  tools/generators/sap-component/files/docs/__fileName__-docs.component.ts.template
Labels: documentation

#7478 fix(platform): search-field - fix focus
  libs/platform/src/lib/search-field/search-field.component.ts
Labels: platform, ready for merge

#7509 fix(core/platform): datetime-picker "invalid" state visibiity
  apps/docs/src/app/platform/component-docs/platform-forms/platform-datetime-picker/platform-datetime-picker-examples/platform-datetime-picker-reactive-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-datetime-picker/platform-datetime-picker-examples/platform-datetime-picker-reactive-example.component.ts
  libs/core/src/lib/datetime-picker/datetime-picker.component.spec.ts
  libs/core/src/lib/datetime-picker/datetime-picker.component.ts
  libs/platform/src/lib/form/datetime-picker/datetime-picker.component.html
  libs/platform/src/lib/form/datetime-picker/datetime-picker.component.ts
  libs/platform/src/lib/form/form-group/form-field/form-field.component.ts
  libs/platform/src/lib/shared/form/form-field.ts
Labels: platform, core, ready for merge, stale

#7482 fix(core): datetime picker form-message trigger
  apps/docs/src/app/core/component-docs/datetime-picker/datetime-picker-docs.component.html
  apps/docs/src/app/documentation/common-components/datetime-important/datetime-important.component.html
  libs/core/src/lib/datetime-picker/datetime-picker.component.ts
Labels: Defect Hunting, ready for qa, stale

#7544 fix(core,platform,fn): lodash-es & fast-deep-equal as deps & docs update about jest issue with lodash-es
  PLATFORM_README.md
  libs/core/src/lib/ng-package.json
  libs/core/src/lib/package.json
  libs/fn/src/lib/ng-package.json
  libs/fn/src/lib/package.json
  libs/platform/src/lib/ng-package.json
  libs/platform/src/lib/package.json
Labels: bug, platform, stale

#7507 fix(core): replace deprecated attribute from illustrated messages
  libs/core/src/lib/illustrated-message/illustrated-message.component.ts
Labels: bug, stale

#7115 fix(platform): fill suggestions with selected state
  libs/platform/src/lib/form/multi-combobox/commons/base-multi-combobox.ts
Labels: platform, ready for merge, QA Approved

#7540 fix(platform): table column's width
  libs/platform/src/lib/table/table-column-resize.service.ts
Labels: bug, platform, stale

#7547 feat(core): illustrated message derive styles from styles lib
  libs/core/src/lib/illustrated-message/illustrated-message.component.scss
Labels: enhancement, core, stale

#7571 chore: enable "enforce-module-boundaries" eslint rule
  .eslintrc.json
  angular.json
  apps/docs/src/app/core/component-docs/splitter/splitter-docs.module.ts
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-branching-example.component.ts
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-customizable-example.component.ts
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-dialog-example.component.ts
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-example.component.ts
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-mobile-example.component.ts
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-ngfor-example.component.ts
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-visible-summary-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-icon-tab-bar/platform-icon-tab-bar-docs.module.ts
  libs/core/src/lib/wizard/public_api.ts
  libs/core/src/lib/wizard/wizard.service.ts
  libs/platform/src/lib/approval-flow/tests/providers.ts
Labels: tooling, ready for merge

#7568 docs(core): dynamic page add facets example
  apps/docs/src/app/core/component-docs/dynamic-page/dynamic-page-docs.component.html
  apps/docs/src/app/core/component-docs/dynamic-page/dynamic-page-docs.component.ts
  apps/docs/src/app/core/component-docs/dynamic-page/dynamic-page-docs.module.ts
  apps/docs/src/app/core/component-docs/dynamic-page/dynamic-page-examples/dynamic-page-facets-example/dynamic-page-facets-example.component.html
  apps/docs/src/app/core/component-docs/dynamic-page/dynamic-page-examples/dynamic-page-facets-example/dynamic-page-facets-example.component.ts
  libs/core/src/lib/dynamic-page/dynamic-page-header/header/dynamic-page-header.component.html
  libs/core/src/lib/dynamic-page/dynamic-page-header/header/dynamic-page-header.component.ts
  libs/core/src/lib/dynamic-page/dynamic-page.component.scss
  libs/core/src/lib/facets/facet/facet.component.scss
Labels: core, ready for merge

#7584 docs(core): ShellbarUser to use fullname instead of initial
  apps/docs/src/app/core/component-docs/shellbar/examples/shellbar-basic-example.component.ts
  apps/docs/src/app/core/component-docs/shellbar/examples/shellbar-collapsible-example.component.ts
Labels: bug, documentation, core

#7536 fix(core): cva unit tests for date & time pickers
  libs/core/src/lib/date-picker/date-picker.component.spec.ts
  libs/core/src/lib/date-picker/date-picker.component.ts
  libs/core/src/lib/datetime-picker/datetime-picker.component.spec.ts
  libs/core/src/lib/time-picker/time-picker.component.spec.ts
  libs/core/src/lib/time/time.component.spec.ts
  libs/core/src/lib/time/time.component.ts
  libs/platform/src/lib/form/date-picker/date-picker.component.spec.ts
  libs/platform/src/lib/form/date-picker/date-picker.component.ts
  libs/platform/src/lib/form/datetime-picker/datetime-picker.component.spec.ts
  libs/platform/src/lib/menu/menu.spec.ts
  libs/platform/src/lib/search-field/search-field.component.spec.ts
  libs/platform/src/lib/table/table.component.spec.ts
Labels: ready for merge

#7543 fix: component schematic import updates
  NEW_COMPONENT.md
  tools/generators/sap-component/files/docs/__fileName__-docs.module.ts.template
  tools/generators/sap-component/index.ts
Labels: ready for merge, stale

#7548 fix(core): multi-input - keep selected options
  apps/docs/src/app/core/component-docs/multi-input/examples/multi-input-async-example/multi-input-async-example.component.html
  apps/docs/src/app/core/component-docs/multi-input/examples/multi-input-async-example/multi-input-async-example.component.ts
  apps/docs/src/assets/multi-input-values.json
  libs/core/src/lib/multi-input/multi-input.component.spec.ts
  libs/core/src/lib/multi-input/multi-input.component.ts
Labels: ready for merge, stale

#7588 fix(core,platform): tab navigation in controls with dropdowns
  libs/core/src/lib/combobox/combobox.component.ts
  libs/core/src/lib/date-picker/date-picker.component.ts
  libs/core/src/lib/datetime-picker/datetime-picker.component.ts
  libs/core/src/lib/multi-input/multi-input.component.ts
  libs/core/src/lib/time-picker/time-picker.component.ts
  libs/platform/src/lib/form/combobox/combobox/combobox.component.html
  libs/platform/src/lib/form/combobox/commons/base-combobox.ts
  libs/platform/src/lib/form/date-picker/date-picker.component.ts
  libs/platform/src/lib/form/datetime-picker/datetime-picker.component.ts
  libs/platform/src/lib/form/multi-combobox/commons/base-multi-combobox.ts
  libs/platform/src/lib/form/multi-combobox/multi-combobox/multi-combobox.component.html
  libs/platform/src/lib/form/multi-input/base-multi-input.ts
  libs/platform/src/lib/form/multi-input/multi-input.component.html
  libs/platform/src/lib/form/time-picker/time-picker.component.ts
Labels: platform, core, ready for merge, stale

#7583 feat(core): add input for responsive side nav
  apps/docs/src/app/core/component-docs/shellbar/examples/shellbar-side-nav-responsive/shellbar-side-nav-responsive-example.component.html
  apps/docs/src/app/core/component-docs/shellbar/examples/shellbar-side-nav-responsive/shellbar-side-nav-responsive-example.component.scss
  apps/docs/src/app/core/component-docs/shellbar/examples/shellbar-side-nav-responsive/shellbar-side-nav-responsive-example.component.ts
  apps/docs/src/app/core/component-docs/shellbar/shellbar-docs.component.html
  apps/docs/src/app/core/component-docs/shellbar/shellbar-docs.component.ts
  apps/docs/src/app/core/component-docs/shellbar/shellbar-docs.module.ts
  libs/core/src/lib/shellbar/shellbar.component.ts
  libs/core/src/lib/side-navigation/side-navigation.component.ts
Labels: enhancement, stale

#7580 fix(platform): ability to search through nested properties
  apps/docs/src/app/platform/component-docs/platform-smart-filter-bar/platform-smart-filter-bar-examples/platform-smart-filter-bar-custom-filter-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-smart-filter-bar/platform-smart-filter-bar-examples/platform-smart-filter-bar-observable-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-activable-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-custom-column-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-custom-width-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-data-provider-example.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-default-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-filterable-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-freezable-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-groupable-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-initial-state-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-loading-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-multiple-row-selection-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-navigatable-row-indicator-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-no-outer-borders-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-p13-columns-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-p13-filter-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-p13-group-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-p13-sort-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-page-scrolling-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-row-class-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-semantic-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-single-row-selection-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-sortable-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-tree-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/platform-table-wrap-example.component.ts
  libs/platform/src/lib/table/constants/index.ts
  libs/platform/src/lib/table/domain/table-data-provider.ts
  libs/platform/src/lib/table/interfaces/table-state.interface.ts
  libs/platform/src/lib/table/table.component.ts
  libs/platform/src/lib/table/table.service.ts
Labels: bug, platform

#7585 fix(fn): rename experimental modules
  apps/docs/src/app/app.module.ts
  apps/docs/src/app/fn/component-docs/button/button-docs.module.ts
  apps/docs/src/app/fn/component-docs/button/button-header/button-header.component.html
  apps/docs/src/app/fn/component-docs/checkbox/checkbox-docs.module.ts
  apps/docs/src/app/fn/component-docs/checkbox/checkbox-header/checkbox-header.component.html
  apps/docs/src/app/fn/component-docs/input/input-docs.module.ts
  apps/docs/src/app/fn/component-docs/input/input-header/input-header.component.html
  apps/docs/src/app/fn/component-docs/radio/radio-docs.module.ts
  apps/docs/src/app/fn/component-docs/radio/radio-header/radio-header.component.html
  apps/docs/src/app/fn/component-docs/search/search-docs.module.ts
  apps/docs/src/app/fn/component-docs/search/search-header/search-header.component.html
  apps/docs/src/app/fn/component-docs/select/select-docs.module.ts
  apps/docs/src/app/fn/component-docs/select/select-header/select-header.component.html
  apps/docs/src/app/fn/component-docs/slider/slider-docs.module.ts
  apps/docs/src/app/fn/component-docs/slider/slider-header/slider-header.component.html
  apps/docs/src/app/fn/component-docs/switch/switch-docs.module.ts
  apps/docs/src/app/fn/component-docs/switch/switch-header/switch-header.component.html
  apps/docs/src/app/fn/component-docs/tabs/tabs-docs.module.ts
  apps/docs/src/app/fn/component-docs/tabs/tabs-header/tabs-header.component.html
  apps/docs/src/app/fn/component-docs/tag/tag-docs.module.ts
  apps/docs/src/app/fn/component-docs/tag/tag-header/tag-header.component.html
  apps/docs/src/app/fn/fn-documentation.module.ts
  libs/fn/src/lib/button/button.component.spec.ts
  libs/fn/src/lib/button/button.component.ts
  libs/fn/src/lib/button/button.module.ts
  libs/fn/src/lib/checkbox/checkbox.module.ts
  libs/fn/src/lib/checkbox/checkbox/checkbox.component.spec.ts
  libs/fn/src/lib/checkbox/checkbox/checkbox.component.ts
  libs/fn/src/lib/form/form-control/form-control.component.ts
  libs/fn/src/lib/form/form-control/form-control.module.ts
  libs/fn/src/lib/form/form-item/form-item.component.ts
  libs/fn/src/lib/form/form-item/form-item.module.ts
  libs/fn/src/lib/form/form-label/form-label.component.ts
  libs/fn/src/lib/form/form-label/form-label.module.ts
  libs/fn/src/lib/form/form.module.ts
  libs/fn/src/lib/fundamental-ngx-fn.module.ts
  libs/fn/src/lib/radio/public_api.ts
  libs/fn/src/lib/radio/radio-button.module.ts
  libs/fn/src/lib/radio/radio-button/radio-button.component.ts
  libs/fn/src/lib/radio/radio.module.ts
  libs/fn/src/lib/search/search.component.ts
  libs/fn/src/lib/search/search.module.ts
  libs/fn/src/lib/select/option/option.component.ts
  libs/fn/src/lib/select/select.component.spec.ts
  libs/fn/src/lib/select/select.component.ts
  libs/fn/src/lib/select/select.module.ts
  libs/fn/src/lib/slider/slider.component.ts
  libs/fn/src/lib/slider/slider.module.ts
  libs/fn/src/lib/switch/switch.component.ts
  libs/fn/src/lib/switch/switch.module.ts
  libs/fn/src/lib/tabs/tabs.module.ts
  libs/fn/src/lib/tag/tag.component.spec.ts
  libs/fn/src/lib/tag/tag.component.ts
  libs/fn/src/lib/tag/tag.module.ts
  tools/generators/sap-component/index.ts
Labels: Fiori Next

#7572 fix(core): handle dynamic height of dynamic page wrapper
  apps/docs/src/app/core/component-docs/dynamic-page/dynamic-page-docs.component.html
  apps/docs/src/app/core/component-docs/dynamic-page/dynamic-page-docs.module.ts
  apps/docs/src/app/core/component-docs/dynamic-page/dynamic-page-examples/dynamic-page-dynamic-container-height-example/dynamic-page-dynamic-container-height-example.component.html
  apps/docs/src/app/core/component-docs/dynamic-page/dynamic-page-examples/dynamic-page-dynamic-container-height-example/dynamic-page-dynamic-container-height-example.component.ts
  libs/core/src/lib/dynamic-page/dynamic-page-wrapper.directive.ts
  libs/core/src/lib/dynamic-page/dynamic-page.component.ts
  libs/core/src/lib/dynamic-page/dynamic-page.module.ts
  libs/core/src/lib/dynamic-page/public_api.ts
Labels: dxp

#7575 fix(core,platform): defect hunting issues
  apps/docs/src/app/core/component-docs/bar/examples/bar-default-example.component.html
  apps/docs/src/app/core/component-docs/bar/examples/bar-header-example.component.html
  apps/docs/src/app/core/component-docs/bar/examples/bar-page-example.component.html
  apps/docs/src/app/core/component-docs/bar/examples/bar-page-responsive-example.component.html
  apps/docs/src/app/core/component-docs/bar/examples/bar-with-title-example.component.html
  apps/docs/src/app/core/component-docs/list-byline/examples/list-byline-interactive-example/list-byline-interactive-example.component.html
  apps/docs/src/app/core/component-docs/list/examples/list-interactive-example/list-interactive-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/input-group/platform-input-group-examples/platform-input-group-form-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/input-group/platform-input-group-examples/platform-input-group-standard-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-form-container/platform-form-container-examples/platform-form-container-complex-example.component.html
  e2e/wdio/platform/tests/input-group.e2e-spec.ts
  libs/core/src/lib/form/form-message/form-message.component.scss
  libs/platform/src/lib/form/input-message-group-with-template/input-message-group-with-template.component.scss
Labels: ready for merge

#7428 feat(core): pagination long & short modes, improvements, styles version bump
  apps/docs/src/app/core/component-docs/pagination/examples/pagination-mobile/pagination-mobile-example.component.ts
  apps/docs/src/app/core/component-docs/pagination/examples/pagination-per-page/pagination-per-page-example.component.ts
  apps/docs/src/app/core/component-docs/pagination/pagination-docs.component.html
  apps/docs/src/app/core/component-docs/pagination/pagination-header/pagination-header.component.html
  e2e/wdio/core/fixtures/appData/pagination-contents.ts
  e2e/wdio/core/pages/table.po.ts
  e2e/wdio/core/tests/pagination.e2e-spec.ts
  e2e/wdio/core/tests/table.e2e-spec.ts
  e2e/wdio/platform/fixtures/appData/list-contents.ts
  e2e/wdio/platform/fixtures/appData/object-attribute-contents.ts
  e2e/wdio/platform/fixtures/appData/object-status-contents.ts
  e2e/wdio/platform/fixtures/appData/standard-list-item-contents.ts
  e2e/wdio/platform/pages/action-list-item.po.ts
  e2e/wdio/platform/pages/input.po.ts
  e2e/wdio/platform/pages/list.po.ts
  e2e/wdio/platform/pages/standard-list-item.po.ts
  e2e/wdio/platform/tests/action-list-item.e2e-spec.ts
  e2e/wdio/platform/tests/input.e2e-spec.ts
  e2e/wdio/platform/tests/list.e2e-spec.ts
  e2e/wdio/platform/tests/object-attribute.e2e-spec.ts
  e2e/wdio/platform/tests/object-status.e2e-spec.ts
  e2e/wdio/platform/tests/standard-list-item.e2e-spec.ts
  e2e/wdio/platform/tests/upload-collection.e2e-spec.ts
  libs/core/src/lib/pagination/pagination.component.html
  libs/core/src/lib/pagination/pagination.component.scss
  libs/core/src/lib/pagination/pagination.component.spec.ts
  libs/core/src/lib/pagination/pagination.component.ts
  libs/core/src/lib/pagination/pagination.service.spec.ts
  libs/core/src/lib/pagination/pagination.service.ts
  package-lock.json
  package.json
Labels: enhancement, core

#7502 fix(core): avatar-group, add keyboard support
  libs/core/src/lib/avatar-group/avatar-group.component.spec.ts
  libs/core/src/lib/avatar-group/avatar-group.component.ts
  libs/core/src/lib/avatar-group/avatar-group.interface.ts
  libs/core/src/lib/avatar-group/directives/avatar-group-focusable-avatar.directive.ts
  libs/core/src/lib/avatar-group/directives/avatar-group-item.directive.spec.ts
  libs/core/src/lib/avatar-group/directives/avatar-group-item.directive.ts
  libs/core/src/lib/avatar-group/directives/avatar-group-overflow-body.directive.ts
  libs/core/src/lib/avatar-group/directives/avatar-group-overflow-button.directive.ts
  libs/core/src/lib/avatar-group/public_api.ts
Labels: core, ready for merge

#7625 fix(core): timeline line size change
  apps/docs/src/app/core/component-docs/timeline/examples/timeline-horizontal-axis-example.component.ts
  apps/docs/src/app/core/component-docs/timeline/examples/timeline-template-example.component.html
  apps/docs/src/app/core/component-docs/timeline/examples/timeline-vertical-double-side-example.component.ts
  libs/core/src/lib/text/text.component.ts
  libs/core/src/lib/timeline/components/timeline-node-body/timeline-node-body.component.html
  libs/core/src/lib/timeline/components/timeline-node-body/timeline-node-body.component.spec.ts
  libs/core/src/lib/timeline/components/timeline-node-body/timeline-node-body.component.ts
Labels: Defect Hunting

#7619 fix(core): tokenizer overflow
  libs/core/src/lib/token/token.component.html
  libs/core/src/lib/token/token.component.ts
  libs/core/src/lib/token/token.module.ts
  libs/core/src/lib/token/tokenizer.component.html
  libs/core/src/lib/token/tokenizer.component.scss
  libs/core/src/lib/token/tokenizer.component.ts
Labels: bug, core

#7605 feat(platform): when function for global wizard generator scope
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/examples/wizard-generator-visibility-between-steps-example.component.html
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/examples/wizard-generator-visibility-between-steps-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/platform-wizard-generator-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/platform-wizard-generator-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/platform-wizard-generator-docs.module.ts
  libs/platform/src/lib/form/form-generator/dynamic-form-control-field.directive.ts
  libs/platform/src/lib/form/form-generator/dynamic-form-control.ts
  libs/platform/src/lib/form/form-generator/fdp-form-generator.module.ts
  libs/platform/src/lib/form/form-generator/form-generator-components-accessor.service.spec.ts
  libs/platform/src/lib/form/form-generator/form-generator-components-accessor.service.ts
  libs/platform/src/lib/form/form-generator/form-generator.service.spec.ts
  libs/platform/src/lib/form/form-generator/form-generator.service.ts
  libs/platform/src/lib/form/form-generator/form-generator/form-generator.component.ts
  libs/platform/src/lib/form/form-generator/interfaces/dynamic-form-group.ts
  libs/platform/src/lib/form/form-generator/interfaces/dynamic-form-item.ts
  libs/platform/src/lib/wizard-generator/base-wizard-generator.ts
  libs/platform/src/lib/wizard-generator/components/dialog-wizard-generator/dialog-wizard-generator.component.ts
  libs/platform/src/lib/wizard-generator/components/wizard-body/wizard-body.component.html
  libs/platform/src/lib/wizard-generator/components/wizard-body/wizard-body.component.ts
  libs/platform/src/lib/wizard-generator/components/wizard-generator-step/wizard-generator-step.component.ts
  libs/platform/src/lib/wizard-generator/components/wizard-generator/wizard-generator.component.ts
  libs/platform/src/lib/wizard-generator/interfaces/wizard-generator-form-group.interface.ts
  libs/platform/src/lib/wizard-generator/interfaces/wizard-generator-item.interface.ts
  libs/platform/src/lib/wizard-generator/wizard-generator.service.ts
Labels: enhancement, platform

#7621 fix(core/platform): defect hunting issues
  apps/docs/src/app/core/component-docs/action-bar/action-bar-header/action-bar-header.component.scss
  apps/docs/src/app/core/component-docs/action-bar/action-bar-header/action-bar-header.component.ts
  apps/docs/src/app/core/component-docs/action-sheet/action-sheet-header/action-sheet-header.component.scss
  apps/docs/src/app/core/component-docs/action-sheet/action-sheet-header/action-sheet-header.component.ts
  apps/docs/src/app/core/component-docs/inline-help/examples/inline-help-example.component.html
  apps/docs/src/app/core/component-docs/table/examples/table-pagination-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-basic-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-basic-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-basic-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-cascade-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-cascade-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-cascade-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-example-styles.scss
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-scrolling-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-scrolling-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-scrolling-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-with-icons-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-with-icons-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-with-icons-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-x-position-example.component.html
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-x-position-example.component.scss
  apps/docs/src/app/platform/component-docs/platform-menu/platform-menu-examples/platform-menu-x-position-example.component.ts
  e2e/wdio/core/pages/table.po.ts
  libs/core/src/lib/object-status/object-status.component.scss
  libs/core/src/lib/object-status/object-status.component.spec.ts
  libs/core/src/lib/object-status/object-status.component.ts
  libs/core/src/lib/object-status/object-status.module.ts
  libs/platform/src/lib/object-status/object-status.component.spec.ts
  libs/platform/src/lib/table/table.component.spec.ts
  libs/platform/src/lib/table/table.component.ts
Labels: Defect Hunting

#7579 feat(platform): ability to add rows to table
  apps/docs/src/app/core/component-docs/table/examples/table-pagination-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-docs.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/editable-rows/platform-table-editable-rows-example.component.html
  apps/docs/src/app/platform/component-docs/platform-table/platform-table-examples/editable-rows/platform-table-editable-rows-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-table/platform-table.module.ts
  e2e/wdio/core/tests/multi-input.e2e-spec.ts
  e2e/wdio/platform/pages/table.po.ts
  libs/platform/src/lib/table/components/table-column/table-column.component.ts
  libs/platform/src/lib/table/components/table-column/table-column.ts
  libs/platform/src/lib/table/components/table-editable-cell/table-editable-cell.component.html
  libs/platform/src/lib/table/components/table-editable-cell/table-editable-cell.component.ts
  libs/platform/src/lib/table/components/table-toolbar/table-toolbar.component.html
  libs/platform/src/lib/table/components/table-toolbar/table-toolbar.component.spec.ts
  libs/platform/src/lib/table/components/table-toolbar/table-toolbar.component.ts
  libs/platform/src/lib/table/constants/index.ts
  libs/platform/src/lib/table/directives/table-cell.directive.ts
  libs/platform/src/lib/table/interfaces/save-rows-event.interface.ts
  libs/platform/src/lib/table/models/table-row.model.ts
  libs/platform/src/lib/table/public_api.ts
  libs/platform/src/lib/table/table-cell.class.ts
  libs/platform/src/lib/table/table.component.html
  libs/platform/src/lib/table/table.component.ts
  libs/platform/src/lib/table/table.module.ts
  libs/platform/src/lib/table/table.service.ts
  libs/platform/src/lib/table/table.ts
Labels: enhancement, platform

#7637 fix(platform): revert table column's width PR #7540, split platform CI suites
  .github/workflows/on-push-or-pull.yml
  libs/platform/src/lib/table/table-column-resize.service.ts
  package.json
  wdio.conf.js
Labels: e2e

#7620 fix(core): input group focus
  apps/docs/src/app/core/component-docs/input-group/examples/input-group-button-example.component.html
  libs/core/src/lib/input-group/input-group.component.html
  libs/core/src/lib/input-group/input-group.component.ts
Labels: bug, core

#7624 feat(core): tile clickable flag & event emit on click
  apps/docs/src/app/core/component-docs/tile/examples/clickable-tile-example.component.html
  apps/docs/src/app/core/component-docs/tile/examples/tile-examples.component.ts
  apps/docs/src/app/core/component-docs/tile/tile-docs.component.html
  apps/docs/src/app/core/component-docs/tile/tile-docs.component.ts
  apps/docs/src/app/core/component-docs/tile/tile-docs.module.ts
  libs/core/src/lib/tile/tile.component.html
  libs/core/src/lib/tile/tile.component.ts
Labels: enhancement, core

#7632 fix(docs): table header cell icons
  apps/docs/src/app/core/component-docs/table/examples/table-column-sorting-example.component.html
Labels: bug, core

#7638 docs(core): dialog, add new scss file to stackblitz example
  apps/docs/src/app/core/component-docs/dialog/dialog-docs.component.ts
Labels: documentation

#7651 test(core,platform): e2e fixes
  e2e/wdio/core/tests/date-picker.e2e-spec.ts
  e2e/wdio/platform/pages/menu.po.ts
  e2e/wdio/platform/pages/table.po.ts
  e2e/wdio/platform/pages/upload-collection.po.ts
Labels: bug, flaky tests

#7539 feat(platform): search field predefined category
  apps/docs/src/app/platform/component-docs/platform-search-field/platform-search-field-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-search-field/platform-search-field-examples/platform-search-field-categories-example.component.html
  libs/platform/src/lib/search-field/search-field.component.html
  libs/platform/src/lib/search-field/search-field.component.ts
Labels: enhancement, platform

#7630 feat(core): pagination keyboard navigation
  libs/core/src/lib/pagination/pagination.component.html
  libs/core/src/lib/pagination/pagination.component.ts
  libs/core/src/lib/pagination/pagination.module.ts
  libs/core/src/lib/utils/directives/focus-key-manager/focus-key-manager-helpers.module.ts
  libs/core/src/lib/utils/directives/focus-key-manager/focus-key-manager-item.directive.spec.ts
  libs/core/src/lib/utils/directives/focus-key-manager/focus-key-manager-item.directive.ts
  libs/core/src/lib/utils/directives/focus-key-manager/focus-key-manager-list.directive.spec.ts
  libs/core/src/lib/utils/directives/focus-key-manager/focus-key-manager-list.directive.ts
  libs/core/src/lib/utils/public_api.ts
Labels: enhancement, core
