Repository SAP/fundamental-ngx, pull requests merged in 2022-05, with the labels that each got.

#8005 fix(core): card horizon breaking changes
  apps/docs/src/app/core/component-docs/card/card-docs.component.html
  apps/docs/src/app/core/component-docs/card/card-docs.module.ts
  apps/docs/src/app/core/component-docs/card/examples/card-footer-example.component.html
  apps/docs/src/app/core/component-docs/card/examples/list-card/card-list-example.component.html
  apps/docs/src/app/core/component-docs/card/examples/quick-view-card/card-quick-view-example.component.html
  e2e/wdio/core/fixtures/appData/card-content.ts
  e2e/wdio/core/pages/card.po.ts
  e2e/wdio/core/tests/card.e2e-spec.ts
  libs/core/src/lib/card/card-content.component.ts
  libs/core/src/lib/card/card-footer-action-item.directive.ts
  libs/core/src/lib/card/card-footer.component.html
  libs/core/src/lib/card/card-footer.component.ts
  libs/core/src/lib/card/card.component.ts
  libs/core/src/lib/card/card.module.ts
  libs/core/src/lib/card/card.tokens.ts
  libs/core/src/lib/card/constants.ts
  libs/core/src/lib/card/public_api.ts
  libs/core/src/lib/list/list.component.ts
  libs/core/src/lib/list/list.tokens.ts
  libs/core/src/lib/list/public_api.ts
  package-lock.json
  package.json
Labels: theming

#8022 fix(platform): value help dialog search
  e2e/wdio/platform/fixtures/appData/value-help-dialog-contents.ts
  e2e/wdio/platform/pages/value-help-dialog.po.ts
  e2e/wdio/platform/tests/value-help-dialog.e2e-spec.ts
  libs/platform/src/lib/search-field/search-field.component.html
  libs/platform/src/lib/search-field/search-field.component.ts
  libs/platform/src/lib/value-help-dialog/value-help-dialog.module.ts
  libs/platform/src/lib/value-help-dialog/value-help-dialog/value-help-dialog.component.html
  libs/platform/src/lib/value-help-dialog/value-help-dialog/value-help-dialog.component.ts
Labels: bug, enhancement, platform

#8065 feat(core): add an ability to set "id" for dialog buttons from config
  libs/core/src/lib/bar/button-bar/button-bar.component.ts
  libs/core/src/lib/dialog/base/dialog-content-base.class.ts
  libs/core/src/lib/dialog/dialog-default/dialog-default.component.html
  libs/core/src/lib/message-box/message-box-default/message-box-default.component.html
Labels: dxp

#8069 fix(core): correct breadcrumb order
  apps/docs/src/app/core/component-docs/breadcrumb/breadcrumb-docs.component.html
  libs/core/src/lib/breadcrumb/breadcrumb.component.ts
Labels: bug

#8067 feat(core): splitter hcw/hcb + horizon themes support, bugfixes
  apps/docs/src/app/core/component-docs/splitter/examples/required-parent-width/splitter-required-parent-width-example.component.html
  libs/core/src/lib/splitter/splitter-pagination/splitter-pagination.component.html
  libs/core/src/lib/splitter/splitter-pagination/splitter-pagination.component.ts
  libs/core/src/lib/splitter/splitter-pane-container/splitter-pane-container.component.html
  libs/core/src/lib/splitter/splitter-pane-container/splitter-pane-container.component.ts
  libs/core/src/lib/splitter/splitter-resizer/splitter-resizer.component.html
  libs/core/src/lib/splitter/splitter-resizer/splitter-resizer.component.ts
  libs/core/src/lib/splitter/splitter.component.scss
  libs/core/src/lib/splitter/splitter.module.ts
  package-lock.json
  package.json
Labels: core

#8060 fix(platform): approval-flow - approvers menu overflow
  libs/core/src/lib/menu/directives/menu-title.directive.ts
  libs/platform/src/lib/approval-flow/approval-flow-node/approval-flow-node.component.html
Labels: platform, stale

#8089 fix(core): shellbar horizon breaking changes adoption
  apps/docs/src/app/core/component-docs/shellbar/examples/shellbar-basic-example.component.html
  apps/docs/src/app/core/component-docs/shellbar/examples/shellbar-side-nav-responsive/shellbar-side-nav-responsive-example.component.html
  apps/docs/src/app/core/component-docs/shellbar/examples/shellbar-side-nav/shellbar-side-nav-example.component.html
  apps/docs/src/app/documentation/core-helpers/toolbar/toolbar.component.html
  apps/docs/src/app/documentation/core-helpers/toolbar/toolbar.component.scss
  libs/core/src/lib/input-group/input-group.component.scss
  libs/core/src/lib/shellbar/product-menu/product-menu.component.html
  libs/core/src/lib/shellbar/product-menu/product-menu.component.scss
  libs/core/src/lib/shellbar/product-menu/product-menu.component.ts
  libs/core/src/lib/shellbar/public_api.ts
  libs/core/src/lib/shellbar/shellbar-action/shellbar-action.component.html
  libs/core/src/lib/shellbar/shellbar-actions-mobile/shellbar-actions-mobile.component.html
  libs/core/src/lib/shellbar/shellbar-actions-mobile/shellbar-actions-mobile.component.ts
  libs/core/src/lib/shellbar/shellbar-actions/shellbar-actions.component.html
  libs/core/src/lib/shellbar/shellbar-actions/shellbar-actions.component.scss
  libs/core/src/lib/shellbar/shellbar-actions/shellbar-actions.component.ts
  libs/core/src/lib/shellbar/shellbar.component.html
  libs/core/src/lib/shellbar/shellbar.component.scss
  libs/core/src/lib/shellbar/shellbar.module.ts
  libs/core/src/lib/shellbar/user-menu/shellbar-user-menu.component.html
  package-lock.json
  package.json
Labels: bug, core

#8064 fix(core): update for outstanding wizard PR in styles
  libs/core/src/lib/wizard/wizard-content/wizard-content.component.html
Labels: bug, enhancement

#8091 fix(core): busy indicator breaking changes
  libs/core/src/lib/busy-indicator/busy-indicator.component.html
  package-lock.json
  package.json
Labels: fund-styles adoption

#8055 fix(core): update popover docs to not use fd-list
  apps/docs/src/app/core/component-docs/popover/examples/popover-complex-example/popover-complex-example.component.html
  apps/docs/src/app/core/component-docs/popover/examples/popover-complex-example/popover-complex-example.component.ts
  apps/docs/src/app/core/component-docs/popover/examples/popover-container-example/popover-container-example.component.html
  apps/docs/src/app/core/component-docs/popover/examples/popover-dropdown/popover-dropdown-example.component.ts
  apps/docs/src/app/core/component-docs/popover/examples/popover-dropdown/popover-dropdown.component.html
  apps/docs/src/app/core/component-docs/popover/examples/popover-dropdown/popover-dropdown.component.scss
  apps/docs/src/app/core/component-docs/popover/examples/popover-dynamic-container-height/popover-dynamic-container-height-example.component.html
  apps/docs/src/app/core/component-docs/popover/examples/popover-dynamic-container-height/popover-dynamic-container-height-example.component.ts
  apps/docs/src/app/core/component-docs/popover/examples/popover-dynamic/popover-dynamic-example.component.html
  apps/docs/src/app/core/component-docs/popover/examples/popover-dynamic/popover-dynamic-example.component.ts
  apps/docs/src/app/core/component-docs/popover/examples/popover-focus-example/popover-focus-example.component.html
  apps/docs/src/app/core/component-docs/popover/examples/popover-focus-example/popover-focus-example.component.ts
  apps/docs/src/app/core/component-docs/popover/examples/popover-new-placement/popover-cdk-placement-example.component.html
  apps/docs/src/app/core/component-docs/popover/examples/popover-new-placement/popover-cdk-placement-example.component.ts
  apps/docs/src/app/core/component-docs/popover/examples/popover-placement/popover-placement-example.component.html
  apps/docs/src/app/core/component-docs/popover/examples/popover-placement/popover-placement-example.component.ts
  apps/docs/src/app/core/component-docs/popover/examples/popover-programmatic/popover-programmatic-open-example.component.html
  apps/docs/src/app/core/component-docs/popover/examples/popover-programmatic/popover-programmatic-open-example.component.ts
  apps/docs/src/app/core/component-docs/popover/examples/popover-simple/popover-example.component.html
  apps/docs/src/app/core/component-docs/popover/examples/popover-simple/popover-example.component.ts
  apps/docs/src/app/core/component-docs/popover/popover-docs.module.ts
  e2e/wdio/core/pages/popover.po.ts
  e2e/wdio/core/tests/popover.e2e-spec.ts
Labels: bug, documentation

#8110 fix(core): inline-help - fix destroy behavior
  libs/core/src/lib/inline-help/inline-help.directive.spec.ts
  libs/core/src/lib/inline-help/inline-help.directive.ts
Labels: bug, core

#8084 feat(platform): table - remove extra JS logic
  libs/platform/src/lib/table/components/table-column/table-column.component.ts
  libs/platform/src/lib/table/directives/index.ts
  libs/platform/src/lib/table/directives/table-cell-resizable.directive.ts
  libs/platform/src/lib/table/directives/table-scroller.directive.ts
  libs/platform/src/lib/table/models/table-row.model.ts
  libs/platform/src/lib/table/pipes/cell-styles.pipe.ts
  libs/platform/src/lib/table/pipes/column-resizable-side.pipe.ts
  libs/platform/src/lib/table/pipes/row-classes.pipe.ts
  libs/platform/src/lib/table/pipes/selection-cell-styles.pipe.ts
  libs/platform/src/lib/table/public_api.ts
  libs/platform/src/lib/table/table-column-resize.service.spec.ts
  libs/platform/src/lib/table/table-column-resize.service.ts
  libs/platform/src/lib/table/table.component.html
  libs/platform/src/lib/table/table.component.scss
  libs/platform/src/lib/table/table.component.spec.ts
  libs/platform/src/lib/table/table.component.ts
  libs/platform/src/lib/table/table.module.ts
  libs/platform/src/lib/table/table.service.ts
Labels: platform, table, stale

#8054 fix(platform): date time picker form validation
  apps/docs/src/app/platform/component-docs/platform-forms/platform-datetime-picker/platform-datetime-picker-examples/platform-datetime-picker-reactive-example.component.html
  apps/docs/src/app/platform/component-docs/platform-forms/platform-datetime-picker/platform-datetime-picker-examples/platform-datetime-picker-template-example.component.html
  libs/platform/src/lib/form/datetime-picker/datetime-picker.component.ts
Labels: bug, platform, ready for merge

#7308 fix(core): standard list a11y
  apps/docs/src/app/core/component-docs/list/examples/list-data-example/list-data-example.component.html
  apps/docs/src/app/core/component-docs/list/examples/list-data-example/list-data-example.component.ts
  apps/docs/src/app/core/component-docs/list/examples/list-infinite-scroll-example.component.html
  apps/docs/src/app/core/component-docs/list/examples/list-infinite-scroll-example.component.ts
  apps/docs/src/app/core/component-docs/list/examples/list-nav-indicator-example/list-nav-indicator-example.component.html
  apps/docs/src/app/core/component-docs/list/examples/list-navigation-example/list-navigation-example.component.html
  apps/docs/src/app/core/component-docs/list/examples/list-secondary-example.component.html
  e2e/wdio/core/pages/card.po.ts
  libs/core/src/lib/busy-indicator/busy-indicator.component.ts
  libs/core/src/lib/list/directives/list-group-header.directive.ts
  libs/core/src/lib/list/directives/list-link.directive.spec.ts
  libs/core/src/lib/list/directives/list-link.directive.ts
  libs/core/src/lib/list/list-focus-item.model.ts
  libs/core/src/lib/list/list-item/list-item.component.html
  libs/core/src/lib/list/list-item/list-item.component.scss
  libs/core/src/lib/list/list-item/list-item.component.ts
  libs/core/src/lib/list/list.component.ts
  libs/platform/src/lib/form/combobox/combobox/combobox.component.spec.ts
  libs/platform/src/lib/list/display-list-item/display-list-item.component.spec.ts
Labels: blocked, core, ATL

#8113 fix(core): remove unused product switch control class
  libs/core/src/lib/product-switch/product-switch/product-switch.component.html
Labels: bug

#8103 test: use soft page refresh in e2e tests
  .github/workflows/on-push-or-pull.yml
  apps/docs/src/app/core/component-docs/radio/examples/radio-example.component.html
  apps/docs/src/app/documentation/core-helpers/toolbar/toolbar.component.html
  apps/docs/src/app/platform/component-docs/platform-action-list-item/platform-action-list-item-examples/platform-action-list-item-border-less-example.component.html
  apps/docs/src/app/platform/component-docs/platform-approval-flow/platform-approval-flow-examples/platform-approval-flow-example.component.ts
  apps/docs/src/app/platform/component-docs/platform-icon-tab-bar/platform-icon-tab-bar-docs.component.html
  apps/docs/src/app/platform/component-docs/platform-list/platform-list-examples/platform-list-border-less-example.component.html
  e2e/wdio/core/pages/avatar-group.po.ts
  e2e/wdio/core/pages/busy-indicator.po.ts
  e2e/wdio/core/pages/combobox.po.ts
  e2e/wdio/core/pages/grid-list.po.ts
  e2e/wdio/core/pages/illustrated-message.po.ts
  e2e/wdio/core/pages/multi-input.po.ts
  e2e/wdio/core/pages/pagination.po.ts
  e2e/wdio/core/pages/panel.po.ts
  e2e/wdio/core/pages/popover.po.ts
  e2e/wdio/core/pages/radio-button.po.ts
  e2e/wdio/core/pages/select.po.ts
  e2e/wdio/core/pages/time-picker.po.ts
  e2e/wdio/core/pages/time.po.ts
  e2e/wdio/core/pages/toolbar.po.ts
  e2e/wdio/core/tests/action-sheet.e2e-spec.ts
  e2e/wdio/core/tests/alert.e2e-spec.ts
  e2e/wdio/core/tests/busy-indicator.e2e-spec.ts
  e2e/wdio/core/tests/message-toast.e2e-spec.ts
  e2e/wdio/core/tests/rating-indicator.e2e-spec.ts
  e2e/wdio/core/tests/select.e2e-spec.ts
  e2e/wdio/core/tests/wizard.e2e-spec.ts
  e2e/wdio/driver/wdio.ts
  e2e/wdio/platform/pages/action-list-item.po.ts
  e2e/wdio/platform/pages/date-time-picker.po.ts
  e2e/wdio/platform/pages/icon-tab-bar.po.ts
  e2e/wdio/platform/pages/list.po.ts
  e2e/wdio/platform/pages/table.po.ts
  e2e/wdio/platform/tests/date-time-picker.e2e-spec.ts
  e2e/wdio/platform/tests/radio-button-group.e2e-spec.ts
  libs/core/src/lib/calendar/calendar-views/calendar-day-view/calendar-day-view.component.html
  libs/core/src/lib/time/time-column/time-column.component.html
  wdio.conf.js
Labels: e2e

#8117 fix(core): panel horizon updates
  libs/core/src/lib/panel/panel.component.html
  libs/core/src/lib/panel/panel.component.spec.ts
  libs/core/src/lib/panel/panel.component.ts
  package-lock.json
  package.json
Labels: bug

#7341 fix(core): nested-list, fix a11y issues
  libs/core/src/lib/nested-list/nested-content/nested-list-content.directive.ts
  libs/core/src/lib/nested-list/nested-item/nested-item.directive.ts
  libs/core/src/lib/nested-list/nested-link/nested-link.directive.ts
  libs/core/src/lib/nested-list/nested-list-directives.ts
  libs/core/src/lib/nested-list/nested-list-keyboard.service.ts
  libs/core/src/lib/nested-list/nested-list/nested-list.directive.ts
Labels: core, QA Approved, ATL verified

#7413 fix(platform): action-bar, fix a11y issues
  apps/docs/src/app/platform/component-docs/platform-action-bar/platform-action-bar-examples/platform-action-bar-contextual-menu-example.component.html
  apps/docs/src/app/platform/component-docs/platform-action-bar/platform-action-bar-examples/platform-action-bar-cozy-mode-example.component.html
  apps/docs/src/app/platform/component-docs/platform-action-bar/platform-action-bar-examples/platform-action-bar-positive-and-negative-action-example.component.html
  apps/docs/src/app/platform/component-docs/platform-action-bar/platform-action-bar-examples/platform-action-bar-simple-example.component.html
  apps/docs/src/app/platform/component-docs/platform-action-bar/platform-action-bar-examples/platform-action-bar-with-back-button-example.component.html
  apps/docs/src/app/platform/component-docs/platform-action-bar/platform-action-bar-examples/platform-action-bar-with-description-example.component.html
  apps/docs/src/app/platform/component-docs/platform-action-bar/platform-action-bar-examples/platform-action-bar-with-long-title-example.component.html
  libs/platform/src/lib/action-bar/action-bar.component.html
Labels: platform, ready for merge, QA Approved, ATL verified

#8083 feat(core): slider horizon theme
  apps/docs/src/app/core/component-docs/slider/examples/disabled/slider-disabled-example.component.html
  e2e/wdio/core/pages/product-switch.po.ts
  e2e/wdio/platform/pages/form-generator.po.ts
  e2e/wdio/platform/pages/list.po.ts
  e2e/wdio/platform/tests/dynamic-page-layout.e2e-spec.ts
  libs/core/src/lib/slider/slider.component.html
  libs/core/src/lib/slider/slider.component.scss
  libs/core/src/lib/slider/slider.component.ts
Labels: platform, core, theming

#8136 fix(core): layout grid issues
  apps/docs/src/app/core/component-docs/layout-grid/examples/layout-grid-basic-example.component.html
  apps/docs/src/app/core/component-docs/layout-grid/examples/layout-grid-growing-example.component.html
  apps/docs/src/app/core/component-docs/layout-grid/examples/layout-grid-no-gap-example.component.html
  apps/docs/src/app/core/component-docs/layout-grid/examples/layout-grid-offset-example.component.html
  apps/docs/src/app/core/component-docs/layout-grid/examples/layout-grid-responsive-example.component.html
  apps/docs/src/app/core/component-docs/layout-grid/examples/layout-grid-responsive-offset-example.component.html
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-dialog-example.component.html
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-example.component.html
  apps/docs/src/app/core/component-docs/wizard/examples/wizard-visible-summary-example.component.html
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/examples/wizard-generator-customizable-embeded-example.component.html
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/examples/wizard-generator-customizable-example.component.html
  libs/core/src/lib/layout-grid/directives/layout-grid-col.directive.spec.ts
  libs/core/src/lib/layout-grid/layout-grid.component.html
  libs/core/src/lib/layout-grid/layout-grid.component.ts
  libs/platform/src/lib/smart-filter-bar/components/smart-filter-bar-conditions-dialog/smart-filter-bar-conditions-dialog.component.html
  libs/platform/src/lib/table/components/table-p13-dialog/filtering/filtering.component.html
  libs/platform/src/lib/value-help-dialog/components/define-tab/define-tab.component.html
  libs/platform/src/lib/value-help-dialog/value-help-dialog/value-help-dialog.component.html
  libs/platform/src/lib/wizard-generator/components/wizard-summary-step/wizard-summary-section/wizard-summary-section.component.html
  package-lock.json
  package.json
Labels: bug, core

#8039 feat(core): grid list horizon, styles breaking changes adoption
  apps/docs/src/app/core/component-docs/grid-list/examples/default/grid-list-example.component.html
  apps/docs/src/app/core/component-docs/grid-list/examples/delete/grid-list-delete-example.component.html
  apps/docs/src/app/core/component-docs/grid-list/examples/dnd/grid-list-dnd-example.component.html
  apps/docs/src/app/core/component-docs/grid-list/examples/focusing/grid-list-focusing-example.component.html
  apps/docs/src/app/core/component-docs/grid-list/examples/footer/grid-list-footer-example.component.html
  apps/docs/src/app/core/component-docs/grid-list/examples/grid-list.component.scss
  apps/docs/src/app/core/component-docs/grid-list/examples/group/grid-list-group-example.component.html
  apps/docs/src/app/core/component-docs/grid-list/examples/layout/grid-list-layout-example.component.html
  apps/docs/src/app/core/component-docs/grid-list/examples/more/grid-list-more-example.component.html
  apps/docs/src/app/core/component-docs/grid-list/examples/multi-select/grid-list-multi-select-example.component.html
  apps/docs/src/app/core/component-docs/grid-list/examples/single-select-left/grid-list-single-select-left-example.component.html
  apps/docs/src/app/core/component-docs/grid-list/examples/single-select-right/grid-list-single-select-right-example.component.html
  apps/docs/src/app/core/component-docs/grid-list/examples/single-select/grid-list-single-select-example.component.html
  apps/docs/src/app/core/component-docs/grid-list/examples/single-select/grid-list-single-select-example.component.scss
  apps/docs/src/app/core/component-docs/grid-list/examples/single-select/grid-list-single-select-example.component.ts
  apps/docs/src/app/core/component-docs/grid-list/examples/states/grid-list-states-example.component.html
  apps/docs/src/app/core/component-docs/grid-list/examples/statuses/grid-list-statuses-example.component.html
  apps/docs/src/app/core/component-docs/grid-list/grid-list-docs.component.html
  e2e/wdio/core/pages/grid-list.po.ts
  e2e/wdio/core/tests/grid-list.e2e-spec.ts
  e2e/wdio/platform/pages/approval-flow.po.ts
  libs/core/src/lib/grid-list/components/grid-list-filter-bar/grid-list-filter-bar.component.html
  libs/core/src/lib/grid-list/components/grid-list-item/grid-list-item.component.html
  libs/core/src/lib/grid-list/components/grid-list-item/grid-list-item.component.scss
  libs/core/src/lib/grid-list/components/grid-list-item/grid-list-item.component.ts
  libs/core/src/lib/grid-list/components/grid-list/grid-list.component.spec.ts
  libs/core/src/lib/grid-list/directives/grid-list-item-body.directive.ts
  libs/core/src/lib/grid-list/directives/grid-list-item-image.directive.ts
  libs/core/src/lib/grid-list/grid-list.module.ts
  libs/core/src/lib/grid-list/public_api.ts
  libs/core/src/lib/toolbar/toolbar.component.html
  libs/core/src/lib/toolbar/toolbar.component.ts
  libs/platform/src/lib/approval-flow/approval-flow-node/approval-flow-node.component.html
  libs/platform/src/lib/approval-flow/approval-flow-node/approval-flow-node.component.scss
  libs/platform/src/lib/approval-flow/approval-flow.component.html
  package-lock.json
  package.json
Labels: enhancement, core

#8114 fix(core): quick view background, requires corresponding PR in styles
  apps/docs/src/app/core/component-docs/quick-view/examples/quick-view-base-example.component.html
  apps/docs/src/app/core/component-docs/quick-view/examples/quick-view-base-example.component.ts
  libs/core/src/lib/quick-view/quick-view/quick-view.component.scss
Labels: bug

#8148 fix(platform): link optionalText from wizardGenerator's steps to wizard steps
  apps/docs/src/app/platform/component-docs/platform-wizard-generator/examples/wizard-generator-default-example.component.ts
  libs/platform/src/lib/wizard-generator/components/wizard-body/wizard-body.component.html
Labels: wizard
