Repository SAP/fundamental-ngx, pull requests merged in 2023-03, with the labels that each got.

#9468 docs(core): update new component link
  libs/cdk/src/lib/README.md
  libs/core/src/lib/README.md
  libs/cx/src/lib/README.md
  libs/fn/src/lib/README.md
  libs/platform/src/lib/README.md
Labels: documentation

#9467 feat(core,platform): update fundamental-styles version, adopt breaking changes
  libs/core/src/lib/table/directives/table-fixed.directive.ts
  libs/core/src/lib/table/public_api.ts
  libs/core/src/lib/table/table.component.ts
  libs/core/src/lib/table/table.module.ts
  libs/docs/core/card/examples/card-table-example.component.html
  libs/docs/core/shared/src/lib/api-files.ts
  libs/docs/core/table/examples/table-fixed-example.component.html
  libs/docs/core/table/examples/table-fixed-example.component.ts
  libs/docs/core/table/table-docs.component.html
  libs/docs/core/table/table-docs.component.ts
  libs/docs/core/table/table-docs.module.ts
  libs/platform/src/lib/table/table.component.html
  libs/platform/src/lib/table/table.component.scss
  libs/platform/src/lib/table/table.component.ts
  package.json
  yarn.lock
Labels: draft

#9314 fix(platform): screenreader reading fdp-select selected value twice
  libs/core/src/lib/select/select.component.html
  libs/core/src/lib/select/select.component.ts
  libs/core/src/lib/select/select.module.ts
  libs/i18n/src/lib/languages/albanian.ts
  libs/i18n/src/lib/languages/arabic.ts
  libs/i18n/src/lib/languages/belarusian.ts
  libs/i18n/src/lib/languages/bulgarian.ts
  libs/i18n/src/lib/languages/chinese.ts
  libs/i18n/src/lib/languages/croatian.ts
  libs/i18n/src/lib/languages/czech.ts
  libs/i18n/src/lib/languages/english.ts
  libs/i18n/src/lib/languages/french.ts
  libs/i18n/src/lib/languages/georgian.ts
  libs/i18n/src/lib/languages/german.ts
  libs/i18n/src/lib/languages/hebrew.ts
  libs/i18n/src/lib/languages/hindi.ts
  libs/i18n/src/lib/languages/italian.ts
  libs/i18n/src/lib/languages/polish.ts
  libs/i18n/src/lib/languages/portuguese.ts
  libs/i18n/src/lib/languages/romanian.ts
  libs/i18n/src/lib/languages/russian.ts
  libs/i18n/src/lib/languages/sinhala.ts
  libs/i18n/src/lib/languages/spanish.ts
  libs/i18n/src/lib/languages/turkish.ts
  libs/i18n/src/lib/languages/ukrainian.ts
  libs/i18n/src/lib/models/lang.ts
Labels: accessibility, sourcing

#9471 feat(platform): introduce table row index
  libs/docs/platform/table/e2e/table-contents.ts
  libs/docs/platform/table/e2e/table.e2e-spec.ts
  libs/docs/platform/table/examples/platform-table-custom-column-example.component.html
  libs/docs/platform/table/examples/platform-table-groupable-example.component.html
  libs/docs/platform/table/examples/platform-table-page-scrolling-example.component.html
  libs/platform/src/lib/table/directives/table-cell.directive.ts
  libs/platform/src/lib/table/table.component.html
Labels: enhancement, platform, table

#9420 fix: platform table keyboard dnd
  libs/docs/platform/table/platform-table-docs.component.html
  libs/platform/src/lib/table/table.component.html
  libs/platform/src/lib/table/table.component.ts
Labels: accessibility

#9419 feat(platform): virtual scroll for table
  libs/docs/platform/table/e2e/table.e2e-spec.ts
  libs/docs/platform/table/e2e/table.po.ts
  libs/docs/platform/table/examples/virtual-scroll/platform-table-virtual-scroll-example.component.html
  libs/docs/platform/table/examples/virtual-scroll/platform-table-virtual-scroll-example.component.ts
  libs/docs/platform/table/platform-table-docs.component.html
  libs/docs/platform/table/platform-table-docs.component.ts
  libs/docs/platform/table/platform-table.module.ts
  libs/platform/src/lib/table/table.component.html
  libs/platform/src/lib/table/table.component.scss
  libs/platform/src/lib/table/table.component.ts
Labels: enhancement, platform

#9493 fix(platform): dont limit list items rendering if itemSize is empty
  libs/docs/platform/list/examples/platform-list-border-less-example.component.ts
  libs/platform/src/lib/list/list.component.ts
Labels: bug, platform

#9500 feat(platform): pass avatar properties
  libs/core/src/lib/avatar/avatar.component.html
  libs/core/src/lib/avatar/avatar.component.ts
  libs/core/src/lib/list/list-item/list-item.component.html
  libs/core/src/lib/list/list-item/list-item.component.ts
  libs/docs/platform/standard-list-item/examples/platform-standard-list-item-border-less-example.component.html
  libs/docs/platform/standard-list-item/examples/platform-standard-list-item-border-less-example.component.ts
  libs/platform/src/lib/approval-flow/approval-flow-user-list/approval-flow-user-list.component.ts
  libs/platform/src/lib/list/action-list-item/action-list-item.component.ts
  libs/platform/src/lib/list/base-list-item.ts
  libs/platform/src/lib/list/display-list-item/display-list-item.component.ts
  libs/platform/src/lib/list/list.component.ts
  libs/platform/src/lib/list/object-list-item/object-list-item.component.html
  libs/platform/src/lib/list/standard-list-item/standard-list-item.component.html
  libs/platform/src/lib/list/standard-list-item/standard-list-item.component.ts
Labels: enhancement, platform, list

#9498 fix(core,platform): addon button should always close popover if it is open despite inputs
  libs/core/src/lib/multi-combobox/multi-combobox.component.ts
  libs/core/src/lib/multi-input/multi-input.component.ts
  libs/platform/src/lib/form/multi-combobox/commons/base-multi-combobox.ts
  libs/platform/src/lib/form/multi-input/base-multi-input.ts
  libs/platform/src/lib/form/multi-input/multi-input.component.ts
Labels: bug

#9502 fix(platform): table with freezing columns hidden cell issues
  libs/docs/platform/table/e2e/table-contents.ts
  libs/docs/platform/table/e2e/table.e2e-spec.ts
  libs/docs/platform/table/examples/platform-table-freezable-example.component.html
  libs/platform/src/lib/table/table.component.html
  libs/platform/src/lib/table/table.component.scss
  libs/platform/src/lib/table/table.component.ts
Labels: bug, accessibility

#9539 test(core): fix special calendar e2e
  libs/docs/core/calendar/e2e/calendar.e2e-spec.ts
Labels: e2e

#9525 chore(deps): upgrade theming-base-content version 11.2.1
  package.json
  yarn.lock
Labels: dependencies, theming

#9553 fix(core): various bugfixes
  libs/cdk/src/lib/utils/functions/index.ts
  libs/cdk/src/lib/utils/functions/is-odd.ts
  libs/core/src/lib/calendar/calendar-views/calendar-day-view/calendar-day-view.component.html
  libs/core/src/lib/dialog/dialog.component.scss
  libs/core/src/lib/form/form-input-message-group/form-input-message-group.component.ts
  libs/core/src/lib/illustrated-message/illustrated-message.component.ts
  libs/core/src/lib/link/link.component.html
  libs/core/src/lib/link/link.component.scss
  libs/core/src/lib/list/list-component.interface.ts
  libs/core/src/lib/list/list-component.token.ts
  libs/core/src/lib/list/list-item/list-item.component.html
  libs/core/src/lib/list/list-item/list-item.component.ts
  libs/core/src/lib/multi-combobox/multi-combobox.component.ts
  libs/core/src/lib/popover/base/base-popover.class.ts
  libs/core/src/lib/popover/popover-service/popover.service.spec.ts
  libs/core/src/lib/popover/popover-service/popover.service.ts
  libs/core/src/lib/segmented-button/segmented-button.component.spec.ts
  libs/core/src/lib/segmented-button/segmented-button.component.ts
  libs/core/src/lib/select/option/option.component.html
  libs/core/src/lib/select/option/option.component.ts
  libs/core/src/lib/text/text.component.html
  libs/core/src/lib/text/text.component.spec.ts
  libs/core/src/lib/timeline/timeline.component.ts
  libs/docs/core/calendar/e2e/calendar.e2e-spec.ts
  libs/docs/core/form-message/examples/form-message-example.component.html
  libs/docs/core/form-message/examples/state-message/form-messaging-state-example.component.html
  libs/docs/core/grid-list/grid-list-docs.component.ts
  libs/docs/core/schema/src/lib/switch.schema.ts
  libs/docs/core/switch/switch-docs.component.html
  libs/docs/core/switch/switch-docs.component.ts
Labels: bug, documentation, core

#9567 fix(core): replaced CSSStyleSheet with ordinary style
  libs/core/src/lib/scrollbar/scrollbar.directive.ts
Labels: code refactoring, core, quick fix

#9569 fix(ci): various ci updates
  .github/actions/bump-version/index.js
  .github/actions/nodejs/action.yml
  .github/actions/update-version-on-main/action.yml
  .github/workflows/create-hotfix.yml
  .github/workflows/create-release.yml
  .github/workflows/update-versions.yml
Labels: tooling

#9561 fix(platform): keyboard support for sort popovers
  libs/platform/src/lib/table/table.component.html
Labels: bug, accessibility

#9554 fix(core): dynamic collapsible subheader z-index must be higher
  libs/core/src/lib/dynamic-page/dynamic-page.component.scss
Labels: bug

#9529 feat(platform): implement end column freezing
  libs/docs/platform/table/examples/platform-table-freezable-example.component.html
  libs/docs/platform/table/examples/platform-table-freezable-example.component.ts
  libs/i18n/src/lib/languages/albanian.ts
  libs/i18n/src/lib/languages/arabic.ts
  libs/i18n/src/lib/languages/belarusian.ts
  libs/i18n/src/lib/languages/bulgarian.ts
  libs/i18n/src/lib/languages/chinese.ts
  libs/i18n/src/lib/languages/croatian.ts
  libs/i18n/src/lib/languages/czech.ts
  libs/i18n/src/lib/languages/english.ts
  libs/i18n/src/lib/languages/french.ts
  libs/i18n/src/lib/languages/georgian.ts
  libs/i18n/src/lib/languages/german.ts
  libs/i18n/src/lib/languages/hebrew.ts
  libs/i18n/src/lib/languages/hindi.ts
  libs/i18n/src/lib/languages/italian.ts
  libs/i18n/src/lib/languages/polish.ts
  libs/i18n/src/lib/languages/portuguese.ts
  libs/i18n/src/lib/languages/romanian.ts
  libs/i18n/src/lib/languages/russian.ts
  libs/i18n/src/lib/languages/sinhala.ts
  libs/i18n/src/lib/languages/spanish.ts
  libs/i18n/src/lib/languages/turkish.ts
  libs/i18n/src/lib/languages/ukrainian.ts
  libs/i18n/src/lib/models/lang.ts
  libs/platform/src/lib/table/components/table-column/table-column.component.ts
  libs/platform/src/lib/table/components/table-column/table-column.ts
  libs/platform/src/lib/table/constants/index.ts
  libs/platform/src/lib/table/interfaces/table-state.interface.ts
  libs/platform/src/lib/table/models/column-freeze-event.model.ts
  libs/platform/src/lib/table/pipes/cell-styles.pipe.ts
  libs/platform/src/lib/table/table-column-resize.service.ts
  libs/platform/src/lib/table/table.component.html
  libs/platform/src/lib/table/table.component.spec.ts
  libs/platform/src/lib/table/table.component.ts
  libs/platform/src/lib/table/table.service.ts
  libs/platform/src/lib/table/table.ts
Labels: enhancement, platform

#9571 fix(core,platform): multi input and combobox tokenizer behaviour
  libs/core/src/lib/list/list-component.token.ts
  libs/core/src/lib/list/list-item/list-item.component.ts
  libs/core/src/lib/list/list-navigation-item/list-navigation-item.component.ts
  libs/core/src/lib/list/list.component.ts
  libs/core/src/lib/list/tokens.ts
  libs/core/src/lib/multi-combobox/base-multi-combobox.class.ts
  libs/core/src/lib/multi-combobox/multi-combobox.component.html
  libs/core/src/lib/multi-combobox/multi-combobox.component.ts
  libs/core/src/lib/multi-input/multi-input.component.html
  libs/core/src/lib/multi-input/multi-input.component.scss
  libs/core/src/lib/multi-input/multi-input.component.ts
  libs/core/src/lib/token/token.component.ts
  libs/core/src/lib/token/tokenizer.component.html
  libs/core/src/lib/token/tokenizer.component.spec.ts
  libs/core/src/lib/token/tokenizer.component.ts
  libs/docs/core/multi-combobox/e2e/multi-combobox.e2e-spec.ts
  libs/docs/core/multi-combobox/examples/tokenizer/multi-combobox-responsive-tokenizer-example.component.html
  libs/docs/core/multi-combobox/examples/tokenizer/multi-combobox-responsive-tokenizer-example.component.ts
  libs/docs/core/multi-combobox/index.ts
  libs/docs/core/multi-combobox/multi-combobox-docs.component.html
  libs/docs/core/multi-combobox/multi-combobox-docs.component.ts
  libs/docs/core/multi-combobox/multi-combobox-docs.module.ts
  libs/docs/platform/table/examples/platform-table-semantic-example.component.html
  libs/platform/src/lib/form/multi-combobox/multi-combobox/multi-combobox.component.html
  libs/platform/src/lib/form/multi-input/multi-input.component.html
Labels: enhancement, platform, core

#9560 feat(platform): form generator inline help support for templates
  libs/core/src/lib/form/form-label/form-label.component.html
  libs/core/src/lib/form/form-label/form-label.component.ts
  libs/core/src/lib/inline-help/inline-help.directive.ts
  libs/core/src/lib/popover/popover-service/popover.service.ts
  libs/docs/platform/form-generator/examples/platform-form-generator-example.component.ts
  libs/docs/platform/form-generator/examples/platform-form-generator-inline-help-example.component.html
  libs/docs/platform/form-generator/examples/platform-form-generator-inline-help-example.component.ts
  libs/docs/platform/message-popover/examples/form-generator/form-generator-component-example.component.ts
  libs/docs/platform/settings-generator/examples/default/settings-generator-default-example.component.ts
  libs/docs/platform/settings-generator/examples/message-popover/settings-generator-message-popover-example.component.ts
  libs/platform/src/lib/form/form-generator/config/default-form-generator-hint-options.ts
  libs/platform/src/lib/form/form-generator/form-generator.tokens.ts
  libs/platform/src/lib/form/form-generator/form-generator/form-generator.component.ts
  libs/platform/src/lib/form/form-generator/interfaces/dynamic-form-item.ts
  libs/platform/src/lib/form/form-group/config/default-form-field-hint-options.ts
  libs/platform/src/lib/form/form-group/fdp-form.tokens.ts
  libs/platform/src/lib/form/form-group/form-field/form-field.component.html
  libs/platform/src/lib/form/form-group/form-field/form-field.component.ts
  libs/platform/src/lib/form/form-group/form-group-header/form-group-header.component.html
  libs/platform/src/lib/form/form-group/form-group.component.html
  libs/platform/src/lib/form/form-group/form-group.component.ts
  libs/platform/src/lib/shared/form/hint-options.ts
  libs/platform/src/lib/wizard-generator/interfaces/wizard-generator-form-group.interface.ts
Labels: enhancement, platform

#9591 fix(platform): collapseAll/expandAll actions are in the same group as sort
  libs/platform/src/lib/table/components/table-toolbar/table-toolbar.component.html
Labels: platform

#9602 fix(core): use renderer instead of cdr
  libs/core/src/lib/avatar/avatar.component.ts
  libs/docs/core/avatar/examples/avatar-accent-colors-example.component.ts
  libs/docs/core/avatar/examples/avatar-background-image-example.component.ts
  libs/docs/core/avatar/examples/avatar-borders-example.component.ts
  libs/docs/core/avatar/examples/avatar-circle-example.component.ts
  libs/docs/core/avatar/examples/avatar-default-image-with-alternative-options-example.component.ts
  libs/docs/core/avatar/examples/avatar-icon-example.component.ts
  libs/docs/core/avatar/examples/avatar-initials-example.component.ts
  libs/docs/core/avatar/examples/avatar-placeholder-example.component.ts
  libs/docs/core/avatar/examples/avatar-tile-example.component.ts
  libs/docs/core/avatar/examples/avatar-transparent-example.component.ts
  libs/docs/core/avatar/examples/avatar-zoom-icon-example.component.ts
Labels: bug, core

#9606 chore(docs): added lazy load of the code examples
  libs/docs/core/illustrated-message/examples/illustrated-message-inline-example.component.ts
  libs/docs/shared/src/lib/core-helpers/code-example/code-example.component.html
  libs/docs/shared/src/lib/core-helpers/code-example/code-example.component.ts
  libs/docs/shared/src/lib/core-helpers/code-example/example-file.ts
  libs/docs/shared/src/lib/core-helpers/stackblitz/stackblitz.service.ts
  libs/docs/shared/src/lib/getAsset.ts
  libs/docs/shared/src/lib/shared-documentation-page.module.ts
Labels: enhancement, documentation
