Repository SAP/fundamental-ngx, pull requests merged in 2025-04, with the labels that each got.

#13166 fix(core): date picker today btn i18n
  libs/core/date-picker/date-picker.component.html
  libs/docs/core/date-picker/examples/date-picker-i18n-example.component.ts
Labels: bug

#13196 fix(core): remove neg z-index from readonly input
  libs/core/form/form-control/form-control.component.scss
Labels: documentation

#13207 Translation Delivery
  libs/i18n/src/lib/translations/translations_en_US_sappsd.properties
Labels: i18n

#13210 fix(core): fix the Inline Help text cut corners
  libs/core/popover/popover-body/popover-body.component.scss
Labels: bug

#13226 fix(platform): remove requirement that tableScrolled event only emitted with pageScrolling
  libs/docs/platform/table/child-docs/preserving-state/preserved-state-docs.component.html
  libs/platform/table/table.component.ts
Labels: platform

#13225 fix(platform): bug with horizontal and vertical switched for table header cells
  libs/platform/table-helpers/pipes/cell-styles.pipe.ts
  libs/platform/table/components/table-header-row/table-header-row.component.html
Labels: platform, table

#13217 fix(platform): fix platform table aria-haspopup incorrect values
  libs/platform/table/components/table-toolbar/table-toolbar.component.html
Labels: platform, table

#13216 chore: fix translation executor not being able to stage files for commit
  libs/nx-plugin/src/executors/transform-translations/executor.ts
Labels: tooling

#13215 fix(core): remove index/total from cx list translation
  libs/core/nested-list/nested-list/nested-list.directive.ts
  libs/cx/nested-list/nested-list/nested-list.component.ts
  libs/i18n/src/lib/translations/translations.properties
  libs/i18n/src/lib/translations/translations.ts
  libs/i18n/src/lib/translations/translations_en_US_sappsd.ts
Labels: i18n

#13214 chore: fix links in platform table documentation
  libs/docs/platform/table/child-docs/advanced/advanced-examples-docs.component.html
  libs/docs/platform/table/child-docs/clickable-rows/clickable-rows-docs.component.html
  libs/docs/platform/table/child-docs/p13-dialog/p13-dialog-docs.component.html
  libs/docs/platform/table/child-docs/pagination/table-pagination-docs.component.html
  libs/docs/platform/table/child-docs/preserving-state/preserved-state-docs.component.html
  libs/docs/platform/table/child-docs/row-selection/row-selection-docs.component.html
  libs/docs/platform/table/child-docs/settings-dialog/settings-dialog-docs.component.html
  libs/docs/platform/table/index.ts
Labels: documentation, platform, table

#13212 fix(core,cx): vertical and side nav announcing selection incorrectly
  libs/core/src/lib/list/list-navigation-item/list-navigation-item.component.ts
  libs/core/src/lib/vertical-navigation/vertical-navigation.component.html
  libs/cx/src/lib/nested-list/nested-content/nested-list-content.directive.ts
  libs/cx/src/lib/nested-list/nested-link/nested-link.component.ts
Labels: accessibility, ng15

#13219 fix: use fonts settings from theming-base
  apps/docs/project.json
  apps/docs/src/styles.scss
  apps/docs/src/theming/sap_belize_fonts.css
  apps/docs/src/theming/sap_fiori_3_fonts.css
  apps/docs/src/theming/sap_horizon_fonts.css
  libs/core/schematics/add-styles/add-styles.spec.ts
  libs/core/schematics/add-styles/index.ts
  libs/core/schematics/models/schema.ts
  libs/core/theming/config.ts
  libs/core/theming/interfaces/theme.interface.ts
  libs/core/theming/interfaces/theming-config.interface.ts
  libs/core/theming/standard-themes.ts
  libs/core/theming/theming.service.spec.ts
  libs/core/theming/theming.service.ts
  libs/cx/schematics/ng-add/index.ts
  libs/cx/schematics/ng-add/schema.json
  libs/cx/schematics/ng-add/styles.ts
  libs/docs/core/theming/examples/custom-theme-example.component.ts
  libs/docs/core/theming/theming-header/theming-header.component.html
  libs/docs/core/theming/theming-header/theming-header.component.ts
  libs/docs/shared/src/lib/core-helpers/stackblitz/code-example-stack/angular.json
  libs/docs/shared/src/lib/core-helpers/stackblitz/code-example-stack/styles.scss
  libs/docs/shared/src/lib/core-helpers/stackblitz/code-example-stack/theming/sap_belize_fonts.css
  libs/docs/shared/src/lib/core-helpers/stackblitz/code-example-stack/theming/sap_fiori_3_fonts.css
  libs/docs/shared/src/lib/core-helpers/stackblitz/code-example-stack/theming/sap_horizon_fonts.css
  libs/docs/shared/src/lib/core-helpers/stackblitz/stackblitz.service.ts
  package.json
  yarn.lock
Labels: tooling, theming

#13234 chore(deps): migrate to nx v.20.8.1
  libs/cx/side-navigation/side-navigation.component.spec.ts
  libs/docs/shared/src/lib/core-helpers/stackblitz/code-example-stack/package.json
  libs/i18n/src/lib/translations/translations_hi.ts
  libs/i18n/src/lib/translations/translations_ka.ts
  netlify.toml
  package.json
  yarn.lock
Labels: tooling, dependencies

#13236 fix(core): remove fdp from core object attribute
  libs/core/object-attribute/object-attribute.component.ts
  libs/core/object-attribute/project.json
Labels: core

#13245 fix: translation delivery
  libs/i18n/src/lib/translations/translations_ar.properties
  libs/i18n/src/lib/translations/translations_bg.properties
  libs/i18n/src/lib/translations/translations_cs.properties
  libs/i18n/src/lib/translations/translations_da.properties
  libs/i18n/src/lib/translations/translations_de.properties
  libs/i18n/src/lib/translations/translations_el.properties
  libs/i18n/src/lib/translations/translations_es.properties
  libs/i18n/src/lib/translations/translations_fi.properties
  libs/i18n/src/lib/translations/translations_fr.properties
  libs/i18n/src/lib/translations/translations_he.properties
  libs/i18n/src/lib/translations/translations_hr.properties
  libs/i18n/src/lib/translations/translations_hu.properties
  libs/i18n/src/lib/translations/translations_it.properties
  libs/i18n/src/lib/translations/translations_ja.properties
  libs/i18n/src/lib/translations/translations_kk.properties
  libs/i18n/src/lib/translations/translations_ko.properties
  libs/i18n/src/lib/translations/translations_ms.properties
  libs/i18n/src/lib/translations/translations_nl.properties
  libs/i18n/src/lib/translations/translations_no.properties
  libs/i18n/src/lib/translations/translations_pl.properties
  libs/i18n/src/lib/translations/translations_pt.properties
  libs/i18n/src/lib/translations/translations_ro.properties
  libs/i18n/src/lib/translations/translations_ru.properties
  libs/i18n/src/lib/translations/translations_sh.properties
  libs/i18n/src/lib/translations/translations_sk.properties
  libs/i18n/src/lib/translations/translations_sl.properties
  libs/i18n/src/lib/translations/translations_sv.properties
  libs/i18n/src/lib/translations/translations_th.properties
  libs/i18n/src/lib/translations/translations_tr.properties
  libs/i18n/src/lib/translations/translations_uk.properties
  libs/i18n/src/lib/translations/translations_zh_CN.properties
  libs/i18n/src/lib/translations/translations_zh_TW.properties
Labels: i18n

#13241 fix(core): adopt the a11y changes for Busy Indicator from v0.40.0
  libs/core/busy-indicator/busy-indicator.component.ts
  libs/docs/core/busy-indicator/examples/busy-indicator-basic-example.component.html
  libs/docs/core/busy-indicator/examples/busy-indicator-extended-example.component.html
  libs/docs/core/busy-indicator/examples/busy-indicator-label-example.component.html
  libs/docs/core/busy-indicator/examples/busy-indicator-size-example.component.html
  libs/docs/core/busy-indicator/examples/busy-indicator-wrapper-example.component.html
Labels: accessibility

#13249 fix(core): bring a11y improvements for Bar component
  libs/core/bar/bar.component.ts
  libs/docs/core/bar/examples/bar-custom-shellbar-example.component.html
  libs/docs/core/bar/examples/bar-default-example.component.html
  libs/docs/core/bar/examples/bar-floating-footer-example.component.html
  libs/docs/core/bar/examples/bar-footer-example.component.html
  libs/docs/core/bar/examples/bar-header-example.component.html
  libs/docs/core/bar/examples/bar-header-subheader-example.component.html
  libs/docs/core/bar/examples/bar-page-example.component.html
  libs/docs/core/bar/examples/bar-page-responsive-example.component.html
  libs/docs/core/bar/examples/bar-subheader-example.component.html
  libs/docs/core/bar/examples/bar-with-title-example.component.html
Labels: accessibility
